In [32]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
from datetime import datetime
from itertools import combinations, permutations
from dateutil.relativedelta import relativedelta
import datetime
from datetime import datetime as dt

In [2]:
# !curl https://raw.githubusercontent.com/CorreaWillian/cointegration/testes/ibov.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 87127  100 87127    0     0   135k      0 --:--:-- --:--:-- --:--:--  136k

In [33]:
df = pd.read_excel('PORTFOLIO2.xlsx')

In [34]:
df_gpd = df.groupby('ticker').agg({'data_ini': 'min', 'data_fin': 'max', 'setor':'last'})

In [35]:
tickers = df.ticker.unique()

In [36]:
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [37]:
df.data_ini.min()

Timestamp('2019-01-01 00:00:00')

In [39]:
# Download data
df_list = []
errors = []

utc_from = dt(2019,10,1)
utc_to = dt(2020,7,10)

for i, row in df_gpd.iterrows():
    try: 
        rates = mt5.copy_rates_range(row.name, mt5.TIMEFRAME_M5,utc_from, utc_to)

        # criamos a partir dos dados obtidos DataFrame
        rates_frame = pd.DataFrame(rates)
        # convertemos o tempo em segundos no formato datetime
        rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
        rates_frame['ticker'] = row.name

        df_list.append(rates_frame[['time', 'close', 'ticker']])
    except Exception:
        errors.append(row.name)

In [40]:
errors

['BIDI11', 'GNDI3', 'HGTX3', 'LCAM3']

In [41]:
df_prices = pd.concat(df_list).pivot(columns='ticker',  index='time', values='close')
df_prices.reset_index(inplace=True)

df_prices['time'] = pd.to_datetime(df_prices['time'])

df_prices['horas_minutos'] = df_prices['time'].dt.time

df_prices = df_prices.loc[df_prices['horas_minutos']>=datetime.time(10, 15)]
df_prices = df_prices.loc[df_prices['horas_minutos']<=datetime.time(16, 45)]

In [42]:
df_prices

ticker,time,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,...,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3,horas_minutos
3,2019-10-01 10:15:00,17.70,25.54,46.89,NaN,50.00,12.95,38.88,20.82,22.71,...,18.69,17.17,6.70,37.64,23.92,8.00,37.15,11.75,34.08,10:15:00
4,2019-10-01 10:20:00,17.73,25.42,46.78,NaN,50.12,12.96,38.85,20.86,22.73,...,18.68,17.16,6.70,37.61,23.99,7.99,37.10,11.76,33.86,10:20:00
5,2019-10-01 10:25:00,17.75,25.46,46.72,NaN,50.08,12.93,38.76,20.89,22.71,...,18.68,17.19,6.68,37.58,23.96,7.98,37.00,11.79,33.83,10:25:00
6,2019-10-01 10:30:00,17.71,25.36,46.82,NaN,49.89,12.86,38.76,20.91,22.76,...,18.71,17.15,6.68,37.73,23.94,7.97,37.08,11.75,33.75,10:30:00
7,2019-10-01 10:35:00,17.77,25.29,46.84,NaN,49.89,12.88,38.87,20.95,22.79,...,18.75,17.17,6.71,37.79,23.99,7.96,37.07,11.78,33.76,10:35:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16882,2020-12-10 10:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:20:00
16883,2021-02-18 10:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:35:00
16884,2021-03-01 11:05:00,NaN,NaN,NaN,14.41,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11:05:00
16885,2021-11-22 10:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:25:00
16886,2021-11-22 10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:40:00

In [43]:
df_prices.to_excel('database5min.xlsx')