In [680]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
from datetime import datetime
from itertools import combinations, permutations
from dateutil.relativedelta import relativedelta

In [681]:
df = pd.read_excel('PORTFOLIO.xlsx')

In [682]:
df_gpd = df.groupby('ticker').agg({'data_ini': 'min', 'data_fin': 'max', 'setor':'last'})

In [683]:
tickers = df.ticker.unique()

In [684]:
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [672]:
# Download data
df_list = []
errors = []

utc_from = df.data_ini.min() - np.timedelta64(700, 'D')
utc_to = df.data_fin.max()

for i, row in df_gpd.iterrows():
    try: 
        rates = mt5.copy_rates_range(row.name, mt5.TIMEFRAME_D1,utc_from, utc_to)

        # criamos a partir dos dados obtidos DataFrame
        rates_frame = pd.DataFrame(rates)
        # convertemos o tempo em segundos no formato datetime
        rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
        rates_frame['ticker'] = row.name

        df_list.append(rates_frame[['time', 'close', 'ticker']])
    except Exception:
        errors.append(row.name)

In [673]:
errors

['BIDI11', 'GNDI3', 'HGTX3', 'LCAM3']

In [674]:
df_prices = pd.concat(df_list).pivot(columns='ticker',  index='time', values='close')

In [675]:
df_prices

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2017-07-31,16.89,11.33,12.82,NaN,27.29,5.66,22.51,14.27,14.33,18.54,...,9.31,9.55,31.94,4.42,23.43,NaN,5.83,26.03,6.81,18.07
2017-08-01,16.97,11.41,12.88,NaN,27.19,5.78,22.98,14.34,14.51,18.58,...,9.37,9.53,32.29,4.52,23.25,NaN,5.67,25.52,6.88,17.97
2017-08-02,17.11,11.56,13.20,NaN,27.41,5.83,23.91,14.49,14.71,18.79,...,9.63,9.60,30.71,4.70,23.29,NaN,5.58,25.83,7.01,17.27
2017-08-03,16.99,11.11,13.10,NaN,28.03,5.84,24.06,14.23,14.70,18.75,...,9.57,9.99,31.09,4.72,22.97,NaN,5.67,25.86,6.89,16.34
2017-08-04,16.99,11.23,13.10,NaN,27.79,5.82,24.21,14.33,14.72,18.31,...,9.55,10.34,30.82,4.71,23.38,NaN,5.67,26.03,6.88,16.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-27,13.72,19.80,14.03,14.70,13.31,11.47,33.13,15.06,18.15,24.92,...,12.60,24.26,12.54,9.25,78.05,16.70,2.20,46.46,25.80,13.96
2022-06-28,13.52,19.69,13.42,14.62,13.00,11.15,33.25,14.93,17.89,25.45,...,12.56,23.78,12.71,9.12,79.45,16.96,2.08,46.24,26.02,13.58
2022-06-29,13.61,19.54,13.44,14.38,12.69,10.95,33.08,14.71,17.58,25.48,...,12.50,23.27,12.56,9.01,78.79,16.90,2.09,45.42,25.90,13.40
2022-06-30,13.40,19.14,13.43,14.27,12.38,10.96,33.38,14.37,17.18,25.96,...,12.76,23.26,12.31,8.65,76.56,16.71,1.92,46.82,26.32,13.07
2022-07-01,13.76,19.44,12.73,14.60,12.47,11.19,33.15,14.40,17.31,26.05,...,13.18,23.55,12.14,8.55,75.10,16.89,1.89,47.55,26.36,12.98

In [676]:
# df_prices.to_excel('database.xlsx')

In [479]:
df.data_ini.unique()

array(['2019-07-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [581]:

# Permutation over same sectors stocks

# Initiates a dictionary with key as initial date 
permut = {data_ini:[data_fin, []] for data_ini, data_fin in zip(df.data_ini.unique(), df.data_fin.unique())}

# Loop over initial dates
for data in df.data_ini.unique():   
    
    # Select stocks with same initial date
    df_sem = df.loc[df.data_ini==data]
    
    # Loops over sectors to create a permutation
    for setor in df_sem.setor.unique():
        
        # Select stocks of same sector and appends its permutations on dictionary
        tickers = df_sem.loc[df_sem.setor == setor, 'ticker'].to_list()
        permut[data][-1].extend(list(permutations(tickers, 2)))

In [582]:
permut

{numpy.datetime64('2019-07-01T00:00:00.000000000'): [numpy.datetime64('2019-12-31T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'CIEL3'),
   ('IRBR3', 'ITSA4'),
   ('IRBR3', 'ITUB4'),
   ('IRBR3', 'SANB11'),
   ('ITSA4', 'B3SA3'),
   ('ITSA4', 'BBAS3'),
   ('ITSA4', 'BBDC3'),
   ('ITSA4', 'BBDC4'),
   ('ITSA4', 'BBSE3'),
   ('ITSA4', 'CIEL3'),
   ('ITSA4', 'IRBR3'),
   ('ITSA4', 'ITUB4'),
   ('ITSA4', 'SANB11'),
   ('ITUB4', 'B3SA3'),
   ('ITUB4', 'BBAS3'),
   ('ITUB4', 'BBDC3'),
   ('ITUB4', 'BBDC4'),
   ('ITUB4', 'BBSE3'),
   ('ITUB4', 'CIEL3'),
   ('ITUB4', 'IRBR3'),
   ('ITUB4', 'ITSA4'),
   ('ITUB4', 'SANB11'),
   ('SANB11', 'B3SA3'),
   ('SANB11', 'BBAS3'),
   ('SANB11', 'BBDC3'),
   ('SANB11', 'BBDC4'),
   ('SANB11', 'BBSE3'),
   ('SANB11', 'CIEL3'),
   ('SANB11', 'IRBR3'),
   ('SANB11', 'ITSA4'),
   ('SANB11', 'ITUB4'),
   ('BRAP4', 'CSNA3'),
   ('BRAP4', 'GGBR4'),
   ('BRAP4', 'GOAU4'),
   ('BRAP4', 'USIM5'),
   ('BRAP4', 'VALE3'),
   ('CSNA3', 'BRAP4'),
   ('CSNA3', 'GGBR4'),
   ('CSNA3', 'GOAU4'),
   ('CSNA3', 'USIM5'),
   ('CSNA3', 'VALE3'),
   ('GGBR4', 'BRAP4'),
   ('GGBR4', 'CSNA3'),
   ('GGBR4', 'GOAU4'),
   ('GGBR4', 'USIM5'),
   ('GGBR4', 'VALE3'),
   ('GOAU4', 'BRAP4'),
   ('GOAU4', 'CSNA3'),
   ('GOAU4', 'GGBR4'),
   ('GOAU4', 'USIM5'),
   ('GOAU4', 'VALE3'),
   ('USIM5', 'BRAP4'),
   ('USIM5', 'CSNA3'),
   ('USIM5', 'GGBR4'),
   ('USIM5', 'GOAU4'),
   ('USIM5', 'VALE3'),
   ('VALE3', 'BRAP4'),
   ('VALE3', 'CSNA3'),
   ('VALE3', 'GGBR4'),
   ('VALE3', 'GOAU4'),
   ('VALE3', 'USIM5'),
   ('KLBN11', 'SUZB3'),
   ('SUZB3', 'KLBN11'),
   ('CSAN3', 'PETR3'),
   ('CSAN3', 'PETR4'),
   ('CSAN3', 'UGPA3'),
   ('CSAN3', 'VBBR3'),
   ('PETR3', 'CSAN3'),
   ('PETR3', 'PETR4'),
   ('PETR3', 'UGPA3'),
   ('PETR3', 'VBBR3'),
   ('PETR4', 'CSAN3'),
   ('PETR4', 'PETR3'),
   ('PETR4', 'UGPA3'),
   ('PETR4', 'VBBR3'),
   ('UGPA3', 'CSAN3'),
   ('UGPA3', 'PETR3'),
   ('UGPA3', 'PETR4'),
   ('UGPA3', 'VBBR3'),
   ('VBBR3', 'CSAN3'),
   ('VBBR3', 'PETR3'),
   ('VBBR3', 'PETR4'),
   ('VBBR3', 'UGPA3'),
   ('FLRY3', 'HYPE3'),
   ('FLRY3', 'QUAL3'),
   ('FLRY3', 'RADL3'),
   ('HYPE3', 'FLRY3'),
   ('HYPE3', 'QUAL3'),
   ('HYPE3', 'RADL3'),
   ('QUAL3', 'FLRY3'),
   ('QUAL3', 'HYPE3'),
   ('QUAL3', 'RADL3'),
   ('RADL3', 'FLRY3'),
   ('RADL3', 'HYPE3'),
   ('RADL3', 'QUAL3'),
   ('TIMS3', 'VIVT4'),
   ('VIVT4', 'TIMS3'),
   ('CMIG4', 'EGIE3'),
   ('CMIG4', 'ELET3'),
   ('CMIG4', 'ELET6'),
   ('CMIG4', 'ENBR3'),
   ('CMIG4', 'EQTL3'),
   ('CMIG4', 'SBSP3'),
   ('CMIG4', 'TAEE11'),
   ('EGIE3', 'CMIG4'),
   ('EGIE3', 'ELET3'),
   ('EGIE3', 'ELET6'),
   ('EGIE3', 'ENBR3'),
   ('EGIE3', 'EQTL3'),
   ('EGIE3', 'SBSP3'),
   ('EGIE3', 'TAEE11'),
   ('ELET3', 'CMIG4'),
   ('ELET3', 'EGIE3'),
   ('ELET3', 'ELET6'),
   ('ELET3', 'ENBR3'),
   ('ELET3', 'EQTL3'),
   ('ELET3', 'SBSP3'),
   ('ELET3', 'TAEE11'),
   ('ELET6', 'CMIG4'),
   ('ELET6', 'EGIE3'),
   ('ELET6', 'ELET3'),
   ('ELET6', 'ENBR3'),
   ('ELET6', 'EQTL3'),
   ('ELET6', 'SBSP3'),
   ('ELET6', 'TAEE11'),
   ('ENBR3', 'CMIG4'),
   ('ENBR3', 'EGIE3'),
   ('ENBR3', 'ELET3'),
   ('ENBR3', 'ELET6'),
   ('ENBR3', 'EQTL3'),
   ('ENBR3', 'SBSP3'),
   ('ENBR3', 'TAEE11'),
   ('EQTL3', 'CMIG4'),
   ('EQTL3', 'EGIE3'),
   ('EQTL3', 'ELET3'),
   ('EQTL3', 'ELET6'),
   ('EQTL3', 'ENBR3'),
   ('EQTL3', 'SBSP3'),
   ('EQTL3', 'TAEE11'),
   ('SBSP3', 'CMIG4'),
   ('SBSP3', 'EGIE3'),
   ('SBSP3', 'ELET3'),
   ('SBSP3', 'ELET6'),
   ('SBSP3', 'ENBR3'),
   ('SBSP3', 'EQTL3'),
   ('SBSP3', 'TAEE11'),
   ('TAEE11', 'CMIG4'),
   ('TAEE11', 'EGIE3'),
   ('TAEE11', 'ELET3'),
   ('TAEE11', 'ELET6'),
   ('TAEE11', 'ENBR3'),
   ('TAEE11', 'EQTL3'),
   ('TAEE11', 'SBSP3'),
   ('AMER3', 'CVCB3'),
   ('AMER3', 'LREN3'),
   ('AMER3', 'MGLU3'),
   ('AMER3', 'NTCO3'),
   ('AMER3', 'PCAR4'),
   ('AMER3', 'VIIA3'),
   ('CVCB3', 'AMER3'),
   ('CVCB3', 'LREN3'),
   ('CVCB3', 'MGLU3'),
   ('CVCB3', 'NTCO3'),
   ('CVCB3', 'PCAR4'),
   ('CVCB3', 'VIIA3'),
   ('LREN3', 'AMER3'),
   ('LREN3', 'CVCB3'),
   ('LREN3', 'MGLU3'),
   ('LREN3', 'NTCO3'),
   ('LREN3', 'PCAR4'),
   ('LREN3', 'VIIA3'),
   ('MGLU3', 'AMER3'),
   ('MGLU3', 'CVCB3'),
   ('MGLU3', 'LREN3'),
   ('MGLU3', 'NTCO3'),
   ('MGLU3', 'PCAR4'),
   ('MGLU3', 'VIIA3'),
   ('NTCO3', 'AMER3'),
   ('NTCO3', 'CVCB3'),
   ('NTCO3', 'LREN3'),
   ('NTCO3', 'MGLU3'),
   ('NTCO3', 'PCAR4'),
   ('NTCO3', 'VIIA3'),
   ('PCAR4', 'AMER3'),
   ('PCAR4', 'CVCB3'),
   ('PCAR4', 'LREN3'),
   ('PCAR4', 'MGLU3'),
   ('PCAR4', 'NTCO3'),
   ('PCAR4', 'VIIA3'),
   ('VIIA3', 'AMER3'),
   ('VIIA3', 'CVCB3'),
   ('VIIA3', 'LREN3'),
   ('VIIA3', 'MGLU3'),
   ('VIIA3', 'NTCO3'),
   ('VIIA3', 'PCAR4')]],
 numpy.datetime64('2020-01-01T00:00:00.000000000'): [numpy.datetime64('2020-07-01T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'JHSF3'),
   ('CYRE3', 'MRVE3'),
   ('JHSF3', 'CYRE3'),
   ('JHSF3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('MRVE3', 'JHSF3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'BPAC11'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('B3SA3', 'SULA11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'BPAC11'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBAS3', 'SULA11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'BPAC11'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC3', 'SULA11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'BPAC11'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBDC4', 'SULA11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'BPAC11'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('BBSE3', 'SULA11'),
   ('BPAC11', 'B3SA3'),
   ('BPAC11', 'BBAS3'),
   ('BPAC11', 'BBDC3'),
   ('BPAC11', 'BBDC4'),
   ('BPAC11', 'BBSE3'),
   ('BPAC11', 'CIEL3'),
   ('BPAC11', 'IRBR3'),
   ('BPAC11', 'ITSA4'),
   ('BPAC11', 'ITUB4'),
   ('BPAC11', 'SANB11'),
   ('BPAC11', 'SULA11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'BPAC11'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('CIEL3', 'SULA11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'BPAC11'),
   ('IRBR3', 'CIEL3'),
   ('IRBR3', 'ITSA4'),
   ('IRBR3', 'ITUB4'),
   ('IRBR3', 'SANB11'),
   ('IRBR3', 'SULA11'),
   ('ITSA4', 'B3SA3'),
   ('ITSA4', 'BBAS3'),
   ('ITSA4', 'BBDC3'),
   ('ITSA4', 'BBDC4'),
   ('ITSA4', 'BBSE3'),
   ('ITSA4', 'BPAC11'),
   ('ITSA4', 'CIEL3'),
   ('ITSA4', 'IRBR3'),
   ('ITSA4', 'ITUB4'),
   ('ITSA4', 'SANB11'),
   ('ITSA4', 'SULA11'),
   ('ITUB4', 'B3SA3'),
   ('ITUB4', 'BBAS3'),
   ('ITUB4', 'BBDC3'),
   ('ITUB4', 'BBDC4'),
   ('ITUB4', 'BBSE3'),
   ('ITUB4', 'BPAC11'),
   ('ITUB4', 'CIEL3'),
   ('ITUB4', 'IRBR3'),
   ('ITUB4', 'ITSA4'),
   ('ITUB4', 'SANB11'),
   ('ITUB4', 'SULA11'),
   ('SANB11', 'B3SA3'),
   ('SANB11', 'BBAS3'),
   ('SANB11', 'BBDC3'),
   ('SANB11', 'BBDC4'),
   ('SANB11', 'BBSE3'),
   ('SANB11', 'BPAC11'),
   ('SANB11', 'CIEL3'),
   ('SANB11', 'IRBR3'),
   ('SANB11', 'ITSA4'),
   ('SANB11', 'ITUB4'),
   ('SANB11', 'SULA11'),
   ('SULA11', 'B3SA3'),
   ('SULA11', 'BBAS3'),
   ('SULA11', 'BBDC3'),
   ('SULA11', 'BBDC4'),
   ('SULA11', 'BBSE3'),
   ('SULA11', 'BPAC11'),
   ('SULA11', 'CIEL3'),
   ('SULA11', 'IRBR3'),
   ('SULA11', 'ITSA4'),
   ('SULA11', 'ITUB4'),
   ('SULA11', 'SANB11'),
   ('LCAM3', 'RENT3'),
   ('RENT3', 'LCAM3'),
   ('BRAP4', 'CSNA3'),
   ('BRAP4', 'GGBR4'),
   ('BRAP4', 'GOAU4'),
   ('BRAP4', 'USIM5'),
   ('BRAP4', 'VALE3'),
   ('CSNA3', 'BRAP4'),
   ('CSNA3', 'GGBR4'),
   ('CSNA3', 'GOAU4'),
   ('CSNA3', 'USIM5'),
   ('CSNA3', 'VALE3'),
   ('GGBR4', 'BRAP4'),
   ('GGBR4', 'CSNA3'),
   ('GGBR4', 'GOAU4'),
   ('GGBR4', 'USIM5'),
   ('GGBR4', 'VALE3'),
   ('GOAU4', 'BRAP4'),
   ('GOAU4', 'CSNA3'),
   ('GOAU4', 'GGBR4'),
   ('GOAU4', 'USIM5'),
   ('GOAU4', 'VALE3'),
   ('USIM5', 'BRAP4'),
   ('USIM5', 'CSNA3'),
   ('USIM5', 'GGBR4'),
   ('USIM5', 'GOAU4'),
   ('USIM5', 'VALE3'),
   ('VALE3', 'BRAP4'),
   ('VALE3', 'CSNA3'),
   ('VALE3', 'GGBR4'),
   ('VALE3', 'GOAU4'),
   ('VALE3', 'USIM5'),
   ('KLBN11', 'SUZB3'),
   ('SUZB3', 'KLBN11'),
   ('CSAN3', 'PETR3'),
   ('CSAN3', 'PETR4'),
   ('CSAN3', 'UGPA3'),
   ('CSAN3', 'VBBR3'),
   ('PETR3', 'CSAN3'),
   ('PETR3', 'PETR4'),
   ('PETR3', 'UGPA3'),
   ('PETR3', 'VBBR3'),
   ('PETR4', 'CSAN3'),
   ('PETR4', 'PETR3'),
   ('PETR4', 'UGPA3'),
   ('PETR4', 'VBBR3'),
   ('UGPA3', 'CSAN3'),
   ('UGPA3', 'PETR3'),
   ('UGPA3', 'PETR4'),
   ('UGPA3', 'VBBR3'),
   ('VBBR3', 'CSAN3'),
   ('VBBR3', 'PETR3'),
   ('VBBR3', 'PETR4'),
   ('VBBR3', 'UGPA3'),
   ('FLRY3', 'GNDI3'),
   ('FLRY3', 'HAPV3'),
   ('FLRY3', 'HYPE3'),
   ('FLRY3', 'QUAL3'),
   ('FLRY3', 'RADL3'),
   ('GNDI3', 'FLRY3'),
   ('GNDI3', 'HAPV3'),
   ('GNDI3', 'HYPE3'),
   ('GNDI3', 'QUAL3'),
   ('GNDI3', 'RADL3'),
   ('HAPV3', 'FLRY3'),
   ('HAPV3', 'GNDI3'),
   ('HAPV3', 'HYPE3'),
   ('HAPV3', 'QUAL3'),
   ('HAPV3', 'RADL3'),
   ('HYPE3', 'FLRY3'),
   ('HYPE3', 'GNDI3'),
   ('HYPE3', 'HAPV3'),
   ('HYPE3', 'QUAL3'),
   ('HYPE3', 'RADL3'),
   ('QUAL3', 'FLRY3'),
   ('QUAL3', 'GNDI3'),
   ('QUAL3', 'HAPV3'),
   ('QUAL3', 'HYPE3'),
   ('QUAL3', 'RADL3'),
   ('RADL3', 'FLRY3'),
   ('RADL3', 'GNDI3'),
   ('RADL3', 'HAPV3'),
   ('RADL3', 'HYPE3'),
   ('RADL3', 'QUAL3'),
   ('TIMS3', 'VIVT4'),
   ('VIVT4', 'TIMS3'),
   ('CMIG4', 'CPLE6'),
   ('CMIG4', 'EGIE3'),
   ('CMIG4', 'ELET3'),
   ('CMIG4', 'ELET6'),
   ('CMIG4', 'ENBR3'),
   ('CMIG4', 'ENEV3'),
   ('CMIG4', 'EQTL3'),
   ('CMIG4', 'SBSP3'),
   ('CMIG4', 'TAEE11'),
   ('CPLE6', 'CMIG4'),
   ('CPLE6', 'EGIE3'),
   ('CPLE6', 'ELET3'),
   ('CPLE6', 'ELET6'),
   ('CPLE6', 'ENBR3'),
   ('CPLE6', 'ENEV3'),
   ('CPLE6', 'EQTL3'),
   ('CPLE6', 'SBSP3'),
   ('CPLE6', 'TAEE11'),
   ('EGIE3', 'CMIG4'),
   ('EGIE3', 'CPLE6'),
   ('EGIE3', 'ELET3'),
   ('EGIE3', 'ELET6'),
   ('EGIE3', 'ENBR3'),
   ('EGIE3', 'ENEV3'),
   ('EGIE3', 'EQTL3'),
   ('EGIE3', 'SBSP3'),
   ('EGIE3', 'TAEE11'),
   ('ELET3', 'CMIG4'),
   ('ELET3', 'CPLE6'),
   ('ELET3', 'EGIE3'),
   ('ELET3', 'ELET6'),
   ('ELET3', 'ENBR3'),
   ('ELET3', 'ENEV3'),
   ('ELET3', 'EQTL3'),
   ('ELET3', 'SBSP3'),
   ('ELET3', 'TAEE11'),
   ('ELET6', 'CMIG4'),
   ('ELET6', 'CPLE6'),
   ('ELET6', 'EGIE3'),
   ('ELET6', 'ELET3'),
   ('ELET6', 'ENBR3'),
   ('ELET6', 'ENEV3'),
   ('ELET6', 'EQTL3'),
   ('ELET6', 'SBSP3'),
   ('ELET6', 'TAEE11'),
   ('ENBR3', 'CMIG4'),
   ('ENBR3', 'CPLE6'),
   ('ENBR3', 'EGIE3'),
   ('ENBR3', 'ELET3'),
   ('ENBR3', 'ELET6'),
   ('ENBR3', 'ENEV3'),
   ('ENBR3', 'EQTL3'),
   ('ENBR3', 'SBSP3'),
   ('ENBR3', 'TAEE11'),
   ('ENEV3', 'CMIG4'),
   ('ENEV3', 'CPLE6'),
   ('ENEV3', 'EGIE3'),
   ('ENEV3', 'ELET3'),
   ('ENEV3', 'ELET6'),
   ('ENEV3', 'ENBR3'),
   ('ENEV3', 'EQTL3'),
   ('ENEV3', 'SBSP3'),
   ('ENEV3', 'TAEE11'),
   ('EQTL3', 'CMIG4'),
   ('EQTL3', 'CPLE6'),
   ('EQTL3', 'EGIE3'),
   ('EQTL3', 'ELET3'),
   ('EQTL3', 'ELET6'),
   ('EQTL3', 'ENBR3'),
   ('EQTL3', 'ENEV3'),
   ('EQTL3', 'SBSP3'),
   ('EQTL3', 'TAEE11'),
   ('SBSP3', 'CMIG4'),
   ('SBSP3', 'CPLE6'),
   ('SBSP3', 'EGIE3'),
   ('SBSP3', 'ELET3'),
   ('SBSP3', 'ELET6'),
   ('SBSP3', 'ENBR3'),
   ('SBSP3', 'ENEV3'),
   ('SBSP3', 'EQTL3'),
   ('SBSP3', 'TAEE11'),
   ('TAEE11', 'CMIG4'),
   ('TAEE11', 'CPLE6'),
   ('TAEE11', 'EGIE3'),
   ('TAEE11', 'ELET3'),
   ('TAEE11', 'ELET6'),
   ('TAEE11', 'ENBR3'),
   ('TAEE11', 'ENEV3'),
   ('TAEE11', 'EQTL3'),
   ('TAEE11', 'SBSP3'),
   ('AMER3', 'CRFB3'),
   ('AMER3', 'CVCB3'),
   ('AMER3', 'HGTX3'),
   ('AMER3', 'LREN3'),
   ('AMER3', 'MGLU3'),
   ('AMER3', 'NTCO3'),
   ('AMER3', 'VIIA3'),
   ('CRFB3', 'AMER3'),
   ('CRFB3', 'CVCB3'),
   ('CRFB3', 'HGTX3'),
   ('CRFB3', 'LREN3'),
   ('CRFB3', 'MGLU3'),
   ('CRFB3', 'NTCO3'),
   ('CRFB3', 'VIIA3'),
   ('CVCB3', 'AMER3'),
   ('CVCB3', 'CRFB3'),
   ('CVCB3', 'HGTX3'),
   ('CVCB3', 'LREN3'),
   ('CVCB3', 'MGLU3'),
   ('CVCB3', 'NTCO3'),
   ('CVCB3', 'VIIA3'),
   ('HGTX3', 'AMER3'),
   ('HGTX3', 'CRFB3'),
   ('HGTX3', 'CVCB3'),
   ('HGTX3', 'LREN3'),
   ('HGTX3', 'MGLU3'),
   ('HGTX3', 'NTCO3'),
   ('HGTX3', 'VIIA3'),
   ('LREN3', 'AMER3'),
   ('LREN3', 'CRFB3'),
   ('LREN3', 'CVCB3'),
   ('LREN3', 'HGTX3'),
   ('LREN3', 'MGLU3'),
   ('LREN3', 'NTCO3'),
   ('LREN3', 'VIIA3'),
   ('MGLU3', 'AMER3'),
   ('MGLU3', 'CRFB3'),
   ('MGLU3', 'CVCB3'),
   ('MGLU3', 'HGTX3'),
   ('MGLU3', 'LREN3'),
   ('MGLU3', 'NTCO3'),
   ('MGLU3', 'VIIA3'),
   ('NTCO3', 'AMER3'),
   ('NTCO3', 'CRFB3'),
   ('NTCO3', 'CVCB3'),
   ('NTCO3', 'HGTX3'),
   ('NTCO3', 'LREN3'),
   ('NTCO3', 'MGLU3'),
   ('NTCO3', 'VIIA3'),
   ('VIIA3', 'AMER3'),
   ('VIIA3', 'CRFB3'),
   ('VIIA3', 'CVCB3'),
   ('VIIA3', 'HGTX3'),
   ('VIIA3', 'LREN3'),
   ('VIIA3', 'MGLU3'),
   ('VIIA3', 'NTCO3')]],
 numpy.datetime64('2020-07-01T00:00:00.000000000'): [numpy.datetime64('2020-12-31T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BEEF3'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BEEF3', 'ABEV3'),
   ('BEEF3', 'BRFS3'),
   ('BEEF3', 'JBSS3'),
   ('BEEF3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'BEEF3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BEEF3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BEEF3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'JHSF3'),
   ('CYRE3', 'MRVE3'),
   ('JHSF3', 'CYRE3'),
   ('JHSF3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('MRVE3', 'JHSF3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'BPAC11'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('B3SA3', 'SULA11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'BPAC11'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBAS3', 'SULA11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'BPAC11'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC3', 'SULA11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'BPAC11'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBDC4', 'SULA11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'BPAC11'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('BBSE3', 'SULA11'),
   ('BPAC11', 'B3SA3'),
   ('BPAC11', 'BBAS3'),
   ('BPAC11', 'BBDC3'),
   ('BPAC11', 'BBDC4'),
   ('BPAC11', 'BBSE3'),
   ('BPAC11', 'CIEL3'),
   ('BPAC11', 'IRBR3'),
   ('BPAC11', 'ITSA4'),
   ('BPAC11', 'ITUB4'),
   ('BPAC11', 'SANB11'),
   ('BPAC11', 'SULA11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'BPAC11'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('CIEL3', 'SULA11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'BPAC11'),

In [651]:
len(df_prices.loc[data_ini: data_fin])

126

In [652]:
df_prices.loc[data_ini: data_fin].shape

(126, 89)

In [655]:
permut

{numpy.datetime64('2019-07-01T00:00:00.000000000'): [numpy.datetime64('2019-12-31T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'CIEL3'),
   ('IRBR3', 'ITSA4'),
   ('IRBR3', 'ITUB4'),
   ('IRBR3', 'SANB11'),
   ('ITSA4', 'B3SA3'),
   ('ITSA4', 'BBAS3'),
   ('ITSA4', 'BBDC3'),
   ('ITSA4', 'BBDC4'),
   ('ITSA4', 'BBSE3'),
   ('ITSA4', 'CIEL3'),
   ('ITSA4', 'IRBR3'),
   ('ITSA4', 'ITUB4'),
   ('ITSA4', 'SANB11'),
   ('ITUB4', 'B3SA3'),
   ('ITUB4', 'BBAS3'),
   ('ITUB4', 'BBDC3'),
   ('ITUB4', 'BBDC4'),
   ('ITUB4', 'BBSE3'),
   ('ITUB4', 'CIEL3'),
   ('ITUB4', 'IRBR3'),
   ('ITUB4', 'ITSA4'),
   ('ITUB4', 'SANB11'),
   ('SANB11', 'B3SA3'),
   ('SANB11', 'BBAS3'),
   ('SANB11', 'BBDC3'),
   ('SANB11', 'BBDC4'),
   ('SANB11', 'BBSE3'),
   ('SANB11', 'CIEL3'),
   ('SANB11', 'IRBR3'),
   ('SANB11', 'ITSA4'),
   ('SANB11', 'ITUB4'),
   ('BRAP4', 'CSNA3'),
   ('BRAP4', 'GGBR4'),
   ('BRAP4', 'GOAU4'),
   ('BRAP4', 'USIM5'),
   ('BRAP4', 'VALE3'),
   ('CSNA3', 'BRAP4'),
   ('CSNA3', 'GGBR4'),
   ('CSNA3', 'GOAU4'),
   ('CSNA3', 'USIM5'),
   ('CSNA3', 'VALE3'),
   ('GGBR4', 'BRAP4'),
   ('GGBR4', 'CSNA3'),
   ('GGBR4', 'GOAU4'),
   ('GGBR4', 'USIM5'),
   ('GGBR4', 'VALE3'),
   ('GOAU4', 'BRAP4'),
   ('GOAU4', 'CSNA3'),
   ('GOAU4', 'GGBR4'),
   ('GOAU4', 'USIM5'),
   ('GOAU4', 'VALE3'),
   ('USIM5', 'BRAP4'),
   ('USIM5', 'CSNA3'),
   ('USIM5', 'GGBR4'),
   ('USIM5', 'GOAU4'),
   ('USIM5', 'VALE3'),
   ('VALE3', 'BRAP4'),
   ('VALE3', 'CSNA3'),
   ('VALE3', 'GGBR4'),
   ('VALE3', 'GOAU4'),
   ('VALE3', 'USIM5'),
   ('KLBN11', 'SUZB3'),
   ('SUZB3', 'KLBN11'),
   ('CSAN3', 'PETR3'),
   ('CSAN3', 'PETR4'),
   ('CSAN3', 'UGPA3'),
   ('CSAN3', 'VBBR3'),
   ('PETR3', 'CSAN3'),
   ('PETR3', 'PETR4'),
   ('PETR3', 'UGPA3'),
   ('PETR3', 'VBBR3'),
   ('PETR4', 'CSAN3'),
   ('PETR4', 'PETR3'),
   ('PETR4', 'UGPA3'),
   ('PETR4', 'VBBR3'),
   ('UGPA3', 'CSAN3'),
   ('UGPA3', 'PETR3'),
   ('UGPA3', 'PETR4'),
   ('UGPA3', 'VBBR3'),
   ('VBBR3', 'CSAN3'),
   ('VBBR3', 'PETR3'),
   ('VBBR3', 'PETR4'),
   ('VBBR3', 'UGPA3'),
   ('FLRY3', 'HYPE3'),
   ('FLRY3', 'QUAL3'),
   ('FLRY3', 'RADL3'),
   ('HYPE3', 'FLRY3'),
   ('HYPE3', 'QUAL3'),
   ('HYPE3', 'RADL3'),
   ('QUAL3', 'FLRY3'),
   ('QUAL3', 'HYPE3'),
   ('QUAL3', 'RADL3'),
   ('RADL3', 'FLRY3'),
   ('RADL3', 'HYPE3'),
   ('RADL3', 'QUAL3'),
   ('TIMS3', 'VIVT4'),
   ('VIVT4', 'TIMS3'),
   ('CMIG4', 'EGIE3'),
   ('CMIG4', 'ELET3'),
   ('CMIG4', 'ELET6'),
   ('CMIG4', 'ENBR3'),
   ('CMIG4', 'EQTL3'),
   ('CMIG4', 'SBSP3'),
   ('CMIG4', 'TAEE11'),
   ('EGIE3', 'CMIG4'),
   ('EGIE3', 'ELET3'),
   ('EGIE3', 'ELET6'),
   ('EGIE3', 'ENBR3'),
   ('EGIE3', 'EQTL3'),
   ('EGIE3', 'SBSP3'),
   ('EGIE3', 'TAEE11'),
   ('ELET3', 'CMIG4'),
   ('ELET3', 'EGIE3'),
   ('ELET3', 'ELET6'),
   ('ELET3', 'ENBR3'),
   ('ELET3', 'EQTL3'),
   ('ELET3', 'SBSP3'),
   ('ELET3', 'TAEE11'),
   ('ELET6', 'CMIG4'),
   ('ELET6', 'EGIE3'),
   ('ELET6', 'ELET3'),
   ('ELET6', 'ENBR3'),
   ('ELET6', 'EQTL3'),
   ('ELET6', 'SBSP3'),
   ('ELET6', 'TAEE11'),
   ('ENBR3', 'CMIG4'),
   ('ENBR3', 'EGIE3'),
   ('ENBR3', 'ELET3'),
   ('ENBR3', 'ELET6'),
   ('ENBR3', 'EQTL3'),
   ('ENBR3', 'SBSP3'),
   ('ENBR3', 'TAEE11'),
   ('EQTL3', 'CMIG4'),
   ('EQTL3', 'EGIE3'),
   ('EQTL3', 'ELET3'),
   ('EQTL3', 'ELET6'),
   ('EQTL3', 'ENBR3'),
   ('EQTL3', 'SBSP3'),
   ('EQTL3', 'TAEE11'),
   ('SBSP3', 'CMIG4'),
   ('SBSP3', 'EGIE3'),
   ('SBSP3', 'ELET3'),
   ('SBSP3', 'ELET6'),
   ('SBSP3', 'ENBR3'),
   ('SBSP3', 'EQTL3'),
   ('SBSP3', 'TAEE11'),
   ('TAEE11', 'CMIG4'),
   ('TAEE11', 'EGIE3'),
   ('TAEE11', 'ELET3'),
   ('TAEE11', 'ELET6'),
   ('TAEE11', 'ENBR3'),
   ('TAEE11', 'EQTL3'),
   ('TAEE11', 'SBSP3'),
   ('AMER3', 'CVCB3'),
   ('AMER3', 'LREN3'),
   ('AMER3', 'MGLU3'),
   ('AMER3', 'NTCO3'),
   ('AMER3', 'PCAR4'),
   ('AMER3', 'VIIA3'),
   ('CVCB3', 'AMER3'),
   ('CVCB3', 'LREN3'),
   ('CVCB3', 'MGLU3'),
   ('CVCB3', 'NTCO3'),
   ('CVCB3', 'PCAR4'),
   ('CVCB3', 'VIIA3'),
   ('LREN3', 'AMER3'),
   ('LREN3', 'CVCB3'),
   ('LREN3', 'MGLU3'),
   ('LREN3', 'NTCO3'),
   ('LREN3', 'PCAR4'),
   ('LREN3', 'VIIA3'),
   ('MGLU3', 'AMER3'),
   ('MGLU3', 'CVCB3'),
   ('MGLU3', 'LREN3'),
   ('MGLU3', 'NTCO3'),
   ('MGLU3', 'PCAR4'),
   ('MGLU3', 'VIIA3'),
   ('NTCO3', 'AMER3'),
   ('NTCO3', 'CVCB3'),
   ('NTCO3', 'LREN3'),
   ('NTCO3', 'MGLU3'),
   ('NTCO3', 'PCAR4'),
   ('NTCO3', 'VIIA3'),
   ('PCAR4', 'AMER3'),
   ('PCAR4', 'CVCB3'),
   ('PCAR4', 'LREN3'),
   ('PCAR4', 'MGLU3'),
   ('PCAR4', 'NTCO3'),
   ('PCAR4', 'VIIA3'),
   ('VIIA3', 'AMER3'),
   ('VIIA3', 'CVCB3'),
   ('VIIA3', 'LREN3'),
   ('VIIA3', 'MGLU3'),
   ('VIIA3', 'NTCO3'),
   ('VIIA3', 'PCAR4')]],
 numpy.datetime64('2020-01-01T00:00:00.000000000'): [numpy.datetime64('2020-07-01T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'JHSF3'),
   ('CYRE3', 'MRVE3'),
   ('JHSF3', 'CYRE3'),
   ('JHSF3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('MRVE3', 'JHSF3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'BPAC11'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('B3SA3', 'SULA11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'BPAC11'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBAS3', 'SULA11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'BPAC11'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC3', 'SULA11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'BPAC11'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBDC4', 'SULA11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'BPAC11'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('BBSE3', 'SULA11'),
   ('BPAC11', 'B3SA3'),
   ('BPAC11', 'BBAS3'),
   ('BPAC11', 'BBDC3'),
   ('BPAC11', 'BBDC4'),
   ('BPAC11', 'BBSE3'),
   ('BPAC11', 'CIEL3'),
   ('BPAC11', 'IRBR3'),
   ('BPAC11', 'ITSA4'),
   ('BPAC11', 'ITUB4'),
   ('BPAC11', 'SANB11'),
   ('BPAC11', 'SULA11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'BPAC11'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('CIEL3', 'SULA11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'BPAC11'),
   ('IRBR3', 'CIEL3'),
   ('IRBR3', 'ITSA4'),
   ('IRBR3', 'ITUB4'),
   ('IRBR3', 'SANB11'),
   ('IRBR3', 'SULA11'),
   ('ITSA4', 'B3SA3'),
   ('ITSA4', 'BBAS3'),
   ('ITSA4', 'BBDC3'),
   ('ITSA4', 'BBDC4'),
   ('ITSA4', 'BBSE3'),
   ('ITSA4', 'BPAC11'),
   ('ITSA4', 'CIEL3'),
   ('ITSA4', 'IRBR3'),
   ('ITSA4', 'ITUB4'),
   ('ITSA4', 'SANB11'),
   ('ITSA4', 'SULA11'),
   ('ITUB4', 'B3SA3'),
   ('ITUB4', 'BBAS3'),
   ('ITUB4', 'BBDC3'),
   ('ITUB4', 'BBDC4'),
   ('ITUB4', 'BBSE3'),
   ('ITUB4', 'BPAC11'),
   ('ITUB4', 'CIEL3'),
   ('ITUB4', 'IRBR3'),
   ('ITUB4', 'ITSA4'),
   ('ITUB4', 'SANB11'),
   ('ITUB4', 'SULA11'),
   ('SANB11', 'B3SA3'),
   ('SANB11', 'BBAS3'),
   ('SANB11', 'BBDC3'),
   ('SANB11', 'BBDC4'),
   ('SANB11', 'BBSE3'),
   ('SANB11', 'BPAC11'),
   ('SANB11', 'CIEL3'),
   ('SANB11', 'IRBR3'),
   ('SANB11', 'ITSA4'),
   ('SANB11', 'ITUB4'),
   ('SANB11', 'SULA11'),
   ('SULA11', 'B3SA3'),
   ('SULA11', 'BBAS3'),
   ('SULA11', 'BBDC3'),
   ('SULA11', 'BBDC4'),
   ('SULA11', 'BBSE3'),
   ('SULA11', 'BPAC11'),
   ('SULA11', 'CIEL3'),
   ('SULA11', 'IRBR3'),
   ('SULA11', 'ITSA4'),
   ('SULA11', 'ITUB4'),
   ('SULA11', 'SANB11'),
   ('LCAM3', 'RENT3'),
   ('RENT3', 'LCAM3'),
   ('BRAP4', 'CSNA3'),
   ('BRAP4', 'GGBR4'),
   ('BRAP4', 'GOAU4'),
   ('BRAP4', 'USIM5'),
   ('BRAP4', 'VALE3'),
   ('CSNA3', 'BRAP4'),
   ('CSNA3', 'GGBR4'),
   ('CSNA3', 'GOAU4'),
   ('CSNA3', 'USIM5'),
   ('CSNA3', 'VALE3'),
   ('GGBR4', 'BRAP4'),
   ('GGBR4', 'CSNA3'),
   ('GGBR4', 'GOAU4'),
   ('GGBR4', 'USIM5'),
   ('GGBR4', 'VALE3'),
   ('GOAU4', 'BRAP4'),
   ('GOAU4', 'CSNA3'),
   ('GOAU4', 'GGBR4'),
   ('GOAU4', 'USIM5'),
   ('GOAU4', 'VALE3'),
   ('USIM5', 'BRAP4'),
   ('USIM5', 'CSNA3'),
   ('USIM5', 'GGBR4'),
   ('USIM5', 'GOAU4'),
   ('USIM5', 'VALE3'),
   ('VALE3', 'BRAP4'),
   ('VALE3', 'CSNA3'),
   ('VALE3', 'GGBR4'),
   ('VALE3', 'GOAU4'),
   ('VALE3', 'USIM5'),
   ('KLBN11', 'SUZB3'),
   ('SUZB3', 'KLBN11'),
   ('CSAN3', 'PETR3'),
   ('CSAN3', 'PETR4'),
   ('CSAN3', 'UGPA3'),
   ('CSAN3', 'VBBR3'),
   ('PETR3', 'CSAN3'),
   ('PETR3', 'PETR4'),
   ('PETR3', 'UGPA3'),
   ('PETR3', 'VBBR3'),
   ('PETR4', 'CSAN3'),
   ('PETR4', 'PETR3'),
   ('PETR4', 'UGPA3'),
   ('PETR4', 'VBBR3'),
   ('UGPA3', 'CSAN3'),
   ('UGPA3', 'PETR3'),
   ('UGPA3', 'PETR4'),
   ('UGPA3', 'VBBR3'),
   ('VBBR3', 'CSAN3'),
   ('VBBR3', 'PETR3'),
   ('VBBR3', 'PETR4'),
   ('VBBR3', 'UGPA3'),
   ('FLRY3', 'GNDI3'),
   ('FLRY3', 'HAPV3'),
   ('FLRY3', 'HYPE3'),
   ('FLRY3', 'QUAL3'),
   ('FLRY3', 'RADL3'),
   ('GNDI3', 'FLRY3'),
   ('GNDI3', 'HAPV3'),
   ('GNDI3', 'HYPE3'),
   ('GNDI3', 'QUAL3'),
   ('GNDI3', 'RADL3'),
   ('HAPV3', 'FLRY3'),
   ('HAPV3', 'GNDI3'),
   ('HAPV3', 'HYPE3'),
   ('HAPV3', 'QUAL3'),
   ('HAPV3', 'RADL3'),
   ('HYPE3', 'FLRY3'),
   ('HYPE3', 'GNDI3'),
   ('HYPE3', 'HAPV3'),
   ('HYPE3', 'QUAL3'),
   ('HYPE3', 'RADL3'),
   ('QUAL3', 'FLRY3'),
   ('QUAL3', 'GNDI3'),
   ('QUAL3', 'HAPV3'),
   ('QUAL3', 'HYPE3'),
   ('QUAL3', 'RADL3'),
   ('RADL3', 'FLRY3'),
   ('RADL3', 'GNDI3'),
   ('RADL3', 'HAPV3'),
   ('RADL3', 'HYPE3'),
   ('RADL3', 'QUAL3'),
   ('TIMS3', 'VIVT4'),
   ('VIVT4', 'TIMS3'),
   ('CMIG4', 'CPLE6'),
   ('CMIG4', 'EGIE3'),
   ('CMIG4', 'ELET3'),
   ('CMIG4', 'ELET6'),
   ('CMIG4', 'ENBR3'),
   ('CMIG4', 'ENEV3'),
   ('CMIG4', 'EQTL3'),
   ('CMIG4', 'SBSP3'),
   ('CMIG4', 'TAEE11'),
   ('CPLE6', 'CMIG4'),
   ('CPLE6', 'EGIE3'),
   ('CPLE6', 'ELET3'),
   ('CPLE6', 'ELET6'),
   ('CPLE6', 'ENBR3'),
   ('CPLE6', 'ENEV3'),
   ('CPLE6', 'EQTL3'),
   ('CPLE6', 'SBSP3'),
   ('CPLE6', 'TAEE11'),
   ('EGIE3', 'CMIG4'),
   ('EGIE3', 'CPLE6'),
   ('EGIE3', 'ELET3'),
   ('EGIE3', 'ELET6'),
   ('EGIE3', 'ENBR3'),
   ('EGIE3', 'ENEV3'),
   ('EGIE3', 'EQTL3'),
   ('EGIE3', 'SBSP3'),
   ('EGIE3', 'TAEE11'),
   ('ELET3', 'CMIG4'),
   ('ELET3', 'CPLE6'),
   ('ELET3', 'EGIE3'),
   ('ELET3', 'ELET6'),
   ('ELET3', 'ENBR3'),
   ('ELET3', 'ENEV3'),
   ('ELET3', 'EQTL3'),
   ('ELET3', 'SBSP3'),
   ('ELET3', 'TAEE11'),
   ('ELET6', 'CMIG4'),
   ('ELET6', 'CPLE6'),
   ('ELET6', 'EGIE3'),
   ('ELET6', 'ELET3'),
   ('ELET6', 'ENBR3'),
   ('ELET6', 'ENEV3'),
   ('ELET6', 'EQTL3'),
   ('ELET6', 'SBSP3'),
   ('ELET6', 'TAEE11'),
   ('ENBR3', 'CMIG4'),
   ('ENBR3', 'CPLE6'),
   ('ENBR3', 'EGIE3'),
   ('ENBR3', 'ELET3'),
   ('ENBR3', 'ELET6'),
   ('ENBR3', 'ENEV3'),
   ('ENBR3', 'EQTL3'),
   ('ENBR3', 'SBSP3'),
   ('ENBR3', 'TAEE11'),
   ('ENEV3', 'CMIG4'),
   ('ENEV3', 'CPLE6'),
   ('ENEV3', 'EGIE3'),
   ('ENEV3', 'ELET3'),
   ('ENEV3', 'ELET6'),
   ('ENEV3', 'ENBR3'),
   ('ENEV3', 'EQTL3'),
   ('ENEV3', 'SBSP3'),
   ('ENEV3', 'TAEE11'),
   ('EQTL3', 'CMIG4'),
   ('EQTL3', 'CPLE6'),
   ('EQTL3', 'EGIE3'),
   ('EQTL3', 'ELET3'),
   ('EQTL3', 'ELET6'),
   ('EQTL3', 'ENBR3'),
   ('EQTL3', 'ENEV3'),
   ('EQTL3', 'SBSP3'),
   ('EQTL3', 'TAEE11'),
   ('SBSP3', 'CMIG4'),
   ('SBSP3', 'CPLE6'),
   ('SBSP3', 'EGIE3'),
   ('SBSP3', 'ELET3'),
   ('SBSP3', 'ELET6'),
   ('SBSP3', 'ENBR3'),
   ('SBSP3', 'ENEV3'),
   ('SBSP3', 'EQTL3'),
   ('SBSP3', 'TAEE11'),
   ('TAEE11', 'CMIG4'),
   ('TAEE11', 'CPLE6'),
   ('TAEE11', 'EGIE3'),
   ('TAEE11', 'ELET3'),
   ('TAEE11', 'ELET6'),
   ('TAEE11', 'ENBR3'),
   ('TAEE11', 'ENEV3'),
   ('TAEE11', 'EQTL3'),
   ('TAEE11', 'SBSP3'),
   ('AMER3', 'CRFB3'),
   ('AMER3', 'CVCB3'),
   ('AMER3', 'HGTX3'),
   ('AMER3', 'LREN3'),
   ('AMER3', 'MGLU3'),
   ('AMER3', 'NTCO3'),
   ('AMER3', 'VIIA3'),
   ('CRFB3', 'AMER3'),
   ('CRFB3', 'CVCB3'),
   ('CRFB3', 'HGTX3'),
   ('CRFB3', 'LREN3'),
   ('CRFB3', 'MGLU3'),
   ('CRFB3', 'NTCO3'),
   ('CRFB3', 'VIIA3'),
   ('CVCB3', 'AMER3'),
   ('CVCB3', 'CRFB3'),
   ('CVCB3', 'HGTX3'),
   ('CVCB3', 'LREN3'),
   ('CVCB3', 'MGLU3'),
   ('CVCB3', 'NTCO3'),
   ('CVCB3', 'VIIA3'),
   ('HGTX3', 'AMER3'),
   ('HGTX3', 'CRFB3'),
   ('HGTX3', 'CVCB3'),
   ('HGTX3', 'LREN3'),
   ('HGTX3', 'MGLU3'),
   ('HGTX3', 'NTCO3'),
   ('HGTX3', 'VIIA3'),
   ('LREN3', 'AMER3'),
   ('LREN3', 'CRFB3'),
   ('LREN3', 'CVCB3'),
   ('LREN3', 'HGTX3'),
   ('LREN3', 'MGLU3'),
   ('LREN3', 'NTCO3'),
   ('LREN3', 'VIIA3'),
   ('MGLU3', 'AMER3'),
   ('MGLU3', 'CRFB3'),
   ('MGLU3', 'CVCB3'),
   ('MGLU3', 'HGTX3'),
   ('MGLU3', 'LREN3'),
   ('MGLU3', 'NTCO3'),
   ('MGLU3', 'VIIA3'),
   ('NTCO3', 'AMER3'),
   ('NTCO3', 'CRFB3'),
   ('NTCO3', 'CVCB3'),
   ('NTCO3', 'HGTX3'),
   ('NTCO3', 'LREN3'),
   ('NTCO3', 'MGLU3'),
   ('NTCO3', 'VIIA3'),
   ('VIIA3', 'AMER3'),
   ('VIIA3', 'CRFB3'),
   ('VIIA3', 'CVCB3'),
   ('VIIA3', 'HGTX3'),
   ('VIIA3', 'LREN3'),
   ('VIIA3', 'MGLU3'),
   ('VIIA3', 'NTCO3')]],
 numpy.datetime64('2020-07-01T00:00:00.000000000'): [numpy.datetime64('2020-12-31T00:00:00.000000000'),
  [('AZUL4', 'GOLL4'),
   ('GOLL4', 'AZUL4'),
   ('ABEV3', 'BEEF3'),
   ('ABEV3', 'BRFS3'),
   ('ABEV3', 'JBSS3'),
   ('ABEV3', 'MRFG3'),
   ('BEEF3', 'ABEV3'),
   ('BEEF3', 'BRFS3'),
   ('BEEF3', 'JBSS3'),
   ('BEEF3', 'MRFG3'),
   ('BRFS3', 'ABEV3'),
   ('BRFS3', 'BEEF3'),
   ('BRFS3', 'JBSS3'),
   ('BRFS3', 'MRFG3'),
   ('JBSS3', 'ABEV3'),
   ('JBSS3', 'BEEF3'),
   ('JBSS3', 'BRFS3'),
   ('JBSS3', 'MRFG3'),
   ('MRFG3', 'ABEV3'),
   ('MRFG3', 'BEEF3'),
   ('MRFG3', 'BRFS3'),
   ('MRFG3', 'JBSS3'),
   ('CCRO3', 'ECOR3'),
   ('CCRO3', 'EMBR3'),
   ('CCRO3', 'RAIL3'),
   ('CCRO3', 'WEGE3'),
   ('ECOR3', 'CCRO3'),
   ('ECOR3', 'EMBR3'),
   ('ECOR3', 'RAIL3'),
   ('ECOR3', 'WEGE3'),
   ('EMBR3', 'CCRO3'),
   ('EMBR3', 'ECOR3'),
   ('EMBR3', 'RAIL3'),
   ('EMBR3', 'WEGE3'),
   ('RAIL3', 'CCRO3'),
   ('RAIL3', 'ECOR3'),
   ('RAIL3', 'EMBR3'),
   ('RAIL3', 'WEGE3'),
   ('WEGE3', 'CCRO3'),
   ('WEGE3', 'ECOR3'),
   ('WEGE3', 'EMBR3'),
   ('WEGE3', 'RAIL3'),
   ('CYRE3', 'JHSF3'),
   ('CYRE3', 'MRVE3'),
   ('JHSF3', 'CYRE3'),
   ('JHSF3', 'MRVE3'),
   ('MRVE3', 'CYRE3'),
   ('MRVE3', 'JHSF3'),
   ('COGN3', 'YDUQ3'),
   ('YDUQ3', 'COGN3'),
   ('BRML3', 'IGTI3'),
   ('BRML3', 'MULT3'),
   ('IGTI3', 'BRML3'),
   ('IGTI3', 'MULT3'),
   ('MULT3', 'BRML3'),
   ('MULT3', 'IGTI3'),
   ('B3SA3', 'BBAS3'),
   ('B3SA3', 'BBDC3'),
   ('B3SA3', 'BBDC4'),
   ('B3SA3', 'BBSE3'),
   ('B3SA3', 'BPAC11'),
   ('B3SA3', 'CIEL3'),
   ('B3SA3', 'IRBR3'),
   ('B3SA3', 'ITSA4'),
   ('B3SA3', 'ITUB4'),
   ('B3SA3', 'SANB11'),
   ('B3SA3', 'SULA11'),
   ('BBAS3', 'B3SA3'),
   ('BBAS3', 'BBDC3'),
   ('BBAS3', 'BBDC4'),
   ('BBAS3', 'BBSE3'),
   ('BBAS3', 'BPAC11'),
   ('BBAS3', 'CIEL3'),
   ('BBAS3', 'IRBR3'),
   ('BBAS3', 'ITSA4'),
   ('BBAS3', 'ITUB4'),
   ('BBAS3', 'SANB11'),
   ('BBAS3', 'SULA11'),
   ('BBDC3', 'B3SA3'),
   ('BBDC3', 'BBAS3'),
   ('BBDC3', 'BBDC4'),
   ('BBDC3', 'BBSE3'),
   ('BBDC3', 'BPAC11'),
   ('BBDC3', 'CIEL3'),
   ('BBDC3', 'IRBR3'),
   ('BBDC3', 'ITSA4'),
   ('BBDC3', 'ITUB4'),
   ('BBDC3', 'SANB11'),
   ('BBDC3', 'SULA11'),
   ('BBDC4', 'B3SA3'),
   ('BBDC4', 'BBAS3'),
   ('BBDC4', 'BBDC3'),
   ('BBDC4', 'BBSE3'),
   ('BBDC4', 'BPAC11'),
   ('BBDC4', 'CIEL3'),
   ('BBDC4', 'IRBR3'),
   ('BBDC4', 'ITSA4'),
   ('BBDC4', 'ITUB4'),
   ('BBDC4', 'SANB11'),
   ('BBDC4', 'SULA11'),
   ('BBSE3', 'B3SA3'),
   ('BBSE3', 'BBAS3'),
   ('BBSE3', 'BBDC3'),
   ('BBSE3', 'BBDC4'),
   ('BBSE3', 'BPAC11'),
   ('BBSE3', 'CIEL3'),
   ('BBSE3', 'IRBR3'),
   ('BBSE3', 'ITSA4'),
   ('BBSE3', 'ITUB4'),
   ('BBSE3', 'SANB11'),
   ('BBSE3', 'SULA11'),
   ('BPAC11', 'B3SA3'),
   ('BPAC11', 'BBAS3'),
   ('BPAC11', 'BBDC3'),
   ('BPAC11', 'BBDC4'),
   ('BPAC11', 'BBSE3'),
   ('BPAC11', 'CIEL3'),
   ('BPAC11', 'IRBR3'),
   ('BPAC11', 'ITSA4'),
   ('BPAC11', 'ITUB4'),
   ('BPAC11', 'SANB11'),
   ('BPAC11', 'SULA11'),
   ('CIEL3', 'B3SA3'),
   ('CIEL3', 'BBAS3'),
   ('CIEL3', 'BBDC3'),
   ('CIEL3', 'BBDC4'),
   ('CIEL3', 'BBSE3'),
   ('CIEL3', 'BPAC11'),
   ('CIEL3', 'IRBR3'),
   ('CIEL3', 'ITSA4'),
   ('CIEL3', 'ITUB4'),
   ('CIEL3', 'SANB11'),
   ('CIEL3', 'SULA11'),
   ('IRBR3', 'B3SA3'),
   ('IRBR3', 'BBAS3'),
   ('IRBR3', 'BBDC3'),
   ('IRBR3', 'BBDC4'),
   ('IRBR3', 'BBSE3'),
   ('IRBR3', 'BPAC11'),

In [ ]:
from backtest import Executer

In [664]:
df_trading.shape[0] - (train_size-1)

124

In [662]:
days_of_trading

124

In [658]:
# Loops over dict with initial, final dates and permutations
# And filters the dataframe with prices with 365 days (one year)
# of formation data and 6 months of trading data
count = 0
for key, value in permut.items():
    
    data_ini = key
    data_pre =  data_ini - np.timedelta64(365, 'D')
    data_fin = value[0]
    
    perm = value[1]
    
    df_trading = df_prices.loc[data_pre: data_fin]
    
    train_size = df_trading[data_pre:data_ini].shape[0] + 1        
    days_of_trading = df_prices.loc[data_ini: data_fin].shape[0]
    
    print(days_of_trading)
    for i in range(days_of_tradingrading):

        d = df_trading.iloc[: train_size + i][-train_size:]
        display(d)
    count+=1
    if count > 1:
        break

126

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-02,16.40,9.52,25.86,NaN,20.70,5.86,23.77,12.93,14.32,17.54,...,11.59,8.68,20.34,6.21,37.19,14.16,5.84,29.95,7.40,22.21
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
2018-07-10,16.44,9.82,26.78,NaN,20.68,6.35,23.62,13.33,15.00,17.83,...,11.66,9.06,20.15,6.77,37.77,15.09,5.35,29.88,8.04,23.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
2018-07-10,16.44,9.82,26.78,NaN,20.68,6.35,23.62,13.33,15.00,17.83,...,11.66,9.06,20.15,6.77,37.77,15.09,5.35,29.88,8.04,23.38
2018-07-11,16.19,9.84,25.75,NaN,20.89,6.35,24.09,13.29,14.94,17.77,...,11.63,9.00,20.11,6.47,37.26,15.17,5.65,29.74,7.95,23.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
2018-07-10,16.44,9.82,26.78,NaN,20.68,6.35,23.62,13.33,15.00,17.83,...,11.66,9.06,20.15,6.77,37.77,15.09,5.35,29.88,8.04,23.38
2018-07-11,16.19,9.84,25.75,NaN,20.89,6.35,24.09,13.29,14.94,17.77,...,11.63,9.00,20.11,6.47,37.26,15.17,5.65,29.74,7.95,23.36
2018-07-12,16.49,9.90,27.03,NaN,21.72,6.55,24.55,13.60,15.38,17.97,...,11.87,9.02,20.04,7.07,38.47,15.62,5.59,29.66,8.06,23.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
2018-07-10,16.44,9.82,26.78,NaN,20.68,6.35,23.62,13.33,15.00,17.83,...,11.66,9.06,20.15,6.77,37.77,15.09,5.35,29.88,8.04,23.38
2018-07-11,16.19,9.84,25.75,NaN,20.89,6.35,24.09,13.29,14.94,17.77,...,11.63,9.00,20.11,6.47,37.26,15.17,5.65,29.74,7.95,23.36
2018-07-12,16.49,9.90,27.03,NaN,21.72,6.55,24.55,13.60,15.38,17.97,...,11.87,9.02,20.04,7.07,38.47,15.62,5.59,29.66,8.06,23.38
2018-07-13,16.67,9.74,27.67,NaN,21.84,6.76,25.17,13.85,15.69,18.11,...,11.96,9.08,18.98,7.15,38.37,15.75,5.80,29.54,8.11,24.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-10,16.44,9.82,26.78,NaN,20.68,6.35,23.62,13.33,15.00,17.83,...,11.66,9.06,20.15,6.77,37.77,15.09,5.35,29.88,8.04,23.38
2018-07-11,16.19,9.84,25.75,NaN,20.89,6.35,24.09,13.29,14.94,17.77,...,11.63,9.00,20.11,6.47,37.26,15.17,5.65,29.74,7.95,23.36
2018-07-12,16.49,9.90,27.03,NaN,21.72,6.55,24.55,13.60,15.38,17.97,...,11.87,9.02,20.04,7.07,38.47,15.62,5.59,29.66,8.06,23.38
2018-07-13,16.67,9.74,27.67,NaN,21.84,6.76,25.17,13.85,15.69,18.11,...,11.96,9.08,18.98,7.15,38.37,15.75,5.80,29.54,8.11,24.13
2018-07-16,17.13,9.92,27.32,NaN,22.78,6.67,24.90,13.95,15.76,18.41,...,11.84,9.08,18.63,7.16,38.13,16.01,5.64,29.66,8.24,23.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
2019-07-10,17.51,21.94,37.78,NaN,49.99,12.26,45.80,23.27,25.97,26.95,...,11.02,15.88,18.90,8.34,40.77,23.21,6.73,38.04,11.39,30.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-11,16.19,9.84,25.75,NaN,20.89,6.35,24.09,13.29,14.94,17.77,...,11.63,9.00,20.11,6.47,37.26,15.17,5.65,29.74,7.95,23.36
2018-07-12,16.49,9.90,27.03,NaN,21.72,6.55,24.55,13.60,15.38,17.97,...,11.87,9.02,20.04,7.07,38.47,15.62,5.59,29.66,8.06,23.38
2018-07-13,16.67,9.74,27.67,NaN,21.84,6.76,25.17,13.85,15.69,18.11,...,11.96,9.08,18.98,7.15,38.37,15.75,5.80,29.54,8.11,24.13
2018-07-16,17.13,9.92,27.32,NaN,22.78,6.67,24.90,13.95,15.76,18.41,...,11.84,9.08,18.63,7.16,38.13,16.01,5.64,29.66,8.24,23.96
2018-07-17,17.33,9.91,27.99,NaN,23.67,6.80,25.73,14.44,16.21,18.84,...,11.98,9.35,18.88,7.48,38.66,15.44,5.82,30.21,8.60,22.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
2019-07-10,17.51,21.94,37.78,NaN,49.99,12.26,45.80,23.27,25.97,26.95,...,11.02,15.88,18.90,8.34,40.77,23.21,6.73,38.04,11.39,30.85
2019-07-11,17.21,21.64,38.08,NaN,49.47,11.98,44.91,23.01,25.75,26.50,...,11.04,16.06,18.74,8.25,40.71,23.29,6.50,37.34,11.35,30.60

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-12,16.49,9.90,27.03,NaN,21.72,6.55,24.55,13.60,15.38,17.97,...,11.87,9.02,20.04,7.07,38.47,15.62,5.59,29.66,8.06,23.38
2018-07-13,16.67,9.74,27.67,NaN,21.84,6.76,25.17,13.85,15.69,18.11,...,11.96,9.08,18.98,7.15,38.37,15.75,5.80,29.54,8.11,24.13
2018-07-16,17.13,9.92,27.32,NaN,22.78,6.67,24.90,13.95,15.76,18.41,...,11.84,9.08,18.63,7.16,38.13,16.01,5.64,29.66,8.24,23.96
2018-07-17,17.33,9.91,27.99,NaN,23.67,6.80,25.73,14.44,16.21,18.84,...,11.98,9.35,18.88,7.48,38.66,15.44,5.82,30.21,8.60,22.97
2018-07-18,16.96,10.04,27.54,NaN,23.90,6.59,25.57,14.16,15.81,18.58,...,11.85,9.44,19.08,7.23,39.24,15.16,5.89,29.52,8.73,21.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
2019-07-10,17.51,21.94,37.78,NaN,49.99,12.26,45.80,23.27,25.97,26.95,...,11.02,15.88,18.90,8.34,40.77,23.21,6.73,38.04,11.39,30.85
2019-07-11,17.21,21.64,38.08,NaN,49.47,11.98,44.91,23.01,25.75,26.50,...,11.04,16.06,18.74,8.25,40.71,23.29,6.50,37.34,11.35,30.60
2019-07-12,16.76,21.46,36.85,NaN,49.09,11.56,43.89,22.55,25.27,26.70,...,10.98,15.64,18.56,8.23,40.52,23.03,6.52,37.15,11.10,30.23

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-13,16.67,9.74,27.67,NaN,21.84,6.76,25.17,13.85,15.69,18.11,...,11.96,9.08,18.98,7.15,38.37,15.75,5.80,29.54,8.11,24.13
2018-07-16,17.13,9.92,27.32,NaN,22.78,6.67,24.90,13.95,15.76,18.41,...,11.84,9.08,18.63,7.16,38.13,16.01,5.64,29.66,8.24,23.96
2018-07-17,17.33,9.91,27.99,NaN,23.67,6.80,25.73,14.44,16.21,18.84,...,11.98,9.35,18.88,7.48,38.66,15.44,5.82,30.21,8.60,22.97
2018-07-18,16.96,10.04,27.54,NaN,23.90,6.59,25.57,14.16,15.81,18.58,...,11.85,9.44,19.08,7.23,39.24,15.16,5.89,29.52,8.73,21.41
2018-07-19,17.06,9.91,28.60,NaN,23.75,6.56,25.34,14.11,16.01,18.39,...,12.07,9.40,18.92,7.18,37.70,14.81,5.86,29.40,8.88,22.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
2019-07-10,17.51,21.94,37.78,NaN,49.99,12.26,45.80,23.27,25.97,26.95,...,11.02,15.88,18.90,8.34,40.77,23.21,6.73,38.04,11.39,30.85
2019-07-11,17.21,21.64,38.08,NaN,49.47,11.98,44.91,23.01,25.75,26.50,...,11.04,16.06,18.74,8.25,40.71,23.29,6.50,37.34,11.35,30.60
2019-07-12,16.76,21.46,36.85,NaN,49.09,11.56,43.89,22.55,25.27,26.70,...,10.98,15.64,18.56,8.23,40.52,23.03,6.52,37.15,11.10,30.23
2019-07-15,16.80,21.08,35.78,NaN,49.36,11.57,43.63,22.56,25.16,26.66,...,11.23,15.47,18.64,8.13,41.21,22.73,7.03,37.91,10.77,30.68

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-16,17.13,9.92,27.32,NaN,22.78,6.67,24.90,13.95,15.76,18.41,...,11.84,9.08,18.63,7.16,38.13,16.01,5.64,29.66,8.24,23.96
2018-07-17,17.33,9.91,27.99,NaN,23.67,6.80,25.73,14.44,16.21,18.84,...,11.98,9.35,18.88,7.48,38.66,15.44,5.82,30.21,8.60,22.97
2018-07-18,16.96,10.04,27.54,NaN,23.90,6.59,25.57,14.16,15.81,18.58,...,11.85,9.44,19.08,7.23,39.24,15.16,5.89,29.52,8.73,21.41
2018-07-19,17.06,9.91,28.60,NaN,23.75,6.56,25.34,14.11,16.01,18.39,...,12.07,9.40,18.92,7.18,37.70,14.81,5.86,29.40,8.88,22.00
2018-07-20,16.98,10.11,29.66,NaN,24.17,6.60,26.68,14.79,16.57,18.12,...,11.67,9.59,19.14,7.59,37.15,15.97,5.80,29.48,8.82,23.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-10,17.51,21.94,37.78,NaN,49.99,12.26,45.80,23.27,25.97,26.95,...,11.02,15.88,18.90,8.34,40.77,23.21,6.73,38.04,11.39,30.85
2019-07-11,17.21,21.64,38.08,NaN,49.47,11.98,44.91,23.01,25.75,26.50,...,11.04,16.06,18.74,8.25,40.71,23.29,6.50,37.34,11.35,30.60
2019-07-12,16.76,21.46,36.85,NaN,49.09,11.56,43.89,22.55,25.27,26.70,...,10.98,15.64,18.56,8.23,40.52,23.03,6.52,37.15,11.10,30.23
2019-07-15,16.80,21.08,35.78,NaN,49.36,11.57,43.63,22.56,25.16,26.66,...,11.23,15.47,18.64,8.13,41.21,22.73,7.03,37.91,10.77,30.68
2019-07-16,16.66,21.05,34.52,NaN,50.00,11.94,43.70,22.36,25.17,26.67,...,11.29,15.52,18.30,8.20,41.49,22.58,7.13,38.26,10.82,29.94

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-17,17.33,9.91,27.99,NaN,23.67,6.80,25.73,14.44,16.21,18.84,...,11.98,9.35,18.88,7.48,38.66,15.44,5.82,30.21,8.60,22.97
2018-07-18,16.96,10.04,27.54,NaN,23.90,6.59,25.57,14.16,15.81,18.58,...,11.85,9.44,19.08,7.23,39.24,15.16,5.89,29.52,8.73,21.41
2018-07-19,17.06,9.91,28.60,NaN,23.75,6.56,25.34,14.11,16.01,18.39,...,12.07,9.40,18.92,7.18,37.70,14.81,5.86,29.40,8.88,22.00
2018-07-20,16.98,10.11,29.66,NaN,24.17,6.60,26.68,14.79,16.57,18.12,...,11.67,9.59,19.14,7.59,37.15,15.97,5.80,29.48,8.82,23.63
2018-07-23,16.86,10.02,28.62,NaN,24.63,6.53,26.51,14.71,16.38,18.14,...,11.23,9.61,18.49,7.58,37.83,16.22,5.90,28.87,8.94,23.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-11,17.21,21.64,38.08,NaN,49.47,11.98,44.91,23.01,25.75,26.50,...,11.04,16.06,18.74,8.25,40.71,23.29,6.50,37.34,11.35,30.60
2019-07-12,16.76,21.46,36.85,NaN,49.09,11.56,43.89,22.55,25.27,26.70,...,10.98,15.64,18.56,8.23,40.52,23.03,6.52,37.15,11.10,30.23
2019-07-15,16.80,21.08,35.78,NaN,49.36,11.57,43.63,22.56,25.16,26.66,...,11.23,15.47,18.64,8.13,41.21,22.73,7.03,37.91,10.77,30.68
2019-07-16,16.66,21.05,34.52,NaN,50.00,11.94,43.70,22.36,25.17,26.67,...,11.29,15.52,18.30,8.20,41.49,22.58,7.13,38.26,10.82,29.94
2019-07-17,16.56,21.56,35.53,NaN,49.64,12.02,43.71,22.44,25.04,27.01,...,11.16,15.59,18.39,8.18,41.21,23.00,7.31,38.66,10.83,30.59

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-18,16.96,10.04,27.54,NaN,23.90,6.59,25.57,14.16,15.81,18.58,...,11.85,9.44,19.08,7.23,39.24,15.16,5.89,29.52,8.73,21.41
2018-07-19,17.06,9.91,28.60,NaN,23.75,6.56,25.34,14.11,16.01,18.39,...,12.07,9.40,18.92,7.18,37.70,14.81,5.86,29.40,8.88,22.00
2018-07-20,16.98,10.11,29.66,NaN,24.17,6.60,26.68,14.79,16.57,18.12,...,11.67,9.59,19.14,7.59,37.15,15.97,5.80,29.48,8.82,23.63
2018-07-23,16.86,10.02,28.62,NaN,24.63,6.53,26.51,14.71,16.38,18.14,...,11.23,9.61,18.49,7.58,37.83,16.22,5.90,28.87,8.94,23.40
2018-07-24,17.15,10.19,28.37,NaN,24.74,6.60,26.72,15.06,16.62,18.12,...,11.44,9.70,19.35,7.75,39.13,16.43,6.75,29.16,9.02,23.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-12,16.76,21.46,36.85,NaN,49.09,11.56,43.89,22.55,25.27,26.70,...,10.98,15.64,18.56,8.23,40.52,23.03,6.52,37.15,11.10,30.23
2019-07-15,16.80,21.08,35.78,NaN,49.36,11.57,43.63,22.56,25.16,26.66,...,11.23,15.47,18.64,8.13,41.21,22.73,7.03,37.91,10.77,30.68
2019-07-16,16.66,21.05,34.52,NaN,50.00,11.94,43.70,22.36,25.17,26.67,...,11.29,15.52,18.30,8.20,41.49,22.58,7.13,38.26,10.82,29.94
2019-07-17,16.56,21.56,35.53,NaN,49.64,12.02,43.71,22.44,25.04,27.01,...,11.16,15.59,18.39,8.18,41.21,23.00,7.31,38.66,10.83,30.59
2019-07-18,16.80,21.59,35.57,NaN,49.85,11.95,44.45,22.85,25.58,26.84,...,11.20,15.36,18.88,8.18,41.13,23.12,7.38,37.91,10.94,32.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-19,17.06,9.91,28.60,NaN,23.75,6.56,25.34,14.11,16.01,18.39,...,12.07,9.40,18.92,7.18,37.70,14.81,5.86,29.40,8.88,22.00
2018-07-20,16.98,10.11,29.66,NaN,24.17,6.60,26.68,14.79,16.57,18.12,...,11.67,9.59,19.14,7.59,37.15,15.97,5.80,29.48,8.82,23.63
2018-07-23,16.86,10.02,28.62,NaN,24.63,6.53,26.51,14.71,16.38,18.14,...,11.23,9.61,18.49,7.58,37.83,16.22,5.90,28.87,8.94,23.40
2018-07-24,17.15,10.19,28.37,NaN,24.74,6.60,26.72,15.06,16.62,18.12,...,11.44,9.70,19.35,7.75,39.13,16.43,6.75,29.16,9.02,23.46
2018-07-25,17.08,10.33,28.52,NaN,25.75,6.75,27.15,15.43,16.93,18.27,...,11.68,10.01,19.89,7.95,39.47,16.87,6.94,28.90,8.97,23.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-15,16.80,21.08,35.78,NaN,49.36,11.57,43.63,22.56,25.16,26.66,...,11.23,15.47,18.64,8.13,41.21,22.73,7.03,37.91,10.77,30.68
2019-07-16,16.66,21.05,34.52,NaN,50.00,11.94,43.70,22.36,25.17,26.67,...,11.29,15.52,18.30,8.20,41.49,22.58,7.13,38.26,10.82,29.94
2019-07-17,16.56,21.56,35.53,NaN,49.64,12.02,43.71,22.44,25.04,27.01,...,11.16,15.59,18.39,8.18,41.21,23.00,7.31,38.66,10.83,30.59
2019-07-18,16.80,21.59,35.57,NaN,49.85,11.95,44.45,22.85,25.58,26.84,...,11.20,15.36,18.88,8.18,41.13,23.12,7.38,37.91,10.94,32.26
2019-07-19,16.65,21.43,34.67,NaN,49.70,11.76,43.89,22.56,25.00,26.12,...,11.07,15.52,18.30,8.18,41.24,22.90,7.15,37.60,10.96,31.66

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-20,16.98,10.11,29.66,NaN,24.17,6.60,26.68,14.79,16.57,18.12,...,11.67,9.59,19.14,7.59,37.15,15.97,5.80,29.48,8.82,23.63
2018-07-23,16.86,10.02,28.62,NaN,24.63,6.53,26.51,14.71,16.38,18.14,...,11.23,9.61,18.49,7.58,37.83,16.22,5.90,28.87,8.94,23.40
2018-07-24,17.15,10.19,28.37,NaN,24.74,6.60,26.72,15.06,16.62,18.12,...,11.44,9.70,19.35,7.75,39.13,16.43,6.75,29.16,9.02,23.46
2018-07-25,17.08,10.33,28.52,NaN,25.75,6.75,27.15,15.43,16.93,18.27,...,11.68,10.01,19.89,7.95,39.47,16.87,6.94,28.90,8.97,23.62
2018-07-26,17.98,10.33,28.28,NaN,25.46,6.69,26.26,14.90,16.49,17.76,...,11.26,9.82,19.12,7.84,40.25,16.06,6.60,28.14,8.82,23.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-16,16.66,21.05,34.52,NaN,50.00,11.94,43.70,22.36,25.17,26.67,...,11.29,15.52,18.30,8.20,41.49,22.58,7.13,38.26,10.82,29.94
2019-07-17,16.56,21.56,35.53,NaN,49.64,12.02,43.71,22.44,25.04,27.01,...,11.16,15.59,18.39,8.18,41.21,23.00,7.31,38.66,10.83,30.59
2019-07-18,16.80,21.59,35.57,NaN,49.85,11.95,44.45,22.85,25.58,26.84,...,11.20,15.36,18.88,8.18,41.13,23.12,7.38,37.91,10.94,32.26
2019-07-19,16.65,21.43,34.67,NaN,49.70,11.76,43.89,22.56,25.00,26.12,...,11.07,15.52,18.30,8.18,41.24,22.90,7.15,37.60,10.96,31.66
2019-07-22,16.56,20.87,34.44,NaN,49.90,12.04,43.90,22.80,25.35,26.46,...,11.03,15.56,17.54,8.02,41.02,22.25,7.05,37.53,10.86,32.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-23,16.86,10.02,28.62,NaN,24.63,6.53,26.51,14.71,16.38,18.14,...,11.23,9.61,18.49,7.58,37.83,16.22,5.90,28.87,8.94,23.40
2018-07-24,17.15,10.19,28.37,NaN,24.74,6.60,26.72,15.06,16.62,18.12,...,11.44,9.70,19.35,7.75,39.13,16.43,6.75,29.16,9.02,23.46
2018-07-25,17.08,10.33,28.52,NaN,25.75,6.75,27.15,15.43,16.93,18.27,...,11.68,10.01,19.89,7.95,39.47,16.87,6.94,28.90,8.97,23.62
2018-07-26,17.98,10.33,28.28,NaN,25.46,6.69,26.26,14.90,16.49,17.76,...,11.26,9.82,19.12,7.84,40.25,16.06,6.60,28.14,8.82,23.84
2018-07-27,17.90,10.19,27.54,NaN,25.28,6.72,26.59,15.01,16.68,17.79,...,11.18,9.82,19.33,7.86,40.76,16.39,6.60,28.25,8.76,23.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-17,16.56,21.56,35.53,NaN,49.64,12.02,43.71,22.44,25.04,27.01,...,11.16,15.59,18.39,8.18,41.21,23.00,7.31,38.66,10.83,30.59
2019-07-18,16.80,21.59,35.57,NaN,49.85,11.95,44.45,22.85,25.58,26.84,...,11.20,15.36,18.88,8.18,41.13,23.12,7.38,37.91,10.94,32.26
2019-07-19,16.65,21.43,34.67,NaN,49.70,11.76,43.89,22.56,25.00,26.12,...,11.07,15.52,18.30,8.18,41.24,22.90,7.15,37.60,10.96,31.66
2019-07-22,16.56,20.87,34.44,NaN,49.90,12.04,43.90,22.80,25.35,26.46,...,11.03,15.56,17.54,8.02,41.02,22.25,7.05,37.53,10.86,32.14
2019-07-23,16.60,20.97,33.74,NaN,49.03,11.86,43.39,22.81,25.44,26.26,...,11.05,15.60,17.99,7.94,40.48,22.69,6.92,38.45,10.86,32.95

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-24,17.15,10.19,28.37,NaN,24.74,6.60,26.72,15.06,16.62,18.12,...,11.44,9.70,19.35,7.75,39.13,16.43,6.75,29.16,9.02,23.46
2018-07-25,17.08,10.33,28.52,NaN,25.75,6.75,27.15,15.43,16.93,18.27,...,11.68,10.01,19.89,7.95,39.47,16.87,6.94,28.90,8.97,23.62
2018-07-26,17.98,10.33,28.28,NaN,25.46,6.69,26.26,14.90,16.49,17.76,...,11.26,9.82,19.12,7.84,40.25,16.06,6.60,28.14,8.82,23.84
2018-07-27,17.90,10.19,27.54,NaN,25.28,6.72,26.59,15.01,16.68,17.79,...,11.18,9.82,19.33,7.86,40.76,16.39,6.60,28.25,8.76,23.60
2018-07-30,17.81,10.22,27.51,NaN,24.31,6.74,26.60,15.27,16.80,17.75,...,11.23,9.91,19.55,7.87,41.43,16.14,7.08,27.51,8.83,23.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-18,16.80,21.59,35.57,NaN,49.85,11.95,44.45,22.85,25.58,26.84,...,11.20,15.36,18.88,8.18,41.13,23.12,7.38,37.91,10.94,32.26
2019-07-19,16.65,21.43,34.67,NaN,49.70,11.76,43.89,22.56,25.00,26.12,...,11.07,15.52,18.30,8.18,41.24,22.90,7.15,37.60,10.96,31.66
2019-07-22,16.56,20.87,34.44,NaN,49.90,12.04,43.90,22.80,25.35,26.46,...,11.03,15.56,17.54,8.02,41.02,22.25,7.05,37.53,10.86,32.14
2019-07-23,16.60,20.97,33.74,NaN,49.03,11.86,43.39,22.81,25.44,26.26,...,11.05,15.60,17.99,7.94,40.48,22.69,6.92,38.45,10.86,32.95
2019-07-24,16.54,20.75,34.55,NaN,49.45,12.38,44.17,23.23,25.91,25.98,...,11.11,15.74,18.81,7.83,39.62,22.96,7.32,37.63,11.06,32.94

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-25,17.08,10.33,28.52,NaN,25.75,6.75,27.15,15.43,16.93,18.27,...,11.68,10.01,19.89,7.95,39.47,16.87,6.94,28.90,8.97,23.62
2018-07-26,17.98,10.33,28.28,NaN,25.46,6.69,26.26,14.90,16.49,17.76,...,11.26,9.82,19.12,7.84,40.25,16.06,6.60,28.14,8.82,23.84
2018-07-27,17.90,10.19,27.54,NaN,25.28,6.72,26.59,15.01,16.68,17.79,...,11.18,9.82,19.33,7.86,40.76,16.39,6.60,28.25,8.76,23.60
2018-07-30,17.81,10.22,27.51,NaN,24.31,6.74,26.60,15.27,16.80,17.75,...,11.23,9.91,19.55,7.87,41.43,16.14,7.08,27.51,8.83,23.59
2018-07-31,17.54,10.02,27.12,NaN,24.12,6.76,26.28,14.99,16.48,17.61,...,11.08,9.47,17.97,7.62,41.82,15.19,7.15,27.26,8.79,23.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-19,16.65,21.43,34.67,NaN,49.70,11.76,43.89,22.56,25.00,26.12,...,11.07,15.52,18.30,8.18,41.24,22.90,7.15,37.60,10.96,31.66
2019-07-22,16.56,20.87,34.44,NaN,49.90,12.04,43.90,22.80,25.35,26.46,...,11.03,15.56,17.54,8.02,41.02,22.25,7.05,37.53,10.86,32.14
2019-07-23,16.60,20.97,33.74,NaN,49.03,11.86,43.39,22.81,25.44,26.26,...,11.05,15.60,17.99,7.94,40.48,22.69,6.92,38.45,10.86,32.95
2019-07-24,16.54,20.75,34.55,NaN,49.45,12.38,44.17,23.23,25.91,25.98,...,11.11,15.74,18.81,7.83,39.62,22.96,7.32,37.63,11.06,32.94
2019-07-25,17.94,20.38,34.20,NaN,50.89,12.20,42.31,22.09,24.40,25.95,...,10.80,15.64,18.64,7.59,39.49,22.99,7.10,37.26,10.96,32.55

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-26,17.98,10.33,28.28,NaN,25.46,6.69,26.26,14.90,16.49,17.76,...,11.26,9.82,19.12,7.84,40.25,16.06,6.60,28.14,8.82,23.84
2018-07-27,17.90,10.19,27.54,NaN,25.28,6.72,26.59,15.01,16.68,17.79,...,11.18,9.82,19.33,7.86,40.76,16.39,6.60,28.25,8.76,23.60
2018-07-30,17.81,10.22,27.51,NaN,24.31,6.74,26.60,15.27,16.80,17.75,...,11.23,9.91,19.55,7.87,41.43,16.14,7.08,27.51,8.83,23.59
2018-07-31,17.54,10.02,27.12,NaN,24.12,6.76,26.28,14.99,16.48,17.61,...,11.08,9.47,17.97,7.62,41.82,15.19,7.15,27.26,8.79,23.20
2018-08-01,17.58,10.18,27.80,NaN,23.88,6.72,26.66,15.22,16.69,17.86,...,11.20,9.56,17.55,7.55,40.46,15.05,7.39,27.74,8.69,23.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-22,16.56,20.87,34.44,NaN,49.90,12.04,43.90,22.80,25.35,26.46,...,11.03,15.56,17.54,8.02,41.02,22.25,7.05,37.53,10.86,32.14
2019-07-23,16.60,20.97,33.74,NaN,49.03,11.86,43.39,22.81,25.44,26.26,...,11.05,15.60,17.99,7.94,40.48,22.69,6.92,38.45,10.86,32.95
2019-07-24,16.54,20.75,34.55,NaN,49.45,12.38,44.17,23.23,25.91,25.98,...,11.11,15.74,18.81,7.83,39.62,22.96,7.32,37.63,11.06,32.94
2019-07-25,17.94,20.38,34.20,NaN,50.89,12.20,42.31,22.09,24.40,25.95,...,10.80,15.64,18.64,7.59,39.49,22.99,7.10,37.26,10.96,32.55
2019-07-26,18.23,20.43,34.80,NaN,51.89,12.27,42.21,21.73,24.09,26.04,...,10.92,15.75,18.24,7.70,39.29,23.59,7.34,37.05,11.23,33.69

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-27,17.90,10.19,27.54,NaN,25.28,6.72,26.59,15.01,16.68,17.79,...,11.18,9.82,19.33,7.86,40.76,16.39,6.60,28.25,8.76,23.60
2018-07-30,17.81,10.22,27.51,NaN,24.31,6.74,26.60,15.27,16.80,17.75,...,11.23,9.91,19.55,7.87,41.43,16.14,7.08,27.51,8.83,23.59
2018-07-31,17.54,10.02,27.12,NaN,24.12,6.76,26.28,14.99,16.48,17.61,...,11.08,9.47,17.97,7.62,41.82,15.19,7.15,27.26,8.79,23.20
2018-08-01,17.58,10.18,27.80,NaN,23.88,6.72,26.66,15.22,16.69,17.86,...,11.20,9.56,17.55,7.55,40.46,15.05,7.39,27.74,8.69,23.73
2018-08-02,17.43,10.10,28.76,NaN,23.74,6.84,26.87,15.16,16.70,17.90,...,11.17,9.31,18.88,7.70,40.30,15.21,7.40,27.73,8.53,23.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-23,16.60,20.97,33.74,NaN,49.03,11.86,43.39,22.81,25.44,26.26,...,11.05,15.60,17.99,7.94,40.48,22.69,6.92,38.45,10.86,32.95
2019-07-24,16.54,20.75,34.55,NaN,49.45,12.38,44.17,23.23,25.91,25.98,...,11.11,15.74,18.81,7.83,39.62,22.96,7.32,37.63,11.06,32.94
2019-07-25,17.94,20.38,34.20,NaN,50.89,12.20,42.31,22.09,24.40,25.95,...,10.80,15.64,18.64,7.59,39.49,22.99,7.10,37.26,10.96,32.55
2019-07-26,18.23,20.43,34.80,NaN,51.89,12.27,42.21,21.73,24.09,26.04,...,10.92,15.75,18.24,7.70,39.29,23.59,7.34,37.05,11.23,33.69
2019-07-29,18.87,20.36,35.60,NaN,52.92,12.41,42.58,21.73,24.04,26.05,...,10.91,15.84,18.12,7.72,39.31,23.30,7.68,36.69,11.38,33.37

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-30,17.81,10.22,27.51,NaN,24.31,6.74,26.60,15.27,16.80,17.75,...,11.23,9.91,19.55,7.87,41.43,16.14,7.08,27.51,8.83,23.59
2018-07-31,17.54,10.02,27.12,NaN,24.12,6.76,26.28,14.99,16.48,17.61,...,11.08,9.47,17.97,7.62,41.82,15.19,7.15,27.26,8.79,23.20
2018-08-01,17.58,10.18,27.80,NaN,23.88,6.72,26.66,15.22,16.69,17.86,...,11.20,9.56,17.55,7.55,40.46,15.05,7.39,27.74,8.69,23.73
2018-08-02,17.43,10.10,28.76,NaN,23.74,6.84,26.87,15.16,16.70,17.90,...,11.17,9.31,18.88,7.70,40.30,15.21,7.40,27.73,8.53,23.64
2018-08-03,17.44,10.18,30.64,NaN,24.56,7.08,27.68,15.45,17.33,18.26,...,10.99,9.26,19.97,7.78,41.07,15.63,7.79,27.54,8.61,24.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-24,16.54,20.75,34.55,NaN,49.45,12.38,44.17,23.23,25.91,25.98,...,11.11,15.74,18.81,7.83,39.62,22.96,7.32,37.63,11.06,32.94
2019-07-25,17.94,20.38,34.20,NaN,50.89,12.20,42.31,22.09,24.40,25.95,...,10.80,15.64,18.64,7.59,39.49,22.99,7.10,37.26,10.96,32.55
2019-07-26,18.23,20.43,34.80,NaN,51.89,12.27,42.21,21.73,24.09,26.04,...,10.92,15.75,18.24,7.70,39.29,23.59,7.34,37.05,11.23,33.69
2019-07-29,18.87,20.36,35.60,NaN,52.92,12.41,42.58,21.73,24.04,26.05,...,10.91,15.84,18.12,7.72,39.31,23.30,7.68,36.69,11.38,33.37
2019-07-30,18.73,20.80,35.26,NaN,53.01,12.56,42.15,21.35,23.54,25.98,...,10.90,15.67,18.26,7.70,39.12,23.03,7.62,36.63,11.58,32.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-31,17.54,10.02,27.12,NaN,24.12,6.76,26.28,14.99,16.48,17.61,...,11.08,9.47,17.97,7.62,41.82,15.19,7.15,27.26,8.79,23.20
2018-08-01,17.58,10.18,27.80,NaN,23.88,6.72,26.66,15.22,16.69,17.86,...,11.20,9.56,17.55,7.55,40.46,15.05,7.39,27.74,8.69,23.73
2018-08-02,17.43,10.10,28.76,NaN,23.74,6.84,26.87,15.16,16.70,17.90,...,11.17,9.31,18.88,7.70,40.30,15.21,7.40,27.73,8.53,23.64
2018-08-03,17.44,10.18,30.64,NaN,24.56,7.08,27.68,15.45,17.33,18.26,...,10.99,9.26,19.97,7.78,41.07,15.63,7.79,27.54,8.61,24.36
2018-08-06,17.44,10.26,31.27,NaN,24.33,7.02,27.74,15.28,17.21,17.97,...,10.95,9.12,19.65,7.59,40.96,15.64,8.12,28.24,8.66,24.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-25,17.94,20.38,34.20,NaN,50.89,12.20,42.31,22.09,24.40,25.95,...,10.80,15.64,18.64,7.59,39.49,22.99,7.10,37.26,10.96,32.55
2019-07-26,18.23,20.43,34.80,NaN,51.89,12.27,42.21,21.73,24.09,26.04,...,10.92,15.75,18.24,7.70,39.29,23.59,7.34,37.05,11.23,33.69
2019-07-29,18.87,20.36,35.60,NaN,52.92,12.41,42.58,21.73,24.04,26.05,...,10.91,15.84,18.12,7.72,39.31,23.30,7.68,36.69,11.38,33.37
2019-07-30,18.73,20.80,35.26,NaN,53.01,12.56,42.15,21.35,23.54,25.98,...,10.90,15.67,18.26,7.70,39.12,23.03,7.62,36.63,11.58,32.79
2019-07-31,18.53,20.51,36.56,NaN,51.78,12.28,41.55,20.63,22.94,25.92,...,11.09,15.72,18.03,7.64,38.96,23.21,7.72,37.29,11.50,32.89

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-01,17.58,10.18,27.80,NaN,23.88,6.72,26.66,15.22,16.69,17.86,...,11.20,9.56,17.55,7.55,40.46,15.05,7.39,27.74,8.69,23.73
2018-08-02,17.43,10.10,28.76,NaN,23.74,6.84,26.87,15.16,16.70,17.90,...,11.17,9.31,18.88,7.70,40.30,15.21,7.40,27.73,8.53,23.64
2018-08-03,17.44,10.18,30.64,NaN,24.56,7.08,27.68,15.45,17.33,18.26,...,10.99,9.26,19.97,7.78,41.07,15.63,7.79,27.54,8.61,24.36
2018-08-06,17.44,10.26,31.27,NaN,24.33,7.02,27.74,15.28,17.21,17.97,...,10.95,9.12,19.65,7.59,40.96,15.64,8.12,28.24,8.66,24.54
2018-08-07,17.33,10.22,30.86,NaN,24.42,6.81,27.15,14.95,16.96,17.76,...,10.65,9.01,20.17,7.50,41.23,15.55,8.00,27.37,8.80,24.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-26,18.23,20.43,34.80,NaN,51.89,12.27,42.21,21.73,24.09,26.04,...,10.92,15.75,18.24,7.70,39.29,23.59,7.34,37.05,11.23,33.69
2019-07-29,18.87,20.36,35.60,NaN,52.92,12.41,42.58,21.73,24.04,26.05,...,10.91,15.84,18.12,7.72,39.31,23.30,7.68,36.69,11.38,33.37
2019-07-30,18.73,20.80,35.26,NaN,53.01,12.56,42.15,21.35,23.54,25.98,...,10.90,15.67,18.26,7.70,39.12,23.03,7.62,36.63,11.58,32.79
2019-07-31,18.53,20.51,36.56,NaN,51.78,12.28,41.55,20.63,22.94,25.92,...,11.09,15.72,18.03,7.64,38.96,23.21,7.72,37.29,11.50,32.89
2019-08-01,18.80,20.85,36.66,NaN,54.13,12.47,41.15,20.45,22.74,25.70,...,11.13,15.93,18.03,7.42,37.86,23.64,8.20,37.30,11.31,33.94

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-02,17.43,10.10,28.76,NaN,23.74,6.84,26.87,15.16,16.70,17.90,...,11.17,9.31,18.88,7.70,40.30,15.21,7.40,27.73,8.53,23.64
2018-08-03,17.44,10.18,30.64,NaN,24.56,7.08,27.68,15.45,17.33,18.26,...,10.99,9.26,19.97,7.78,41.07,15.63,7.79,27.54,8.61,24.36
2018-08-06,17.44,10.26,31.27,NaN,24.33,7.02,27.74,15.28,17.21,17.97,...,10.95,9.12,19.65,7.59,40.96,15.64,8.12,28.24,8.66,24.54
2018-08-07,17.33,10.22,30.86,NaN,24.42,6.81,27.15,14.95,16.96,17.76,...,10.65,9.01,20.17,7.50,41.23,15.55,8.00,27.37,8.80,24.09
2018-08-08,17.32,10.16,29.68,NaN,23.37,6.65,26.39,14.67,16.55,17.72,...,10.45,8.99,19.86,7.56,40.96,15.24,7.40,27.13,8.61,23.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-29,18.87,20.36,35.60,NaN,52.92,12.41,42.58,21.73,24.04,26.05,...,10.91,15.84,18.12,7.72,39.31,23.30,7.68,36.69,11.38,33.37
2019-07-30,18.73,20.80,35.26,NaN,53.01,12.56,42.15,21.35,23.54,25.98,...,10.90,15.67,18.26,7.70,39.12,23.03,7.62,36.63,11.58,32.79
2019-07-31,18.53,20.51,36.56,NaN,51.78,12.28,41.55,20.63,22.94,25.92,...,11.09,15.72,18.03,7.64,38.96,23.21,7.72,37.29,11.50,32.89
2019-08-01,18.80,20.85,36.66,NaN,54.13,12.47,41.15,20.45,22.74,25.70,...,11.13,15.93,18.03,7.42,37.86,23.64,8.20,37.30,11.31,33.94
2019-08-02,18.86,20.80,36.95,NaN,53.60,12.55,41.16,20.40,22.81,25.88,...,11.42,15.88,18.03,7.42,37.42,23.77,8.19,37.78,11.46,33.23

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-03,17.44,10.18,30.64,NaN,24.56,7.08,27.68,15.45,17.33,18.26,...,10.99,9.26,19.97,7.78,41.07,15.63,7.79,27.54,8.61,24.36
2018-08-06,17.44,10.26,31.27,NaN,24.33,7.02,27.74,15.28,17.21,17.97,...,10.95,9.12,19.65,7.59,40.96,15.64,8.12,28.24,8.66,24.54
2018-08-07,17.33,10.22,30.86,NaN,24.42,6.81,27.15,14.95,16.96,17.76,...,10.65,9.01,20.17,7.50,41.23,15.55,8.00,27.37,8.80,24.09
2018-08-08,17.32,10.16,29.68,NaN,23.37,6.65,26.39,14.67,16.55,17.72,...,10.45,8.99,19.86,7.56,40.96,15.24,7.40,27.13,8.61,23.24
2018-08-09,17.42,9.78,28.91,NaN,24.01,6.60,27.17,14.43,16.38,17.63,...,10.46,9.07,19.31,7.33,40.52,15.14,7.07,27.33,8.57,22.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-30,18.73,20.80,35.26,NaN,53.01,12.56,42.15,21.35,23.54,25.98,...,10.90,15.67,18.26,7.70,39.12,23.03,7.62,36.63,11.58,32.79
2019-07-31,18.53,20.51,36.56,NaN,51.78,12.28,41.55,20.63,22.94,25.92,...,11.09,15.72,18.03,7.64,38.96,23.21,7.72,37.29,11.50,32.89
2019-08-01,18.80,20.85,36.66,NaN,54.13,12.47,41.15,20.45,22.74,25.70,...,11.13,15.93,18.03,7.42,37.86,23.64,8.20,37.30,11.31,33.94
2019-08-02,18.86,20.80,36.95,NaN,53.60,12.55,41.16,20.40,22.81,25.88,...,11.42,15.88,18.03,7.42,37.42,23.77,8.19,37.78,11.46,33.23
2019-08-05,18.56,20.56,35.16,NaN,51.65,12.07,40.39,19.97,22.39,25.23,...,11.10,15.75,17.26,7.17,35.98,23.46,7.92,36.47,11.24,32.33

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-06,17.44,10.26,31.27,NaN,24.33,7.02,27.74,15.28,17.21,17.97,...,10.95,9.12,19.65,7.59,40.96,15.64,8.12,28.24,8.66,24.54
2018-08-07,17.33,10.22,30.86,NaN,24.42,6.81,27.15,14.95,16.96,17.76,...,10.65,9.01,20.17,7.50,41.23,15.55,8.00,27.37,8.80,24.09
2018-08-08,17.32,10.16,29.68,NaN,23.37,6.65,26.39,14.67,16.55,17.72,...,10.45,8.99,19.86,7.56,40.96,15.24,7.40,27.13,8.61,23.24
2018-08-09,17.42,9.78,28.91,NaN,24.01,6.60,27.17,14.43,16.38,17.63,...,10.46,9.07,19.31,7.33,40.52,15.14,7.07,27.33,8.57,22.30
2018-08-10,17.09,9.53,26.31,NaN,23.09,6.47,25.67,13.68,15.56,17.16,...,10.14,8.93,18.31,6.80,40.42,14.47,6.68,26.77,8.23,21.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-07-31,18.53,20.51,36.56,NaN,51.78,12.28,41.55,20.63,22.94,25.92,...,11.09,15.72,18.03,7.64,38.96,23.21,7.72,37.29,11.50,32.89
2019-08-01,18.80,20.85,36.66,NaN,54.13,12.47,41.15,20.45,22.74,25.70,...,11.13,15.93,18.03,7.42,37.86,23.64,8.20,37.30,11.31,33.94
2019-08-02,18.86,20.80,36.95,NaN,53.60,12.55,41.16,20.40,22.81,25.88,...,11.42,15.88,18.03,7.42,37.42,23.77,8.19,37.78,11.46,33.23
2019-08-05,18.56,20.56,35.16,NaN,51.65,12.07,40.39,19.97,22.39,25.23,...,11.10,15.75,17.26,7.17,35.98,23.46,7.92,36.47,11.24,32.33
2019-08-06,18.86,20.93,35.76,NaN,52.97,12.46,40.94,20.47,22.73,25.85,...,11.34,15.87,17.49,7.13,36.46,23.64,8.18,36.96,11.53,33.75

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-07,17.33,10.22,30.86,NaN,24.42,6.81,27.15,14.95,16.96,17.76,...,10.65,9.01,20.17,7.50,41.23,15.55,8.00,27.37,8.80,24.09
2018-08-08,17.32,10.16,29.68,NaN,23.37,6.65,26.39,14.67,16.55,17.72,...,10.45,8.99,19.86,7.56,40.96,15.24,7.40,27.13,8.61,23.24
2018-08-09,17.42,9.78,28.91,NaN,24.01,6.60,27.17,14.43,16.38,17.63,...,10.46,9.07,19.31,7.33,40.52,15.14,7.07,27.33,8.57,22.30
2018-08-10,17.09,9.53,26.31,NaN,23.09,6.47,25.67,13.68,15.56,17.16,...,10.14,8.93,18.31,6.80,40.42,14.47,6.68,26.77,8.23,21.64
2018-08-13,17.30,9.56,27.42,NaN,23.35,6.50,25.79,14.01,15.86,17.68,...,10.16,8.95,18.67,6.96,40.86,14.55,6.61,27.26,8.37,22.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-01,18.80,20.85,36.66,NaN,54.13,12.47,41.15,20.45,22.74,25.70,...,11.13,15.93,18.03,7.42,37.86,23.64,8.20,37.30,11.31,33.94
2019-08-02,18.86,20.80,36.95,NaN,53.60,12.55,41.16,20.40,22.81,25.88,...,11.42,15.88,18.03,7.42,37.42,23.77,8.19,37.78,11.46,33.23
2019-08-05,18.56,20.56,35.16,NaN,51.65,12.07,40.39,19.97,22.39,25.23,...,11.10,15.75,17.26,7.17,35.98,23.46,7.92,36.47,11.24,32.33
2019-08-06,18.86,20.93,35.76,NaN,52.97,12.46,40.94,20.47,22.73,25.85,...,11.34,15.87,17.49,7.13,36.46,23.64,8.18,36.96,11.53,33.75
2019-08-07,18.99,21.15,34.06,NaN,53.12,12.65,40.90,20.76,23.21,26.38,...,11.48,16.07,17.26,6.96,36.35,23.40,8.44,37.49,11.73,33.13

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-08,17.32,10.16,29.68,NaN,23.37,6.65,26.39,14.67,16.55,17.72,...,10.45,8.99,19.86,7.56,40.96,15.24,7.40,27.13,8.61,23.24
2018-08-09,17.42,9.78,28.91,NaN,24.01,6.60,27.17,14.43,16.38,17.63,...,10.46,9.07,19.31,7.33,40.52,15.14,7.07,27.33,8.57,22.30
2018-08-10,17.09,9.53,26.31,NaN,23.09,6.47,25.67,13.68,15.56,17.16,...,10.14,8.93,18.31,6.80,40.42,14.47,6.68,26.77,8.23,21.64
2018-08-13,17.30,9.56,27.42,NaN,23.35,6.50,25.79,14.01,15.86,17.68,...,10.16,8.95,18.67,6.96,40.86,14.55,6.61,27.26,8.37,22.01
2018-08-14,17.54,9.98,29.00,NaN,24.11,6.62,26.68,14.21,16.13,18.12,...,10.47,9.11,19.59,7.10,41.24,15.25,7.08,27.35,8.34,22.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-02,18.86,20.80,36.95,NaN,53.60,12.55,41.16,20.40,22.81,25.88,...,11.42,15.88,18.03,7.42,37.42,23.77,8.19,37.78,11.46,33.23
2019-08-05,18.56,20.56,35.16,NaN,51.65,12.07,40.39,19.97,22.39,25.23,...,11.10,15.75,17.26,7.17,35.98,23.46,7.92,36.47,11.24,32.33
2019-08-06,18.86,20.93,35.76,NaN,52.97,12.46,40.94,20.47,22.73,25.85,...,11.34,15.87,17.49,7.13,36.46,23.64,8.18,36.96,11.53,33.75
2019-08-07,18.99,21.15,34.06,NaN,53.12,12.65,40.90,20.76,23.21,26.38,...,11.48,16.07,17.26,6.96,36.35,23.40,8.44,37.49,11.73,33.13
2019-08-08,18.57,21.91,36.05,NaN,54.55,13.20,41.19,20.88,23.33,27.51,...,11.43,17.34,17.56,7.24,36.90,23.59,8.53,37.79,11.79,33.13

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-09,17.42,9.78,28.91,NaN,24.01,6.60,27.17,14.43,16.38,17.63,...,10.46,9.07,19.31,7.33,40.52,15.14,7.07,27.33,8.57,22.30
2018-08-10,17.09,9.53,26.31,NaN,23.09,6.47,25.67,13.68,15.56,17.16,...,10.14,8.93,18.31,6.80,40.42,14.47,6.68,26.77,8.23,21.64
2018-08-13,17.30,9.56,27.42,NaN,23.35,6.50,25.79,14.01,15.86,17.68,...,10.16,8.95,18.67,6.96,40.86,14.55,6.61,27.26,8.37,22.01
2018-08-14,17.54,9.98,29.00,NaN,24.11,6.62,26.68,14.21,16.13,18.12,...,10.47,9.11,19.59,7.10,41.24,15.25,7.08,27.35,8.34,22.63
2018-08-15,17.55,9.74,27.76,NaN,24.30,6.58,26.12,14.12,15.94,18.90,...,10.33,9.06,19.01,6.81,39.40,14.75,6.70,27.14,8.37,21.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-05,18.56,20.56,35.16,NaN,51.65,12.07,40.39,19.97,22.39,25.23,...,11.10,15.75,17.26,7.17,35.98,23.46,7.92,36.47,11.24,32.33
2019-08-06,18.86,20.93,35.76,NaN,52.97,12.46,40.94,20.47,22.73,25.85,...,11.34,15.87,17.49,7.13,36.46,23.64,8.18,36.96,11.53,33.75
2019-08-07,18.99,21.15,34.06,NaN,53.12,12.65,40.90,20.76,23.21,26.38,...,11.48,16.07,17.26,6.96,36.35,23.40,8.44,37.49,11.73,33.13
2019-08-08,18.57,21.91,36.05,NaN,54.55,13.20,41.19,20.88,23.33,27.51,...,11.43,17.34,17.56,7.24,36.90,23.59,8.53,37.79,11.79,33.13
2019-08-09,18.48,22.93,42.45,NaN,55.47,13.25,41.07,20.45,22.94,28.32,...,11.20,18.27,17.55,7.07,35.58,23.85,8.53,37.15,11.67,33.03

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-10,17.09,9.53,26.31,NaN,23.09,6.47,25.67,13.68,15.56,17.16,...,10.14,8.93,18.31,6.80,40.42,14.47,6.68,26.77,8.23,21.64
2018-08-13,17.30,9.56,27.42,NaN,23.35,6.50,25.79,14.01,15.86,17.68,...,10.16,8.95,18.67,6.96,40.86,14.55,6.61,27.26,8.37,22.01
2018-08-14,17.54,9.98,29.00,NaN,24.11,6.62,26.68,14.21,16.13,18.12,...,10.47,9.11,19.59,7.10,41.24,15.25,7.08,27.35,8.34,22.63
2018-08-15,17.55,9.74,27.76,NaN,24.30,6.58,26.12,14.12,15.94,18.90,...,10.33,9.06,19.01,6.81,39.40,14.75,6.70,27.14,8.37,21.05
2018-08-16,17.18,9.71,27.36,NaN,24.86,6.59,26.20,13.88,15.94,19.32,...,10.27,8.94,19.64,6.87,38.86,14.58,6.56,26.77,8.40,20.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-06,18.86,20.93,35.76,NaN,52.97,12.46,40.94,20.47,22.73,25.85,...,11.34,15.87,17.49,7.13,36.46,23.64,8.18,36.96,11.53,33.75
2019-08-07,18.99,21.15,34.06,NaN,53.12,12.65,40.90,20.76,23.21,26.38,...,11.48,16.07,17.26,6.96,36.35,23.40,8.44,37.49,11.73,33.13
2019-08-08,18.57,21.91,36.05,NaN,54.55,13.20,41.19,20.88,23.33,27.51,...,11.43,17.34,17.56,7.24,36.90,23.59,8.53,37.79,11.79,33.13
2019-08-09,18.48,22.93,42.45,NaN,55.47,13.25,41.07,20.45,22.94,28.32,...,11.20,18.27,17.55,7.07,35.58,23.85,8.53,37.15,11.67,33.03
2019-08-12,17.93,23.52,41.58,NaN,54.30,12.88,39.67,19.97,22.46,27.62,...,11.07,17.79,17.24,6.95,35.32,23.77,8.28,37.29,11.46,32.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-13,17.30,9.56,27.42,NaN,23.35,6.50,25.79,14.01,15.86,17.68,...,10.16,8.95,18.67,6.96,40.86,14.55,6.61,27.26,8.37,22.01
2018-08-14,17.54,9.98,29.00,NaN,24.11,6.62,26.68,14.21,16.13,18.12,...,10.47,9.11,19.59,7.10,41.24,15.25,7.08,27.35,8.34,22.63
2018-08-15,17.55,9.74,27.76,NaN,24.30,6.58,26.12,14.12,15.94,18.90,...,10.33,9.06,19.01,6.81,39.40,14.75,6.70,27.14,8.37,21.05
2018-08-16,17.18,9.71,27.36,NaN,24.86,6.59,26.20,13.88,15.94,19.32,...,10.27,8.94,19.64,6.87,38.86,14.58,6.56,26.77,8.40,20.89
2018-08-17,17.34,9.47,26.36,NaN,24.38,6.40,25.28,13.51,15.45,19.24,...,10.31,8.89,19.18,6.82,39.71,14.03,6.35,26.42,8.31,20.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-07,18.99,21.15,34.06,NaN,53.12,12.65,40.90,20.76,23.21,26.38,...,11.48,16.07,17.26,6.96,36.35,23.40,8.44,37.49,11.73,33.13
2019-08-08,18.57,21.91,36.05,NaN,54.55,13.20,41.19,20.88,23.33,27.51,...,11.43,17.34,17.56,7.24,36.90,23.59,8.53,37.79,11.79,33.13
2019-08-09,18.48,22.93,42.45,NaN,55.47,13.25,41.07,20.45,22.94,28.32,...,11.20,18.27,17.55,7.07,35.58,23.85,8.53,37.15,11.67,33.03
2019-08-12,17.93,23.52,41.58,NaN,54.30,12.88,39.67,19.97,22.46,27.62,...,11.07,17.79,17.24,6.95,35.32,23.77,8.28,37.29,11.46,32.14
2019-08-13,17.84,23.91,42.71,NaN,53.55,13.35,40.14,20.21,22.69,27.92,...,11.09,17.78,17.04,7.14,36.37,23.77,8.46,36.62,11.72,32.39

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-14,17.54,9.98,29.00,NaN,24.11,6.62,26.68,14.21,16.13,18.12,...,10.47,9.11,19.59,7.10,41.24,15.25,7.08,27.35,8.34,22.63
2018-08-15,17.55,9.74,27.76,NaN,24.30,6.58,26.12,14.12,15.94,18.90,...,10.33,9.06,19.01,6.81,39.40,14.75,6.70,27.14,8.37,21.05
2018-08-16,17.18,9.71,27.36,NaN,24.86,6.59,26.20,13.88,15.94,19.32,...,10.27,8.94,19.64,6.87,38.86,14.58,6.56,26.77,8.40,20.89
2018-08-17,17.34,9.47,26.36,NaN,24.38,6.40,25.28,13.51,15.45,19.24,...,10.31,8.89,19.18,6.82,39.71,14.03,6.35,26.42,8.31,20.88
2018-08-20,17.31,9.72,27.23,NaN,24.53,6.41,24.61,13.52,15.55,18.96,...,10.64,8.92,19.25,7.19,40.21,14.02,6.53,26.39,8.28,20.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-08,18.57,21.91,36.05,NaN,54.55,13.20,41.19,20.88,23.33,27.51,...,11.43,17.34,17.56,7.24,36.90,23.59,8.53,37.79,11.79,33.13
2019-08-09,18.48,22.93,42.45,NaN,55.47,13.25,41.07,20.45,22.94,28.32,...,11.20,18.27,17.55,7.07,35.58,23.85,8.53,37.15,11.67,33.03
2019-08-12,17.93,23.52,41.58,NaN,54.30,12.88,39.67,19.97,22.46,27.62,...,11.07,17.79,17.24,6.95,35.32,23.77,8.28,37.29,11.46,32.14
2019-08-13,17.84,23.91,42.71,NaN,53.55,13.35,40.14,20.21,22.69,27.92,...,11.09,17.78,17.04,7.14,36.37,23.77,8.46,36.62,11.72,32.39
2019-08-14,17.50,23.71,42.59,NaN,50.97,12.72,38.74,19.68,22.24,27.36,...,10.94,17.72,16.70,6.79,35.10,23.64,8.11,35.80,11.14,30.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-15,17.55,9.74,27.76,NaN,24.30,6.58,26.12,14.12,15.94,18.90,...,10.33,9.06,19.01,6.81,39.40,14.75,6.70,27.14,8.37,21.05
2018-08-16,17.18,9.71,27.36,NaN,24.86,6.59,26.20,13.88,15.94,19.32,...,10.27,8.94,19.64,6.87,38.86,14.58,6.56,26.77,8.40,20.89
2018-08-17,17.34,9.47,26.36,NaN,24.38,6.40,25.28,13.51,15.45,19.24,...,10.31,8.89,19.18,6.82,39.71,14.03,6.35,26.42,8.31,20.88
2018-08-20,17.31,9.72,27.23,NaN,24.53,6.41,24.61,13.52,15.55,18.96,...,10.64,8.92,19.25,7.19,40.21,14.02,6.53,26.39,8.28,20.20
2018-08-21,17.15,9.46,25.25,NaN,23.70,6.30,23.63,13.07,15.17,18.84,...,10.71,8.74,18.65,6.87,40.43,13.78,6.20,26.25,8.31,19.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-09,18.48,22.93,42.45,NaN,55.47,13.25,41.07,20.45,22.94,28.32,...,11.20,18.27,17.55,7.07,35.58,23.85,8.53,37.15,11.67,33.03
2019-08-12,17.93,23.52,41.58,NaN,54.30,12.88,39.67,19.97,22.46,27.62,...,11.07,17.79,17.24,6.95,35.32,23.77,8.28,37.29,11.46,32.14
2019-08-13,17.84,23.91,42.71,NaN,53.55,13.35,40.14,20.21,22.69,27.92,...,11.09,17.78,17.04,7.14,36.37,23.77,8.46,36.62,11.72,32.39
2019-08-14,17.50,23.71,42.59,NaN,50.97,12.72,38.74,19.68,22.24,27.36,...,10.94,17.72,16.70,6.79,35.10,23.64,8.11,35.80,11.14,30.87
2019-08-15,17.29,23.52,40.53,NaN,50.56,12.62,38.70,19.58,22.09,27.13,...,10.71,17.45,15.30,6.49,34.33,23.27,7.69,35.89,10.79,30.30

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-16,17.18,9.71,27.36,NaN,24.86,6.59,26.20,13.88,15.94,19.32,...,10.27,8.94,19.64,6.87,38.86,14.58,6.56,26.77,8.40,20.89
2018-08-17,17.34,9.47,26.36,NaN,24.38,6.40,25.28,13.51,15.45,19.24,...,10.31,8.89,19.18,6.82,39.71,14.03,6.35,26.42,8.31,20.88
2018-08-20,17.31,9.72,27.23,NaN,24.53,6.41,24.61,13.52,15.55,18.96,...,10.64,8.92,19.25,7.19,40.21,14.02,6.53,26.39,8.28,20.20
2018-08-21,17.15,9.46,25.25,NaN,23.70,6.30,23.63,13.07,15.17,18.84,...,10.71,8.74,18.65,6.87,40.43,13.78,6.20,26.25,8.31,19.93
2018-08-22,17.08,9.71,26.70,NaN,22.44,6.37,24.45,13.50,15.55,18.69,...,10.83,8.97,19.27,6.99,41.66,14.20,6.15,26.18,8.48,20.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-12,17.93,23.52,41.58,NaN,54.30,12.88,39.67,19.97,22.46,27.62,...,11.07,17.79,17.24,6.95,35.32,23.77,8.28,37.29,11.46,32.14
2019-08-13,17.84,23.91,42.71,NaN,53.55,13.35,40.14,20.21,22.69,27.92,...,11.09,17.78,17.04,7.14,36.37,23.77,8.46,36.62,11.72,32.39
2019-08-14,17.50,23.71,42.59,NaN,50.97,12.72,38.74,19.68,22.24,27.36,...,10.94,17.72,16.70,6.79,35.10,23.64,8.11,35.80,11.14,30.87
2019-08-15,17.29,23.52,40.53,NaN,50.56,12.62,38.70,19.58,22.09,27.13,...,10.71,17.45,15.30,6.49,34.33,23.27,7.69,35.89,10.79,30.30
2019-08-16,17.40,23.74,40.90,NaN,50.47,12.96,38.60,19.63,22.14,27.24,...,11.08,17.32,14.95,6.37,34.17,24.23,7.12,36.05,11.00,30.12

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-17,17.34,9.47,26.36,NaN,24.38,6.40,25.28,13.51,15.45,19.24,...,10.31,8.89,19.18,6.82,39.71,14.03,6.35,26.42,8.31,20.88
2018-08-20,17.31,9.72,27.23,NaN,24.53,6.41,24.61,13.52,15.55,18.96,...,10.64,8.92,19.25,7.19,40.21,14.02,6.53,26.39,8.28,20.20
2018-08-21,17.15,9.46,25.25,NaN,23.70,6.30,23.63,13.07,15.17,18.84,...,10.71,8.74,18.65,6.87,40.43,13.78,6.20,26.25,8.31,19.93
2018-08-22,17.08,9.71,26.70,NaN,22.44,6.37,24.45,13.50,15.55,18.69,...,10.83,8.97,19.27,6.99,41.66,14.20,6.15,26.18,8.48,20.56
2018-08-23,17.12,9.72,25.68,NaN,22.04,6.00,23.83,13.15,15.16,17.95,...,10.62,8.76,19.29,6.89,41.70,13.89,6.05,26.40,8.49,20.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-13,17.84,23.91,42.71,NaN,53.55,13.35,40.14,20.21,22.69,27.92,...,11.09,17.78,17.04,7.14,36.37,23.77,8.46,36.62,11.72,32.39
2019-08-14,17.50,23.71,42.59,NaN,50.97,12.72,38.74,19.68,22.24,27.36,...,10.94,17.72,16.70,6.79,35.10,23.64,8.11,35.80,11.14,30.87
2019-08-15,17.29,23.52,40.53,NaN,50.56,12.62,38.70,19.58,22.09,27.13,...,10.71,17.45,15.30,6.49,34.33,23.27,7.69,35.89,10.79,30.30
2019-08-16,17.40,23.74,40.90,NaN,50.47,12.96,38.60,19.63,22.14,27.24,...,11.08,17.32,14.95,6.37,34.17,24.23,7.12,36.05,11.00,30.12
2019-08-19,17.59,23.67,40.71,NaN,49.83,13.25,37.84,19.30,21.82,27.17,...,10.98,17.34,14.36,6.16,34.14,24.43,6.73,35.72,10.88,29.99

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-20,17.31,9.72,27.23,NaN,24.53,6.41,24.61,13.52,15.55,18.96,...,10.64,8.92,19.25,7.19,40.21,14.02,6.53,26.39,8.28,20.20
2018-08-21,17.15,9.46,25.25,NaN,23.70,6.30,23.63,13.07,15.17,18.84,...,10.71,8.74,18.65,6.87,40.43,13.78,6.20,26.25,8.31,19.93
2018-08-22,17.08,9.71,26.70,NaN,22.44,6.37,24.45,13.50,15.55,18.69,...,10.83,8.97,19.27,6.99,41.66,14.20,6.15,26.18,8.48,20.56
2018-08-23,17.12,9.72,25.68,NaN,22.04,6.00,23.83,13.15,15.16,17.95,...,10.62,8.76,19.29,6.89,41.70,13.89,6.05,26.40,8.49,20.12
2018-08-24,17.24,9.66,25.24,NaN,21.99,6.00,24.16,13.26,15.29,17.96,...,10.78,8.67,18.98,7.01,42.32,13.75,6.14,26.89,8.39,20.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-14,17.50,23.71,42.59,NaN,50.97,12.72,38.74,19.68,22.24,27.36,...,10.94,17.72,16.70,6.79,35.10,23.64,8.11,35.80,11.14,30.87
2019-08-15,17.29,23.52,40.53,NaN,50.56,12.62,38.70,19.58,22.09,27.13,...,10.71,17.45,15.30,6.49,34.33,23.27,7.69,35.89,10.79,30.30
2019-08-16,17.40,23.74,40.90,NaN,50.47,12.96,38.60,19.63,22.14,27.24,...,11.08,17.32,14.95,6.37,34.17,24.23,7.12,36.05,11.00,30.12
2019-08-19,17.59,23.67,40.71,NaN,49.83,13.25,37.84,19.30,21.82,27.17,...,10.98,17.34,14.36,6.16,34.14,24.43,6.73,35.72,10.88,29.99
2019-08-20,17.44,23.22,41.96,NaN,49.68,13.32,37.81,19.11,21.60,27.11,...,10.86,17.46,14.36,6.34,34.29,24.89,7.06,37.07,10.91,31.36

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-21,17.15,9.46,25.25,NaN,23.70,6.30,23.63,13.07,15.17,18.84,...,10.71,8.74,18.65,6.87,40.43,13.78,6.20,26.25,8.31,19.93
2018-08-22,17.08,9.71,26.70,NaN,22.44,6.37,24.45,13.50,15.55,18.69,...,10.83,8.97,19.27,6.99,41.66,14.20,6.15,26.18,8.48,20.56
2018-08-23,17.12,9.72,25.68,NaN,22.04,6.00,23.83,13.15,15.16,17.95,...,10.62,8.76,19.29,6.89,41.70,13.89,6.05,26.40,8.49,20.12
2018-08-24,17.24,9.66,25.24,NaN,21.99,6.00,24.16,13.26,15.29,17.96,...,10.78,8.67,18.98,7.01,42.32,13.75,6.14,26.89,8.39,20.38
2018-08-27,17.29,9.92,25.96,NaN,22.49,6.18,24.90,13.72,15.70,18.58,...,10.90,8.92,19.47,7.11,43.51,14.35,6.10,26.43,8.55,20.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-15,17.29,23.52,40.53,NaN,50.56,12.62,38.70,19.58,22.09,27.13,...,10.71,17.45,15.30,6.49,34.33,23.27,7.69,35.89,10.79,30.30
2019-08-16,17.40,23.74,40.90,NaN,50.47,12.96,38.60,19.63,22.14,27.24,...,11.08,17.32,14.95,6.37,34.17,24.23,7.12,36.05,11.00,30.12
2019-08-19,17.59,23.67,40.71,NaN,49.83,13.25,37.84,19.30,21.82,27.17,...,10.98,17.34,14.36,6.16,34.14,24.43,6.73,35.72,10.88,29.99
2019-08-20,17.44,23.22,41.96,NaN,49.68,13.32,37.81,19.11,21.60,27.11,...,10.86,17.46,14.36,6.34,34.29,24.89,7.06,37.07,10.91,31.36
2019-08-21,17.31,23.89,42.40,NaN,50.85,13.34,39.97,19.58,22.03,27.28,...,10.97,17.69,15.15,6.48,34.53,25.30,7.18,37.44,11.13,31.50

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-22,17.08,9.71,26.70,NaN,22.44,6.37,24.45,13.50,15.55,18.69,...,10.83,8.97,19.27,6.99,41.66,14.20,6.15,26.18,8.48,20.56
2018-08-23,17.12,9.72,25.68,NaN,22.04,6.00,23.83,13.15,15.16,17.95,...,10.62,8.76,19.29,6.89,41.70,13.89,6.05,26.40,8.49,20.12
2018-08-24,17.24,9.66,25.24,NaN,21.99,6.00,24.16,13.26,15.29,17.96,...,10.78,8.67,18.98,7.01,42.32,13.75,6.14,26.89,8.39,20.38
2018-08-27,17.29,9.92,25.96,NaN,22.49,6.18,24.90,13.72,15.70,18.58,...,10.90,8.92,19.47,7.11,43.51,14.35,6.10,26.43,8.55,20.96
2018-08-28,17.26,10.03,25.15,NaN,22.64,6.16,24.78,13.84,15.61,18.51,...,10.79,8.92,19.12,7.04,43.50,14.22,6.00,26.26,8.78,20.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-16,17.40,23.74,40.90,NaN,50.47,12.96,38.60,19.63,22.14,27.24,...,11.08,17.32,14.95,6.37,34.17,24.23,7.12,36.05,11.00,30.12
2019-08-19,17.59,23.67,40.71,NaN,49.83,13.25,37.84,19.30,21.82,27.17,...,10.98,17.34,14.36,6.16,34.14,24.43,6.73,35.72,10.88,29.99
2019-08-20,17.44,23.22,41.96,NaN,49.68,13.32,37.81,19.11,21.60,27.11,...,10.86,17.46,14.36,6.34,34.29,24.89,7.06,37.07,10.91,31.36
2019-08-21,17.31,23.89,42.40,NaN,50.85,13.34,39.97,19.58,22.03,27.28,...,10.97,17.69,15.15,6.48,34.53,25.30,7.18,37.44,11.13,31.50
2019-08-22,17.00,23.95,41.49,NaN,48.94,13.24,39.69,19.17,21.74,26.72,...,10.87,17.32,15.53,6.55,34.33,24.84,6.90,37.38,10.97,31.17

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-23,17.12,9.72,25.68,NaN,22.04,6.00,23.83,13.15,15.16,17.95,...,10.62,8.76,19.29,6.89,41.70,13.89,6.05,26.40,8.49,20.12
2018-08-24,17.24,9.66,25.24,NaN,21.99,6.00,24.16,13.26,15.29,17.96,...,10.78,8.67,18.98,7.01,42.32,13.75,6.14,26.89,8.39,20.38
2018-08-27,17.29,9.92,25.96,NaN,22.49,6.18,24.90,13.72,15.70,18.58,...,10.90,8.92,19.47,7.11,43.51,14.35,6.10,26.43,8.55,20.96
2018-08-28,17.26,10.03,25.15,NaN,22.64,6.16,24.78,13.84,15.61,18.51,...,10.79,8.92,19.12,7.04,43.50,14.22,6.00,26.26,8.78,20.59
2018-08-29,17.40,9.89,24.99,NaN,22.64,6.32,25.34,13.92,15.79,18.54,...,11.10,8.73,19.43,7.16,43.16,15.05,6.05,26.47,8.90,20.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-19,17.59,23.67,40.71,NaN,49.83,13.25,37.84,19.30,21.82,27.17,...,10.98,17.34,14.36,6.16,34.14,24.43,6.73,35.72,10.88,29.99
2019-08-20,17.44,23.22,41.96,NaN,49.68,13.32,37.81,19.11,21.60,27.11,...,10.86,17.46,14.36,6.34,34.29,24.89,7.06,37.07,10.91,31.36
2019-08-21,17.31,23.89,42.40,NaN,50.85,13.34,39.97,19.58,22.03,27.28,...,10.97,17.69,15.15,6.48,34.53,25.30,7.18,37.44,11.13,31.50
2019-08-22,17.00,23.95,41.49,NaN,48.94,13.24,39.69,19.17,21.74,26.72,...,10.87,17.32,15.53,6.55,34.33,24.84,6.90,37.38,10.97,31.17
2019-08-23,16.88,23.30,40.83,NaN,47.30,12.76,38.25,18.67,21.27,26.38,...,10.78,17.35,14.69,6.31,33.85,24.56,6.79,37.11,10.72,29.51

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-24,17.24,9.66,25.24,NaN,21.99,6.00,24.16,13.26,15.29,17.96,...,10.78,8.67,18.98,7.01,42.32,13.75,6.14,26.89,8.39,20.38
2018-08-27,17.29,9.92,25.96,NaN,22.49,6.18,24.90,13.72,15.70,18.58,...,10.90,8.92,19.47,7.11,43.51,14.35,6.10,26.43,8.55,20.96
2018-08-28,17.26,10.03,25.15,NaN,22.64,6.16,24.78,13.84,15.61,18.51,...,10.79,8.92,19.12,7.04,43.50,14.22,6.00,26.26,8.78,20.59
2018-08-29,17.40,9.89,24.99,NaN,22.64,6.32,25.34,13.92,15.79,18.54,...,11.10,8.73,19.43,7.16,43.16,15.05,6.05,26.47,8.90,20.55
2018-08-30,17.17,9.49,24.62,NaN,22.30,6.15,24.39,13.39,15.12,18.02,...,10.86,8.57,18.54,6.94,42.65,14.61,6.00,26.44,8.94,19.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-20,17.44,23.22,41.96,NaN,49.68,13.32,37.81,19.11,21.60,27.11,...,10.86,17.46,14.36,6.34,34.29,24.89,7.06,37.07,10.91,31.36
2019-08-21,17.31,23.89,42.40,NaN,50.85,13.34,39.97,19.58,22.03,27.28,...,10.97,17.69,15.15,6.48,34.53,25.30,7.18,37.44,11.13,31.50
2019-08-22,17.00,23.95,41.49,NaN,48.94,13.24,39.69,19.17,21.74,26.72,...,10.87,17.32,15.53,6.55,34.33,24.84,6.90,37.38,10.97,31.17
2019-08-23,16.88,23.30,40.83,NaN,47.30,12.76,38.25,18.67,21.27,26.38,...,10.78,17.35,14.69,6.31,33.85,24.56,6.79,37.11,10.72,29.51
2019-08-26,16.65,22.93,40.03,NaN,46.00,12.31,38.07,18.59,21.05,26.13,...,10.75,17.02,14.31,6.23,33.48,24.23,6.48,36.05,10.40,29.56

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-27,17.29,9.92,25.96,NaN,22.49,6.18,24.90,13.72,15.70,18.58,...,10.90,8.92,19.47,7.11,43.51,14.35,6.10,26.43,8.55,20.96
2018-08-28,17.26,10.03,25.15,NaN,22.64,6.16,24.78,13.84,15.61,18.51,...,10.79,8.92,19.12,7.04,43.50,14.22,6.00,26.26,8.78,20.59
2018-08-29,17.40,9.89,24.99,NaN,22.64,6.32,25.34,13.92,15.79,18.54,...,11.10,8.73,19.43,7.16,43.16,15.05,6.05,26.47,8.90,20.55
2018-08-30,17.17,9.49,24.62,NaN,22.30,6.15,24.39,13.39,15.12,18.02,...,10.86,8.57,18.54,6.94,42.65,14.61,6.00,26.44,8.94,19.40
2018-08-31,17.04,9.57,25.46,NaN,22.99,6.18,24.53,13.51,15.32,18.18,...,10.98,8.62,18.44,6.93,41.91,15.42,5.70,26.55,9.09,20.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-21,17.31,23.89,42.40,NaN,50.85,13.34,39.97,19.58,22.03,27.28,...,10.97,17.69,15.15,6.48,34.53,25.30,7.18,37.44,11.13,31.50
2019-08-22,17.00,23.95,41.49,NaN,48.94,13.24,39.69,19.17,21.74,26.72,...,10.87,17.32,15.53,6.55,34.33,24.84,6.90,37.38,10.97,31.17
2019-08-23,16.88,23.30,40.83,NaN,47.30,12.76,38.25,18.67,21.27,26.38,...,10.78,17.35,14.69,6.31,33.85,24.56,6.79,37.11,10.72,29.51
2019-08-26,16.65,22.93,40.03,NaN,46.00,12.31,38.07,18.59,21.05,26.13,...,10.75,17.02,14.31,6.23,33.48,24.23,6.48,36.05,10.40,29.56
2019-08-27,16.73,23.85,40.29,NaN,45.98,12.52,37.76,18.83,21.32,26.31,...,10.90,16.90,14.29,6.11,33.88,24.42,6.85,35.64,10.46,28.96

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-28,17.26,10.03,25.15,NaN,22.64,6.16,24.78,13.84,15.61,18.51,...,10.79,8.92,19.12,7.04,43.50,14.22,6.00,26.26,8.78,20.59
2018-08-29,17.40,9.89,24.99,NaN,22.64,6.32,25.34,13.92,15.79,18.54,...,11.10,8.73,19.43,7.16,43.16,15.05,6.05,26.47,8.90,20.55
2018-08-30,17.17,9.49,24.62,NaN,22.30,6.15,24.39,13.39,15.12,18.02,...,10.86,8.57,18.54,6.94,42.65,14.61,6.00,26.44,8.94,19.40
2018-08-31,17.04,9.57,25.46,NaN,22.99,6.18,24.53,13.51,15.32,18.18,...,10.98,8.62,18.44,6.93,41.91,15.42,5.70,26.55,9.09,20.15
2018-09-03,16.84,9.72,24.98,NaN,23.33,6.05,23.95,13.35,15.19,17.87,...,10.81,8.42,19.03,6.89,42.25,15.25,5.51,26.70,8.93,20.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-22,17.00,23.95,41.49,NaN,48.94,13.24,39.69,19.17,21.74,26.72,...,10.87,17.32,15.53,6.55,34.33,24.84,6.90,37.38,10.97,31.17
2019-08-23,16.88,23.30,40.83,NaN,47.30,12.76,38.25,18.67,21.27,26.38,...,10.78,17.35,14.69,6.31,33.85,24.56,6.79,37.11,10.72,29.51
2019-08-26,16.65,22.93,40.03,NaN,46.00,12.31,38.07,18.59,21.05,26.13,...,10.75,17.02,14.31,6.23,33.48,24.23,6.48,36.05,10.40,29.56
2019-08-27,16.73,23.85,40.29,NaN,45.98,12.52,37.76,18.83,21.32,26.31,...,10.90,16.90,14.29,6.11,33.88,24.42,6.85,35.64,10.46,28.96
2019-08-28,16.71,24.21,43.29,NaN,46.54,12.70,37.45,18.72,21.19,26.64,...,10.84,17.13,14.64,6.12,34.01,24.82,7.00,36.80,10.66,29.28

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-29,17.40,9.89,24.99,NaN,22.64,6.32,25.34,13.92,15.79,18.54,...,11.10,8.73,19.43,7.16,43.16,15.05,6.05,26.47,8.90,20.55
2018-08-30,17.17,9.49,24.62,NaN,22.30,6.15,24.39,13.39,15.12,18.02,...,10.86,8.57,18.54,6.94,42.65,14.61,6.00,26.44,8.94,19.40
2018-08-31,17.04,9.57,25.46,NaN,22.99,6.18,24.53,13.51,15.32,18.18,...,10.98,8.62,18.44,6.93,41.91,15.42,5.70,26.55,9.09,20.15
2018-09-03,16.84,9.72,24.98,NaN,23.33,6.05,23.95,13.35,15.19,17.87,...,10.81,8.42,19.03,6.89,42.25,15.25,5.51,26.70,8.93,20.40
2018-09-04,16.28,9.22,23.41,NaN,22.28,5.94,23.34,12.94,14.85,17.97,...,10.94,8.44,17.94,6.88,40.64,14.63,5.08,26.62,8.85,19.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-23,16.88,23.30,40.83,NaN,47.30,12.76,38.25,18.67,21.27,26.38,...,10.78,17.35,14.69,6.31,33.85,24.56,6.79,37.11,10.72,29.51
2019-08-26,16.65,22.93,40.03,NaN,46.00,12.31,38.07,18.59,21.05,26.13,...,10.75,17.02,14.31,6.23,33.48,24.23,6.48,36.05,10.40,29.56
2019-08-27,16.73,23.85,40.29,NaN,45.98,12.52,37.76,18.83,21.32,26.31,...,10.90,16.90,14.29,6.11,33.88,24.42,6.85,35.64,10.46,28.96
2019-08-28,16.71,24.21,43.29,NaN,46.54,12.70,37.45,18.72,21.19,26.64,...,10.84,17.13,14.64,6.12,34.01,24.82,7.00,36.80,10.66,29.28
2019-08-29,17.08,24.61,44.61,NaN,48.55,12.89,38.36,19.32,21.59,26.95,...,11.19,17.29,15.44,6.68,35.28,25.12,7.31,36.63,10.81,31.02

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-30,17.17,9.49,24.62,NaN,22.30,6.15,24.39,13.39,15.12,18.02,...,10.86,8.57,18.54,6.94,42.65,14.61,6.00,26.44,8.94,19.40
2018-08-31,17.04,9.57,25.46,NaN,22.99,6.18,24.53,13.51,15.32,18.18,...,10.98,8.62,18.44,6.93,41.91,15.42,5.70,26.55,9.09,20.15
2018-09-03,16.84,9.72,24.98,NaN,23.33,6.05,23.95,13.35,15.19,17.87,...,10.81,8.42,19.03,6.89,42.25,15.25,5.51,26.70,8.93,20.40
2018-09-04,16.28,9.22,23.41,NaN,22.28,5.94,23.34,12.94,14.85,17.97,...,10.94,8.44,17.94,6.88,40.64,14.63,5.08,26.62,8.85,19.37
2018-09-05,16.40,9.22,23.94,NaN,22.37,6.20,23.38,13.02,14.94,18.34,...,10.70,8.51,17.60,6.77,40.76,14.83,4.95,26.59,8.82,19.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-26,16.65,22.93,40.03,NaN,46.00,12.31,38.07,18.59,21.05,26.13,...,10.75,17.02,14.31,6.23,33.48,24.23,6.48,36.05,10.40,29.56
2019-08-27,16.73,23.85,40.29,NaN,45.98,12.52,37.76,18.83,21.32,26.31,...,10.90,16.90,14.29,6.11,33.88,24.42,6.85,35.64,10.46,28.96
2019-08-28,16.71,24.21,43.29,NaN,46.54,12.70,37.45,18.72,21.19,26.64,...,10.84,17.13,14.64,6.12,34.01,24.82,7.00,36.80,10.66,29.28
2019-08-29,17.08,24.61,44.61,NaN,48.55,12.89,38.36,19.32,21.59,26.95,...,11.19,17.29,15.44,6.68,35.28,25.12,7.31,36.63,10.81,31.02
2019-08-30,17.23,24.49,45.82,NaN,47.10,13.04,39.35,20.10,21.92,26.77,...,11.28,17.51,15.06,6.89,35.64,25.12,7.73,38.10,10.86,30.17

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-08-31,17.04,9.57,25.46,NaN,22.99,6.18,24.53,13.51,15.32,18.18,...,10.98,8.62,18.44,6.93,41.91,15.42,5.70,26.55,9.09,20.15
2018-09-03,16.84,9.72,24.98,NaN,23.33,6.05,23.95,13.35,15.19,17.87,...,10.81,8.42,19.03,6.89,42.25,15.25,5.51,26.70,8.93,20.40
2018-09-04,16.28,9.22,23.41,NaN,22.28,5.94,23.34,12.94,14.85,17.97,...,10.94,8.44,17.94,6.88,40.64,14.63,5.08,26.62,8.85,19.37
2018-09-05,16.40,9.22,23.94,NaN,22.37,6.20,23.38,13.02,14.94,18.34,...,10.70,8.51,17.60,6.77,40.76,14.83,4.95,26.59,8.82,19.23
2018-09-06,16.56,9.42,24.72,NaN,22.69,6.20,23.90,13.39,15.37,18.35,...,10.62,8.28,17.54,6.82,41.80,15.19,4.77,27.70,9.25,19.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-27,16.73,23.85,40.29,NaN,45.98,12.52,37.76,18.83,21.32,26.31,...,10.90,16.90,14.29,6.11,33.88,24.42,6.85,35.64,10.46,28.96
2019-08-28,16.71,24.21,43.29,NaN,46.54,12.70,37.45,18.72,21.19,26.64,...,10.84,17.13,14.64,6.12,34.01,24.82,7.00,36.80,10.66,29.28
2019-08-29,17.08,24.61,44.61,NaN,48.55,12.89,38.36,19.32,21.59,26.95,...,11.19,17.29,15.44,6.68,35.28,25.12,7.31,36.63,10.81,31.02
2019-08-30,17.23,24.49,45.82,NaN,47.10,13.04,39.35,20.10,21.92,26.77,...,11.28,17.51,15.06,6.89,35.64,25.12,7.73,38.10,10.86,30.17
2019-09-02,16.92,24.31,45.62,NaN,47.14,12.79,38.84,19.65,21.70,26.76,...,11.32,17.56,15.22,6.82,35.99,25.08,7.79,37.79,10.99,30.67

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-03,16.84,9.72,24.98,NaN,23.33,6.05,23.95,13.35,15.19,17.87,...,10.81,8.42,19.03,6.89,42.25,15.25,5.51,26.70,8.93,20.40
2018-09-04,16.28,9.22,23.41,NaN,22.28,5.94,23.34,12.94,14.85,17.97,...,10.94,8.44,17.94,6.88,40.64,14.63,5.08,26.62,8.85,19.37
2018-09-05,16.40,9.22,23.94,NaN,22.37,6.20,23.38,13.02,14.94,18.34,...,10.70,8.51,17.60,6.77,40.76,14.83,4.95,26.59,8.82,19.23
2018-09-06,16.56,9.42,24.72,NaN,22.69,6.20,23.90,13.39,15.37,18.35,...,10.62,8.28,17.54,6.82,41.80,15.19,4.77,27.70,9.25,19.22
2018-09-10,16.53,9.42,25.14,NaN,22.99,6.21,23.58,13.40,15.43,18.26,...,10.64,8.39,17.38,6.76,41.60,16.02,4.70,27.94,9.28,18.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-28,16.71,24.21,43.29,NaN,46.54,12.70,37.45,18.72,21.19,26.64,...,10.84,17.13,14.64,6.12,34.01,24.82,7.00,36.80,10.66,29.28
2019-08-29,17.08,24.61,44.61,NaN,48.55,12.89,38.36,19.32,21.59,26.95,...,11.19,17.29,15.44,6.68,35.28,25.12,7.31,36.63,10.81,31.02
2019-08-30,17.23,24.49,45.82,NaN,47.10,13.04,39.35,20.10,21.92,26.77,...,11.28,17.51,15.06,6.89,35.64,25.12,7.73,38.10,10.86,30.17
2019-09-02,16.92,24.31,45.62,NaN,47.14,12.79,38.84,19.65,21.70,26.76,...,11.32,17.56,15.22,6.82,35.99,25.08,7.79,37.79,10.99,30.67
2019-09-03,17.05,23.58,44.75,NaN,45.96,12.74,38.12,19.23,21.34,26.40,...,11.04,17.10,15.58,6.75,35.60,24.71,7.56,37.75,10.71,31.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-04,16.28,9.22,23.41,NaN,22.28,5.94,23.34,12.94,14.85,17.97,...,10.94,8.44,17.94,6.88,40.64,14.63,5.08,26.62,8.85,19.37
2018-09-05,16.40,9.22,23.94,NaN,22.37,6.20,23.38,13.02,14.94,18.34,...,10.70,8.51,17.60,6.77,40.76,14.83,4.95,26.59,8.82,19.23
2018-09-06,16.56,9.42,24.72,NaN,22.69,6.20,23.90,13.39,15.37,18.35,...,10.62,8.28,17.54,6.82,41.80,15.19,4.77,27.70,9.25,19.22
2018-09-10,16.53,9.42,25.14,NaN,22.99,6.21,23.58,13.40,15.43,18.26,...,10.64,8.39,17.38,6.76,41.60,16.02,4.70,27.94,9.28,18.91
2018-09-11,16.44,9.14,24.05,NaN,21.99,5.98,22.51,12.92,14.96,17.80,...,10.47,8.09,17.15,6.36,41.11,15.95,4.52,27.41,9.07,18.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-29,17.08,24.61,44.61,NaN,48.55,12.89,38.36,19.32,21.59,26.95,...,11.19,17.29,15.44,6.68,35.28,25.12,7.31,36.63,10.81,31.02
2019-08-30,17.23,24.49,45.82,NaN,47.10,13.04,39.35,20.10,21.92,26.77,...,11.28,17.51,15.06,6.89,35.64,25.12,7.73,38.10,10.86,30.17
2019-09-02,16.92,24.31,45.62,NaN,47.14,12.79,38.84,19.65,21.70,26.76,...,11.32,17.56,15.22,6.82,35.99,25.08,7.79,37.79,10.99,30.67
2019-09-03,17.05,23.58,44.75,NaN,45.96,12.74,38.12,19.23,21.34,26.40,...,11.04,17.10,15.58,6.75,35.60,24.71,7.56,37.75,10.71,31.61
2019-09-04,17.31,23.47,45.89,NaN,47.11,12.99,39.02,19.52,21.61,26.73,...,10.99,17.41,16.14,6.68,36.39,24.54,7.62,38.28,10.92,31.72

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-05,16.40,9.22,23.94,NaN,22.37,6.20,23.38,13.02,14.94,18.34,...,10.70,8.51,17.60,6.77,40.76,14.83,4.95,26.59,8.82,19.23
2018-09-06,16.56,9.42,24.72,NaN,22.69,6.20,23.90,13.39,15.37,18.35,...,10.62,8.28,17.54,6.82,41.80,15.19,4.77,27.70,9.25,19.22
2018-09-10,16.53,9.42,25.14,NaN,22.99,6.21,23.58,13.40,15.43,18.26,...,10.64,8.39,17.38,6.76,41.60,16.02,4.70,27.94,9.28,18.91
2018-09-11,16.44,9.14,24.05,NaN,21.99,5.98,22.51,12.92,14.96,17.80,...,10.47,8.09,17.15,6.36,41.11,15.95,4.52,27.41,9.07,18.59
2018-09-12,16.68,9.02,23.77,NaN,21.89,6.02,22.60,12.96,14.97,17.69,...,10.72,7.99,17.21,6.27,41.78,16.43,4.52,27.37,8.93,18.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-30,17.23,24.49,45.82,NaN,47.10,13.04,39.35,20.10,21.92,26.77,...,11.28,17.51,15.06,6.89,35.64,25.12,7.73,38.10,10.86,30.17
2019-09-02,16.92,24.31,45.62,NaN,47.14,12.79,38.84,19.65,21.70,26.76,...,11.32,17.56,15.22,6.82,35.99,25.08,7.79,37.79,10.99,30.67
2019-09-03,17.05,23.58,44.75,NaN,45.96,12.74,38.12,19.23,21.34,26.40,...,11.04,17.10,15.58,6.75,35.60,24.71,7.56,37.75,10.71,31.61
2019-09-04,17.31,23.47,45.89,NaN,47.11,12.99,39.02,19.52,21.61,26.73,...,10.99,17.41,16.14,6.68,36.39,24.54,7.62,38.28,10.92,31.72
2019-09-05,17.21,23.32,45.43,NaN,49.22,13.19,40.38,20.00,22.11,26.90,...,10.96,17.52,16.41,6.72,36.39,24.60,7.55,38.70,10.99,31.10

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-06,16.56,9.42,24.72,NaN,22.69,6.20,23.90,13.39,15.37,18.35,...,10.62,8.28,17.54,6.82,41.80,15.19,4.77,27.70,9.25,19.22
2018-09-10,16.53,9.42,25.14,NaN,22.99,6.21,23.58,13.40,15.43,18.26,...,10.64,8.39,17.38,6.76,41.60,16.02,4.70,27.94,9.28,18.91
2018-09-11,16.44,9.14,24.05,NaN,21.99,5.98,22.51,12.92,14.96,17.80,...,10.47,8.09,17.15,6.36,41.11,15.95,4.52,27.41,9.07,18.59
2018-09-12,16.68,9.02,23.77,NaN,21.89,6.02,22.60,12.96,14.97,17.69,...,10.72,7.99,17.21,6.27,41.78,16.43,4.52,27.37,8.93,18.49
2018-09-13,16.57,8.63,23.59,NaN,21.97,6.02,22.30,12.94,14.91,17.51,...,10.63,7.89,17.03,6.11,42.04,15.74,5.10,26.90,8.90,18.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-02,16.92,24.31,45.62,NaN,47.14,12.79,38.84,19.65,21.70,26.76,...,11.32,17.56,15.22,6.82,35.99,25.08,7.79,37.79,10.99,30.67
2019-09-03,17.05,23.58,44.75,NaN,45.96,12.74,38.12,19.23,21.34,26.40,...,11.04,17.10,15.58,6.75,35.60,24.71,7.56,37.75,10.71,31.61
2019-09-04,17.31,23.47,45.89,NaN,47.11,12.99,39.02,19.52,21.61,26.73,...,10.99,17.41,16.14,6.68,36.39,24.54,7.62,38.28,10.92,31.72
2019-09-05,17.21,23.32,45.43,NaN,49.22,13.19,40.38,20.00,22.11,26.90,...,10.96,17.52,16.41,6.72,36.39,24.60,7.55,38.70,10.99,31.10
2019-09-06,17.23,22.73,44.94,NaN,49.35,13.36,42.03,20.77,23.03,26.82,...,10.82,17.36,16.54,6.69,36.33,24.72,7.38,38.31,11.02,30.91

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-10,16.53,9.42,25.14,NaN,22.99,6.21,23.58,13.40,15.43,18.26,...,10.64,8.39,17.38,6.76,41.60,16.02,4.70,27.94,9.28,18.91
2018-09-11,16.44,9.14,24.05,NaN,21.99,5.98,22.51,12.92,14.96,17.80,...,10.47,8.09,17.15,6.36,41.11,15.95,4.52,27.41,9.07,18.59
2018-09-12,16.68,9.02,23.77,NaN,21.89,6.02,22.60,12.96,14.97,17.69,...,10.72,7.99,17.21,6.27,41.78,16.43,4.52,27.37,8.93,18.49
2018-09-13,16.57,8.63,23.59,NaN,21.97,6.02,22.30,12.94,14.91,17.51,...,10.63,7.89,17.03,6.11,42.04,15.74,5.10,26.90,8.90,18.32
2018-09-14,16.48,8.94,23.13,NaN,22.59,6.14,22.48,13.08,14.97,17.34,...,10.50,7.70,17.12,6.01,43.15,15.30,4.96,27.20,9.12,18.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-03,17.05,23.58,44.75,NaN,45.96,12.74,38.12,19.23,21.34,26.40,...,11.04,17.10,15.58,6.75,35.60,24.71,7.56,37.75,10.71,31.61
2019-09-04,17.31,23.47,45.89,NaN,47.11,12.99,39.02,19.52,21.61,26.73,...,10.99,17.41,16.14,6.68,36.39,24.54,7.62,38.28,10.92,31.72
2019-09-05,17.21,23.32,45.43,NaN,49.22,13.19,40.38,20.00,22.11,26.90,...,10.96,17.52,16.41,6.72,36.39,24.60,7.55,38.70,10.99,31.10
2019-09-06,17.23,22.73,44.94,NaN,49.35,13.36,42.03,20.77,23.03,26.82,...,10.82,17.36,16.54,6.69,36.33,24.72,7.38,38.31,11.02,30.91
2019-09-09,17.37,22.28,42.41,NaN,48.39,12.76,42.55,21.05,23.32,26.58,...,10.54,16.54,16.80,7.23,37.46,24.15,7.01,37.29,10.90,30.37

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-11,16.44,9.14,24.05,NaN,21.99,5.98,22.51,12.92,14.96,17.80,...,10.47,8.09,17.15,6.36,41.11,15.95,4.52,27.41,9.07,18.59
2018-09-12,16.68,9.02,23.77,NaN,21.89,6.02,22.60,12.96,14.97,17.69,...,10.72,7.99,17.21,6.27,41.78,16.43,4.52,27.37,8.93,18.49
2018-09-13,16.57,8.63,23.59,NaN,21.97,6.02,22.30,12.94,14.91,17.51,...,10.63,7.89,17.03,6.11,42.04,15.74,5.10,26.90,8.90,18.32
2018-09-14,16.48,8.94,23.13,NaN,22.59,6.14,22.48,13.08,14.97,17.34,...,10.50,7.70,17.12,6.01,43.15,15.30,4.96,27.20,9.12,18.82
2018-09-17,16.59,8.86,24.72,NaN,23.48,6.28,23.25,13.44,15.40,17.28,...,10.68,7.83,17.60,6.54,43.02,15.37,5.39,27.32,9.16,19.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-04,17.31,23.47,45.89,NaN,47.11,12.99,39.02,19.52,21.61,26.73,...,10.99,17.41,16.14,6.68,36.39,24.54,7.62,38.28,10.92,31.72
2019-09-05,17.21,23.32,45.43,NaN,49.22,13.19,40.38,20.00,22.11,26.90,...,10.96,17.52,16.41,6.72,36.39,24.60,7.55,38.70,10.99,31.10
2019-09-06,17.23,22.73,44.94,NaN,49.35,13.36,42.03,20.77,23.03,26.82,...,10.82,17.36,16.54,6.69,36.33,24.72,7.38,38.31,11.02,30.91
2019-09-09,17.37,22.28,42.41,NaN,48.39,12.76,42.55,21.05,23.32,26.58,...,10.54,16.54,16.80,7.23,37.46,24.15,7.01,37.29,10.90,30.37
2019-09-10,17.33,22.31,40.36,NaN,48.15,12.78,41.83,20.91,22.91,26.81,...,10.76,16.73,16.85,7.26,37.73,24.07,6.78,37.00,11.07,31.40

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-12,16.68,9.02,23.77,NaN,21.89,6.02,22.60,12.96,14.97,17.69,...,10.72,7.99,17.21,6.27,41.78,16.43,4.52,27.37,8.93,18.49
2018-09-13,16.57,8.63,23.59,NaN,21.97,6.02,22.30,12.94,14.91,17.51,...,10.63,7.89,17.03,6.11,42.04,15.74,5.10,26.90,8.90,18.32
2018-09-14,16.48,8.94,23.13,NaN,22.59,6.14,22.48,13.08,14.97,17.34,...,10.50,7.70,17.12,6.01,43.15,15.30,4.96,27.20,9.12,18.82
2018-09-17,16.59,8.86,24.72,NaN,23.48,6.28,23.25,13.44,15.40,17.28,...,10.68,7.83,17.60,6.54,43.02,15.37,5.39,27.32,9.16,19.26
2018-09-18,16.98,9.09,25.92,NaN,23.52,6.30,24.28,13.68,15.52,17.29,...,10.52,7.95,17.54,6.87,44.82,15.23,5.89,27.70,9.09,19.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-05,17.21,23.32,45.43,NaN,49.22,13.19,40.38,20.00,22.11,26.90,...,10.96,17.52,16.41,6.72,36.39,24.60,7.55,38.70,10.99,31.10
2019-09-06,17.23,22.73,44.94,NaN,49.35,13.36,42.03,20.77,23.03,26.82,...,10.82,17.36,16.54,6.69,36.33,24.72,7.38,38.31,11.02,30.91
2019-09-09,17.37,22.28,42.41,NaN,48.39,12.76,42.55,21.05,23.32,26.58,...,10.54,16.54,16.80,7.23,37.46,24.15,7.01,37.29,10.90,30.37
2019-09-10,17.33,22.31,40.36,NaN,48.15,12.78,41.83,20.91,22.91,26.81,...,10.76,16.73,16.85,7.26,37.73,24.07,6.78,37.00,11.07,31.40
2019-09-11,17.41,23.16,41.68,NaN,49.39,12.96,40.84,20.97,22.81,27.45,...,10.86,17.32,16.41,7.20,37.50,24.34,6.98,36.85,11.14,31.64

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-13,16.57,8.63,23.59,NaN,21.97,6.02,22.30,12.94,14.91,17.51,...,10.63,7.89,17.03,6.11,42.04,15.74,5.10,26.90,8.90,18.32
2018-09-14,16.48,8.94,23.13,NaN,22.59,6.14,22.48,13.08,14.97,17.34,...,10.50,7.70,17.12,6.01,43.15,15.30,4.96,27.20,9.12,18.82
2018-09-17,16.59,8.86,24.72,NaN,23.48,6.28,23.25,13.44,15.40,17.28,...,10.68,7.83,17.60,6.54,43.02,15.37,5.39,27.32,9.16,19.26
2018-09-18,16.98,9.09,25.92,NaN,23.52,6.30,24.28,13.68,15.52,17.29,...,10.52,7.95,17.54,6.87,44.82,15.23,5.89,27.70,9.09,19.95
2018-09-19,16.98,9.39,26.50,NaN,23.84,6.34,24.04,13.68,15.59,17.04,...,10.34,7.92,17.46,7.17,45.79,15.20,5.35,27.36,9.02,20.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-06,17.23,22.73,44.94,NaN,49.35,13.36,42.03,20.77,23.03,26.82,...,10.82,17.36,16.54,6.69,36.33,24.72,7.38,38.31,11.02,30.91
2019-09-09,17.37,22.28,42.41,NaN,48.39,12.76,42.55,21.05,23.32,26.58,...,10.54,16.54,16.80,7.23,37.46,24.15,7.01,37.29,10.90,30.37
2019-09-10,17.33,22.31,40.36,NaN,48.15,12.78,41.83,20.91,22.91,26.81,...,10.76,16.73,16.85,7.26,37.73,24.07,6.78,37.00,11.07,31.40
2019-09-11,17.41,23.16,41.68,NaN,49.39,12.96,40.84,20.97,22.81,27.45,...,10.86,17.32,16.41,7.20,37.50,24.34,6.98,36.85,11.14,31.64
2019-09-12,17.83,22.55,42.04,NaN,52.05,12.95,41.01,20.80,22.57,27.77,...,11.14,17.36,16.51,7.22,38.87,24.25,7.10,36.73,11.12,32.80

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-14,16.48,8.94,23.13,NaN,22.59,6.14,22.48,13.08,14.97,17.34,...,10.50,7.70,17.12,6.01,43.15,15.30,4.96,27.20,9.12,18.82
2018-09-17,16.59,8.86,24.72,NaN,23.48,6.28,23.25,13.44,15.40,17.28,...,10.68,7.83,17.60,6.54,43.02,15.37,5.39,27.32,9.16,19.26
2018-09-18,16.98,9.09,25.92,NaN,23.52,6.30,24.28,13.68,15.52,17.29,...,10.52,7.95,17.54,6.87,44.82,15.23,5.89,27.70,9.09,19.95
2018-09-19,16.98,9.39,26.50,NaN,23.84,6.34,24.04,13.68,15.59,17.04,...,10.34,7.92,17.46,7.17,45.79,15.20,5.35,27.36,9.02,20.15
2018-09-20,16.95,9.10,26.96,NaN,24.45,6.44,24.10,13.64,15.56,17.28,...,10.54,8.00,16.96,6.92,46.37,14.81,5.40,27.52,9.06,20.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-09,17.37,22.28,42.41,NaN,48.39,12.76,42.55,21.05,23.32,26.58,...,10.54,16.54,16.80,7.23,37.46,24.15,7.01,37.29,10.90,30.37
2019-09-10,17.33,22.31,40.36,NaN,48.15,12.78,41.83,20.91,22.91,26.81,...,10.76,16.73,16.85,7.26,37.73,24.07,6.78,37.00,11.07,31.40
2019-09-11,17.41,23.16,41.68,NaN,49.39,12.96,40.84,20.97,22.81,27.45,...,10.86,17.32,16.41,7.20,37.50,24.34,6.98,36.85,11.14,31.64
2019-09-12,17.83,22.55,42.04,NaN,52.05,12.95,41.01,20.80,22.57,27.77,...,11.14,17.36,16.51,7.22,38.87,24.25,7.10,36.73,11.12,32.80
2019-09-13,17.58,22.57,40.70,NaN,51.34,12.52,40.28,20.56,22.27,27.57,...,10.96,17.24,16.06,7.09,38.94,23.81,6.91,35.85,11.45,32.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-17,16.59,8.86,24.72,NaN,23.48,6.28,23.25,13.44,15.40,17.28,...,10.68,7.83,17.60,6.54,43.02,15.37,5.39,27.32,9.16,19.26
2018-09-18,16.98,9.09,25.92,NaN,23.52,6.30,24.28,13.68,15.52,17.29,...,10.52,7.95,17.54,6.87,44.82,15.23,5.89,27.70,9.09,19.95
2018-09-19,16.98,9.39,26.50,NaN,23.84,6.34,24.04,13.68,15.59,17.04,...,10.34,7.92,17.46,7.17,45.79,15.20,5.35,27.36,9.02,20.15
2018-09-20,16.95,9.10,26.96,NaN,24.45,6.44,24.10,13.64,15.56,17.28,...,10.54,8.00,16.96,6.92,46.37,14.81,5.40,27.52,9.06,20.40
2018-09-21,17.04,9.65,27.85,NaN,25.29,6.56,24.99,13.92,15.81,17.75,...,10.56,7.98,16.48,7.29,47.69,14.73,5.50,27.07,9.23,21.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-10,17.33,22.31,40.36,NaN,48.15,12.78,41.83,20.91,22.91,26.81,...,10.76,16.73,16.85,7.26,37.73,24.07,6.78,37.00,11.07,31.40
2019-09-11,17.41,23.16,41.68,NaN,49.39,12.96,40.84,20.97,22.81,27.45,...,10.86,17.32,16.41,7.20,37.50,24.34,6.98,36.85,11.14,31.64
2019-09-12,17.83,22.55,42.04,NaN,52.05,12.95,41.01,20.80,22.57,27.77,...,11.14,17.36,16.51,7.22,38.87,24.25,7.10,36.73,11.12,32.80
2019-09-13,17.58,22.57,40.70,NaN,51.34,12.52,40.28,20.56,22.27,27.57,...,10.96,17.24,16.06,7.09,38.94,23.81,6.91,35.85,11.45,32.14
2019-09-16,17.63,23.06,41.71,NaN,47.00,12.54,39.86,20.38,21.98,27.40,...,10.97,17.34,16.69,7.08,38.01,24.02,6.95,36.30,11.22,32.27

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-18,16.98,9.09,25.92,NaN,23.52,6.30,24.28,13.68,15.52,17.29,...,10.52,7.95,17.54,6.87,44.82,15.23,5.89,27.70,9.09,19.95
2018-09-19,16.98,9.39,26.50,NaN,23.84,6.34,24.04,13.68,15.59,17.04,...,10.34,7.92,17.46,7.17,45.79,15.20,5.35,27.36,9.02,20.15
2018-09-20,16.95,9.10,26.96,NaN,24.45,6.44,24.10,13.64,15.56,17.28,...,10.54,8.00,16.96,6.92,46.37,14.81,5.40,27.52,9.06,20.40
2018-09-21,17.04,9.65,27.85,NaN,25.29,6.56,24.99,13.92,15.81,17.75,...,10.56,7.98,16.48,7.29,47.69,14.73,5.50,27.07,9.23,21.21
2018-09-24,16.62,9.57,26.59,NaN,23.68,6.51,24.29,13.46,15.39,17.62,...,10.44,7.82,16.57,7.12,47.05,14.21,5.50,26.67,9.17,20.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-11,17.41,23.16,41.68,NaN,49.39,12.96,40.84,20.97,22.81,27.45,...,10.86,17.32,16.41,7.20,37.50,24.34,6.98,36.85,11.14,31.64
2019-09-12,17.83,22.55,42.04,NaN,52.05,12.95,41.01,20.80,22.57,27.77,...,11.14,17.36,16.51,7.22,38.87,24.25,7.10,36.73,11.12,32.80
2019-09-13,17.58,22.57,40.70,NaN,51.34,12.52,40.28,20.56,22.27,27.57,...,10.96,17.24,16.06,7.09,38.94,23.81,6.91,35.85,11.45,32.14
2019-09-16,17.63,23.06,41.71,NaN,47.00,12.54,39.86,20.38,21.98,27.40,...,10.97,17.34,16.69,7.08,38.01,24.02,6.95,36.30,11.22,32.27
2019-09-17,17.89,23.49,42.32,NaN,48.45,12.84,40.41,20.61,22.57,27.63,...,11.05,17.55,17.44,7.26,38.25,23.69,6.97,36.40,11.49,32.47

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-19,16.98,9.39,26.50,NaN,23.84,6.34,24.04,13.68,15.59,17.04,...,10.34,7.92,17.46,7.17,45.79,15.20,5.35,27.36,9.02,20.15
2018-09-20,16.95,9.10,26.96,NaN,24.45,6.44,24.10,13.64,15.56,17.28,...,10.54,8.00,16.96,6.92,46.37,14.81,5.40,27.52,9.06,20.40
2018-09-21,17.04,9.65,27.85,NaN,25.29,6.56,24.99,13.92,15.81,17.75,...,10.56,7.98,16.48,7.29,47.69,14.73,5.50,27.07,9.23,21.21
2018-09-24,16.62,9.57,26.59,NaN,23.68,6.51,24.29,13.46,15.39,17.62,...,10.44,7.82,16.57,7.12,47.05,14.21,5.50,26.67,9.17,20.58
2018-09-25,16.63,9.57,26.41,NaN,23.74,6.42,24.15,13.61,15.40,17.96,...,10.43,7.87,16.43,7.22,48.62,14.03,5.54,26.76,9.28,21.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-12,17.83,22.55,42.04,NaN,52.05,12.95,41.01,20.80,22.57,27.77,...,11.14,17.36,16.51,7.22,38.87,24.25,7.10,36.73,11.12,32.80
2019-09-13,17.58,22.57,40.70,NaN,51.34,12.52,40.28,20.56,22.27,27.57,...,10.96,17.24,16.06,7.09,38.94,23.81,6.91,35.85,11.45,32.14
2019-09-16,17.63,23.06,41.71,NaN,47.00,12.54,39.86,20.38,21.98,27.40,...,10.97,17.34,16.69,7.08,38.01,24.02,6.95,36.30,11.22,32.27
2019-09-17,17.89,23.49,42.32,NaN,48.45,12.84,40.41,20.61,22.57,27.63,...,11.05,17.55,17.44,7.26,38.25,23.69,6.97,36.40,11.49,32.47
2019-09-18,17.73,24.00,43.77,NaN,49.20,13.08,41.03,20.77,22.63,27.82,...,10.91,17.62,17.22,7.35,37.86,23.42,7.03,36.43,11.58,32.76

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-20,16.95,9.10,26.96,NaN,24.45,6.44,24.10,13.64,15.56,17.28,...,10.54,8.00,16.96,6.92,46.37,14.81,5.40,27.52,9.06,20.40
2018-09-21,17.04,9.65,27.85,NaN,25.29,6.56,24.99,13.92,15.81,17.75,...,10.56,7.98,16.48,7.29,47.69,14.73,5.50,27.07,9.23,21.21
2018-09-24,16.62,9.57,26.59,NaN,23.68,6.51,24.29,13.46,15.39,17.62,...,10.44,7.82,16.57,7.12,47.05,14.21,5.50,26.67,9.17,20.58
2018-09-25,16.63,9.57,26.41,NaN,23.74,6.42,24.15,13.61,15.40,17.96,...,10.43,7.87,16.43,7.22,48.62,14.03,5.54,26.76,9.28,21.10
2018-09-26,16.90,9.47,26.84,NaN,23.78,6.46,24.06,13.81,15.44,18.08,...,10.39,8.17,17.20,7.23,46.90,14.95,5.50,27.81,9.36,22.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-13,17.58,22.57,40.70,NaN,51.34,12.52,40.28,20.56,22.27,27.57,...,10.96,17.24,16.06,7.09,38.94,23.81,6.91,35.85,11.45,32.14
2019-09-16,17.63,23.06,41.71,NaN,47.00,12.54,39.86,20.38,21.98,27.40,...,10.97,17.34,16.69,7.08,38.01,24.02,6.95,36.30,11.22,32.27
2019-09-17,17.89,23.49,42.32,NaN,48.45,12.84,40.41,20.61,22.57,27.63,...,11.05,17.55,17.44,7.26,38.25,23.69,6.97,36.40,11.49,32.47
2019-09-18,17.73,24.00,43.77,NaN,49.20,13.08,41.03,20.77,22.63,27.82,...,10.91,17.62,17.22,7.35,37.86,23.42,7.03,36.43,11.58,32.76
2019-09-19,17.81,24.02,46.29,NaN,49.28,12.98,39.96,20.49,22.36,28.17,...,10.93,18.07,16.74,7.20,37.79,23.47,7.40,36.81,11.43,33.64

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-21,17.04,9.65,27.85,NaN,25.29,6.56,24.99,13.92,15.81,17.75,...,10.56,7.98,16.48,7.29,47.69,14.73,5.50,27.07,9.23,21.21
2018-09-24,16.62,9.57,26.59,NaN,23.68,6.51,24.29,13.46,15.39,17.62,...,10.44,7.82,16.57,7.12,47.05,14.21,5.50,26.67,9.17,20.58
2018-09-25,16.63,9.57,26.41,NaN,23.74,6.42,24.15,13.61,15.40,17.96,...,10.43,7.87,16.43,7.22,48.62,14.03,5.54,26.76,9.28,21.10
2018-09-26,16.90,9.47,26.84,NaN,23.78,6.46,24.06,13.81,15.44,18.08,...,10.39,8.17,17.20,7.23,46.90,14.95,5.50,27.81,9.36,22.07
2018-09-27,16.70,9.86,27.17,NaN,24.52,6.68,24.75,14.13,15.79,18.25,...,10.68,8.14,17.22,7.24,46.49,15.19,5.57,28.45,9.46,22.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-16,17.63,23.06,41.71,NaN,47.00,12.54,39.86,20.38,21.98,27.40,...,10.97,17.34,16.69,7.08,38.01,24.02,6.95,36.30,11.22,32.27
2019-09-17,17.89,23.49,42.32,NaN,48.45,12.84,40.41,20.61,22.57,27.63,...,11.05,17.55,17.44,7.26,38.25,23.69,6.97,36.40,11.49,32.47
2019-09-18,17.73,24.00,43.77,NaN,49.20,13.08,41.03,20.77,22.63,27.82,...,10.91,17.62,17.22,7.35,37.86,23.42,7.03,36.43,11.58,32.76
2019-09-19,17.81,24.02,46.29,NaN,49.28,12.98,39.96,20.49,22.36,28.17,...,10.93,18.07,16.74,7.20,37.79,23.47,7.40,36.81,11.43,33.64
2019-09-20,17.85,24.20,46.33,NaN,48.73,13.19,40.59,21.17,22.75,28.40,...,10.99,18.38,16.82,7.09,37.87,23.90,7.40,37.08,11.77,33.43

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-24,16.62,9.57,26.59,NaN,23.68,6.51,24.29,13.46,15.39,17.62,...,10.44,7.82,16.57,7.12,47.05,14.21,5.50,26.67,9.17,20.58
2018-09-25,16.63,9.57,26.41,NaN,23.74,6.42,24.15,13.61,15.40,17.96,...,10.43,7.87,16.43,7.22,48.62,14.03,5.54,26.76,9.28,21.10
2018-09-26,16.90,9.47,26.84,NaN,23.78,6.46,24.06,13.81,15.44,18.08,...,10.39,8.17,17.20,7.23,46.90,14.95,5.50,27.81,9.36,22.07
2018-09-27,16.70,9.86,27.17,NaN,24.52,6.68,24.75,14.13,15.79,18.25,...,10.68,8.14,17.22,7.24,46.49,15.19,5.57,28.45,9.46,22.13
2018-09-28,16.58,9.68,26.69,NaN,24.04,6.69,24.06,13.86,15.49,17.90,...,10.48,8.12,16.72,7.15,46.76,15.20,5.06,27.29,9.39,22.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-17,17.89,23.49,42.32,NaN,48.45,12.84,40.41,20.61,22.57,27.63,...,11.05,17.55,17.44,7.26,38.25,23.69,6.97,36.40,11.49,32.47
2019-09-18,17.73,24.00,43.77,NaN,49.20,13.08,41.03,20.77,22.63,27.82,...,10.91,17.62,17.22,7.35,37.86,23.42,7.03,36.43,11.58,32.76
2019-09-19,17.81,24.02,46.29,NaN,49.28,12.98,39.96,20.49,22.36,28.17,...,10.93,18.07,16.74,7.20,37.79,23.47,7.40,36.81,11.43,33.64
2019-09-20,17.85,24.20,46.33,NaN,48.73,13.19,40.59,21.17,22.75,28.40,...,10.99,18.38,16.82,7.09,37.87,23.90,7.40,37.08,11.77,33.43
2019-09-23,17.87,23.67,46.10,NaN,48.13,13.06,40.40,21.00,22.80,28.30,...,10.88,18.53,16.74,7.09,37.62,23.82,7.56,36.81,11.69,33.75

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-25,16.63,9.57,26.41,NaN,23.74,6.42,24.15,13.61,15.40,17.96,...,10.43,7.87,16.43,7.22,48.62,14.03,5.54,26.76,9.28,21.10
2018-09-26,16.90,9.47,26.84,NaN,23.78,6.46,24.06,13.81,15.44,18.08,...,10.39,8.17,17.20,7.23,46.90,14.95,5.50,27.81,9.36,22.07
2018-09-27,16.70,9.86,27.17,NaN,24.52,6.68,24.75,14.13,15.79,18.25,...,10.68,8.14,17.22,7.24,46.49,15.19,5.57,28.45,9.46,22.13
2018-09-28,16.58,9.68,26.69,NaN,24.04,6.69,24.06,13.86,15.49,17.90,...,10.48,8.12,16.72,7.15,46.76,15.20,5.06,27.29,9.39,22.34
2018-10-01,16.66,9.52,26.61,NaN,22.91,6.56,23.05,13.75,15.32,17.73,...,10.36,8.15,16.70,6.89,47.21,15.05,4.28,27.36,9.27,21.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-18,17.73,24.00,43.77,NaN,49.20,13.08,41.03,20.77,22.63,27.82,...,10.91,17.62,17.22,7.35,37.86,23.42,7.03,36.43,11.58,32.76
2019-09-19,17.81,24.02,46.29,NaN,49.28,12.98,39.96,20.49,22.36,28.17,...,10.93,18.07,16.74,7.20,37.79,23.47,7.40,36.81,11.43,33.64
2019-09-20,17.85,24.20,46.33,NaN,48.73,13.19,40.59,21.17,22.75,28.40,...,10.99,18.38,16.82,7.09,37.87,23.90,7.40,37.08,11.77,33.43
2019-09-23,17.87,23.67,46.10,NaN,48.13,13.06,40.40,21.00,22.80,28.30,...,10.88,18.53,16.74,7.09,37.62,23.82,7.56,36.81,11.69,33.75
2019-09-24,17.81,24.43,48.11,NaN,47.28,12.90,39.17,20.77,22.51,28.26,...,10.76,18.67,16.41,6.89,36.71,23.64,7.47,36.34,11.54,33.90

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-26,16.90,9.47,26.84,NaN,23.78,6.46,24.06,13.81,15.44,18.08,...,10.39,8.17,17.20,7.23,46.90,14.95,5.50,27.81,9.36,22.07
2018-09-27,16.70,9.86,27.17,NaN,24.52,6.68,24.75,14.13,15.79,18.25,...,10.68,8.14,17.22,7.24,46.49,15.19,5.57,28.45,9.46,22.13
2018-09-28,16.58,9.68,26.69,NaN,24.04,6.69,24.06,13.86,15.49,17.90,...,10.48,8.12,16.72,7.15,46.76,15.20,5.06,27.29,9.39,22.34
2018-10-01,16.66,9.52,26.61,NaN,22.91,6.56,23.05,13.75,15.32,17.73,...,10.36,8.15,16.70,6.89,47.21,15.05,4.28,27.36,9.27,21.85
2018-10-02,16.59,9.88,28.52,NaN,23.80,6.83,25.68,14.70,16.22,18.49,...,10.54,8.24,17.51,7.30,47.83,15.83,4.44,28.01,9.39,22.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-19,17.81,24.02,46.29,NaN,49.28,12.98,39.96,20.49,22.36,28.17,...,10.93,18.07,16.74,7.20,37.79,23.47,7.40,36.81,11.43,33.64
2019-09-20,17.85,24.20,46.33,NaN,48.73,13.19,40.59,21.17,22.75,28.40,...,10.99,18.38,16.82,7.09,37.87,23.90,7.40,37.08,11.77,33.43
2019-09-23,17.87,23.67,46.10,NaN,48.13,13.06,40.40,21.00,22.80,28.30,...,10.88,18.53,16.74,7.09,37.62,23.82,7.56,36.81,11.69,33.75
2019-09-24,17.81,24.43,48.11,NaN,47.28,12.90,39.17,20.77,22.51,28.26,...,10.76,18.67,16.41,6.89,36.71,23.64,7.47,36.34,11.54,33.90
2019-09-25,18.05,24.46,46.31,NaN,48.50,12.90,38.91,20.97,22.65,28.50,...,10.88,18.40,16.50,7.02,37.43,23.57,7.64,36.06,11.71,33.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-27,16.70,9.86,27.17,NaN,24.52,6.68,24.75,14.13,15.79,18.25,...,10.68,8.14,17.22,7.24,46.49,15.19,5.57,28.45,9.46,22.13
2018-09-28,16.58,9.68,26.69,NaN,24.04,6.69,24.06,13.86,15.49,17.90,...,10.48,8.12,16.72,7.15,46.76,15.20,5.06,27.29,9.39,22.34
2018-10-01,16.66,9.52,26.61,NaN,22.91,6.56,23.05,13.75,15.32,17.73,...,10.36,8.15,16.70,6.89,47.21,15.05,4.28,27.36,9.27,21.85
2018-10-02,16.59,9.88,28.52,NaN,23.80,6.83,25.68,14.70,16.22,18.49,...,10.54,8.24,17.51,7.30,47.83,15.83,4.44,28.01,9.39,22.53
2018-10-03,16.48,10.44,29.18,NaN,24.50,6.94,28.01,15.42,16.92,19.07,...,10.91,8.36,17.92,7.63,46.86,17.03,4.78,28.56,9.24,22.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-20,17.85,24.20,46.33,NaN,48.73,13.19,40.59,21.17,22.75,28.40,...,10.99,18.38,16.82,7.09,37.87,23.90,7.40,37.08,11.77,33.43
2019-09-23,17.87,23.67,46.10,NaN,48.13,13.06,40.40,21.00,22.80,28.30,...,10.88,18.53,16.74,7.09,37.62,23.82,7.56,36.81,11.69,33.75
2019-09-24,17.81,24.43,48.11,NaN,47.28,12.90,39.17,20.77,22.51,28.26,...,10.76,18.67,16.41,6.89,36.71,23.64,7.47,36.34,11.54,33.90
2019-09-25,18.05,24.46,46.31,NaN,48.50,12.90,38.91,20.97,22.65,28.50,...,10.88,18.40,16.50,7.02,37.43,23.57,7.64,36.06,11.71,33.61
2019-09-26,17.98,25.32,46.58,NaN,49.87,13.12,39.06,21.15,22.98,29.09,...,11.08,18.66,16.78,7.02,37.43,24.06,7.86,36.81,11.71,34.04

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-09-28,16.58,9.68,26.69,NaN,24.04,6.69,24.06,13.86,15.49,17.90,...,10.48,8.12,16.72,7.15,46.76,15.20,5.06,27.29,9.39,22.34
2018-10-01,16.66,9.52,26.61,NaN,22.91,6.56,23.05,13.75,15.32,17.73,...,10.36,8.15,16.70,6.89,47.21,15.05,4.28,27.36,9.27,21.85
2018-10-02,16.59,9.88,28.52,NaN,23.80,6.83,25.68,14.70,16.22,18.49,...,10.54,8.24,17.51,7.30,47.83,15.83,4.44,28.01,9.39,22.53
2018-10-03,16.48,10.44,29.18,NaN,24.50,6.94,28.01,15.42,16.92,19.07,...,10.91,8.36,17.92,7.63,46.86,17.03,4.78,28.56,9.24,22.70
2018-10-04,16.24,10.00,28.43,NaN,24.80,6.99,28.70,15.29,17.00,19.08,...,10.71,8.19,17.83,7.80,45.96,17.24,4.73,28.32,9.09,22.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-23,17.87,23.67,46.10,NaN,48.13,13.06,40.40,21.00,22.80,28.30,...,10.88,18.53,16.74,7.09,37.62,23.82,7.56,36.81,11.69,33.75
2019-09-24,17.81,24.43,48.11,NaN,47.28,12.90,39.17,20.77,22.51,28.26,...,10.76,18.67,16.41,6.89,36.71,23.64,7.47,36.34,11.54,33.90
2019-09-25,18.05,24.46,46.31,NaN,48.50,12.90,38.91,20.97,22.65,28.50,...,10.88,18.40,16.50,7.02,37.43,23.57,7.64,36.06,11.71,33.61
2019-09-26,17.98,25.32,46.58,NaN,49.87,13.12,39.06,21.15,22.98,29.09,...,11.08,18.66,16.78,7.02,37.43,24.06,7.86,36.81,11.71,34.04
2019-09-27,17.91,25.50,47.60,NaN,49.62,13.00,38.74,21.13,22.96,29.22,...,10.93,18.85,16.90,6.98,37.28,23.91,7.87,37.13,11.66,34.11

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-01,16.66,9.52,26.61,NaN,22.91,6.56,23.05,13.75,15.32,17.73,...,10.36,8.15,16.70,6.89,47.21,15.05,4.28,27.36,9.27,21.85
2018-10-02,16.59,9.88,28.52,NaN,23.80,6.83,25.68,14.70,16.22,18.49,...,10.54,8.24,17.51,7.30,47.83,15.83,4.44,28.01,9.39,22.53
2018-10-03,16.48,10.44,29.18,NaN,24.50,6.94,28.01,15.42,16.92,19.07,...,10.91,8.36,17.92,7.63,46.86,17.03,4.78,28.56,9.24,22.70
2018-10-04,16.24,10.00,28.43,NaN,24.80,6.99,28.70,15.29,17.00,19.08,...,10.71,8.19,17.83,7.80,45.96,17.24,4.73,28.32,9.09,22.88
2018-10-05,16.04,10.28,29.34,NaN,24.99,6.93,29.20,14.84,16.75,19.13,...,10.50,8.14,17.78,7.75,44.93,17.58,4.67,28.14,9.08,22.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-24,17.81,24.43,48.11,NaN,47.28,12.90,39.17,20.77,22.51,28.26,...,10.76,18.67,16.41,6.89,36.71,23.64,7.47,36.34,11.54,33.90
2019-09-25,18.05,24.46,46.31,NaN,48.50,12.90,38.91,20.97,22.65,28.50,...,10.88,18.40,16.50,7.02,37.43,23.57,7.64,36.06,11.71,33.61
2019-09-26,17.98,25.32,46.58,NaN,49.87,13.12,39.06,21.15,22.98,29.09,...,11.08,18.66,16.78,7.02,37.43,24.06,7.86,36.81,11.71,34.04
2019-09-27,17.91,25.50,47.60,NaN,49.62,13.00,38.74,21.13,22.96,29.22,...,10.93,18.85,16.90,6.98,37.28,23.91,7.87,37.13,11.66,34.11
2019-09-30,17.72,25.60,47.14,NaN,49.71,12.79,38.87,20.74,22.58,28.71,...,10.92,18.77,16.96,6.81,37.35,24.02,7.92,37.06,11.71,34.60

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-02,16.59,9.88,28.52,NaN,23.80,6.83,25.68,14.70,16.22,18.49,...,10.54,8.24,17.51,7.30,47.83,15.83,4.44,28.01,9.39,22.53
2018-10-03,16.48,10.44,29.18,NaN,24.50,6.94,28.01,15.42,16.92,19.07,...,10.91,8.36,17.92,7.63,46.86,17.03,4.78,28.56,9.24,22.70
2018-10-04,16.24,10.00,28.43,NaN,24.80,6.99,28.70,15.29,17.00,19.08,...,10.71,8.19,17.83,7.80,45.96,17.24,4.73,28.32,9.09,22.88
2018-10-05,16.04,10.28,29.34,NaN,24.99,6.93,29.20,14.84,16.75,19.13,...,10.50,8.14,17.78,7.75,44.93,17.58,4.67,28.14,9.08,22.79
2018-10-08,16.36,10.67,31.64,NaN,28.04,7.06,32.03,15.62,17.88,19.94,...,10.85,8.37,18.97,8.59,44.59,20.52,4.96,28.89,9.06,22.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-25,18.05,24.46,46.31,NaN,48.50,12.90,38.91,20.97,22.65,28.50,...,10.88,18.40,16.50,7.02,37.43,23.57,7.64,36.06,11.71,33.61
2019-09-26,17.98,25.32,46.58,NaN,49.87,13.12,39.06,21.15,22.98,29.09,...,11.08,18.66,16.78,7.02,37.43,24.06,7.86,36.81,11.71,34.04
2019-09-27,17.91,25.50,47.60,NaN,49.62,13.00,38.74,21.13,22.96,29.22,...,10.93,18.85,16.90,6.98,37.28,23.91,7.87,37.13,11.66,34.11
2019-09-30,17.72,25.60,47.14,NaN,49.71,12.79,38.87,20.74,22.58,28.71,...,10.92,18.77,16.96,6.81,37.35,24.02,7.92,37.06,11.71,34.60
2019-10-01,17.78,25.38,47.39,NaN,48.94,12.83,38.41,20.56,22.27,28.20,...,10.80,19.00,17.66,6.75,37.32,23.60,7.80,36.92,11.71,33.80

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-03,16.48,10.44,29.18,NaN,24.50,6.94,28.01,15.42,16.92,19.07,...,10.91,8.36,17.92,7.63,46.86,17.03,4.78,28.56,9.24,22.70
2018-10-04,16.24,10.00,28.43,NaN,24.80,6.99,28.70,15.29,17.00,19.08,...,10.71,8.19,17.83,7.80,45.96,17.24,4.73,28.32,9.09,22.88
2018-10-05,16.04,10.28,29.34,NaN,24.99,6.93,29.20,14.84,16.75,19.13,...,10.50,8.14,17.78,7.75,44.93,17.58,4.67,28.14,9.08,22.79
2018-10-08,16.36,10.67,31.64,NaN,28.04,7.06,32.03,15.62,17.88,19.94,...,10.85,8.37,18.97,8.59,44.59,20.52,4.96,28.89,9.06,22.64
2018-10-09,15.88,10.83,31.48,NaN,28.45,7.17,31.87,15.64,17.95,20.45,...,10.61,8.29,19.53,8.60,45.10,19.49,5.08,27.89,8.70,21.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-26,17.98,25.32,46.58,NaN,49.87,13.12,39.06,21.15,22.98,29.09,...,11.08,18.66,16.78,7.02,37.43,24.06,7.86,36.81,11.71,34.04
2019-09-27,17.91,25.50,47.60,NaN,49.62,13.00,38.74,21.13,22.96,29.22,...,10.93,18.85,16.90,6.98,37.28,23.91,7.87,37.13,11.66,34.11
2019-09-30,17.72,25.60,47.14,NaN,49.71,12.79,38.87,20.74,22.58,28.71,...,10.92,18.77,16.96,6.81,37.35,24.02,7.92,37.06,11.71,34.60
2019-10-01,17.78,25.38,47.39,NaN,48.94,12.83,38.41,20.56,22.27,28.20,...,10.80,19.00,17.66,6.75,37.32,23.60,7.80,36.92,11.71,33.80
2019-10-02,17.36,25.04,46.90,NaN,47.91,12.63,37.10,19.77,21.41,27.54,...,10.56,18.79,17.72,6.53,35.28,23.07,7.47,36.00,11.52,32.55

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-04,16.24,10.00,28.43,NaN,24.80,6.99,28.70,15.29,17.00,19.08,...,10.71,8.19,17.83,7.80,45.96,17.24,4.73,28.32,9.09,22.88
2018-10-05,16.04,10.28,29.34,NaN,24.99,6.93,29.20,14.84,16.75,19.13,...,10.50,8.14,17.78,7.75,44.93,17.58,4.67,28.14,9.08,22.79
2018-10-08,16.36,10.67,31.64,NaN,28.04,7.06,32.03,15.62,17.88,19.94,...,10.85,8.37,18.97,8.59,44.59,20.52,4.96,28.89,9.06,22.64
2018-10-09,15.88,10.83,31.48,NaN,28.45,7.17,31.87,15.64,17.95,20.45,...,10.61,8.29,19.53,8.60,45.10,19.49,5.08,27.89,8.70,21.51
2018-10-10,15.63,10.75,30.00,NaN,26.53,7.09,30.52,14.97,17.37,20.20,...,10.44,8.11,18.55,7.96,43.72,18.63,4.81,27.81,8.75,20.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-27,17.91,25.50,47.60,NaN,49.62,13.00,38.74,21.13,22.96,29.22,...,10.93,18.85,16.90,6.98,37.28,23.91,7.87,37.13,11.66,34.11
2019-09-30,17.72,25.60,47.14,NaN,49.71,12.79,38.87,20.74,22.58,28.71,...,10.92,18.77,16.96,6.81,37.35,24.02,7.92,37.06,11.71,34.60
2019-10-01,17.78,25.38,47.39,NaN,48.94,12.83,38.41,20.56,22.27,28.20,...,10.80,19.00,17.66,6.75,37.32,23.60,7.80,36.92,11.71,33.80
2019-10-02,17.36,25.04,46.90,NaN,47.91,12.63,37.10,19.77,21.41,27.54,...,10.56,18.79,17.72,6.53,35.28,23.07,7.47,36.00,11.52,32.55
2019-10-03,17.11,25.05,46.89,NaN,49.89,12.78,38.70,19.80,21.47,27.40,...,10.58,19.50,17.42,6.53,35.54,23.42,7.80,36.26,11.44,33.02

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-05,16.04,10.28,29.34,NaN,24.99,6.93,29.20,14.84,16.75,19.13,...,10.50,8.14,17.78,7.75,44.93,17.58,4.67,28.14,9.08,22.79
2018-10-08,16.36,10.67,31.64,NaN,28.04,7.06,32.03,15.62,17.88,19.94,...,10.85,8.37,18.97,8.59,44.59,20.52,4.96,28.89,9.06,22.64
2018-10-09,15.88,10.83,31.48,NaN,28.45,7.17,31.87,15.64,17.95,20.45,...,10.61,8.29,19.53,8.60,45.10,19.49,5.08,27.89,8.70,21.51
2018-10-10,15.63,10.75,30.00,NaN,26.53,7.09,30.52,14.97,17.37,20.20,...,10.44,8.11,18.55,7.96,43.72,18.63,4.81,27.81,8.75,20.62
2018-10-11,15.44,10.81,29.89,NaN,26.35,6.81,30.40,15.06,17.26,20.17,...,10.26,8.11,17.99,8.00,44.18,18.91,4.75,27.69,8.76,20.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-30,17.72,25.60,47.14,NaN,49.71,12.79,38.87,20.74,22.58,28.71,...,10.92,18.77,16.96,6.81,37.35,24.02,7.92,37.06,11.71,34.60
2019-10-01,17.78,25.38,47.39,NaN,48.94,12.83,38.41,20.56,22.27,28.20,...,10.80,19.00,17.66,6.75,37.32,23.60,7.80,36.92,11.71,33.80
2019-10-02,17.36,25.04,46.90,NaN,47.91,12.63,37.10,19.77,21.41,27.54,...,10.56,18.79,17.72,6.53,35.28,23.07,7.47,36.00,11.52,32.55
2019-10-03,17.11,25.05,46.89,NaN,49.89,12.78,38.70,19.80,21.47,27.40,...,10.58,19.50,17.42,6.53,35.54,23.42,7.80,36.26,11.44,33.02
2019-10-04,17.69,25.54,47.77,NaN,50.95,13.05,38.96,19.87,21.69,27.44,...,10.61,19.34,17.10,6.62,36.44,23.53,7.89,36.47,11.41,33.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-08,16.36,10.67,31.64,NaN,28.04,7.06,32.03,15.62,17.88,19.94,...,10.85,8.37,18.97,8.59,44.59,20.52,4.96,28.89,9.06,22.64
2018-10-09,15.88,10.83,31.48,NaN,28.45,7.17,31.87,15.64,17.95,20.45,...,10.61,8.29,19.53,8.60,45.10,19.49,5.08,27.89,8.70,21.51
2018-10-10,15.63,10.75,30.00,NaN,26.53,7.09,30.52,14.97,17.37,20.20,...,10.44,8.11,18.55,7.96,43.72,18.63,4.81,27.81,8.75,20.62
2018-10-11,15.44,10.81,29.89,NaN,26.35,6.81,30.40,15.06,17.26,20.17,...,10.26,8.11,17.99,8.00,44.18,18.91,4.75,27.69,8.76,20.10
2018-10-15,15.38,10.49,29.56,NaN,26.78,6.89,30.82,15.22,17.35,20.05,...,10.13,7.90,17.32,8.31,45.11,18.61,4.74,27.35,8.70,18.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-01,17.78,25.38,47.39,NaN,48.94,12.83,38.41,20.56,22.27,28.20,...,10.80,19.00,17.66,6.75,37.32,23.60,7.80,36.92,11.71,33.80
2019-10-02,17.36,25.04,46.90,NaN,47.91,12.63,37.10,19.77,21.41,27.54,...,10.56,18.79,17.72,6.53,35.28,23.07,7.47,36.00,11.52,32.55
2019-10-03,17.11,25.05,46.89,NaN,49.89,12.78,38.70,19.80,21.47,27.40,...,10.58,19.50,17.42,6.53,35.54,23.42,7.80,36.26,11.44,33.02
2019-10-04,17.69,25.54,47.77,NaN,50.95,13.05,38.96,19.87,21.69,27.44,...,10.61,19.34,17.10,6.62,36.44,23.53,7.89,36.47,11.41,33.61
2019-10-07,17.37,24.68,47.64,NaN,50.59,12.60,37.42,19.57,21.55,26.63,...,10.44,19.11,16.76,6.47,36.01,23.12,7.83,36.44,11.04,32.56

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-09,15.88,10.83,31.48,NaN,28.45,7.17,31.87,15.64,17.95,20.45,...,10.61,8.29,19.53,8.60,45.10,19.49,5.08,27.89,8.70,21.51
2018-10-10,15.63,10.75,30.00,NaN,26.53,7.09,30.52,14.97,17.37,20.20,...,10.44,8.11,18.55,7.96,43.72,18.63,4.81,27.81,8.75,20.62
2018-10-11,15.44,10.81,29.89,NaN,26.35,6.81,30.40,15.06,17.26,20.17,...,10.26,8.11,17.99,8.00,44.18,18.91,4.75,27.69,8.76,20.10
2018-10-15,15.38,10.49,29.56,NaN,26.78,6.89,30.82,15.22,17.35,20.05,...,10.13,7.90,17.32,8.31,45.11,18.61,4.74,27.35,8.70,18.91
2018-10-16,15.82,10.63,30.57,NaN,27.74,7.15,32.17,15.86,18.18,20.20,...,10.22,7.88,17.78,8.51,45.13,19.09,4.79,27.36,8.92,18.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-02,17.36,25.04,46.90,NaN,47.91,12.63,37.10,19.77,21.41,27.54,...,10.56,18.79,17.72,6.53,35.28,23.07,7.47,36.00,11.52,32.55
2019-10-03,17.11,25.05,46.89,NaN,49.89,12.78,38.70,19.80,21.47,27.40,...,10.58,19.50,17.42,6.53,35.54,23.42,7.80,36.26,11.44,33.02
2019-10-04,17.69,25.54,47.77,NaN,50.95,13.05,38.96,19.87,21.69,27.44,...,10.61,19.34,17.10,6.62,36.44,23.53,7.89,36.47,11.41,33.61
2019-10-07,17.37,24.68,47.64,NaN,50.59,12.60,37.42,19.57,21.55,26.63,...,10.44,19.11,16.76,6.47,36.01,23.12,7.83,36.44,11.04,32.56
2019-10-08,17.12,24.35,46.47,NaN,50.20,12.69,36.75,19.65,21.53,26.42,...,10.55,19.08,16.88,6.41,35.45,23.12,7.72,36.27,11.02,31.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-10,15.63,10.75,30.00,NaN,26.53,7.09,30.52,14.97,17.37,20.20,...,10.44,8.11,18.55,7.96,43.72,18.63,4.81,27.81,8.75,20.62
2018-10-11,15.44,10.81,29.89,NaN,26.35,6.81,30.40,15.06,17.26,20.17,...,10.26,8.11,17.99,8.00,44.18,18.91,4.75,27.69,8.76,20.10
2018-10-15,15.38,10.49,29.56,NaN,26.78,6.89,30.82,15.22,17.35,20.05,...,10.13,7.90,17.32,8.31,45.11,18.61,4.74,27.35,8.70,18.91
2018-10-16,15.82,10.63,30.57,NaN,27.74,7.15,32.17,15.86,18.18,20.20,...,10.22,7.88,17.78,8.51,45.13,19.09,4.79,27.36,8.92,18.77
2018-10-17,15.49,10.61,32.49,NaN,27.90,7.23,32.45,15.86,18.20,20.05,...,10.26,8.00,18.17,8.49,45.99,18.42,4.71,27.36,8.87,19.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-03,17.11,25.05,46.89,NaN,49.89,12.78,38.70,19.80,21.47,27.40,...,10.58,19.50,17.42,6.53,35.54,23.42,7.80,36.26,11.44,33.02
2019-10-04,17.69,25.54,47.77,NaN,50.95,13.05,38.96,19.87,21.69,27.44,...,10.61,19.34,17.10,6.62,36.44,23.53,7.89,36.47,11.41,33.61
2019-10-07,17.37,24.68,47.64,NaN,50.59,12.60,37.42,19.57,21.55,26.63,...,10.44,19.11,16.76,6.47,36.01,23.12,7.83,36.44,11.04,32.56
2019-10-08,17.12,24.35,46.47,NaN,50.20,12.69,36.75,19.65,21.53,26.42,...,10.55,19.08,16.88,6.41,35.45,23.12,7.72,36.27,11.02,31.98
2019-10-09,17.19,24.59,48.25,NaN,49.50,12.86,37.76,20.43,22.14,26.88,...,10.63,19.11,17.65,6.37,35.72,23.23,7.59,36.55,11.05,32.70

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-11,15.44,10.81,29.89,NaN,26.35,6.81,30.40,15.06,17.26,20.17,...,10.26,8.11,17.99,8.00,44.18,18.91,4.75,27.69,8.76,20.10
2018-10-15,15.38,10.49,29.56,NaN,26.78,6.89,30.82,15.22,17.35,20.05,...,10.13,7.90,17.32,8.31,45.11,18.61,4.74,27.35,8.70,18.91
2018-10-16,15.82,10.63,30.57,NaN,27.74,7.15,32.17,15.86,18.18,20.20,...,10.22,7.88,17.78,8.51,45.13,19.09,4.79,27.36,8.92,18.77
2018-10-17,15.49,10.61,32.49,NaN,27.90,7.23,32.45,15.86,18.20,20.05,...,10.26,8.00,18.17,8.49,45.99,18.42,4.71,27.36,8.87,19.34
2018-10-18,15.13,10.67,32.99,NaN,28.34,6.94,32.07,15.37,17.70,19.61,...,10.13,8.15,17.70,8.30,44.19,17.67,4.50,27.38,8.76,19.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-04,17.69,25.54,47.77,NaN,50.95,13.05,38.96,19.87,21.69,27.44,...,10.61,19.34,17.10,6.62,36.44,23.53,7.89,36.47,11.41,33.61
2019-10-07,17.37,24.68,47.64,NaN,50.59,12.60,37.42,19.57,21.55,26.63,...,10.44,19.11,16.76,6.47,36.01,23.12,7.83,36.44,11.04,32.56
2019-10-08,17.12,24.35,46.47,NaN,50.20,12.69,36.75,19.65,21.53,26.42,...,10.55,19.08,16.88,6.41,35.45,23.12,7.72,36.27,11.02,31.98
2019-10-09,17.19,24.59,48.25,NaN,49.50,12.86,37.76,20.43,22.14,26.88,...,10.63,19.11,17.65,6.37,35.72,23.23,7.59,36.55,11.05,32.70
2019-10-10,16.96,24.69,47.87,NaN,49.68,12.91,37.94,20.55,22.40,27.09,...,10.71,18.80,17.10,6.52,36.95,23.19,7.53,37.21,11.10,34.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-15,15.38,10.49,29.56,NaN,26.78,6.89,30.82,15.22,17.35,20.05,...,10.13,7.90,17.32,8.31,45.11,18.61,4.74,27.35,8.70,18.91
2018-10-16,15.82,10.63,30.57,NaN,27.74,7.15,32.17,15.86,18.18,20.20,...,10.22,7.88,17.78,8.51,45.13,19.09,4.79,27.36,8.92,18.77
2018-10-17,15.49,10.61,32.49,NaN,27.90,7.23,32.45,15.86,18.20,20.05,...,10.26,8.00,18.17,8.49,45.99,18.42,4.71,27.36,8.87,19.34
2018-10-18,15.13,10.67,32.99,NaN,28.34,6.94,32.07,15.37,17.70,19.61,...,10.13,8.15,17.70,8.30,44.19,17.67,4.50,27.38,8.76,19.41
2018-10-19,15.32,12.25,32.62,NaN,28.00,6.87,32.34,15.40,17.76,19.63,...,10.02,8.41,17.87,8.33,44.22,17.59,4.54,27.06,8.85,18.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-07,17.37,24.68,47.64,NaN,50.59,12.60,37.42,19.57,21.55,26.63,...,10.44,19.11,16.76,6.47,36.01,23.12,7.83,36.44,11.04,32.56
2019-10-08,17.12,24.35,46.47,NaN,50.20,12.69,36.75,19.65,21.53,26.42,...,10.55,19.08,16.88,6.41,35.45,23.12,7.72,36.27,11.02,31.98
2019-10-09,17.19,24.59,48.25,NaN,49.50,12.86,37.76,20.43,22.14,26.88,...,10.63,19.11,17.65,6.37,35.72,23.23,7.59,36.55,11.05,32.70
2019-10-10,16.96,24.69,47.87,NaN,49.68,12.91,37.94,20.55,22.40,27.09,...,10.71,18.80,17.10,6.52,36.95,23.19,7.53,37.21,11.10,34.79
2019-10-11,17.11,25.45,51.67,NaN,50.40,13.20,38.65,20.85,22.65,28.08,...,10.80,18.69,17.61,6.69,38.04,23.82,7.75,37.39,11.44,35.28

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-16,15.82,10.63,30.57,NaN,27.74,7.15,32.17,15.86,18.18,20.20,...,10.22,7.88,17.78,8.51,45.13,19.09,4.79,27.36,8.92,18.77
2018-10-17,15.49,10.61,32.49,NaN,27.90,7.23,32.45,15.86,18.20,20.05,...,10.26,8.00,18.17,8.49,45.99,18.42,4.71,27.36,8.87,19.34
2018-10-18,15.13,10.67,32.99,NaN,28.34,6.94,32.07,15.37,17.70,19.61,...,10.13,8.15,17.70,8.30,44.19,17.67,4.50,27.38,8.76,19.41
2018-10-19,15.32,12.25,32.62,NaN,28.00,6.87,32.34,15.40,17.76,19.63,...,10.02,8.41,17.87,8.33,44.22,17.59,4.54,27.06,8.85,18.97
2018-10-22,15.28,11.47,34.11,NaN,28.50,7.03,32.56,15.58,17.98,19.70,...,9.91,8.84,17.79,8.98,45.65,17.46,4.84,27.29,8.87,19.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-08,17.12,24.35,46.47,NaN,50.20,12.69,36.75,19.65,21.53,26.42,...,10.55,19.08,16.88,6.41,35.45,23.12,7.72,36.27,11.02,31.98
2019-10-09,17.19,24.59,48.25,NaN,49.50,12.86,37.76,20.43,22.14,26.88,...,10.63,19.11,17.65,6.37,35.72,23.23,7.59,36.55,11.05,32.70
2019-10-10,16.96,24.69,47.87,NaN,49.68,12.91,37.94,20.55,22.40,27.09,...,10.71,18.80,17.10,6.52,36.95,23.19,7.53,37.21,11.10,34.79
2019-10-11,17.11,25.45,51.67,NaN,50.40,13.20,38.65,20.85,22.65,28.08,...,10.80,18.69,17.61,6.69,38.04,23.82,7.75,37.39,11.44,35.28
2019-10-14,17.23,25.82,52.64,NaN,51.18,13.23,38.45,21.16,22.97,28.08,...,10.64,18.66,17.69,6.62,37.54,23.97,7.78,37.34,11.48,35.67

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-17,15.49,10.61,32.49,NaN,27.90,7.23,32.45,15.86,18.20,20.05,...,10.26,8.00,18.17,8.49,45.99,18.42,4.71,27.36,8.87,19.34
2018-10-18,15.13,10.67,32.99,NaN,28.34,6.94,32.07,15.37,17.70,19.61,...,10.13,8.15,17.70,8.30,44.19,17.67,4.50,27.38,8.76,19.41
2018-10-19,15.32,12.25,32.62,NaN,28.00,6.87,32.34,15.40,17.76,19.63,...,10.02,8.41,17.87,8.33,44.22,17.59,4.54,27.06,8.85,18.97
2018-10-22,15.28,11.47,34.11,NaN,28.50,7.03,32.56,15.58,17.98,19.70,...,9.91,8.84,17.79,8.98,45.65,17.46,4.84,27.29,8.87,19.38
2018-10-23,15.11,11.50,33.92,NaN,28.69,7.15,32.68,15.63,18.04,19.57,...,9.89,8.24,17.89,8.76,44.39,17.36,5.35,27.27,9.13,19.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-09,17.19,24.59,48.25,NaN,49.50,12.86,37.76,20.43,22.14,26.88,...,10.63,19.11,17.65,6.37,35.72,23.23,7.59,36.55,11.05,32.70
2019-10-10,16.96,24.69,47.87,NaN,49.68,12.91,37.94,20.55,22.40,27.09,...,10.71,18.80,17.10,6.52,36.95,23.19,7.53,37.21,11.10,34.79
2019-10-11,17.11,25.45,51.67,NaN,50.40,13.20,38.65,20.85,22.65,28.08,...,10.80,18.69,17.61,6.69,38.04,23.82,7.75,37.39,11.44,35.28
2019-10-14,17.23,25.82,52.64,NaN,51.18,13.23,38.45,21.16,22.97,28.08,...,10.64,18.66,17.69,6.62,37.54,23.97,7.78,37.34,11.48,35.67
2019-10-15,17.39,26.24,53.42,NaN,51.21,13.04,37.92,21.36,23.16,28.20,...,10.56,18.51,17.70,6.72,37.47,23.42,7.79,37.38,11.49,36.44

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-18,15.13,10.67,32.99,NaN,28.34,6.94,32.07,15.37,17.70,19.61,...,10.13,8.15,17.70,8.30,44.19,17.67,4.50,27.38,8.76,19.41
2018-10-19,15.32,12.25,32.62,NaN,28.00,6.87,32.34,15.40,17.76,19.63,...,10.02,8.41,17.87,8.33,44.22,17.59,4.54,27.06,8.85,18.97
2018-10-22,15.28,11.47,34.11,NaN,28.50,7.03,32.56,15.58,17.98,19.70,...,9.91,8.84,17.79,8.98,45.65,17.46,4.84,27.29,8.87,19.38
2018-10-23,15.11,11.50,33.92,NaN,28.69,7.15,32.68,15.63,18.04,19.57,...,9.89,8.24,17.89,8.76,44.39,17.36,5.35,27.27,9.13,19.69
2018-10-24,14.44,11.86,32.98,NaN,27.70,7.02,31.95,15.18,17.61,19.13,...,9.58,8.28,17.52,8.33,42.57,17.00,5.00,26.68,9.20,18.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-10,16.96,24.69,47.87,NaN,49.68,12.91,37.94,20.55,22.40,27.09,...,10.71,18.80,17.10,6.52,36.95,23.19,7.53,37.21,11.10,34.79
2019-10-11,17.11,25.45,51.67,NaN,50.40,13.20,38.65,20.85,22.65,28.08,...,10.80,18.69,17.61,6.69,38.04,23.82,7.75,37.39,11.44,35.28
2019-10-14,17.23,25.82,52.64,NaN,51.18,13.23,38.45,21.16,22.97,28.08,...,10.64,18.66,17.69,6.62,37.54,23.97,7.78,37.34,11.48,35.67
2019-10-15,17.39,26.24,53.42,NaN,51.21,13.04,37.92,21.36,23.16,28.20,...,10.56,18.51,17.70,6.72,37.47,23.42,7.79,37.38,11.49,36.44
2019-10-16,17.39,26.47,54.72,NaN,51.30,13.25,38.45,22.01,23.71,28.59,...,10.62,18.52,17.83,6.66,36.61,23.42,7.82,37.59,11.78,37.01

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-19,15.32,12.25,32.62,NaN,28.00,6.87,32.34,15.40,17.76,19.63,...,10.02,8.41,17.87,8.33,44.22,17.59,4.54,27.06,8.85,18.97
2018-10-22,15.28,11.47,34.11,NaN,28.50,7.03,32.56,15.58,17.98,19.70,...,9.91,8.84,17.79,8.98,45.65,17.46,4.84,27.29,8.87,19.38
2018-10-23,15.11,11.50,33.92,NaN,28.69,7.15,32.68,15.63,18.04,19.57,...,9.89,8.24,17.89,8.76,44.39,17.36,5.35,27.27,9.13,19.69
2018-10-24,14.44,11.86,32.98,NaN,27.70,7.02,31.95,15.18,17.61,19.13,...,9.58,8.28,17.52,8.33,42.57,17.00,5.00,26.68,9.20,18.85
2018-10-25,13.63,11.86,33.39,NaN,27.86,7.00,32.77,15.84,18.12,19.58,...,9.65,8.35,18.47,8.51,42.71,17.54,5.30,27.20,9.04,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-11,17.11,25.45,51.67,NaN,50.40,13.20,38.65,20.85,22.65,28.08,...,10.80,18.69,17.61,6.69,38.04,23.82,7.75,37.39,11.44,35.28
2019-10-14,17.23,25.82,52.64,NaN,51.18,13.23,38.45,21.16,22.97,28.08,...,10.64,18.66,17.69,6.62,37.54,23.97,7.78,37.34,11.48,35.67
2019-10-15,17.39,26.24,53.42,NaN,51.21,13.04,37.92,21.36,23.16,28.20,...,10.56,18.51,17.70,6.72,37.47,23.42,7.79,37.38,11.49,36.44
2019-10-16,17.39,26.47,54.72,NaN,51.30,13.25,38.45,22.01,23.71,28.59,...,10.62,18.52,17.83,6.66,36.61,23.42,7.82,37.59,11.78,37.01
2019-10-17,17.28,27.01,53.47,NaN,51.26,13.52,38.37,21.71,23.31,28.74,...,10.72,18.67,17.52,6.66,36.53,23.21,7.90,37.63,11.71,36.72

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-22,15.28,11.47,34.11,NaN,28.50,7.03,32.56,15.58,17.98,19.70,...,9.91,8.84,17.79,8.98,45.65,17.46,4.84,27.29,8.87,19.38
2018-10-23,15.11,11.50,33.92,NaN,28.69,7.15,32.68,15.63,18.04,19.57,...,9.89,8.24,17.89,8.76,44.39,17.36,5.35,27.27,9.13,19.69
2018-10-24,14.44,11.86,32.98,NaN,27.70,7.02,31.95,15.18,17.61,19.13,...,9.58,8.28,17.52,8.33,42.57,17.00,5.00,26.68,9.20,18.85
2018-10-25,13.63,11.86,33.39,NaN,27.86,7.00,32.77,15.84,18.12,19.58,...,9.65,8.35,18.47,8.51,42.71,17.54,5.30,27.20,9.04,19.25
2018-10-26,13.80,12.18,32.96,NaN,29.20,7.25,34.66,16.01,18.43,19.33,...,9.54,8.20,19.01,8.64,43.49,17.97,5.38,27.11,8.60,19.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-14,17.23,25.82,52.64,NaN,51.18,13.23,38.45,21.16,22.97,28.08,...,10.64,18.66,17.69,6.62,37.54,23.97,7.78,37.34,11.48,35.67
2019-10-15,17.39,26.24,53.42,NaN,51.21,13.04,37.92,21.36,23.16,28.20,...,10.56,18.51,17.70,6.72,37.47,23.42,7.79,37.38,11.49,36.44
2019-10-16,17.39,26.47,54.72,NaN,51.30,13.25,38.45,22.01,23.71,28.59,...,10.62,18.52,17.83,6.66,36.61,23.42,7.82,37.59,11.78,37.01
2019-10-17,17.28,27.01,53.47,NaN,51.26,13.52,38.37,21.71,23.31,28.74,...,10.72,18.67,17.52,6.66,36.53,23.21,7.90,37.63,11.71,36.72
2019-10-18,17.19,27.31,53.13,NaN,50.99,13.61,39.35,21.50,23.19,28.24,...,10.72,18.47,17.89,6.61,36.00,23.25,7.84,38.79,11.77,36.75

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-23,15.11,11.50,33.92,NaN,28.69,7.15,32.68,15.63,18.04,19.57,...,9.89,8.24,17.89,8.76,44.39,17.36,5.35,27.27,9.13,19.69
2018-10-24,14.44,11.86,32.98,NaN,27.70,7.02,31.95,15.18,17.61,19.13,...,9.58,8.28,17.52,8.33,42.57,17.00,5.00,26.68,9.20,18.85
2018-10-25,13.63,11.86,33.39,NaN,27.86,7.00,32.77,15.84,18.12,19.58,...,9.65,8.35,18.47,8.51,42.71,17.54,5.30,27.20,9.04,19.25
2018-10-26,13.80,12.18,32.96,NaN,29.20,7.25,34.66,16.01,18.43,19.33,...,9.54,8.20,19.01,8.64,43.49,17.97,5.38,27.11,8.60,19.42
2018-10-29,14.02,11.46,31.10,NaN,28.73,7.17,34.21,15.68,18.08,19.33,...,9.70,8.01,18.65,8.62,41.53,17.95,5.35,26.91,8.32,19.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-15,17.39,26.24,53.42,NaN,51.21,13.04,37.92,21.36,23.16,28.20,...,10.56,18.51,17.70,6.72,37.47,23.42,7.79,37.38,11.49,36.44
2019-10-16,17.39,26.47,54.72,NaN,51.30,13.25,38.45,22.01,23.71,28.59,...,10.62,18.52,17.83,6.66,36.61,23.42,7.82,37.59,11.78,37.01
2019-10-17,17.28,27.01,53.47,NaN,51.26,13.52,38.37,21.71,23.31,28.74,...,10.72,18.67,17.52,6.66,36.53,23.21,7.90,37.63,11.71,36.72
2019-10-18,17.19,27.31,53.13,NaN,50.99,13.61,39.35,21.50,23.19,28.24,...,10.72,18.47,17.89,6.61,36.00,23.25,7.84,38.79,11.77,36.75
2019-10-21,17.48,26.83,53.13,NaN,51.35,13.74,39.64,21.84,23.36,28.52,...,10.82,18.27,17.87,6.66,36.93,23.62,7.81,38.10,11.81,38.35

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-24,14.44,11.86,32.98,NaN,27.70,7.02,31.95,15.18,17.61,19.13,...,9.58,8.28,17.52,8.33,42.57,17.00,5.00,26.68,9.20,18.85
2018-10-25,13.63,11.86,33.39,NaN,27.86,7.00,32.77,15.84,18.12,19.58,...,9.65,8.35,18.47,8.51,42.71,17.54,5.30,27.20,9.04,19.25
2018-10-26,13.80,12.18,32.96,NaN,29.20,7.25,34.66,16.01,18.43,19.33,...,9.54,8.20,19.01,8.64,43.49,17.97,5.38,27.11,8.60,19.42
2018-10-29,14.02,11.46,31.10,NaN,28.73,7.17,34.21,15.68,18.08,19.33,...,9.70,8.01,18.65,8.62,41.53,17.95,5.35,26.91,8.32,19.07
2018-10-30,14.59,12.01,34.02,NaN,30.96,7.55,35.22,16.38,18.79,19.89,...,10.51,8.25,20.27,8.90,42.14,18.87,5.63,29.23,8.70,19.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-16,17.39,26.47,54.72,NaN,51.30,13.25,38.45,22.01,23.71,28.59,...,10.62,18.52,17.83,6.66,36.61,23.42,7.82,37.59,11.78,37.01
2019-10-17,17.28,27.01,53.47,NaN,51.26,13.52,38.37,21.71,23.31,28.74,...,10.72,18.67,17.52,6.66,36.53,23.21,7.90,37.63,11.71,36.72
2019-10-18,17.19,27.31,53.13,NaN,50.99,13.61,39.35,21.50,23.19,28.24,...,10.72,18.47,17.89,6.61,36.00,23.25,7.84,38.79,11.77,36.75
2019-10-21,17.48,26.83,53.13,NaN,51.35,13.74,39.64,21.84,23.36,28.52,...,10.82,18.27,17.87,6.66,36.93,23.62,7.81,38.10,11.81,38.35
2019-10-22,17.28,26.68,53.31,NaN,52.99,13.93,40.50,22.41,24.03,28.97,...,10.81,18.59,17.82,6.60,37.00,23.64,7.81,37.38,11.96,40.31

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-25,13.63,11.86,33.39,NaN,27.86,7.00,32.77,15.84,18.12,19.58,...,9.65,8.35,18.47,8.51,42.71,17.54,5.30,27.20,9.04,19.25
2018-10-26,13.80,12.18,32.96,NaN,29.20,7.25,34.66,16.01,18.43,19.33,...,9.54,8.20,19.01,8.64,43.49,17.97,5.38,27.11,8.60,19.42
2018-10-29,14.02,11.46,31.10,NaN,28.73,7.17,34.21,15.68,18.08,19.33,...,9.70,8.01,18.65,8.62,41.53,17.95,5.35,26.91,8.32,19.07
2018-10-30,14.59,12.01,34.02,NaN,30.96,7.55,35.22,16.38,18.79,19.89,...,10.51,8.25,20.27,8.90,42.14,18.87,5.63,29.23,8.70,19.93
2018-10-31,14.85,12.01,33.24,NaN,30.59,7.59,34.93,16.29,18.54,19.67,...,10.40,8.11,19.79,8.83,44.36,18.70,5.60,29.32,8.56,20.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-17,17.28,27.01,53.47,NaN,51.26,13.52,38.37,21.71,23.31,28.74,...,10.72,18.67,17.52,6.66,36.53,23.21,7.90,37.63,11.71,36.72
2019-10-18,17.19,27.31,53.13,NaN,50.99,13.61,39.35,21.50,23.19,28.24,...,10.72,18.47,17.89,6.61,36.00,23.25,7.84,38.79,11.77,36.75
2019-10-21,17.48,26.83,53.13,NaN,51.35,13.74,39.64,21.84,23.36,28.52,...,10.82,18.27,17.87,6.66,36.93,23.62,7.81,38.10,11.81,38.35
2019-10-22,17.28,26.68,53.31,NaN,52.99,13.93,40.50,22.41,24.03,28.97,...,10.81,18.59,17.82,6.60,37.00,23.64,7.81,37.38,11.96,40.31
2019-10-23,17.20,26.63,53.00,NaN,52.15,14.14,40.67,22.64,24.23,29.13,...,10.84,18.98,17.85,6.53,36.85,24.20,7.65,37.29,12.49,38.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-26,13.80,12.18,32.96,NaN,29.20,7.25,34.66,16.01,18.43,19.33,...,9.54,8.20,19.01,8.64,43.49,17.97,5.38,27.11,8.60,19.42
2018-10-29,14.02,11.46,31.10,NaN,28.73,7.17,34.21,15.68,18.08,19.33,...,9.70,8.01,18.65,8.62,41.53,17.95,5.35,26.91,8.32,19.07
2018-10-30,14.59,12.01,34.02,NaN,30.96,7.55,35.22,16.38,18.79,19.89,...,10.51,8.25,20.27,8.90,42.14,18.87,5.63,29.23,8.70,19.93
2018-10-31,14.85,12.01,33.24,NaN,30.59,7.59,34.93,16.29,18.54,19.67,...,10.40,8.11,19.79,8.83,44.36,18.70,5.60,29.32,8.56,20.51
2018-11-01,14.88,12.37,30.97,NaN,31.64,7.84,35.45,17.15,19.60,20.17,...,10.89,8.59,19.79,8.70,44.97,18.23,5.55,30.31,8.66,20.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-18,17.19,27.31,53.13,NaN,50.99,13.61,39.35,21.50,23.19,28.24,...,10.72,18.47,17.89,6.61,36.00,23.25,7.84,38.79,11.77,36.75
2019-10-21,17.48,26.83,53.13,NaN,51.35,13.74,39.64,21.84,23.36,28.52,...,10.82,18.27,17.87,6.66,36.93,23.62,7.81,38.10,11.81,38.35
2019-10-22,17.28,26.68,53.31,NaN,52.99,13.93,40.50,22.41,24.03,28.97,...,10.81,18.59,17.82,6.60,37.00,23.64,7.81,37.38,11.96,40.31
2019-10-23,17.20,26.63,53.00,NaN,52.15,14.14,40.67,22.64,24.23,29.13,...,10.84,18.98,17.85,6.53,36.85,24.20,7.65,37.29,12.49,38.79
2019-10-24,17.67,26.24,53.40,NaN,52.90,14.25,40.41,22.60,24.20,29.22,...,10.84,18.85,17.61,6.33,36.57,24.66,7.49,37.42,12.61,38.41

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-29,14.02,11.46,31.10,NaN,28.73,7.17,34.21,15.68,18.08,19.33,...,9.70,8.01,18.65,8.62,41.53,17.95,5.35,26.91,8.32,19.07
2018-10-30,14.59,12.01,34.02,NaN,30.96,7.55,35.22,16.38,18.79,19.89,...,10.51,8.25,20.27,8.90,42.14,18.87,5.63,29.23,8.70,19.93
2018-10-31,14.85,12.01,33.24,NaN,30.59,7.59,34.93,16.29,18.54,19.67,...,10.40,8.11,19.79,8.83,44.36,18.70,5.60,29.32,8.56,20.51
2018-11-01,14.88,12.37,30.97,NaN,31.64,7.84,35.45,17.15,19.60,20.17,...,10.89,8.59,19.79,8.70,44.97,18.23,5.55,30.31,8.66,20.42
2018-11-05,14.96,12.18,31.55,NaN,32.55,7.79,35.47,17.78,20.02,20.91,...,11.27,8.49,19.21,8.76,45.00,17.62,5.62,30.50,8.90,21.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-21,17.48,26.83,53.13,NaN,51.35,13.74,39.64,21.84,23.36,28.52,...,10.82,18.27,17.87,6.66,36.93,23.62,7.81,38.10,11.81,38.35
2019-10-22,17.28,26.68,53.31,NaN,52.99,13.93,40.50,22.41,24.03,28.97,...,10.81,18.59,17.82,6.60,37.00,23.64,7.81,37.38,11.96,40.31
2019-10-23,17.20,26.63,53.00,NaN,52.15,14.14,40.67,22.64,24.23,29.13,...,10.84,18.98,17.85,6.53,36.85,24.20,7.65,37.29,12.49,38.79
2019-10-24,17.67,26.24,53.40,NaN,52.90,14.25,40.41,22.60,24.20,29.22,...,10.84,18.85,17.61,6.33,36.57,24.66,7.49,37.42,12.61,38.41
2019-10-25,16.20,26.47,52.61,NaN,52.54,14.19,40.78,22.78,24.52,28.84,...,10.69,18.77,17.86,6.31,37.98,24.82,7.43,36.65,12.28,38.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-30,14.59,12.01,34.02,NaN,30.96,7.55,35.22,16.38,18.79,19.89,...,10.51,8.25,20.27,8.90,42.14,18.87,5.63,29.23,8.70,19.93
2018-10-31,14.85,12.01,33.24,NaN,30.59,7.59,34.93,16.29,18.54,19.67,...,10.40,8.11,19.79,8.83,44.36,18.70,5.60,29.32,8.56,20.51
2018-11-01,14.88,12.37,30.97,NaN,31.64,7.84,35.45,17.15,19.60,20.17,...,10.89,8.59,19.79,8.70,44.97,18.23,5.55,30.31,8.66,20.42
2018-11-05,14.96,12.18,31.55,NaN,32.55,7.79,35.47,17.78,20.02,20.91,...,11.27,8.49,19.21,8.76,45.00,17.62,5.62,30.50,8.90,21.34
2018-11-06,15.12,12.39,31.70,NaN,31.65,7.68,34.70,17.48,19.81,20.72,...,11.28,8.31,19.10,8.53,44.76,17.65,5.48,30.55,8.89,21.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-22,17.28,26.68,53.31,NaN,52.99,13.93,40.50,22.41,24.03,28.97,...,10.81,18.59,17.82,6.60,37.00,23.64,7.81,37.38,11.96,40.31
2019-10-23,17.20,26.63,53.00,NaN,52.15,14.14,40.67,22.64,24.23,29.13,...,10.84,18.98,17.85,6.53,36.85,24.20,7.65,37.29,12.49,38.79
2019-10-24,17.67,26.24,53.40,NaN,52.90,14.25,40.41,22.60,24.20,29.22,...,10.84,18.85,17.61,6.33,36.57,24.66,7.49,37.42,12.61,38.41
2019-10-25,16.20,26.47,52.61,NaN,52.54,14.19,40.78,22.78,24.52,28.84,...,10.69,18.77,17.86,6.31,37.98,24.82,7.43,36.65,12.28,38.26
2019-10-28,16.15,26.75,51.81,NaN,53.16,14.29,41.69,23.46,25.40,28.50,...,10.73,18.94,17.78,6.33,38.09,25.29,7.36,36.76,12.36,37.97

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-10-31,14.85,12.01,33.24,NaN,30.59,7.59,34.93,16.29,18.54,19.67,...,10.40,8.11,19.79,8.83,44.36,18.70,5.60,29.32,8.56,20.51
2018-11-01,14.88,12.37,30.97,NaN,31.64,7.84,35.45,17.15,19.60,20.17,...,10.89,8.59,19.79,8.70,44.97,18.23,5.55,30.31,8.66,20.42
2018-11-05,14.96,12.18,31.55,NaN,32.55,7.79,35.47,17.78,20.02,20.91,...,11.27,8.49,19.21,8.76,45.00,17.62,5.62,30.50,8.90,21.34
2018-11-06,15.12,12.39,31.70,NaN,31.65,7.68,34.70,17.48,19.81,20.72,...,11.28,8.31,19.10,8.53,44.76,17.65,5.48,30.55,8.89,21.03
2018-11-07,14.86,12.48,30.33,NaN,31.45,7.42,33.87,17.41,19.42,20.46,...,10.87,8.21,19.58,8.43,45.04,17.85,5.24,30.21,8.97,20.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-23,17.20,26.63,53.00,NaN,52.15,14.14,40.67,22.64,24.23,29.13,...,10.84,18.98,17.85,6.53,36.85,24.20,7.65,37.29,12.49,38.79
2019-10-24,17.67,26.24,53.40,NaN,52.90,14.25,40.41,22.60,24.20,29.22,...,10.84,18.85,17.61,6.33,36.57,24.66,7.49,37.42,12.61,38.41
2019-10-25,16.20,26.47,52.61,NaN,52.54,14.19,40.78,22.78,24.52,28.84,...,10.69,18.77,17.86,6.31,37.98,24.82,7.43,36.65,12.28,38.26
2019-10-28,16.15,26.75,51.81,NaN,53.16,14.29,41.69,23.46,25.40,28.50,...,10.73,18.94,17.78,6.33,38.09,25.29,7.36,36.76,12.36,37.97
2019-10-29,16.19,26.74,50.87,NaN,53.50,14.04,41.58,23.20,25.05,28.01,...,10.62,20.15,17.41,6.43,38.05,24.72,7.35,36.92,12.33,37.78

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-01,14.88,12.37,30.97,NaN,31.64,7.84,35.45,17.15,19.60,20.17,...,10.89,8.59,19.79,8.70,44.97,18.23,5.55,30.31,8.66,20.42
2018-11-05,14.96,12.18,31.55,NaN,32.55,7.79,35.47,17.78,20.02,20.91,...,11.27,8.49,19.21,8.76,45.00,17.62,5.62,30.50,8.90,21.34
2018-11-06,15.12,12.39,31.70,NaN,31.65,7.68,34.70,17.48,19.81,20.72,...,11.28,8.31,19.10,8.53,44.76,17.65,5.48,30.55,8.89,21.03
2018-11-07,14.86,12.48,30.33,NaN,31.45,7.42,33.87,17.41,19.42,20.46,...,10.87,8.21,19.58,8.43,45.04,17.85,5.24,30.21,8.97,20.12
2018-11-08,14.28,12.25,29.60,NaN,30.45,7.30,33.17,16.77,19.02,19.85,...,10.63,7.95,18.51,8.33,44.60,17.46,5.14,30.43,8.85,18.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-24,17.67,26.24,53.40,NaN,52.90,14.25,40.41,22.60,24.20,29.22,...,10.84,18.85,17.61,6.33,36.57,24.66,7.49,37.42,12.61,38.41
2019-10-25,16.20,26.47,52.61,NaN,52.54,14.19,40.78,22.78,24.52,28.84,...,10.69,18.77,17.86,6.31,37.98,24.82,7.43,36.65,12.28,38.26
2019-10-28,16.15,26.75,51.81,NaN,53.16,14.29,41.69,23.46,25.40,28.50,...,10.73,18.94,17.78,6.33,38.09,25.29,7.36,36.76,12.36,37.97
2019-10-29,16.19,26.74,50.87,NaN,53.50,14.04,41.58,23.20,25.05,28.01,...,10.62,20.15,17.41,6.43,38.05,24.72,7.35,36.92,12.33,37.78
2019-10-30,16.17,27.31,51.60,NaN,53.64,14.21,42.22,23.43,25.17,27.86,...,10.72,20.56,17.42,6.43,38.01,25.08,7.40,36.92,12.49,37.49

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-05,14.96,12.18,31.55,NaN,32.55,7.79,35.47,17.78,20.02,20.91,...,11.27,8.49,19.21,8.76,45.00,17.62,5.62,30.50,8.90,21.34
2018-11-06,15.12,12.39,31.70,NaN,31.65,7.68,34.70,17.48,19.81,20.72,...,11.28,8.31,19.10,8.53,44.76,17.65,5.48,30.55,8.89,21.03
2018-11-07,14.86,12.48,30.33,NaN,31.45,7.42,33.87,17.41,19.42,20.46,...,10.87,8.21,19.58,8.43,45.04,17.85,5.24,30.21,8.97,20.12
2018-11-08,14.28,12.25,29.60,NaN,30.45,7.30,33.17,16.77,19.02,19.85,...,10.63,7.95,18.51,8.33,44.60,17.46,5.14,30.43,8.85,18.43
2018-11-09,14.61,12.24,30.18,NaN,31.84,7.34,33.91,17.14,19.30,19.76,...,10.83,8.13,18.11,8.61,42.75,17.25,5.31,30.36,8.85,18.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-25,16.20,26.47,52.61,NaN,52.54,14.19,40.78,22.78,24.52,28.84,...,10.69,18.77,17.86,6.31,37.98,24.82,7.43,36.65,12.28,38.26
2019-10-28,16.15,26.75,51.81,NaN,53.16,14.29,41.69,23.46,25.40,28.50,...,10.73,18.94,17.78,6.33,38.09,25.29,7.36,36.76,12.36,37.97
2019-10-29,16.19,26.74,50.87,NaN,53.50,14.04,41.58,23.20,25.05,28.01,...,10.62,20.15,17.41,6.43,38.05,24.72,7.35,36.92,12.33,37.78
2019-10-30,16.17,27.31,51.60,NaN,53.64,14.21,42.22,23.43,25.17,27.86,...,10.72,20.56,17.42,6.43,38.01,25.08,7.40,36.92,12.49,37.49
2019-10-31,16.00,26.92,49.52,NaN,52.52,14.18,41.14,22.47,24.14,27.84,...,10.59,20.24,17.30,6.33,36.92,24.67,7.42,36.88,12.32,37.63

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-06,15.12,12.39,31.70,NaN,31.65,7.68,34.70,17.48,19.81,20.72,...,11.28,8.31,19.10,8.53,44.76,17.65,5.48,30.55,8.89,21.03
2018-11-07,14.86,12.48,30.33,NaN,31.45,7.42,33.87,17.41,19.42,20.46,...,10.87,8.21,19.58,8.43,45.04,17.85,5.24,30.21,8.97,20.12
2018-11-08,14.28,12.25,29.60,NaN,30.45,7.30,33.17,16.77,19.02,19.85,...,10.63,7.95,18.51,8.33,44.60,17.46,5.14,30.43,8.85,18.43
2018-11-09,14.61,12.24,30.18,NaN,31.84,7.34,33.91,17.14,19.30,19.76,...,10.83,8.13,18.11,8.61,42.75,17.25,5.31,30.36,8.85,18.88
2018-11-12,14.49,11.93,31.92,NaN,32.89,7.40,34.47,17.16,19.28,19.66,...,10.65,7.76,18.07,8.33,42.90,16.63,5.38,30.50,8.77,19.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-28,16.15,26.75,51.81,NaN,53.16,14.29,41.69,23.46,25.40,28.50,...,10.73,18.94,17.78,6.33,38.09,25.29,7.36,36.76,12.36,37.97
2019-10-29,16.19,26.74,50.87,NaN,53.50,14.04,41.58,23.20,25.05,28.01,...,10.62,20.15,17.41,6.43,38.05,24.72,7.35,36.92,12.33,37.78
2019-10-30,16.17,27.31,51.60,NaN,53.64,14.21,42.22,23.43,25.17,27.86,...,10.72,20.56,17.42,6.43,38.01,25.08,7.40,36.92,12.49,37.49
2019-10-31,16.00,26.92,49.52,NaN,52.52,14.18,41.14,22.47,24.14,27.84,...,10.59,20.24,17.30,6.33,36.92,24.67,7.42,36.88,12.32,37.63
2019-11-01,15.96,27.47,49.85,NaN,53.55,14.42,40.98,22.22,23.94,28.13,...,10.63,20.58,17.79,6.47,37.89,24.79,7.64,36.68,12.51,38.83

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-07,14.86,12.48,30.33,NaN,31.45,7.42,33.87,17.41,19.42,20.46,...,10.87,8.21,19.58,8.43,45.04,17.85,5.24,30.21,8.97,20.12
2018-11-08,14.28,12.25,29.60,NaN,30.45,7.30,33.17,16.77,19.02,19.85,...,10.63,7.95,18.51,8.33,44.60,17.46,5.14,30.43,8.85,18.43
2018-11-09,14.61,12.24,30.18,NaN,31.84,7.34,33.91,17.14,19.30,19.76,...,10.83,8.13,18.11,8.61,42.75,17.25,5.31,30.36,8.85,18.88
2018-11-12,14.49,11.93,31.92,NaN,32.89,7.40,34.47,17.16,19.28,19.66,...,10.65,7.76,18.07,8.33,42.90,16.63,5.38,30.50,8.77,19.23
2018-11-13,14.32,12.05,31.89,NaN,32.85,7.36,34.07,16.80,18.94,19.63,...,10.17,7.68,17.66,8.09,44.01,17.54,5.40,31.04,8.62,19.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-29,16.19,26.74,50.87,NaN,53.50,14.04,41.58,23.20,25.05,28.01,...,10.62,20.15,17.41,6.43,38.05,24.72,7.35,36.92,12.33,37.78
2019-10-30,16.17,27.31,51.60,NaN,53.64,14.21,42.22,23.43,25.17,27.86,...,10.72,20.56,17.42,6.43,38.01,25.08,7.40,36.92,12.49,37.49
2019-10-31,16.00,26.92,49.52,NaN,52.52,14.18,41.14,22.47,24.14,27.84,...,10.59,20.24,17.30,6.33,36.92,24.67,7.42,36.88,12.32,37.63
2019-11-01,15.96,27.47,49.85,NaN,53.55,14.42,40.98,22.22,23.94,28.13,...,10.63,20.58,17.79,6.47,37.89,24.79,7.64,36.68,12.51,38.83
2019-11-04,16.18,26.96,49.27,NaN,53.50,14.44,40.75,22.33,23.96,27.55,...,11.02,20.13,17.83,6.62,38.97,24.23,7.57,37.46,12.63,37.51

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-08,14.28,12.25,29.60,NaN,30.45,7.30,33.17,16.77,19.02,19.85,...,10.63,7.95,18.51,8.33,44.60,17.46,5.14,30.43,8.85,18.43
2018-11-09,14.61,12.24,30.18,NaN,31.84,7.34,33.91,17.14,19.30,19.76,...,10.83,8.13,18.11,8.61,42.75,17.25,5.31,30.36,8.85,18.88
2018-11-12,14.49,11.93,31.92,NaN,32.89,7.40,34.47,17.16,19.28,19.66,...,10.65,7.76,18.07,8.33,42.90,16.63,5.38,30.50,8.77,19.23
2018-11-13,14.32,12.05,31.89,NaN,32.85,7.36,34.07,16.80,18.94,19.63,...,10.17,7.68,17.66,8.09,44.01,17.54,5.40,31.04,8.62,19.53
2018-11-14,14.57,12.02,33.05,NaN,33.36,7.43,34.13,16.98,19.20,19.99,...,10.61,8.13,18.51,7.86,43.14,17.08,5.33,31.11,8.76,20.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-30,16.17,27.31,51.60,NaN,53.64,14.21,42.22,23.43,25.17,27.86,...,10.72,20.56,17.42,6.43,38.01,25.08,7.40,36.92,12.49,37.49
2019-10-31,16.00,26.92,49.52,NaN,52.52,14.18,41.14,22.47,24.14,27.84,...,10.59,20.24,17.30,6.33,36.92,24.67,7.42,36.88,12.32,37.63
2019-11-01,15.96,27.47,49.85,NaN,53.55,14.42,40.98,22.22,23.94,28.13,...,10.63,20.58,17.79,6.47,37.89,24.79,7.64,36.68,12.51,38.83
2019-11-04,16.18,26.96,49.27,NaN,53.50,14.44,40.75,22.33,23.96,27.55,...,11.02,20.13,17.83,6.62,38.97,24.23,7.57,37.46,12.63,37.51
2019-11-05,16.31,26.88,51.23,NaN,53.37,14.45,41.00,22.71,24.28,28.23,...,11.09,19.47,17.70,6.62,39.01,23.96,7.38,37.05,12.92,36.76

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-09,14.61,12.24,30.18,NaN,31.84,7.34,33.91,17.14,19.30,19.76,...,10.83,8.13,18.11,8.61,42.75,17.25,5.31,30.36,8.85,18.88
2018-11-12,14.49,11.93,31.92,NaN,32.89,7.40,34.47,17.16,19.28,19.66,...,10.65,7.76,18.07,8.33,42.90,16.63,5.38,30.50,8.77,19.23
2018-11-13,14.32,12.05,31.89,NaN,32.85,7.36,34.07,16.80,18.94,19.63,...,10.17,7.68,17.66,8.09,44.01,17.54,5.40,31.04,8.62,19.53
2018-11-14,14.57,12.02,33.05,NaN,33.36,7.43,34.13,16.98,19.20,19.99,...,10.61,8.13,18.51,7.86,43.14,17.08,5.33,31.11,8.76,20.43
2018-11-16,14.99,12.42,33.53,NaN,35.00,7.80,35.21,17.92,20.13,20.37,...,10.63,8.28,19.54,8.41,43.92,17.27,5.27,31.96,8.82,22.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31,16.00,26.92,49.52,NaN,52.52,14.18,41.14,22.47,24.14,27.84,...,10.59,20.24,17.30,6.33,36.92,24.67,7.42,36.88,12.32,37.63
2019-11-01,15.96,27.47,49.85,NaN,53.55,14.42,40.98,22.22,23.94,28.13,...,10.63,20.58,17.79,6.47,37.89,24.79,7.64,36.68,12.51,38.83
2019-11-04,16.18,26.96,49.27,NaN,53.50,14.44,40.75,22.33,23.96,27.55,...,11.02,20.13,17.83,6.62,38.97,24.23,7.57,37.46,12.63,37.51
2019-11-05,16.31,26.88,51.23,NaN,53.37,14.45,41.00,22.71,24.28,28.23,...,11.09,19.47,17.70,6.62,39.01,23.96,7.38,37.05,12.92,36.76
2019-11-06,16.13,27.03,52.90,NaN,51.73,14.33,40.73,22.39,24.15,28.99,...,11.57,20.00,17.93,6.71,38.87,23.99,7.45,37.54,13.13,37.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-12,14.49,11.93,31.92,NaN,32.89,7.40,34.47,17.16,19.28,19.66,...,10.65,7.76,18.07,8.33,42.90,16.63,5.38,30.50,8.77,19.23
2018-11-13,14.32,12.05,31.89,NaN,32.85,7.36,34.07,16.80,18.94,19.63,...,10.17,7.68,17.66,8.09,44.01,17.54,5.40,31.04,8.62,19.53
2018-11-14,14.57,12.02,33.05,NaN,33.36,7.43,34.13,16.98,19.20,19.99,...,10.61,8.13,18.51,7.86,43.14,17.08,5.33,31.11,8.76,20.43
2018-11-16,14.99,12.42,33.53,NaN,35.00,7.80,35.21,17.92,20.13,20.37,...,10.63,8.28,19.54,8.41,43.92,17.27,5.27,31.96,8.82,22.00
2018-11-19,14.96,12.25,34.01,NaN,34.39,7.51,36.03,17.71,20.04,19.79,...,10.49,8.42,19.50,8.02,43.31,18.29,5.16,31.56,8.66,21.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-01,15.96,27.47,49.85,NaN,53.55,14.42,40.98,22.22,23.94,28.13,...,10.63,20.58,17.79,6.47,37.89,24.79,7.64,36.68,12.51,38.83
2019-11-04,16.18,26.96,49.27,NaN,53.50,14.44,40.75,22.33,23.96,27.55,...,11.02,20.13,17.83,6.62,38.97,24.23,7.57,37.46,12.63,37.51
2019-11-05,16.31,26.88,51.23,NaN,53.37,14.45,41.00,22.71,24.28,28.23,...,11.09,19.47,17.70,6.62,39.01,23.96,7.38,37.05,12.92,36.76
2019-11-06,16.13,27.03,52.90,NaN,51.73,14.33,40.73,22.39,24.15,28.99,...,11.57,20.00,17.93,6.71,38.87,23.99,7.45,37.54,13.13,37.85
2019-11-07,16.17,27.01,51.77,NaN,52.49,14.48,40.73,22.59,24.22,29.06,...,11.59,19.85,18.87,7.24,39.19,23.75,7.42,37.10,13.57,37.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-13,14.32,12.05,31.89,NaN,32.85,7.36,34.07,16.80,18.94,19.63,...,10.17,7.68,17.66,8.09,44.01,17.54,5.40,31.04,8.62,19.53
2018-11-14,14.57,12.02,33.05,NaN,33.36,7.43,34.13,16.98,19.20,19.99,...,10.61,8.13,18.51,7.86,43.14,17.08,5.33,31.11,8.76,20.43
2018-11-16,14.99,12.42,33.53,NaN,35.00,7.80,35.21,17.92,20.13,20.37,...,10.63,8.28,19.54,8.41,43.92,17.27,5.27,31.96,8.82,22.00
2018-11-19,14.96,12.25,34.01,NaN,34.39,7.51,36.03,17.71,20.04,19.79,...,10.49,8.42,19.50,8.02,43.31,18.29,5.16,31.56,8.66,21.97
2018-11-21,14.88,12.13,33.66,NaN,34.91,7.62,35.95,17.55,19.82,20.14,...,10.29,8.32,20.36,7.91,42.65,18.47,5.08,31.53,8.54,22.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-04,16.18,26.96,49.27,NaN,53.50,14.44,40.75,22.33,23.96,27.55,...,11.02,20.13,17.83,6.62,38.97,24.23,7.57,37.46,12.63,37.51
2019-11-05,16.31,26.88,51.23,NaN,53.37,14.45,41.00,22.71,24.28,28.23,...,11.09,19.47,17.70,6.62,39.01,23.96,7.38,37.05,12.92,36.76
2019-11-06,16.13,27.03,52.90,NaN,51.73,14.33,40.73,22.39,24.15,28.99,...,11.57,20.00,17.93,6.71,38.87,23.99,7.45,37.54,13.13,37.85
2019-11-07,16.17,27.01,51.77,NaN,52.49,14.48,40.73,22.59,24.22,29.06,...,11.59,19.85,18.87,7.24,39.19,23.75,7.42,37.10,13.57,37.26
2019-11-08,15.93,27.45,50.77,NaN,50.92,14.27,40.16,21.92,23.52,28.43,...,11.88,19.94,18.78,6.99,38.47,24.15,7.25,37.29,13.65,36.11

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-14,14.57,12.02,33.05,NaN,33.36,7.43,34.13,16.98,19.20,19.99,...,10.61,8.13,18.51,7.86,43.14,17.08,5.33,31.11,8.76,20.43
2018-11-16,14.99,12.42,33.53,NaN,35.00,7.80,35.21,17.92,20.13,20.37,...,10.63,8.28,19.54,8.41,43.92,17.27,5.27,31.96,8.82,22.00
2018-11-19,14.96,12.25,34.01,NaN,34.39,7.51,36.03,17.71,20.04,19.79,...,10.49,8.42,19.50,8.02,43.31,18.29,5.16,31.56,8.66,21.97
2018-11-21,14.88,12.13,33.66,NaN,34.91,7.62,35.95,17.55,19.82,20.14,...,10.29,8.32,20.36,7.91,42.65,18.47,5.08,31.53,8.54,22.10
2018-11-22,14.99,12.14,34.77,NaN,35.67,7.60,36.62,17.58,19.90,19.93,...,10.21,8.44,20.30,7.78,42.27,18.40,4.92,31.77,8.38,21.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-05,16.31,26.88,51.23,NaN,53.37,14.45,41.00,22.71,24.28,28.23,...,11.09,19.47,17.70,6.62,39.01,23.96,7.38,37.05,12.92,36.76
2019-11-06,16.13,27.03,52.90,NaN,51.73,14.33,40.73,22.39,24.15,28.99,...,11.57,20.00,17.93,6.71,38.87,23.99,7.45,37.54,13.13,37.85
2019-11-07,16.17,27.01,51.77,NaN,52.49,14.48,40.73,22.59,24.22,29.06,...,11.59,19.85,18.87,7.24,39.19,23.75,7.42,37.10,13.57,37.26
2019-11-08,15.93,27.45,50.77,NaN,50.92,14.27,40.16,21.92,23.52,28.43,...,11.88,19.94,18.78,6.99,38.47,24.15,7.25,37.29,13.65,36.11
2019-11-11,16.15,28.66,51.77,NaN,50.45,14.68,40.36,22.02,23.46,28.34,...,11.75,20.33,18.80,6.89,37.65,24.69,7.31,37.51,14.06,36.59

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-16,14.99,12.42,33.53,NaN,35.00,7.80,35.21,17.92,20.13,20.37,...,10.63,8.28,19.54,8.41,43.92,17.27,5.27,31.96,8.82,22.00
2018-11-19,14.96,12.25,34.01,NaN,34.39,7.51,36.03,17.71,20.04,19.79,...,10.49,8.42,19.50,8.02,43.31,18.29,5.16,31.56,8.66,21.97
2018-11-21,14.88,12.13,33.66,NaN,34.91,7.62,35.95,17.55,19.82,20.14,...,10.29,8.32,20.36,7.91,42.65,18.47,5.08,31.53,8.54,22.10
2018-11-22,14.99,12.14,34.77,NaN,35.67,7.60,36.62,17.58,19.90,19.93,...,10.21,8.44,20.30,7.78,42.27,18.40,4.92,31.77,8.38,21.99
2018-11-23,14.72,11.91,35.94,NaN,36.00,7.55,36.90,17.62,19.86,20.20,...,10.03,8.37,20.39,7.41,39.38,18.94,4.95,31.30,8.41,21.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-06,16.13,27.03,52.90,NaN,51.73,14.33,40.73,22.39,24.15,28.99,...,11.57,20.00,17.93,6.71,38.87,23.99,7.45,37.54,13.13,37.85
2019-11-07,16.17,27.01,51.77,NaN,52.49,14.48,40.73,22.59,24.22,29.06,...,11.59,19.85,18.87,7.24,39.19,23.75,7.42,37.10,13.57,37.26
2019-11-08,15.93,27.45,50.77,NaN,50.92,14.27,40.16,21.92,23.52,28.43,...,11.88,19.94,18.78,6.99,38.47,24.15,7.25,37.29,13.65,36.11
2019-11-11,16.15,28.66,51.77,NaN,50.45,14.68,40.36,22.02,23.46,28.34,...,11.75,20.33,18.80,6.89,37.65,24.69,7.31,37.51,14.06,36.59
2019-11-12,15.99,28.03,50.98,NaN,48.51,14.42,39.92,21.71,23.24,27.99,...,11.41,20.24,18.73,6.73,37.47,23.81,7.09,37.24,13.77,35.27

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-19,14.96,12.25,34.01,NaN,34.39,7.51,36.03,17.71,20.04,19.79,...,10.49,8.42,19.50,8.02,43.31,18.29,5.16,31.56,8.66,21.97
2018-11-21,14.88,12.13,33.66,NaN,34.91,7.62,35.95,17.55,19.82,20.14,...,10.29,8.32,20.36,7.91,42.65,18.47,5.08,31.53,8.54,22.10
2018-11-22,14.99,12.14,34.77,NaN,35.67,7.60,36.62,17.58,19.90,19.93,...,10.21,8.44,20.30,7.78,42.27,18.40,4.92,31.77,8.38,21.99
2018-11-23,14.72,11.91,35.94,NaN,36.00,7.55,36.90,17.62,19.86,20.20,...,10.03,8.37,20.39,7.41,39.38,18.94,4.95,31.30,8.41,21.36
2018-11-26,14.68,11.77,36.23,NaN,33.11,7.54,36.25,17.24,19.57,20.05,...,10.21,9.04,20.24,7.33,39.20,18.94,4.95,31.21,8.44,21.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-07,16.17,27.01,51.77,NaN,52.49,14.48,40.73,22.59,24.22,29.06,...,11.59,19.85,18.87,7.24,39.19,23.75,7.42,37.10,13.57,37.26
2019-11-08,15.93,27.45,50.77,NaN,50.92,14.27,40.16,21.92,23.52,28.43,...,11.88,19.94,18.78,6.99,38.47,24.15,7.25,37.29,13.65,36.11
2019-11-11,16.15,28.66,51.77,NaN,50.45,14.68,40.36,22.02,23.46,28.34,...,11.75,20.33,18.80,6.89,37.65,24.69,7.31,37.51,14.06,36.59
2019-11-12,15.99,28.03,50.98,NaN,48.51,14.42,39.92,21.71,23.24,27.99,...,11.41,20.24,18.73,6.73,37.47,23.81,7.09,37.24,13.77,35.27
2019-11-13,15.99,28.07,50.68,NaN,48.13,14.51,39.26,21.62,23.00,28.04,...,11.72,20.17,18.34,6.62,36.86,23.51,7.02,37.18,14.12,36.08

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-21,14.88,12.13,33.66,NaN,34.91,7.62,35.95,17.55,19.82,20.14,...,10.29,8.32,20.36,7.91,42.65,18.47,5.08,31.53,8.54,22.10
2018-11-22,14.99,12.14,34.77,NaN,35.67,7.60,36.62,17.58,19.90,19.93,...,10.21,8.44,20.30,7.78,42.27,18.40,4.92,31.77,8.38,21.99
2018-11-23,14.72,11.91,35.94,NaN,36.00,7.55,36.90,17.62,19.86,20.20,...,10.03,8.37,20.39,7.41,39.38,18.94,4.95,31.30,8.41,21.36
2018-11-26,14.68,11.77,36.23,NaN,33.11,7.54,36.25,17.24,19.57,20.05,...,10.21,9.04,20.24,7.33,39.20,18.94,4.95,31.21,8.44,21.60
2018-11-27,15.03,12.08,36.46,NaN,33.82,8.02,37.11,17.95,20.37,20.63,...,10.63,9.08,20.62,7.49,39.05,19.16,4.95,31.83,8.58,22.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-08,15.93,27.45,50.77,NaN,50.92,14.27,40.16,21.92,23.52,28.43,...,11.88,19.94,18.78,6.99,38.47,24.15,7.25,37.29,13.65,36.11
2019-11-11,16.15,28.66,51.77,NaN,50.45,14.68,40.36,22.02,23.46,28.34,...,11.75,20.33,18.80,6.89,37.65,24.69,7.31,37.51,14.06,36.59
2019-11-12,15.99,28.03,50.98,NaN,48.51,14.42,39.92,21.71,23.24,27.99,...,11.41,20.24,18.73,6.73,37.47,23.81,7.09,37.24,13.77,35.27
2019-11-13,15.99,28.07,50.68,NaN,48.13,14.51,39.26,21.62,23.00,28.04,...,11.72,20.17,18.34,6.62,36.86,23.51,7.02,37.18,14.12,36.08
2019-11-14,16.07,28.97,52.85,NaN,50.10,14.59,39.74,21.48,22.90,28.19,...,12.06,20.63,18.56,6.62,36.76,23.94,7.60,37.99,14.14,37.78

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-22,14.99,12.14,34.77,NaN,35.67,7.60,36.62,17.58,19.90,19.93,...,10.21,8.44,20.30,7.78,42.27,18.40,4.92,31.77,8.38,21.99
2018-11-23,14.72,11.91,35.94,NaN,36.00,7.55,36.90,17.62,19.86,20.20,...,10.03,8.37,20.39,7.41,39.38,18.94,4.95,31.30,8.41,21.36
2018-11-26,14.68,11.77,36.23,NaN,33.11,7.54,36.25,17.24,19.57,20.05,...,10.21,9.04,20.24,7.33,39.20,18.94,4.95,31.21,8.44,21.60
2018-11-27,15.03,12.08,36.46,NaN,33.82,8.02,37.11,17.95,20.37,20.63,...,10.63,9.08,20.62,7.49,39.05,19.16,4.95,31.83,8.58,22.72
2018-11-28,15.17,12.73,37.87,NaN,34.47,8.06,37.70,18.53,20.79,21.32,...,10.80,9.44,21.11,7.47,40.91,18.95,4.95,32.70,8.63,23.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-11,16.15,28.66,51.77,NaN,50.45,14.68,40.36,22.02,23.46,28.34,...,11.75,20.33,18.80,6.89,37.65,24.69,7.31,37.51,14.06,36.59
2019-11-12,15.99,28.03,50.98,NaN,48.51,14.42,39.92,21.71,23.24,27.99,...,11.41,20.24,18.73,6.73,37.47,23.81,7.09,37.24,13.77,35.27
2019-11-13,15.99,28.07,50.68,NaN,48.13,14.51,39.26,21.62,23.00,28.04,...,11.72,20.17,18.34,6.62,36.86,23.51,7.02,37.18,14.12,36.08
2019-11-14,16.07,28.97,52.85,NaN,50.10,14.59,39.74,21.48,22.90,28.19,...,12.06,20.63,18.56,6.62,36.76,23.94,7.60,37.99,14.14,37.78
2019-11-18,16.17,28.56,52.33,NaN,50.90,14.37,39.76,21.31,22.75,27.78,...,12.26,21.04,18.62,6.57,37.24,23.99,7.56,38.79,14.16,36.34

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-23,14.72,11.91,35.94,NaN,36.00,7.55,36.90,17.62,19.86,20.20,...,10.03,8.37,20.39,7.41,39.38,18.94,4.95,31.30,8.41,21.36
2018-11-26,14.68,11.77,36.23,NaN,33.11,7.54,36.25,17.24,19.57,20.05,...,10.21,9.04,20.24,7.33,39.20,18.94,4.95,31.21,8.44,21.60
2018-11-27,15.03,12.08,36.46,NaN,33.82,8.02,37.11,17.95,20.37,20.63,...,10.63,9.08,20.62,7.49,39.05,19.16,4.95,31.83,8.58,22.72
2018-11-28,15.17,12.73,37.87,NaN,34.47,8.06,37.70,18.53,20.79,21.32,...,10.80,9.44,21.11,7.47,40.91,18.95,4.95,32.70,8.63,23.29
2018-11-29,15.12,12.52,37.32,NaN,34.30,8.19,37.27,18.66,21.05,21.15,...,10.80,9.47,21.65,7.72,40.67,19.07,5.04,32.86,8.66,24.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-12,15.99,28.03,50.98,NaN,48.51,14.42,39.92,21.71,23.24,27.99,...,11.41,20.24,18.73,6.73,37.47,23.81,7.09,37.24,13.77,35.27
2019-11-13,15.99,28.07,50.68,NaN,48.13,14.51,39.26,21.62,23.00,28.04,...,11.72,20.17,18.34,6.62,36.86,23.51,7.02,37.18,14.12,36.08
2019-11-14,16.07,28.97,52.85,NaN,50.10,14.59,39.74,21.48,22.90,28.19,...,12.06,20.63,18.56,6.62,36.76,23.94,7.60,37.99,14.14,37.78
2019-11-18,16.17,28.56,52.33,NaN,50.90,14.37,39.76,21.31,22.75,27.78,...,12.26,21.04,18.62,6.57,37.24,23.99,7.56,38.79,14.16,36.34
2019-11-19,16.27,28.77,52.60,NaN,50.49,14.05,39.57,21.28,22.71,27.89,...,12.38,21.42,18.95,6.67,37.68,23.98,7.45,37.84,14.11,35.76

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-26,14.68,11.77,36.23,NaN,33.11,7.54,36.25,17.24,19.57,20.05,...,10.21,9.04,20.24,7.33,39.20,18.94,4.95,31.21,8.44,21.60
2018-11-27,15.03,12.08,36.46,NaN,33.82,8.02,37.11,17.95,20.37,20.63,...,10.63,9.08,20.62,7.49,39.05,19.16,4.95,31.83,8.58,22.72
2018-11-28,15.17,12.73,37.87,NaN,34.47,8.06,37.70,18.53,20.79,21.32,...,10.80,9.44,21.11,7.47,40.91,18.95,4.95,32.70,8.63,23.29
2018-11-29,15.12,12.52,37.32,NaN,34.30,8.19,37.27,18.66,21.05,21.15,...,10.80,9.47,21.65,7.72,40.67,19.07,5.04,32.86,8.66,24.05
2018-11-30,15.38,12.89,36.88,NaN,34.74,8.06,36.76,18.10,20.80,21.03,...,10.64,9.37,21.13,8.03,41.30,19.06,5.18,32.52,8.47,23.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-13,15.99,28.07,50.68,NaN,48.13,14.51,39.26,21.62,23.00,28.04,...,11.72,20.17,18.34,6.62,36.86,23.51,7.02,37.18,14.12,36.08
2019-11-14,16.07,28.97,52.85,NaN,50.10,14.59,39.74,21.48,22.90,28.19,...,12.06,20.63,18.56,6.62,36.76,23.94,7.60,37.99,14.14,37.78
2019-11-18,16.17,28.56,52.33,NaN,50.90,14.37,39.76,21.31,22.75,27.78,...,12.26,21.04,18.62,6.57,37.24,23.99,7.56,38.79,14.16,36.34
2019-11-19,16.27,28.77,52.60,NaN,50.49,14.05,39.57,21.28,22.71,27.89,...,12.38,21.42,18.95,6.67,37.68,23.98,7.45,37.84,14.11,35.76
2019-11-21,16.64,29.30,53.58,NaN,52.20,14.32,40.08,21.53,22.84,28.81,...,12.51,21.78,20.12,7.11,37.87,23.89,7.55,37.83,13.96,35.62

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-27,15.03,12.08,36.46,NaN,33.82,8.02,37.11,17.95,20.37,20.63,...,10.63,9.08,20.62,7.49,39.05,19.16,4.95,31.83,8.58,22.72
2018-11-28,15.17,12.73,37.87,NaN,34.47,8.06,37.70,18.53,20.79,21.32,...,10.80,9.44,21.11,7.47,40.91,18.95,4.95,32.70,8.63,23.29
2018-11-29,15.12,12.52,37.32,NaN,34.30,8.19,37.27,18.66,21.05,21.15,...,10.80,9.47,21.65,7.72,40.67,19.07,5.04,32.86,8.66,24.05
2018-11-30,15.38,12.89,36.88,NaN,34.74,8.06,36.76,18.10,20.80,21.03,...,10.64,9.37,21.13,8.03,41.30,19.06,5.18,32.52,8.47,23.30
2018-12-03,15.21,12.80,37.86,NaN,33.12,8.05,36.33,18.04,20.44,20.75,...,10.64,9.65,21.28,8.41,42.32,19.49,5.12,31.92,8.54,23.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-14,16.07,28.97,52.85,NaN,50.10,14.59,39.74,21.48,22.90,28.19,...,12.06,20.63,18.56,6.62,36.76,23.94,7.60,37.99,14.14,37.78
2019-11-18,16.17,28.56,52.33,NaN,50.90,14.37,39.76,21.31,22.75,27.78,...,12.26,21.04,18.62,6.57,37.24,23.99,7.56,38.79,14.16,36.34
2019-11-19,16.27,28.77,52.60,NaN,50.49,14.05,39.57,21.28,22.71,27.89,...,12.38,21.42,18.95,6.67,37.68,23.98,7.45,37.84,14.11,35.76
2019-11-21,16.64,29.30,53.58,NaN,52.20,14.32,40.08,21.53,22.84,28.81,...,12.51,21.78,20.12,7.11,37.87,23.89,7.55,37.83,13.96,35.62
2019-11-22,16.75,30.47,54.57,NaN,54.67,14.50,40.68,21.89,23.22,28.85,...,12.66,21.33,20.80,7.16,39.13,23.89,7.86,37.71,14.04,36.28

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-28,15.17,12.73,37.87,NaN,34.47,8.06,37.70,18.53,20.79,21.32,...,10.80,9.44,21.11,7.47,40.91,18.95,4.95,32.70,8.63,23.29
2018-11-29,15.12,12.52,37.32,NaN,34.30,8.19,37.27,18.66,21.05,21.15,...,10.80,9.47,21.65,7.72,40.67,19.07,5.04,32.86,8.66,24.05
2018-11-30,15.38,12.89,36.88,NaN,34.74,8.06,36.76,18.10,20.80,21.03,...,10.64,9.37,21.13,8.03,41.30,19.06,5.18,32.52,8.47,23.30
2018-12-03,15.21,12.80,37.86,NaN,33.12,8.05,36.33,18.04,20.44,20.75,...,10.64,9.65,21.28,8.41,42.32,19.49,5.12,31.92,8.54,23.66
2018-12-04,15.13,12.57,37.96,NaN,32.14,7.97,35.97,18.06,20.39,20.43,...,10.65,9.47,21.03,8.06,41.36,19.48,5.15,31.74,8.58,22.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-18,16.17,28.56,52.33,NaN,50.90,14.37,39.76,21.31,22.75,27.78,...,12.26,21.04,18.62,6.57,37.24,23.99,7.56,38.79,14.16,36.34
2019-11-19,16.27,28.77,52.60,NaN,50.49,14.05,39.57,21.28,22.71,27.89,...,12.38,21.42,18.95,6.67,37.68,23.98,7.45,37.84,14.11,35.76
2019-11-21,16.64,29.30,53.58,NaN,52.20,14.32,40.08,21.53,22.84,28.81,...,12.51,21.78,20.12,7.11,37.87,23.89,7.55,37.83,13.96,35.62
2019-11-22,16.75,30.47,54.57,NaN,54.67,14.50,40.68,21.89,23.22,28.85,...,12.66,21.33,20.80,7.16,39.13,23.89,7.86,37.71,14.04,36.28
2019-11-25,16.76,30.44,53.74,NaN,53.84,14.00,40.55,21.57,23.10,28.36,...,12.80,21.40,20.33,7.32,39.78,24.06,7.93,37.63,14.06,36.11

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-29,15.12,12.52,37.32,NaN,34.30,8.19,37.27,18.66,21.05,21.15,...,10.80,9.47,21.65,7.72,40.67,19.07,5.04,32.86,8.66,24.05
2018-11-30,15.38,12.89,36.88,NaN,34.74,8.06,36.76,18.10,20.80,21.03,...,10.64,9.37,21.13,8.03,41.30,19.06,5.18,32.52,8.47,23.30
2018-12-03,15.21,12.80,37.86,NaN,33.12,8.05,36.33,18.04,20.44,20.75,...,10.64,9.65,21.28,8.41,42.32,19.49,5.12,31.92,8.54,23.66
2018-12-04,15.13,12.57,37.96,NaN,32.14,7.97,35.97,18.06,20.39,20.43,...,10.65,9.47,21.03,8.06,41.36,19.48,5.15,31.74,8.58,22.96
2018-12-05,15.03,12.63,38.45,NaN,33.24,8.06,36.33,18.12,20.38,20.65,...,10.71,9.42,21.15,8.15,41.30,19.37,5.20,31.72,8.49,23.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-19,16.27,28.77,52.60,NaN,50.49,14.05,39.57,21.28,22.71,27.89,...,12.38,21.42,18.95,6.67,37.68,23.98,7.45,37.84,14.11,35.76
2019-11-21,16.64,29.30,53.58,NaN,52.20,14.32,40.08,21.53,22.84,28.81,...,12.51,21.78,20.12,7.11,37.87,23.89,7.55,37.83,13.96,35.62
2019-11-22,16.75,30.47,54.57,NaN,54.67,14.50,40.68,21.89,23.22,28.85,...,12.66,21.33,20.80,7.16,39.13,23.89,7.86,37.71,14.04,36.28
2019-11-25,16.76,30.44,53.74,NaN,53.84,14.00,40.55,21.57,23.10,28.36,...,12.80,21.40,20.33,7.32,39.78,24.06,7.93,37.63,14.06,36.11
2019-11-26,16.60,30.19,52.08,NaN,51.40,13.63,40.02,20.90,22.61,27.77,...,12.64,21.27,20.11,7.40,40.06,24.26,7.95,36.78,13.84,37.23

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-11-30,15.38,12.89,36.88,NaN,34.74,8.06,36.76,18.10,20.80,21.03,...,10.64,9.37,21.13,8.03,41.30,19.06,5.18,32.52,8.47,23.30
2018-12-03,15.21,12.80,37.86,NaN,33.12,8.05,36.33,18.04,20.44,20.75,...,10.64,9.65,21.28,8.41,42.32,19.49,5.12,31.92,8.54,23.66
2018-12-04,15.13,12.57,37.96,NaN,32.14,7.97,35.97,18.06,20.39,20.43,...,10.65,9.47,21.03,8.06,41.36,19.48,5.15,31.74,8.58,22.96
2018-12-05,15.03,12.63,38.45,NaN,33.24,8.06,36.33,18.12,20.38,20.65,...,10.71,9.42,21.15,8.15,41.30,19.37,5.20,31.72,8.49,23.25
2018-12-06,14.89,12.77,37.83,NaN,32.58,8.17,36.55,18.38,20.60,21.17,...,10.50,9.37,21.91,7.99,40.91,19.26,5.18,32.28,8.48,23.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-21,16.64,29.30,53.58,NaN,52.20,14.32,40.08,21.53,22.84,28.81,...,12.51,21.78,20.12,7.11,37.87,23.89,7.55,37.83,13.96,35.62
2019-11-22,16.75,30.47,54.57,NaN,54.67,14.50,40.68,21.89,23.22,28.85,...,12.66,21.33,20.80,7.16,39.13,23.89,7.86,37.71,14.04,36.28
2019-11-25,16.76,30.44,53.74,NaN,53.84,14.00,40.55,21.57,23.10,28.36,...,12.80,21.40,20.33,7.32,39.78,24.06,7.93,37.63,14.06,36.11
2019-11-26,16.60,30.19,52.08,NaN,51.40,13.63,40.02,20.90,22.61,27.77,...,12.64,21.27,20.11,7.40,40.06,24.26,7.95,36.78,13.84,37.23
2019-11-27,16.54,30.64,54.50,NaN,50.99,13.90,41.19,21.19,22.99,27.82,...,12.66,21.47,19.99,7.33,39.56,24.35,8.27,37.83,14.04,38.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-03,15.21,12.80,37.86,NaN,33.12,8.05,36.33,18.04,20.44,20.75,...,10.64,9.65,21.28,8.41,42.32,19.49,5.12,31.92,8.54,23.66
2018-12-04,15.13,12.57,37.96,NaN,32.14,7.97,35.97,18.06,20.39,20.43,...,10.65,9.47,21.03,8.06,41.36,19.48,5.15,31.74,8.58,22.96
2018-12-05,15.03,12.63,38.45,NaN,33.24,8.06,36.33,18.12,20.38,20.65,...,10.71,9.42,21.15,8.15,41.30,19.37,5.20,31.72,8.49,23.25
2018-12-06,14.89,12.77,37.83,NaN,32.58,8.17,36.55,18.38,20.60,21.17,...,10.50,9.37,21.91,7.99,40.91,19.26,5.18,32.28,8.48,23.38
2018-12-07,14.64,12.26,36.60,NaN,31.35,8.15,36.27,18.14,20.50,21.31,...,10.61,9.37,21.47,7.73,40.12,18.89,5.04,32.01,8.41,22.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-22,16.75,30.47,54.57,NaN,54.67,14.50,40.68,21.89,23.22,28.85,...,12.66,21.33,20.80,7.16,39.13,23.89,7.86,37.71,14.04,36.28
2019-11-25,16.76,30.44,53.74,NaN,53.84,14.00,40.55,21.57,23.10,28.36,...,12.80,21.40,20.33,7.32,39.78,24.06,7.93,37.63,14.06,36.11
2019-11-26,16.60,30.19,52.08,NaN,51.40,13.63,40.02,20.90,22.61,27.77,...,12.64,21.27,20.11,7.40,40.06,24.26,7.95,36.78,13.84,37.23
2019-11-27,16.54,30.64,54.50,NaN,50.99,13.90,41.19,21.19,22.99,27.82,...,12.66,21.47,19.99,7.33,39.56,24.35,8.27,37.83,14.04,38.98
2019-11-28,16.58,30.93,53.77,NaN,52.75,14.11,41.42,21.17,22.81,28.25,...,12.91,21.41,20.08,7.36,39.40,24.50,8.59,38.12,14.22,40.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-04,15.13,12.57,37.96,NaN,32.14,7.97,35.97,18.06,20.39,20.43,...,10.65,9.47,21.03,8.06,41.36,19.48,5.15,31.74,8.58,22.96
2018-12-05,15.03,12.63,38.45,NaN,33.24,8.06,36.33,18.12,20.38,20.65,...,10.71,9.42,21.15,8.15,41.30,19.37,5.20,31.72,8.49,23.25
2018-12-06,14.89,12.77,37.83,NaN,32.58,8.17,36.55,18.38,20.60,21.17,...,10.50,9.37,21.91,7.99,40.91,19.26,5.18,32.28,8.48,23.38
2018-12-07,14.64,12.26,36.60,NaN,31.35,8.15,36.27,18.14,20.50,21.31,...,10.61,9.37,21.47,7.73,40.12,18.89,5.04,32.01,8.41,22.74
2018-12-10,14.44,12.21,35.86,NaN,30.86,7.86,35.21,17.73,20.11,21.09,...,10.32,9.18,21.19,7.48,39.26,18.81,4.87,31.17,8.18,22.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-25,16.76,30.44,53.74,NaN,53.84,14.00,40.55,21.57,23.10,28.36,...,12.80,21.40,20.33,7.32,39.78,24.06,7.93,37.63,14.06,36.11
2019-11-26,16.60,30.19,52.08,NaN,51.40,13.63,40.02,20.90,22.61,27.77,...,12.64,21.27,20.11,7.40,40.06,24.26,7.95,36.78,13.84,37.23
2019-11-27,16.54,30.64,54.50,NaN,50.99,13.90,41.19,21.19,22.99,27.82,...,12.66,21.47,19.99,7.33,39.56,24.35,8.27,37.83,14.04,38.98
2019-11-28,16.58,30.93,53.77,NaN,52.75,14.11,41.42,21.17,22.81,28.25,...,12.91,21.41,20.08,7.36,39.40,24.50,8.59,38.12,14.22,40.85
2019-11-29,16.62,31.41,54.92,NaN,53.10,13.98,41.60,21.38,22.92,28.23,...,12.56,21.15,20.00,7.43,39.09,24.64,8.81,38.37,14.70,40.66

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-05,15.03,12.63,38.45,NaN,33.24,8.06,36.33,18.12,20.38,20.65,...,10.71,9.42,21.15,8.15,41.30,19.37,5.20,31.72,8.49,23.25
2018-12-06,14.89,12.77,37.83,NaN,32.58,8.17,36.55,18.38,20.60,21.17,...,10.50,9.37,21.91,7.99,40.91,19.26,5.18,32.28,8.48,23.38
2018-12-07,14.64,12.26,36.60,NaN,31.35,8.15,36.27,18.14,20.50,21.31,...,10.61,9.37,21.47,7.73,40.12,18.89,5.04,32.01,8.41,22.74
2018-12-10,14.44,12.21,35.86,NaN,30.86,7.86,35.21,17.73,20.11,21.09,...,10.32,9.18,21.19,7.48,39.26,18.81,4.87,31.17,8.18,22.43
2018-12-11,14.49,12.37,36.08,NaN,32.87,7.89,35.41,17.80,20.34,21.14,...,10.50,9.12,21.66,7.52,39.58,18.52,4.95,31.65,8.28,22.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-26,16.60,30.19,52.08,NaN,51.40,13.63,40.02,20.90,22.61,27.77,...,12.64,21.27,20.11,7.40,40.06,24.26,7.95,36.78,13.84,37.23
2019-11-27,16.54,30.64,54.50,NaN,50.99,13.90,41.19,21.19,22.99,27.82,...,12.66,21.47,19.99,7.33,39.56,24.35,8.27,37.83,14.04,38.98
2019-11-28,16.58,30.93,53.77,NaN,52.75,14.11,41.42,21.17,22.81,28.25,...,12.91,21.41,20.08,7.36,39.40,24.50,8.59,38.12,14.22,40.85
2019-11-29,16.62,31.41,54.92,NaN,53.10,13.98,41.60,21.38,22.92,28.23,...,12.56,21.15,20.00,7.43,39.09,24.64,8.81,38.37,14.70,40.66
2019-12-02,16.54,30.79,57.32,NaN,52.94,13.95,41.27,21.59,23.07,28.29,...,12.69,20.76,20.27,7.57,40.16,24.83,9.17,38.12,14.57,39.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-06,14.89,12.77,37.83,NaN,32.58,8.17,36.55,18.38,20.60,21.17,...,10.50,9.37,21.91,7.99,40.91,19.26,5.18,32.28,8.48,23.38
2018-12-07,14.64,12.26,36.60,NaN,31.35,8.15,36.27,18.14,20.50,21.31,...,10.61,9.37,21.47,7.73,40.12,18.89,5.04,32.01,8.41,22.74
2018-12-10,14.44,12.21,35.86,NaN,30.86,7.86,35.21,17.73,20.11,21.09,...,10.32,9.18,21.19,7.48,39.26,18.81,4.87,31.17,8.18,22.43
2018-12-11,14.49,12.37,36.08,NaN,32.87,7.89,35.41,17.80,20.34,21.14,...,10.50,9.12,21.66,7.52,39.58,18.52,4.95,31.65,8.28,22.54
2018-12-12,14.49,12.61,36.13,NaN,33.65,8.05,35.49,17.95,20.47,21.18,...,10.72,9.25,22.36,8.04,39.40,18.13,4.78,31.87,8.23,22.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-27,16.54,30.64,54.50,NaN,50.99,13.90,41.19,21.19,22.99,27.82,...,12.66,21.47,19.99,7.33,39.56,24.35,8.27,37.83,14.04,38.98
2019-11-28,16.58,30.93,53.77,NaN,52.75,14.11,41.42,21.17,22.81,28.25,...,12.91,21.41,20.08,7.36,39.40,24.50,8.59,38.12,14.22,40.85
2019-11-29,16.62,31.41,54.92,NaN,53.10,13.98,41.60,21.38,22.92,28.23,...,12.56,21.15,20.00,7.43,39.09,24.64,8.81,38.37,14.70,40.66
2019-12-02,16.54,30.79,57.32,NaN,52.94,13.95,41.27,21.59,23.07,28.29,...,12.69,20.76,20.27,7.57,40.16,24.83,9.17,38.12,14.57,39.79
2019-12-03,16.45,30.78,58.25,NaN,53.50,14.10,42.10,21.49,23.15,29.39,...,12.72,20.43,20.53,7.50,39.44,24.53,9.50,38.94,14.84,40.81

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-07,14.64,12.26,36.60,NaN,31.35,8.15,36.27,18.14,20.50,21.31,...,10.61,9.37,21.47,7.73,40.12,18.89,5.04,32.01,8.41,22.74
2018-12-10,14.44,12.21,35.86,NaN,30.86,7.86,35.21,17.73,20.11,21.09,...,10.32,9.18,21.19,7.48,39.26,18.81,4.87,31.17,8.18,22.43
2018-12-11,14.49,12.37,36.08,NaN,32.87,7.89,35.41,17.80,20.34,21.14,...,10.50,9.12,21.66,7.52,39.58,18.52,4.95,31.65,8.28,22.54
2018-12-12,14.49,12.61,36.13,NaN,33.65,8.05,35.49,17.95,20.47,21.18,...,10.72,9.25,22.36,8.04,39.40,18.13,4.78,31.87,8.23,22.55
2018-12-13,14.83,12.61,35.80,NaN,33.90,7.92,36.40,18.47,21.02,21.28,...,10.84,9.05,22.05,8.29,39.58,18.14,4.70,31.62,8.26,22.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-28,16.58,30.93,53.77,NaN,52.75,14.11,41.42,21.17,22.81,28.25,...,12.91,21.41,20.08,7.36,39.40,24.50,8.59,38.12,14.22,40.85
2019-11-29,16.62,31.41,54.92,NaN,53.10,13.98,41.60,21.38,22.92,28.23,...,12.56,21.15,20.00,7.43,39.09,24.64,8.81,38.37,14.70,40.66
2019-12-02,16.54,30.79,57.32,NaN,52.94,13.95,41.27,21.59,23.07,28.29,...,12.69,20.76,20.27,7.57,40.16,24.83,9.17,38.12,14.57,39.79
2019-12-03,16.45,30.78,58.25,NaN,53.50,14.10,42.10,21.49,23.15,29.39,...,12.72,20.43,20.53,7.50,39.44,24.53,9.50,38.94,14.84,40.81
2019-12-04,16.85,30.78,57.71,NaN,53.41,14.47,42.71,21.97,23.75,29.59,...,13.07,20.88,20.31,7.69,39.83,24.00,9.45,39.37,15.38,40.27

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-10,14.44,12.21,35.86,NaN,30.86,7.86,35.21,17.73,20.11,21.09,...,10.32,9.18,21.19,7.48,39.26,18.81,4.87,31.17,8.18,22.43
2018-12-11,14.49,12.37,36.08,NaN,32.87,7.89,35.41,17.80,20.34,21.14,...,10.50,9.12,21.66,7.52,39.58,18.52,4.95,31.65,8.28,22.54
2018-12-12,14.49,12.61,36.13,NaN,33.65,8.05,35.49,17.95,20.47,21.18,...,10.72,9.25,22.36,8.04,39.40,18.13,4.78,31.87,8.23,22.55
2018-12-13,14.83,12.61,35.80,NaN,33.90,7.92,36.40,18.47,21.02,21.28,...,10.84,9.05,22.05,8.29,39.58,18.14,4.70,31.62,8.26,22.89
2018-12-14,14.59,12.66,36.23,NaN,33.35,7.82,36.42,18.24,20.78,21.17,...,10.97,9.16,22.23,8.06,39.80,18.21,4.35,31.87,8.25,23.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-29,16.62,31.41,54.92,NaN,53.10,13.98,41.60,21.38,22.92,28.23,...,12.56,21.15,20.00,7.43,39.09,24.64,8.81,38.37,14.70,40.66
2019-12-02,16.54,30.79,57.32,NaN,52.94,13.95,41.27,21.59,23.07,28.29,...,12.69,20.76,20.27,7.57,40.16,24.83,9.17,38.12,14.57,39.79
2019-12-03,16.45,30.78,58.25,NaN,53.50,14.10,42.10,21.49,23.15,29.39,...,12.72,20.43,20.53,7.50,39.44,24.53,9.50,38.94,14.84,40.81
2019-12-04,16.85,30.78,57.71,NaN,53.41,14.47,42.71,21.97,23.75,29.59,...,13.07,20.88,20.31,7.69,39.83,24.00,9.45,39.37,15.38,40.27
2019-12-05,16.71,30.93,58.01,NaN,53.41,14.43,42.35,22.12,23.84,30.08,...,13.13,21.02,19.88,7.68,39.85,24.10,9.32,38.63,15.84,40.13

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-11,14.49,12.37,36.08,NaN,32.87,7.89,35.41,17.80,20.34,21.14,...,10.50,9.12,21.66,7.52,39.58,18.52,4.95,31.65,8.28,22.54
2018-12-12,14.49,12.61,36.13,NaN,33.65,8.05,35.49,17.95,20.47,21.18,...,10.72,9.25,22.36,8.04,39.40,18.13,4.78,31.87,8.23,22.55
2018-12-13,14.83,12.61,35.80,NaN,33.90,7.92,36.40,18.47,21.02,21.28,...,10.84,9.05,22.05,8.29,39.58,18.14,4.70,31.62,8.26,22.89
2018-12-14,14.59,12.66,36.23,NaN,33.35,7.82,36.42,18.24,20.78,21.17,...,10.97,9.16,22.23,8.06,39.80,18.21,4.35,31.87,8.25,23.39
2018-12-17,14.63,12.53,35.24,NaN,31.85,7.66,36.09,17.87,20.37,20.86,...,10.74,9.05,22.14,8.41,40.09,18.18,4.36,31.57,8.05,22.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-02,16.54,30.79,57.32,NaN,52.94,13.95,41.27,21.59,23.07,28.29,...,12.69,20.76,20.27,7.57,40.16,24.83,9.17,38.12,14.57,39.79
2019-12-03,16.45,30.78,58.25,NaN,53.50,14.10,42.10,21.49,23.15,29.39,...,12.72,20.43,20.53,7.50,39.44,24.53,9.50,38.94,14.84,40.81
2019-12-04,16.85,30.78,57.71,NaN,53.41,14.47,42.71,21.97,23.75,29.59,...,13.07,20.88,20.31,7.69,39.83,24.00,9.45,39.37,15.38,40.27
2019-12-05,16.71,30.93,58.01,NaN,53.41,14.43,42.35,22.12,23.84,30.08,...,13.13,21.02,19.88,7.68,39.85,24.10,9.32,38.63,15.84,40.13
2019-12-06,16.99,31.67,59.87,NaN,54.70,14.39,42.17,22.11,23.58,30.09,...,13.25,21.39,19.72,7.85,40.16,23.93,10.00,38.95,15.82,42.32

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-12,14.49,12.61,36.13,NaN,33.65,8.05,35.49,17.95,20.47,21.18,...,10.72,9.25,22.36,8.04,39.40,18.13,4.78,31.87,8.23,22.55
2018-12-13,14.83,12.61,35.80,NaN,33.90,7.92,36.40,18.47,21.02,21.28,...,10.84,9.05,22.05,8.29,39.58,18.14,4.70,31.62,8.26,22.89
2018-12-14,14.59,12.66,36.23,NaN,33.35,7.82,36.42,18.24,20.78,21.17,...,10.97,9.16,22.23,8.06,39.80,18.21,4.35,31.87,8.25,23.39
2018-12-17,14.63,12.53,35.24,NaN,31.85,7.66,36.09,17.87,20.37,20.86,...,10.74,9.05,22.14,8.41,40.09,18.18,4.36,31.57,8.05,22.86
2018-12-18,14.43,12.63,35.32,NaN,33.00,7.62,36.17,18.16,20.75,21.05,...,11.21,8.85,22.27,8.25,40.23,18.76,4.58,32.06,8.00,22.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-03,16.45,30.78,58.25,NaN,53.50,14.10,42.10,21.49,23.15,29.39,...,12.72,20.43,20.53,7.50,39.44,24.53,9.50,38.94,14.84,40.81
2019-12-04,16.85,30.78,57.71,NaN,53.41,14.47,42.71,21.97,23.75,29.59,...,13.07,20.88,20.31,7.69,39.83,24.00,9.45,39.37,15.38,40.27
2019-12-05,16.71,30.93,58.01,NaN,53.41,14.43,42.35,22.12,23.84,30.08,...,13.13,21.02,19.88,7.68,39.85,24.10,9.32,38.63,15.84,40.13
2019-12-06,16.99,31.67,59.87,NaN,54.70,14.39,42.17,22.11,23.58,30.09,...,13.25,21.39,19.72,7.85,40.16,23.93,10.00,38.95,15.82,42.32
2019-12-09,16.98,31.36,59.20,NaN,54.71,13.96,42.30,21.93,23.77,30.01,...,13.38,21.27,19.61,7.59,40.23,23.42,10.23,39.34,15.42,40.70

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-13,14.83,12.61,35.80,NaN,33.90,7.92,36.40,18.47,21.02,21.28,...,10.84,9.05,22.05,8.29,39.58,18.14,4.70,31.62,8.26,22.89
2018-12-14,14.59,12.66,36.23,NaN,33.35,7.82,36.42,18.24,20.78,21.17,...,10.97,9.16,22.23,8.06,39.80,18.21,4.35,31.87,8.25,23.39
2018-12-17,14.63,12.53,35.24,NaN,31.85,7.66,36.09,17.87,20.37,20.86,...,10.74,9.05,22.14,8.41,40.09,18.18,4.36,31.57,8.05,22.86
2018-12-18,14.43,12.63,35.32,NaN,33.00,7.62,36.17,18.16,20.75,21.05,...,11.21,8.85,22.27,8.25,40.23,18.76,4.58,32.06,8.00,22.48
2018-12-19,14.24,12.74,36.76,NaN,32.37,7.48,36.17,17.87,20.45,20.66,...,10.94,8.97,22.14,8.33,39.12,18.85,4.66,31.33,8.13,22.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-04,16.85,30.78,57.71,NaN,53.41,14.47,42.71,21.97,23.75,29.59,...,13.07,20.88,20.31,7.69,39.83,24.00,9.45,39.37,15.38,40.27
2019-12-05,16.71,30.93,58.01,NaN,53.41,14.43,42.35,22.12,23.84,30.08,...,13.13,21.02,19.88,7.68,39.85,24.10,9.32,38.63,15.84,40.13
2019-12-06,16.99,31.67,59.87,NaN,54.70,14.39,42.17,22.11,23.58,30.09,...,13.25,21.39,19.72,7.85,40.16,23.93,10.00,38.95,15.82,42.32
2019-12-09,16.98,31.36,59.20,NaN,54.71,13.96,42.30,21.93,23.77,30.01,...,13.38,21.27,19.61,7.59,40.23,23.42,10.23,39.34,15.42,40.70
2019-12-10,16.91,31.62,59.76,NaN,53.60,13.71,41.69,21.84,23.69,29.66,...,13.09,21.20,19.85,7.68,40.05,23.94,10.20,39.14,15.45,40.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-14,14.59,12.66,36.23,NaN,33.35,7.82,36.42,18.24,20.78,21.17,...,10.97,9.16,22.23,8.06,39.80,18.21,4.35,31.87,8.25,23.39
2018-12-17,14.63,12.53,35.24,NaN,31.85,7.66,36.09,17.87,20.37,20.86,...,10.74,9.05,22.14,8.41,40.09,18.18,4.36,31.57,8.05,22.86
2018-12-18,14.43,12.63,35.32,NaN,33.00,7.62,36.17,18.16,20.75,21.05,...,11.21,8.85,22.27,8.25,40.23,18.76,4.58,32.06,8.00,22.48
2018-12-19,14.24,12.74,36.76,NaN,32.37,7.48,36.17,17.87,20.45,20.66,...,10.94,8.97,22.14,8.33,39.12,18.85,4.66,31.33,8.13,22.08
2018-12-20,14.06,13.04,37.91,NaN,33.50,7.46,36.40,18.06,20.56,20.48,...,10.77,9.06,22.60,7.95,38.96,18.98,4.58,30.92,8.20,21.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-05,16.71,30.93,58.01,NaN,53.41,14.43,42.35,22.12,23.84,30.08,...,13.13,21.02,19.88,7.68,39.85,24.10,9.32,38.63,15.84,40.13
2019-12-06,16.99,31.67,59.87,NaN,54.70,14.39,42.17,22.11,23.58,30.09,...,13.25,21.39,19.72,7.85,40.16,23.93,10.00,38.95,15.82,42.32
2019-12-09,16.98,31.36,59.20,NaN,54.71,13.96,42.30,21.93,23.77,30.01,...,13.38,21.27,19.61,7.59,40.23,23.42,10.23,39.34,15.42,40.70
2019-12-10,16.91,31.62,59.76,NaN,53.60,13.71,41.69,21.84,23.69,29.66,...,13.09,21.20,19.85,7.68,40.05,23.94,10.20,39.14,15.45,40.61
2019-12-11,16.99,32.69,59.86,NaN,54.64,13.54,41.63,21.80,23.55,29.79,...,13.15,21.17,19.95,7.79,40.54,24.18,10.32,39.36,15.98,42.33

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-17,14.63,12.53,35.24,NaN,31.85,7.66,36.09,17.87,20.37,20.86,...,10.74,9.05,22.14,8.41,40.09,18.18,4.36,31.57,8.05,22.86
2018-12-18,14.43,12.63,35.32,NaN,33.00,7.62,36.17,18.16,20.75,21.05,...,11.21,8.85,22.27,8.25,40.23,18.76,4.58,32.06,8.00,22.48
2018-12-19,14.24,12.74,36.76,NaN,32.37,7.48,36.17,17.87,20.45,20.66,...,10.94,8.97,22.14,8.33,39.12,18.85,4.66,31.33,8.13,22.08
2018-12-20,14.06,13.04,37.91,NaN,33.50,7.46,36.40,18.06,20.56,20.48,...,10.77,9.06,22.60,7.95,38.96,18.98,4.58,30.92,8.20,21.96
2018-12-21,14.03,13.20,38.08,NaN,35.00,7.64,36.41,17.93,20.40,20.98,...,10.84,8.73,22.18,7.91,39.78,19.04,4.56,30.84,8.25,21.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-06,16.99,31.67,59.87,NaN,54.70,14.39,42.17,22.11,23.58,30.09,...,13.25,21.39,19.72,7.85,40.16,23.93,10.00,38.95,15.82,42.32
2019-12-09,16.98,31.36,59.20,NaN,54.71,13.96,42.30,21.93,23.77,30.01,...,13.38,21.27,19.61,7.59,40.23,23.42,10.23,39.34,15.42,40.70
2019-12-10,16.91,31.62,59.76,NaN,53.60,13.71,41.69,21.84,23.69,29.66,...,13.09,21.20,19.85,7.68,40.05,23.94,10.20,39.14,15.45,40.61
2019-12-11,16.99,32.69,59.86,NaN,54.64,13.54,41.63,21.80,23.55,29.79,...,13.15,21.17,19.95,7.79,40.54,24.18,10.32,39.36,15.98,42.33
2019-12-12,17.22,31.92,62.99,NaN,55.07,13.68,42.69,22.06,23.87,29.91,...,13.40,21.91,20.24,8.11,41.42,24.43,10.00,38.70,16.33,43.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-18,14.43,12.63,35.32,NaN,33.00,7.62,36.17,18.16,20.75,21.05,...,11.21,8.85,22.27,8.25,40.23,18.76,4.58,32.06,8.00,22.48
2018-12-19,14.24,12.74,36.76,NaN,32.37,7.48,36.17,17.87,20.45,20.66,...,10.94,8.97,22.14,8.33,39.12,18.85,4.66,31.33,8.13,22.08
2018-12-20,14.06,13.04,37.91,NaN,33.50,7.46,36.40,18.06,20.56,20.48,...,10.77,9.06,22.60,7.95,38.96,18.98,4.58,30.92,8.20,21.96
2018-12-21,14.03,13.20,38.08,NaN,35.00,7.64,36.41,17.93,20.40,20.98,...,10.84,8.73,22.18,7.91,39.78,19.04,4.56,30.84,8.25,21.53
2018-12-26,14.00,12.91,36.62,NaN,34.89,7.49,36.65,17.81,20.14,20.90,...,10.80,8.84,22.45,7.86,39.45,19.24,4.30,31.17,8.11,21.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-09,16.98,31.36,59.20,NaN,54.71,13.96,42.30,21.93,23.77,30.01,...,13.38,21.27,19.61,7.59,40.23,23.42,10.23,39.34,15.42,40.70
2019-12-10,16.91,31.62,59.76,NaN,53.60,13.71,41.69,21.84,23.69,29.66,...,13.09,21.20,19.85,7.68,40.05,23.94,10.20,39.14,15.45,40.61
2019-12-11,16.99,32.69,59.86,NaN,54.64,13.54,41.63,21.80,23.55,29.79,...,13.15,21.17,19.95,7.79,40.54,24.18,10.32,39.36,15.98,42.33
2019-12-12,17.22,31.92,62.99,NaN,55.07,13.68,42.69,22.06,23.87,29.91,...,13.40,21.91,20.24,8.11,41.42,24.43,10.00,38.70,16.33,43.16
2019-12-13,17.50,32.81,64.54,NaN,56.86,13.60,42.36,22.26,23.91,30.61,...,13.62,22.46,20.41,8.07,42.05,24.18,10.87,39.37,16.45,45.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-19,14.24,12.74,36.76,NaN,32.37,7.48,36.17,17.87,20.45,20.66,...,10.94,8.97,22.14,8.33,39.12,18.85,4.66,31.33,8.13,22.08
2018-12-20,14.06,13.04,37.91,NaN,33.50,7.46,36.40,18.06,20.56,20.48,...,10.77,9.06,22.60,7.95,38.96,18.98,4.58,30.92,8.20,21.96
2018-12-21,14.03,13.20,38.08,NaN,35.00,7.64,36.41,17.93,20.40,20.98,...,10.84,8.73,22.18,7.91,39.78,19.04,4.56,30.84,8.25,21.53
2018-12-26,14.00,12.91,36.62,NaN,34.89,7.49,36.65,17.81,20.14,20.90,...,10.80,8.84,22.45,7.86,39.45,19.24,4.30,31.17,8.11,21.18
2018-12-27,13.96,13.34,38.46,NaN,34.91,7.53,37.26,18.26,20.63,21.20,...,10.44,8.70,23.05,7.73,38.72,19.59,4.32,30.94,8.17,21.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-10,16.91,31.62,59.76,NaN,53.60,13.71,41.69,21.84,23.69,29.66,...,13.09,21.20,19.85,7.68,40.05,23.94,10.20,39.14,15.45,40.61
2019-12-11,16.99,32.69,59.86,NaN,54.64,13.54,41.63,21.80,23.55,29.79,...,13.15,21.17,19.95,7.79,40.54,24.18,10.32,39.36,15.98,42.33
2019-12-12,17.22,31.92,62.99,NaN,55.07,13.68,42.69,22.06,23.87,29.91,...,13.40,21.91,20.24,8.11,41.42,24.43,10.00,38.70,16.33,43.16
2019-12-13,17.50,32.81,64.54,NaN,56.86,13.60,42.36,22.26,23.91,30.61,...,13.62,22.46,20.41,8.07,42.05,24.18,10.87,39.37,16.45,45.26
2019-12-16,17.57,32.60,64.87,NaN,57.27,13.54,41.78,21.93,23.49,30.17,...,13.47,22.23,20.57,7.96,41.72,25.05,11.25,39.23,16.18,45.40

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-20,14.06,13.04,37.91,NaN,33.50,7.46,36.40,18.06,20.56,20.48,...,10.77,9.06,22.60,7.95,38.96,18.98,4.58,30.92,8.20,21.96
2018-12-21,14.03,13.20,38.08,NaN,35.00,7.64,36.41,17.93,20.40,20.98,...,10.84,8.73,22.18,7.91,39.78,19.04,4.56,30.84,8.25,21.53
2018-12-26,14.00,12.91,36.62,NaN,34.89,7.49,36.65,17.81,20.14,20.90,...,10.80,8.84,22.45,7.86,39.45,19.24,4.30,31.17,8.11,21.18
2018-12-27,13.96,13.34,38.46,NaN,34.91,7.53,37.26,18.26,20.63,21.20,...,10.44,8.70,23.05,7.73,38.72,19.59,4.32,30.94,8.17,21.88
2018-12-28,14.22,13.46,40.49,NaN,36.00,7.71,38.39,18.56,21.26,21.51,...,10.63,8.78,23.79,7.92,39.89,20.39,4.39,31.52,8.36,22.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-11,16.99,32.69,59.86,NaN,54.64,13.54,41.63,21.80,23.55,29.79,...,13.15,21.17,19.95,7.79,40.54,24.18,10.32,39.36,15.98,42.33
2019-12-12,17.22,31.92,62.99,NaN,55.07,13.68,42.69,22.06,23.87,29.91,...,13.40,21.91,20.24,8.11,41.42,24.43,10.00,38.70,16.33,43.16
2019-12-13,17.50,32.81,64.54,NaN,56.86,13.60,42.36,22.26,23.91,30.61,...,13.62,22.46,20.41,8.07,42.05,24.18,10.87,39.37,16.45,45.26
2019-12-16,17.57,32.60,64.87,NaN,57.27,13.54,41.78,21.93,23.49,30.17,...,13.47,22.23,20.57,7.96,41.72,25.05,11.25,39.23,16.18,45.40
2019-12-17,17.41,31.72,62.66,NaN,56.87,14.00,42.72,22.28,23.93,30.77,...,13.55,22.20,21.09,8.07,41.78,25.66,10.99,39.28,16.41,44.44

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-21,14.03,13.20,38.08,NaN,35.00,7.64,36.41,17.93,20.40,20.98,...,10.84,8.73,22.18,7.91,39.78,19.04,4.56,30.84,8.25,21.53
2018-12-26,14.00,12.91,36.62,NaN,34.89,7.49,36.65,17.81,20.14,20.90,...,10.80,8.84,22.45,7.86,39.45,19.24,4.30,31.17,8.11,21.18
2018-12-27,13.96,13.34,38.46,NaN,34.91,7.53,37.26,18.26,20.63,21.20,...,10.44,8.70,23.05,7.73,38.72,19.59,4.32,30.94,8.17,21.88
2018-12-28,14.22,13.46,40.49,NaN,36.00,7.71,38.39,18.56,21.26,21.51,...,10.63,8.78,23.79,7.92,39.89,20.39,4.39,31.52,8.36,22.37
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-12,17.22,31.92,62.99,NaN,55.07,13.68,42.69,22.06,23.87,29.91,...,13.40,21.91,20.24,8.11,41.42,24.43,10.00,38.70,16.33,43.16
2019-12-13,17.50,32.81,64.54,NaN,56.86,13.60,42.36,22.26,23.91,30.61,...,13.62,22.46,20.41,8.07,42.05,24.18,10.87,39.37,16.45,45.26
2019-12-16,17.57,32.60,64.87,NaN,57.27,13.54,41.78,21.93,23.49,30.17,...,13.47,22.23,20.57,7.96,41.72,25.05,11.25,39.23,16.18,45.40
2019-12-17,17.41,31.72,62.66,NaN,56.87,14.00,42.72,22.28,23.93,30.77,...,13.55,22.20,21.09,8.07,41.78,25.66,10.99,39.28,16.41,44.44
2019-12-18,17.58,31.92,62.28,NaN,57.61,14.23,44.20,23.14,24.59,31.17,...,13.72,22.13,21.72,8.07,41.88,25.68,11.26,39.56,16.38,46.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-26,14.00,12.91,36.62,NaN,34.89,7.49,36.65,17.81,20.14,20.90,...,10.80,8.84,22.45,7.86,39.45,19.24,4.30,31.17,8.11,21.18
2018-12-27,13.96,13.34,38.46,NaN,34.91,7.53,37.26,18.26,20.63,21.20,...,10.44,8.70,23.05,7.73,38.72,19.59,4.32,30.94,8.17,21.88
2018-12-28,14.22,13.46,40.49,NaN,36.00,7.71,38.39,18.56,21.26,21.51,...,10.63,8.78,23.79,7.92,39.89,20.39,4.39,31.52,8.36,22.37
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-13,17.50,32.81,64.54,NaN,56.86,13.60,42.36,22.26,23.91,30.61,...,13.62,22.46,20.41,8.07,42.05,24.18,10.87,39.37,16.45,45.26
2019-12-16,17.57,32.60,64.87,NaN,57.27,13.54,41.78,21.93,23.49,30.17,...,13.47,22.23,20.57,7.96,41.72,25.05,11.25,39.23,16.18,45.40
2019-12-17,17.41,31.72,62.66,NaN,56.87,14.00,42.72,22.28,23.93,30.77,...,13.55,22.20,21.09,8.07,41.78,25.66,10.99,39.28,16.41,44.44
2019-12-18,17.58,31.92,62.28,NaN,57.61,14.23,44.20,23.14,24.59,31.17,...,13.72,22.13,21.72,8.07,41.88,25.68,11.26,39.56,16.38,46.16
2019-12-19,17.65,32.34,62.21,NaN,57.71,14.23,44.65,23.48,25.05,31.39,...,13.64,22.23,22.27,8.13,42.29,25.86,11.24,39.66,16.24,47.65

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-27,13.96,13.34,38.46,NaN,34.91,7.53,37.26,18.26,20.63,21.20,...,10.44,8.70,23.05,7.73,38.72,19.59,4.32,30.94,8.17,21.88
2018-12-28,14.22,13.46,40.49,NaN,36.00,7.71,38.39,18.56,21.26,21.51,...,10.63,8.78,23.79,7.92,39.89,20.39,4.39,31.52,8.36,22.37
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-16,17.57,32.60,64.87,NaN,57.27,13.54,41.78,21.93,23.49,30.17,...,13.47,22.23,20.57,7.96,41.72,25.05,11.25,39.23,16.18,45.40
2019-12-17,17.41,31.72,62.66,NaN,56.87,14.00,42.72,22.28,23.93,30.77,...,13.55,22.20,21.09,8.07,41.78,25.66,10.99,39.28,16.41,44.44
2019-12-18,17.58,31.92,62.28,NaN,57.61,14.23,44.20,23.14,24.59,31.17,...,13.72,22.13,21.72,8.07,41.88,25.68,11.26,39.56,16.38,46.16
2019-12-19,17.65,32.34,62.21,NaN,57.71,14.23,44.65,23.48,25.05,31.39,...,13.64,22.23,22.27,8.13,42.29,25.86,11.24,39.66,16.24,47.65
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-12-28,14.22,13.46,40.49,NaN,36.00,7.71,38.39,18.56,21.26,21.51,...,10.63,8.78,23.79,7.92,39.89,20.39,4.39,31.52,8.36,22.37
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-17,17.41,31.72,62.66,NaN,56.87,14.00,42.72,22.28,23.93,30.77,...,13.55,22.20,21.09,8.07,41.78,25.66,10.99,39.28,16.41,44.44
2019-12-18,17.58,31.92,62.28,NaN,57.61,14.23,44.20,23.14,24.59,31.17,...,13.72,22.13,21.72,8.07,41.88,25.68,11.26,39.56,16.38,46.16
2019-12-19,17.65,32.34,62.21,NaN,57.71,14.23,44.65,23.48,25.05,31.39,...,13.64,22.23,22.27,8.13,42.29,25.86,11.24,39.66,16.24,47.65
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-18,17.58,31.92,62.28,NaN,57.61,14.23,44.20,23.14,24.59,31.17,...,13.72,22.13,21.72,8.07,41.88,25.68,11.26,39.56,16.38,46.16
2019-12-19,17.65,32.34,62.21,NaN,57.71,14.23,44.65,23.48,25.05,31.39,...,13.64,22.23,22.27,8.13,42.29,25.86,11.24,39.66,16.24,47.65
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-19,17.65,32.34,62.21,NaN,57.71,14.23,44.65,23.48,25.05,31.39,...,13.64,22.23,22.27,8.13,42.29,25.86,11.24,39.66,16.24,47.65
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55

124

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
2019-01-11,15.99,15.01,43.44,NaN,37.20,8.31,40.22,20.37,22.84,21.64,...,11.30,9.78,23.79,8.80,40.97,20.47,4.51,30.87,8.91,25.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
2019-01-11,15.99,15.01,43.44,NaN,37.20,8.31,40.22,20.37,22.84,21.64,...,11.30,9.78,23.79,8.80,40.97,20.47,4.51,30.87,8.91,25.76
2019-01-14,16.22,15.02,43.94,NaN,37.47,8.49,41.15,20.39,23.11,21.83,...,11.30,10.07,23.96,8.54,41.14,20.87,4.82,30.61,9.01,26.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-09,15.14,14.97,43.15,NaN,35.15,8.06,39.47,20.39,23.06,20.78,...,11.79,9.52,23.31,8.73,41.99,20.64,4.01,31.08,8.75,25.14
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
2019-01-11,15.99,15.01,43.44,NaN,37.20,8.31,40.22,20.37,22.84,21.64,...,11.30,9.78,23.79,8.80,40.97,20.47,4.51,30.87,8.91,25.76
2019-01-14,16.22,15.02,43.94,NaN,37.47,8.49,41.15,20.39,23.11,21.83,...,11.30,10.07,23.96,8.54,41.14,20.87,4.82,30.61,9.01,26.92
2019-01-15,16.36,14.98,44.56,NaN,37.00,8.41,40.67,20.46,23.07,21.94,...,11.32,10.38,23.75,8.42,40.95,20.68,4.98,30.81,8.83,27.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
2020-01-09,17.71,33.56,66.33,NaN,57.28,13.18,44.57,23.05,24.42,31.30,...,14.75,22.79,23.06,8.14,42.68,24.69,11.66,41.27,16.12,44.02

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-10,15.58,15.02,44.81,NaN,35.91,8.13,40.05,20.45,22.99,21.37,...,11.34,9.69,23.91,8.93,41.53,20.43,4.42,30.53,8.82,25.51
2019-01-11,15.99,15.01,43.44,NaN,37.20,8.31,40.22,20.37,22.84,21.64,...,11.30,9.78,23.79,8.80,40.97,20.47,4.51,30.87,8.91,25.76
2019-01-14,16.22,15.02,43.94,NaN,37.47,8.49,41.15,20.39,23.11,21.83,...,11.30,10.07,23.96,8.54,41.14,20.87,4.82,30.61,9.01,26.92
2019-01-15,16.36,14.98,44.56,NaN,37.00,8.41,40.67,20.46,23.07,21.94,...,11.32,10.38,23.75,8.42,40.95,20.68,4.98,30.81,8.83,27.30
2019-01-16,16.46,14.94,46.16,NaN,37.00,8.59,40.28,20.57,23.18,22.15,...,11.10,10.27,23.73,8.64,41.18,20.89,5.05,30.58,9.02,27.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
2020-01-09,17.71,33.56,66.33,NaN,57.28,13.18,44.57,23.05,24.42,31.30,...,14.75,22.79,23.06,8.14,42.68,24.69,11.66,41.27,16.12,44.02
2020-01-10,17.78,33.31,65.10,NaN,57.50,13.08,43.52,22.64,23.98,30.93,...,15.14,22.62,23.01,7.98,42.73,24.78,11.70,42.29,16.45,44.21

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-11,15.99,15.01,43.44,NaN,37.20,8.31,40.22,20.37,22.84,21.64,...,11.30,9.78,23.79,8.80,40.97,20.47,4.51,30.87,8.91,25.76
2019-01-14,16.22,15.02,43.94,NaN,37.47,8.49,41.15,20.39,23.11,21.83,...,11.30,10.07,23.96,8.54,41.14,20.87,4.82,30.61,9.01,26.92
2019-01-15,16.36,14.98,44.56,NaN,37.00,8.41,40.67,20.46,23.07,21.94,...,11.32,10.38,23.75,8.42,40.95,20.68,4.98,30.81,8.83,27.30
2019-01-16,16.46,14.94,46.16,NaN,37.00,8.59,40.28,20.57,23.18,22.15,...,11.10,10.27,23.73,8.64,41.18,20.89,5.05,30.58,9.02,27.30
2019-01-17,16.50,14.90,45.05,NaN,37.05,8.63,40.43,20.66,23.25,22.64,...,11.13,10.53,24.60,8.63,42.42,21.02,4.93,30.60,8.96,28.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
2020-01-09,17.71,33.56,66.33,NaN,57.28,13.18,44.57,23.05,24.42,31.30,...,14.75,22.79,23.06,8.14,42.68,24.69,11.66,41.27,16.12,44.02
2020-01-10,17.78,33.31,65.10,NaN,57.50,13.08,43.52,22.64,23.98,30.93,...,15.14,22.62,23.01,7.98,42.73,24.78,11.70,42.29,16.45,44.21
2020-01-13,18.08,33.49,67.43,NaN,58.30,13.10,44.01,22.92,24.23,30.70,...,15.15,22.84,23.22,8.32,44.28,25.30,12.70,43.57,16.60,45.74

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-14,16.22,15.02,43.94,NaN,37.47,8.49,41.15,20.39,23.11,21.83,...,11.30,10.07,23.96,8.54,41.14,20.87,4.82,30.61,9.01,26.92
2019-01-15,16.36,14.98,44.56,NaN,37.00,8.41,40.67,20.46,23.07,21.94,...,11.32,10.38,23.75,8.42,40.95,20.68,4.98,30.81,8.83,27.30
2019-01-16,16.46,14.94,46.16,NaN,37.00,8.59,40.28,20.57,23.18,22.15,...,11.10,10.27,23.73,8.64,41.18,20.89,5.05,30.58,9.02,27.30
2019-01-17,16.50,14.90,45.05,NaN,37.05,8.63,40.43,20.66,23.25,22.64,...,11.13,10.53,24.60,8.63,42.42,21.02,4.93,30.60,8.96,28.94
2019-01-18,16.64,14.86,44.32,NaN,36.36,8.75,40.09,20.90,23.49,23.11,...,11.20,11.02,25.05,8.60,42.83,20.97,4.88,30.87,8.92,28.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
2020-01-09,17.71,33.56,66.33,NaN,57.28,13.18,44.57,23.05,24.42,31.30,...,14.75,22.79,23.06,8.14,42.68,24.69,11.66,41.27,16.12,44.02
2020-01-10,17.78,33.31,65.10,NaN,57.50,13.08,43.52,22.64,23.98,30.93,...,15.14,22.62,23.01,7.98,42.73,24.78,11.70,42.29,16.45,44.21
2020-01-13,18.08,33.49,67.43,NaN,58.30,13.10,44.01,22.92,24.23,30.70,...,15.15,22.84,23.22,8.32,44.28,25.30,12.70,43.57,16.60,45.74
2020-01-14,17.98,33.86,66.63,NaN,59.19,13.18,43.77,22.97,24.21,31.06,...,15.21,22.84,23.48,8.36,44.55,25.31,13.35,44.53,16.93,46.70

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-15,16.36,14.98,44.56,NaN,37.00,8.41,40.67,20.46,23.07,21.94,...,11.32,10.38,23.75,8.42,40.95,20.68,4.98,30.81,8.83,27.30
2019-01-16,16.46,14.94,46.16,NaN,37.00,8.59,40.28,20.57,23.18,22.15,...,11.10,10.27,23.73,8.64,41.18,20.89,5.05,30.58,9.02,27.30
2019-01-17,16.50,14.90,45.05,NaN,37.05,8.63,40.43,20.66,23.25,22.64,...,11.13,10.53,24.60,8.63,42.42,21.02,4.93,30.60,8.96,28.94
2019-01-18,16.64,14.86,44.32,NaN,36.36,8.75,40.09,20.90,23.49,23.11,...,11.20,11.02,25.05,8.60,42.83,20.97,4.88,30.87,8.92,28.52
2019-01-21,16.64,14.94,42.88,NaN,36.18,8.78,39.88,20.54,23.22,22.69,...,11.38,10.79,24.61,8.69,43.24,20.79,4.80,30.91,8.97,27.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-09,17.71,33.56,66.33,NaN,57.28,13.18,44.57,23.05,24.42,31.30,...,14.75,22.79,23.06,8.14,42.68,24.69,11.66,41.27,16.12,44.02
2020-01-10,17.78,33.31,65.10,NaN,57.50,13.08,43.52,22.64,23.98,30.93,...,15.14,22.62,23.01,7.98,42.73,24.78,11.70,42.29,16.45,44.21
2020-01-13,18.08,33.49,67.43,NaN,58.30,13.10,44.01,22.92,24.23,30.70,...,15.15,22.84,23.22,8.32,44.28,25.30,12.70,43.57,16.60,45.74
2020-01-14,17.98,33.86,66.63,NaN,59.19,13.18,43.77,22.97,24.21,31.06,...,15.21,22.84,23.48,8.36,44.55,25.31,13.35,44.53,16.93,46.70
2020-01-15,17.66,34.07,68.35,NaN,59.30,12.83,42.97,22.44,23.78,31.10,...,15.22,22.89,23.26,8.19,44.41,24.99,13.55,44.57,17.04,46.28

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-16,16.46,14.94,46.16,NaN,37.00,8.59,40.28,20.57,23.18,22.15,...,11.10,10.27,23.73,8.64,41.18,20.89,5.05,30.58,9.02,27.30
2019-01-17,16.50,14.90,45.05,NaN,37.05,8.63,40.43,20.66,23.25,22.64,...,11.13,10.53,24.60,8.63,42.42,21.02,4.93,30.60,8.96,28.94
2019-01-18,16.64,14.86,44.32,NaN,36.36,8.75,40.09,20.90,23.49,23.11,...,11.20,11.02,25.05,8.60,42.83,20.97,4.88,30.87,8.92,28.52
2019-01-21,16.64,14.94,42.88,NaN,36.18,8.78,39.88,20.54,23.22,22.69,...,11.38,10.79,24.61,8.69,43.24,20.79,4.80,30.91,8.97,27.06
2019-01-22,16.22,15.49,42.39,NaN,35.50,8.57,39.81,20.53,23.12,22.73,...,11.30,10.97,24.33,8.44,43.08,20.18,4.93,30.53,8.85,27.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-10,17.78,33.31,65.10,NaN,57.50,13.08,43.52,22.64,23.98,30.93,...,15.14,22.62,23.01,7.98,42.73,24.78,11.70,42.29,16.45,44.21
2020-01-13,18.08,33.49,67.43,NaN,58.30,13.10,44.01,22.92,24.23,30.70,...,15.15,22.84,23.22,8.32,44.28,25.30,12.70,43.57,16.60,45.74
2020-01-14,17.98,33.86,66.63,NaN,59.19,13.18,43.77,22.97,24.21,31.06,...,15.21,22.84,23.48,8.36,44.55,25.31,13.35,44.53,16.93,46.70
2020-01-15,17.66,34.07,68.35,NaN,59.30,12.83,42.97,22.44,23.78,31.10,...,15.22,22.89,23.26,8.19,44.41,24.99,13.55,44.57,17.04,46.28
2020-01-16,17.60,34.11,68.59,NaN,59.44,12.98,43.16,22.81,24.12,30.64,...,15.39,22.90,23.31,8.44,44.18,24.75,13.59,45.41,17.35,46.50

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-17,16.50,14.90,45.05,NaN,37.05,8.63,40.43,20.66,23.25,22.64,...,11.13,10.53,24.60,8.63,42.42,21.02,4.93,30.60,8.96,28.94
2019-01-18,16.64,14.86,44.32,NaN,36.36,8.75,40.09,20.90,23.49,23.11,...,11.20,11.02,25.05,8.60,42.83,20.97,4.88,30.87,8.92,28.52
2019-01-21,16.64,14.94,42.88,NaN,36.18,8.78,39.88,20.54,23.22,22.69,...,11.38,10.79,24.61,8.69,43.24,20.79,4.80,30.91,8.97,27.06
2019-01-22,16.22,15.49,42.39,NaN,35.50,8.57,39.81,20.53,23.12,22.73,...,11.30,10.97,24.33,8.44,43.08,20.18,4.93,30.53,8.85,27.53
2019-01-23,15.88,15.73,42.83,NaN,36.00,8.96,40.63,20.91,23.51,23.12,...,11.44,11.03,25.16,8.41,43.53,20.90,5.16,31.14,8.95,27.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-13,18.08,33.49,67.43,NaN,58.30,13.10,44.01,22.92,24.23,30.70,...,15.15,22.84,23.22,8.32,44.28,25.30,12.70,43.57,16.60,45.74
2020-01-14,17.98,33.86,66.63,NaN,59.19,13.18,43.77,22.97,24.21,31.06,...,15.21,22.84,23.48,8.36,44.55,25.31,13.35,44.53,16.93,46.70
2020-01-15,17.66,34.07,68.35,NaN,59.30,12.83,42.97,22.44,23.78,31.10,...,15.22,22.89,23.26,8.19,44.41,24.99,13.55,44.57,17.04,46.28
2020-01-16,17.60,34.11,68.59,NaN,59.44,12.98,43.16,22.81,24.12,30.64,...,15.39,22.90,23.31,8.44,44.18,24.75,13.59,45.41,17.35,46.50
2020-01-17,17.60,34.00,69.47,NaN,61.35,13.39,43.74,23.29,24.69,30.70,...,15.44,23.73,24.09,8.52,45.64,25.27,13.73,44.58,17.80,47.94

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-18,16.64,14.86,44.32,NaN,36.36,8.75,40.09,20.90,23.49,23.11,...,11.20,11.02,25.05,8.60,42.83,20.97,4.88,30.87,8.92,28.52
2019-01-21,16.64,14.94,42.88,NaN,36.18,8.78,39.88,20.54,23.22,22.69,...,11.38,10.79,24.61,8.69,43.24,20.79,4.80,30.91,8.97,27.06
2019-01-22,16.22,15.49,42.39,NaN,35.50,8.57,39.81,20.53,23.12,22.73,...,11.30,10.97,24.33,8.44,43.08,20.18,4.93,30.53,8.85,27.53
2019-01-23,15.88,15.73,42.83,NaN,36.00,8.96,40.63,20.91,23.51,23.12,...,11.44,11.03,25.16,8.41,43.53,20.90,5.16,31.14,8.95,27.75
2019-01-24,15.87,15.97,43.95,NaN,36.06,9.11,40.42,21.22,23.75,23.39,...,11.39,10.89,25.81,8.48,43.92,21.15,5.49,31.67,8.97,28.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-14,17.98,33.86,66.63,NaN,59.19,13.18,43.77,22.97,24.21,31.06,...,15.21,22.84,23.48,8.36,44.55,25.31,13.35,44.53,16.93,46.70
2020-01-15,17.66,34.07,68.35,NaN,59.30,12.83,42.97,22.44,23.78,31.10,...,15.22,22.89,23.26,8.19,44.41,24.99,13.55,44.57,17.04,46.28
2020-01-16,17.60,34.11,68.59,NaN,59.44,12.98,43.16,22.81,24.12,30.64,...,15.39,22.90,23.31,8.44,44.18,24.75,13.59,45.41,17.35,46.50
2020-01-17,17.60,34.00,69.47,NaN,61.35,13.39,43.74,23.29,24.69,30.70,...,15.44,23.73,24.09,8.52,45.64,25.27,13.73,44.58,17.80,47.94
2020-01-20,17.69,34.09,73.78,NaN,61.77,13.44,43.47,22.93,24.21,30.72,...,15.19,23.90,24.52,8.51,45.93,25.60,14.01,44.58,18.35,49.86

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-21,16.64,14.94,42.88,NaN,36.18,8.78,39.88,20.54,23.22,22.69,...,11.38,10.79,24.61,8.69,43.24,20.79,4.80,30.91,8.97,27.06
2019-01-22,16.22,15.49,42.39,NaN,35.50,8.57,39.81,20.53,23.12,22.73,...,11.30,10.97,24.33,8.44,43.08,20.18,4.93,30.53,8.85,27.53
2019-01-23,15.88,15.73,42.83,NaN,36.00,8.96,40.63,20.91,23.51,23.12,...,11.44,11.03,25.16,8.41,43.53,20.90,5.16,31.14,8.95,27.75
2019-01-24,15.87,15.97,43.95,NaN,36.06,9.11,40.42,21.22,23.75,23.39,...,11.39,10.89,25.81,8.48,43.92,21.15,5.49,31.67,8.97,28.33
2019-01-28,16.60,15.87,44.30,NaN,35.06,9.27,39.90,21.72,23.94,23.44,...,11.20,10.50,26.02,8.41,33.15,21.50,5.35,31.98,9.12,27.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-15,17.66,34.07,68.35,NaN,59.30,12.83,42.97,22.44,23.78,31.10,...,15.22,22.89,23.26,8.19,44.41,24.99,13.55,44.57,17.04,46.28
2020-01-16,17.60,34.11,68.59,NaN,59.44,12.98,43.16,22.81,24.12,30.64,...,15.39,22.90,23.31,8.44,44.18,24.75,13.59,45.41,17.35,46.50
2020-01-17,17.60,34.00,69.47,NaN,61.35,13.39,43.74,23.29,24.69,30.70,...,15.44,23.73,24.09,8.52,45.64,25.27,13.73,44.58,17.80,47.94
2020-01-20,17.69,34.09,73.78,NaN,61.77,13.44,43.47,22.93,24.21,30.72,...,15.19,23.90,24.52,8.51,45.93,25.60,14.01,44.58,18.35,49.86
2020-01-21,17.64,34.64,74.64,NaN,60.05,13.20,42.21,22.13,23.40,30.59,...,15.57,23.67,24.16,8.33,44.86,25.22,14.32,46.16,18.14,49.35

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-22,16.22,15.49,42.39,NaN,35.50,8.57,39.81,20.53,23.12,22.73,...,11.30,10.97,24.33,8.44,43.08,20.18,4.93,30.53,8.85,27.53
2019-01-23,15.88,15.73,42.83,NaN,36.00,8.96,40.63,20.91,23.51,23.12,...,11.44,11.03,25.16,8.41,43.53,20.90,5.16,31.14,8.95,27.75
2019-01-24,15.87,15.97,43.95,NaN,36.06,9.11,40.42,21.22,23.75,23.39,...,11.39,10.89,25.81,8.48,43.92,21.15,5.49,31.67,8.97,28.33
2019-01-28,16.60,15.87,44.30,NaN,35.06,9.27,39.90,21.72,23.94,23.44,...,11.20,10.50,26.02,8.41,33.15,21.50,5.35,31.98,9.12,27.65
2019-01-29,16.52,15.80,46.06,NaN,34.80,9.08,41.23,21.13,23.63,23.43,...,10.98,10.62,25.51,8.39,33.43,21.25,5.67,31.45,9.16,29.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-16,17.60,34.11,68.59,NaN,59.44,12.98,43.16,22.81,24.12,30.64,...,15.39,22.90,23.31,8.44,44.18,24.75,13.59,45.41,17.35,46.50
2020-01-17,17.60,34.00,69.47,NaN,61.35,13.39,43.74,23.29,24.69,30.70,...,15.44,23.73,24.09,8.52,45.64,25.27,13.73,44.58,17.80,47.94
2020-01-20,17.69,34.09,73.78,NaN,61.77,13.44,43.47,22.93,24.21,30.72,...,15.19,23.90,24.52,8.51,45.93,25.60,14.01,44.58,18.35,49.86
2020-01-21,17.64,34.64,74.64,NaN,60.05,13.20,42.21,22.13,23.40,30.59,...,15.57,23.67,24.16,8.33,44.86,25.22,14.32,46.16,18.14,49.35
2020-01-22,17.93,34.19,73.94,NaN,59.60,14.03,42.54,22.32,23.48,30.75,...,15.85,24.29,25.14,9.49,45.08,25.53,15.00,45.00,18.82,48.90

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-23,15.88,15.73,42.83,NaN,36.00,8.96,40.63,20.91,23.51,23.12,...,11.44,11.03,25.16,8.41,43.53,20.90,5.16,31.14,8.95,27.75
2019-01-24,15.87,15.97,43.95,NaN,36.06,9.11,40.42,21.22,23.75,23.39,...,11.39,10.89,25.81,8.48,43.92,21.15,5.49,31.67,8.97,28.33
2019-01-28,16.60,15.87,44.30,NaN,35.06,9.27,39.90,21.72,23.94,23.44,...,11.20,10.50,26.02,8.41,33.15,21.50,5.35,31.98,9.12,27.65
2019-01-29,16.52,15.80,46.06,NaN,34.80,9.08,41.23,21.13,23.63,23.43,...,10.98,10.62,25.51,8.39,33.43,21.25,5.67,31.45,9.16,29.17
2019-01-30,16.61,15.93,46.37,NaN,35.95,9.05,41.77,21.30,23.58,23.91,...,10.91,10.65,25.35,8.56,36.45,21.10,5.77,31.68,9.26,30.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-17,17.60,34.00,69.47,NaN,61.35,13.39,43.74,23.29,24.69,30.70,...,15.44,23.73,24.09,8.52,45.64,25.27,13.73,44.58,17.80,47.94
2020-01-20,17.69,34.09,73.78,NaN,61.77,13.44,43.47,22.93,24.21,30.72,...,15.19,23.90,24.52,8.51,45.93,25.60,14.01,44.58,18.35,49.86
2020-01-21,17.64,34.64,74.64,NaN,60.05,13.20,42.21,22.13,23.40,30.59,...,15.57,23.67,24.16,8.33,44.86,25.22,14.32,46.16,18.14,49.35
2020-01-22,17.93,34.19,73.94,NaN,59.60,14.03,42.54,22.32,23.48,30.75,...,15.85,24.29,25.14,9.49,45.08,25.53,15.00,45.00,18.82,48.90
2020-01-23,17.55,34.26,73.46,NaN,61.20,14.38,44.93,22.92,24.10,30.79,...,15.64,24.55,25.50,9.69,44.44,25.90,15.16,45.24,19.18,49.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-24,15.87,15.97,43.95,NaN,36.06,9.11,40.42,21.22,23.75,23.39,...,11.39,10.89,25.81,8.48,43.92,21.15,5.49,31.67,8.97,28.33
2019-01-28,16.60,15.87,44.30,NaN,35.06,9.27,39.90,21.72,23.94,23.44,...,11.20,10.50,26.02,8.41,33.15,21.50,5.35,31.98,9.12,27.65
2019-01-29,16.52,15.80,46.06,NaN,34.80,9.08,41.23,21.13,23.63,23.43,...,10.98,10.62,25.51,8.39,33.43,21.25,5.67,31.45,9.16,29.17
2019-01-30,16.61,15.93,46.37,NaN,35.95,9.05,41.77,21.30,23.58,23.91,...,10.91,10.65,25.35,8.56,36.45,21.10,5.77,31.68,9.26,30.59
2019-01-31,16.19,15.86,48.18,NaN,37.11,9.05,42.83,22.09,24.91,24.22,...,11.25,10.78,25.58,8.48,35.59,21.14,6.00,31.75,8.98,29.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-20,17.69,34.09,73.78,NaN,61.77,13.44,43.47,22.93,24.21,30.72,...,15.19,23.90,24.52,8.51,45.93,25.60,14.01,44.58,18.35,49.86
2020-01-21,17.64,34.64,74.64,NaN,60.05,13.20,42.21,22.13,23.40,30.59,...,15.57,23.67,24.16,8.33,44.86,25.22,14.32,46.16,18.14,49.35
2020-01-22,17.93,34.19,73.94,NaN,59.60,14.03,42.54,22.32,23.48,30.75,...,15.85,24.29,25.14,9.49,45.08,25.53,15.00,45.00,18.82,48.90
2020-01-23,17.55,34.26,73.46,NaN,61.20,14.38,44.93,22.92,24.10,30.79,...,15.64,24.55,25.50,9.69,44.44,25.90,15.16,45.24,19.18,49.85
2020-01-24,17.87,34.32,72.38,NaN,59.46,14.47,44.34,22.80,23.92,30.50,...,15.28,24.09,25.25,9.44,43.08,26.00,15.00,45.67,20.04,49.89

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-28,16.60,15.87,44.30,NaN,35.06,9.27,39.90,21.72,23.94,23.44,...,11.20,10.50,26.02,8.41,33.15,21.50,5.35,31.98,9.12,27.65
2019-01-29,16.52,15.80,46.06,NaN,34.80,9.08,41.23,21.13,23.63,23.43,...,10.98,10.62,25.51,8.39,33.43,21.25,5.67,31.45,9.16,29.17
2019-01-30,16.61,15.93,46.37,NaN,35.95,9.05,41.77,21.30,23.58,23.91,...,10.91,10.65,25.35,8.56,36.45,21.10,5.77,31.68,9.26,30.59
2019-01-31,16.19,15.86,48.18,NaN,37.11,9.05,42.83,22.09,24.91,24.22,...,11.25,10.78,25.58,8.48,35.59,21.14,6.00,31.75,8.98,29.27
2019-02-01,16.74,15.92,46.33,NaN,37.20,9.19,43.03,21.83,24.60,24.48,...,11.42,10.74,25.03,8.38,36.17,21.11,5.96,32.51,9.36,28.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-21,17.64,34.64,74.64,NaN,60.05,13.20,42.21,22.13,23.40,30.59,...,15.57,23.67,24.16,8.33,44.86,25.22,14.32,46.16,18.14,49.35
2020-01-22,17.93,34.19,73.94,NaN,59.60,14.03,42.54,22.32,23.48,30.75,...,15.85,24.29,25.14,9.49,45.08,25.53,15.00,45.00,18.82,48.90
2020-01-23,17.55,34.26,73.46,NaN,61.20,14.38,44.93,22.92,24.10,30.79,...,15.64,24.55,25.50,9.69,44.44,25.90,15.16,45.24,19.18,49.85
2020-01-24,17.87,34.32,72.38,NaN,59.46,14.47,44.34,22.80,23.92,30.50,...,15.28,24.09,25.25,9.44,43.08,26.00,15.00,45.67,20.04,49.89
2020-01-27,17.46,34.19,70.32,NaN,57.48,14.07,43.90,22.19,23.37,29.74,...,15.39,23.69,24.26,8.77,40.44,25.18,13.90,45.09,19.82,48.75

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-29,16.52,15.80,46.06,NaN,34.80,9.08,41.23,21.13,23.63,23.43,...,10.98,10.62,25.51,8.39,33.43,21.25,5.67,31.45,9.16,29.17
2019-01-30,16.61,15.93,46.37,NaN,35.95,9.05,41.77,21.30,23.58,23.91,...,10.91,10.65,25.35,8.56,36.45,21.10,5.77,31.68,9.26,30.59
2019-01-31,16.19,15.86,48.18,NaN,37.11,9.05,42.83,22.09,24.91,24.22,...,11.25,10.78,25.58,8.48,35.59,21.14,6.00,31.75,8.98,29.27
2019-02-01,16.74,15.92,46.33,NaN,37.20,9.19,43.03,21.83,24.60,24.48,...,11.42,10.74,25.03,8.38,36.17,21.11,5.96,32.51,9.36,28.52
2019-02-04,17.06,16.08,46.20,NaN,38.04,9.28,43.85,22.30,25.15,24.66,...,11.45,10.82,25.40,8.46,34.95,21.30,5.99,32.67,9.39,28.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-22,17.93,34.19,73.94,NaN,59.60,14.03,42.54,22.32,23.48,30.75,...,15.85,24.29,25.14,9.49,45.08,25.53,15.00,45.00,18.82,48.90
2020-01-23,17.55,34.26,73.46,NaN,61.20,14.38,44.93,22.92,24.10,30.79,...,15.64,24.55,25.50,9.69,44.44,25.90,15.16,45.24,19.18,49.85
2020-01-24,17.87,34.32,72.38,NaN,59.46,14.47,44.34,22.80,23.92,30.50,...,15.28,24.09,25.25,9.44,43.08,26.00,15.00,45.67,20.04,49.89
2020-01-27,17.46,34.19,70.32,NaN,57.48,14.07,43.90,22.19,23.37,29.74,...,15.39,23.69,24.26,8.77,40.44,25.18,13.90,45.09,19.82,48.75
2020-01-28,17.69,36.61,73.16,NaN,62.41,14.49,44.26,22.25,23.40,29.74,...,15.87,24.45,24.71,8.76,41.00,25.49,14.64,45.37,20.32,50.08

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-30,16.61,15.93,46.37,NaN,35.95,9.05,41.77,21.30,23.58,23.91,...,10.91,10.65,25.35,8.56,36.45,21.10,5.77,31.68,9.26,30.59
2019-01-31,16.19,15.86,48.18,NaN,37.11,9.05,42.83,22.09,24.91,24.22,...,11.25,10.78,25.58,8.48,35.59,21.14,6.00,31.75,8.98,29.27
2019-02-01,16.74,15.92,46.33,NaN,37.20,9.19,43.03,21.83,24.60,24.48,...,11.42,10.74,25.03,8.38,36.17,21.11,5.96,32.51,9.36,28.52
2019-02-04,17.06,16.08,46.20,NaN,38.04,9.28,43.85,22.30,25.15,24.66,...,11.45,10.82,25.40,8.46,34.95,21.30,5.99,32.67,9.39,28.37
2019-02-05,17.23,16.27,44.32,NaN,38.59,9.49,45.13,22.28,25.16,24.56,...,11.41,11.16,25.49,8.48,34.92,21.41,5.64,32.66,9.56,27.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-23,17.55,34.26,73.46,NaN,61.20,14.38,44.93,22.92,24.10,30.79,...,15.64,24.55,25.50,9.69,44.44,25.90,15.16,45.24,19.18,49.85
2020-01-24,17.87,34.32,72.38,NaN,59.46,14.47,44.34,22.80,23.92,30.50,...,15.28,24.09,25.25,9.44,43.08,26.00,15.00,45.67,20.04,49.89
2020-01-27,17.46,34.19,70.32,NaN,57.48,14.07,43.90,22.19,23.37,29.74,...,15.39,23.69,24.26,8.77,40.44,25.18,13.90,45.09,19.82,48.75
2020-01-28,17.69,36.61,73.16,NaN,62.41,14.49,44.26,22.25,23.40,29.74,...,15.87,24.45,24.71,8.76,41.00,25.49,14.64,45.37,20.32,50.08
2020-01-29,17.22,37.52,73.54,NaN,59.87,14.35,43.17,21.78,23.06,30.26,...,15.73,24.10,23.94,8.62,40.64,25.18,14.45,45.88,20.51,49.71

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-31,16.19,15.86,48.18,NaN,37.11,9.05,42.83,22.09,24.91,24.22,...,11.25,10.78,25.58,8.48,35.59,21.14,6.00,31.75,8.98,29.27
2019-02-01,16.74,15.92,46.33,NaN,37.20,9.19,43.03,21.83,24.60,24.48,...,11.42,10.74,25.03,8.38,36.17,21.11,5.96,32.51,9.36,28.52
2019-02-04,17.06,16.08,46.20,NaN,38.04,9.28,43.85,22.30,25.15,24.66,...,11.45,10.82,25.40,8.46,34.95,21.30,5.99,32.67,9.39,28.37
2019-02-05,17.23,16.27,44.32,NaN,38.59,9.49,45.13,22.28,25.16,24.56,...,11.41,11.16,25.49,8.48,34.92,21.41,5.64,32.66,9.56,27.69
2019-02-06,16.72,15.77,42.83,NaN,37.30,9.26,42.38,21.23,23.97,23.49,...,10.98,10.93,24.42,8.09,33.21,20.39,5.29,30.90,9.22,26.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-24,17.87,34.32,72.38,NaN,59.46,14.47,44.34,22.80,23.92,30.50,...,15.28,24.09,25.25,9.44,43.08,26.00,15.00,45.67,20.04,49.89
2020-01-27,17.46,34.19,70.32,NaN,57.48,14.07,43.90,22.19,23.37,29.74,...,15.39,23.69,24.26,8.77,40.44,25.18,13.90,45.09,19.82,48.75
2020-01-28,17.69,36.61,73.16,NaN,62.41,14.49,44.26,22.25,23.40,29.74,...,15.87,24.45,24.71,8.76,41.00,25.49,14.64,45.37,20.32,50.08
2020-01-29,17.22,37.52,73.54,NaN,59.87,14.35,43.17,21.78,23.06,30.26,...,15.73,24.10,23.94,8.62,40.64,25.18,14.45,45.88,20.51,49.71
2020-01-30,17.26,36.42,72.14,NaN,59.71,14.41,43.47,21.98,23.29,30.25,...,15.59,23.84,23.81,8.53,41.24,25.46,14.65,44.40,19.82,50.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-01,16.74,15.92,46.33,NaN,37.20,9.19,43.03,21.83,24.60,24.48,...,11.42,10.74,25.03,8.38,36.17,21.11,5.96,32.51,9.36,28.52
2019-02-04,17.06,16.08,46.20,NaN,38.04,9.28,43.85,22.30,25.15,24.66,...,11.45,10.82,25.40,8.46,34.95,21.30,5.99,32.67,9.39,28.37
2019-02-05,17.23,16.27,44.32,NaN,38.59,9.49,45.13,22.28,25.16,24.56,...,11.41,11.16,25.49,8.48,34.92,21.41,5.64,32.66,9.56,27.69
2019-02-06,16.72,15.77,42.83,NaN,37.30,9.26,42.38,21.23,23.97,23.49,...,10.98,10.93,24.42,8.09,33.21,20.39,5.29,30.90,9.22,26.74
2019-02-07,17.34,15.61,42.49,NaN,36.18,8.92,42.66,21.53,24.34,23.56,...,10.80,10.60,24.12,8.16,32.53,19.84,5.45,32.03,9.14,27.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-27,17.46,34.19,70.32,NaN,57.48,14.07,43.90,22.19,23.37,29.74,...,15.39,23.69,24.26,8.77,40.44,25.18,13.90,45.09,19.82,48.75
2020-01-28,17.69,36.61,73.16,NaN,62.41,14.49,44.26,22.25,23.40,29.74,...,15.87,24.45,24.71,8.76,41.00,25.49,14.64,45.37,20.32,50.08
2020-01-29,17.22,37.52,73.54,NaN,59.87,14.35,43.17,21.78,23.06,30.26,...,15.73,24.10,23.94,8.62,40.64,25.18,14.45,45.88,20.51,49.71
2020-01-30,17.26,36.42,72.14,NaN,59.71,14.41,43.47,21.98,23.29,30.25,...,15.59,23.84,23.81,8.53,41.24,25.46,14.65,44.40,19.82,50.14
2020-01-31,16.80,35.42,69.41,NaN,59.26,14.23,42.37,21.74,22.90,29.55,...,15.62,24.48,23.16,8.40,40.25,25.31,14.00,44.05,19.06,50.54

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-04,17.06,16.08,46.20,NaN,38.04,9.28,43.85,22.30,25.15,24.66,...,11.45,10.82,25.40,8.46,34.95,21.30,5.99,32.67,9.39,28.37
2019-02-05,17.23,16.27,44.32,NaN,38.59,9.49,45.13,22.28,25.16,24.56,...,11.41,11.16,25.49,8.48,34.92,21.41,5.64,32.66,9.56,27.69
2019-02-06,16.72,15.77,42.83,NaN,37.30,9.26,42.38,21.23,23.97,23.49,...,10.98,10.93,24.42,8.09,33.21,20.39,5.29,30.90,9.22,26.74
2019-02-07,17.34,15.61,42.49,NaN,36.18,8.92,42.66,21.53,24.34,23.56,...,10.80,10.60,24.12,8.16,32.53,19.84,5.45,32.03,9.14,27.11
2019-02-08,16.85,15.67,43.35,NaN,37.00,9.01,42.72,22.09,24.59,23.58,...,10.70,10.47,24.12,8.32,33.76,19.93,5.56,31.84,9.06,27.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-28,17.69,36.61,73.16,NaN,62.41,14.49,44.26,22.25,23.40,29.74,...,15.87,24.45,24.71,8.76,41.00,25.49,14.64,45.37,20.32,50.08
2020-01-29,17.22,37.52,73.54,NaN,59.87,14.35,43.17,21.78,23.06,30.26,...,15.73,24.10,23.94,8.62,40.64,25.18,14.45,45.88,20.51,49.71
2020-01-30,17.26,36.42,72.14,NaN,59.71,14.41,43.47,21.98,23.29,30.25,...,15.59,23.84,23.81,8.53,41.24,25.46,14.65,44.40,19.82,50.14
2020-01-31,16.80,35.42,69.41,NaN,59.26,14.23,42.37,21.74,22.90,29.55,...,15.62,24.48,23.16,8.40,40.25,25.31,14.00,44.05,19.06,50.54
2020-02-03,16.56,35.73,69.63,NaN,60.13,14.79,42.58,21.90,23.05,29.68,...,15.91,25.71,23.26,8.46,40.76,25.79,14.49,44.63,19.67,52.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-05,17.23,16.27,44.32,NaN,38.59,9.49,45.13,22.28,25.16,24.56,...,11.41,11.16,25.49,8.48,34.92,21.41,5.64,32.66,9.56,27.69
2019-02-06,16.72,15.77,42.83,NaN,37.30,9.26,42.38,21.23,23.97,23.49,...,10.98,10.93,24.42,8.09,33.21,20.39,5.29,30.90,9.22,26.74
2019-02-07,17.34,15.61,42.49,NaN,36.18,8.92,42.66,21.53,24.34,23.56,...,10.80,10.60,24.12,8.16,32.53,19.84,5.45,32.03,9.14,27.11
2019-02-08,16.85,15.67,43.35,NaN,37.00,9.01,42.72,22.09,24.59,23.58,...,10.70,10.47,24.12,8.32,33.76,19.93,5.56,31.84,9.06,27.50
2019-02-11,17.30,15.46,42.73,NaN,37.20,8.86,41.46,21.66,24.45,23.04,...,10.65,10.49,24.10,8.29,32.87,20.31,5.52,32.07,9.01,28.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-29,17.22,37.52,73.54,NaN,59.87,14.35,43.17,21.78,23.06,30.26,...,15.73,24.10,23.94,8.62,40.64,25.18,14.45,45.88,20.51,49.71
2020-01-30,17.26,36.42,72.14,NaN,59.71,14.41,43.47,21.98,23.29,30.25,...,15.59,23.84,23.81,8.53,41.24,25.46,14.65,44.40,19.82,50.14
2020-01-31,16.80,35.42,69.41,NaN,59.26,14.23,42.37,21.74,22.90,29.55,...,15.62,24.48,23.16,8.40,40.25,25.31,14.00,44.05,19.06,50.54
2020-02-03,16.56,35.73,69.63,NaN,60.13,14.79,42.58,21.90,23.05,29.68,...,15.91,25.71,23.26,8.46,40.76,25.79,14.49,44.63,19.67,52.61
2020-02-04,16.61,34.90,71.60,NaN,60.80,14.75,42.11,21.98,23.06,29.27,...,15.77,25.58,23.04,8.54,41.85,25.69,14.95,44.38,19.60,54.27

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-06,16.72,15.77,42.83,NaN,37.30,9.26,42.38,21.23,23.97,23.49,...,10.98,10.93,24.42,8.09,33.21,20.39,5.29,30.90,9.22,26.74
2019-02-07,17.34,15.61,42.49,NaN,36.18,8.92,42.66,21.53,24.34,23.56,...,10.80,10.60,24.12,8.16,32.53,19.84,5.45,32.03,9.14,27.11
2019-02-08,16.85,15.67,43.35,NaN,37.00,9.01,42.72,22.09,24.59,23.58,...,10.70,10.47,24.12,8.32,33.76,19.93,5.56,31.84,9.06,27.50
2019-02-11,17.30,15.46,42.73,NaN,37.20,8.86,41.46,21.66,24.45,23.04,...,10.65,10.49,24.10,8.29,32.87,20.31,5.52,32.07,9.01,28.03
2019-02-12,17.26,15.70,44.71,NaN,38.26,8.95,44.01,22.13,24.94,22.55,...,10.55,10.21,24.01,8.29,34.65,20.25,5.56,31.97,9.00,27.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-30,17.26,36.42,72.14,NaN,59.71,14.41,43.47,21.98,23.29,30.25,...,15.59,23.84,23.81,8.53,41.24,25.46,14.65,44.40,19.82,50.14
2020-01-31,16.80,35.42,69.41,NaN,59.26,14.23,42.37,21.74,22.90,29.55,...,15.62,24.48,23.16,8.40,40.25,25.31,14.00,44.05,19.06,50.54
2020-02-03,16.56,35.73,69.63,NaN,60.13,14.79,42.58,21.90,23.05,29.68,...,15.91,25.71,23.26,8.46,40.76,25.79,14.49,44.63,19.67,52.61
2020-02-04,16.61,34.90,71.60,NaN,60.80,14.75,42.11,21.98,23.06,29.27,...,15.77,25.58,23.04,8.54,41.85,25.69,14.95,44.38,19.60,54.27
2020-02-05,16.24,35.18,71.65,NaN,61.27,14.57,43.99,22.38,23.51,29.42,...,15.67,25.66,23.30,8.96,42.43,26.00,15.14,44.09,20.01,53.22

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-07,17.34,15.61,42.49,NaN,36.18,8.92,42.66,21.53,24.34,23.56,...,10.80,10.60,24.12,8.16,32.53,19.84,5.45,32.03,9.14,27.11
2019-02-08,16.85,15.67,43.35,NaN,37.00,9.01,42.72,22.09,24.59,23.58,...,10.70,10.47,24.12,8.32,33.76,19.93,5.56,31.84,9.06,27.50
2019-02-11,17.30,15.46,42.73,NaN,37.20,8.86,41.46,21.66,24.45,23.04,...,10.65,10.49,24.10,8.29,32.87,20.31,5.52,32.07,9.01,28.03
2019-02-12,17.26,15.70,44.71,NaN,38.26,8.95,44.01,22.13,24.94,22.55,...,10.55,10.21,24.01,8.29,34.65,20.25,5.56,31.97,9.00,27.61
2019-02-13,17.00,15.64,44.68,NaN,38.40,8.93,43.01,21.94,24.56,22.14,...,10.52,10.31,24.69,8.32,35.58,20.83,5.45,32.20,8.90,28.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-31,16.80,35.42,69.41,NaN,59.26,14.23,42.37,21.74,22.90,29.55,...,15.62,24.48,23.16,8.40,40.25,25.31,14.00,44.05,19.06,50.54
2020-02-03,16.56,35.73,69.63,NaN,60.13,14.79,42.58,21.90,23.05,29.68,...,15.91,25.71,23.26,8.46,40.76,25.79,14.49,44.63,19.67,52.61
2020-02-04,16.61,34.90,71.60,NaN,60.80,14.75,42.11,21.98,23.06,29.27,...,15.77,25.58,23.04,8.54,41.85,25.69,14.95,44.38,19.60,54.27
2020-02-05,16.24,35.18,71.65,NaN,61.27,14.57,43.99,22.38,23.51,29.42,...,15.67,25.66,23.30,8.96,42.43,26.00,15.14,44.09,20.01,53.22
2020-02-06,15.88,34.50,69.70,NaN,59.07,14.38,43.25,22.07,23.24,29.57,...,15.51,25.14,23.01,8.76,42.66,25.75,14.85,44.23,20.72,51.45

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-08,16.85,15.67,43.35,NaN,37.00,9.01,42.72,22.09,24.59,23.58,...,10.70,10.47,24.12,8.32,33.76,19.93,5.56,31.84,9.06,27.50
2019-02-11,17.30,15.46,42.73,NaN,37.20,8.86,41.46,21.66,24.45,23.04,...,10.65,10.49,24.10,8.29,32.87,20.31,5.52,32.07,9.01,28.03
2019-02-12,17.26,15.70,44.71,NaN,38.26,8.95,44.01,22.13,24.94,22.55,...,10.55,10.21,24.01,8.29,34.65,20.25,5.56,31.97,9.00,27.61
2019-02-13,17.00,15.64,44.68,NaN,38.40,8.93,43.01,21.94,24.56,22.14,...,10.52,10.31,24.69,8.32,35.58,20.83,5.45,32.20,8.90,28.27
2019-02-14,17.19,15.61,45.77,NaN,38.60,9.31,45.21,22.69,25.49,22.35,...,10.63,10.56,25.05,8.36,35.71,21.06,5.45,32.29,8.98,29.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-03,16.56,35.73,69.63,NaN,60.13,14.79,42.58,21.90,23.05,29.68,...,15.91,25.71,23.26,8.46,40.76,25.79,14.49,44.63,19.67,52.61
2020-02-04,16.61,34.90,71.60,NaN,60.80,14.75,42.11,21.98,23.06,29.27,...,15.77,25.58,23.04,8.54,41.85,25.69,14.95,44.38,19.60,54.27
2020-02-05,16.24,35.18,71.65,NaN,61.27,14.57,43.99,22.38,23.51,29.42,...,15.67,25.66,23.30,8.96,42.43,26.00,15.14,44.09,20.01,53.22
2020-02-06,15.88,34.50,69.70,NaN,59.07,14.38,43.25,22.07,23.24,29.57,...,15.51,25.14,23.01,8.76,42.66,25.75,14.85,44.23,20.72,51.45
2020-02-07,15.92,34.12,66.25,NaN,56.29,14.26,43.29,22.00,23.50,30.04,...,15.54,24.74,22.32,8.39,41.72,25.34,14.32,43.66,19.88,50.63

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-11,17.30,15.46,42.73,NaN,37.20,8.86,41.46,21.66,24.45,23.04,...,10.65,10.49,24.10,8.29,32.87,20.31,5.52,32.07,9.01,28.03
2019-02-12,17.26,15.70,44.71,NaN,38.26,8.95,44.01,22.13,24.94,22.55,...,10.55,10.21,24.01,8.29,34.65,20.25,5.56,31.97,9.00,27.61
2019-02-13,17.00,15.64,44.68,NaN,38.40,8.93,43.01,21.94,24.56,22.14,...,10.52,10.31,24.69,8.32,35.58,20.83,5.45,32.20,8.90,28.27
2019-02-14,17.19,15.61,45.77,NaN,38.60,9.31,45.21,22.69,25.49,22.35,...,10.63,10.56,25.05,8.36,35.71,21.06,5.45,32.29,8.98,29.66
2019-02-15,17.09,15.26,45.62,NaN,38.50,9.30,45.26,22.39,25.33,22.11,...,10.84,10.80,25.51,8.13,35.89,20.81,5.28,32.34,9.01,28.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-04,16.61,34.90,71.60,NaN,60.80,14.75,42.11,21.98,23.06,29.27,...,15.77,25.58,23.04,8.54,41.85,25.69,14.95,44.38,19.60,54.27
2020-02-05,16.24,35.18,71.65,NaN,61.27,14.57,43.99,22.38,23.51,29.42,...,15.67,25.66,23.30,8.96,42.43,26.00,15.14,44.09,20.01,53.22
2020-02-06,15.88,34.50,69.70,NaN,59.07,14.38,43.25,22.07,23.24,29.57,...,15.51,25.14,23.01,8.76,42.66,25.75,14.85,44.23,20.72,51.45
2020-02-07,15.92,34.12,66.25,NaN,56.29,14.26,43.29,22.00,23.50,30.04,...,15.54,24.74,22.32,8.39,41.72,25.34,14.32,43.66,19.88,50.63
2020-02-10,15.75,32.61,64.12,NaN,56.82,14.36,42.86,22.12,23.75,30.43,...,15.23,24.44,21.95,8.11,40.19,25.27,13.79,43.72,20.09,50.00

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-12,17.26,15.70,44.71,NaN,38.26,8.95,44.01,22.13,24.94,22.55,...,10.55,10.21,24.01,8.29,34.65,20.25,5.56,31.97,9.00,27.61
2019-02-13,17.00,15.64,44.68,NaN,38.40,8.93,43.01,21.94,24.56,22.14,...,10.52,10.31,24.69,8.32,35.58,20.83,5.45,32.20,8.90,28.27
2019-02-14,17.19,15.61,45.77,NaN,38.60,9.31,45.21,22.69,25.49,22.35,...,10.63,10.56,25.05,8.36,35.71,21.06,5.45,32.29,8.98,29.66
2019-02-15,17.09,15.26,45.62,NaN,38.50,9.30,45.26,22.39,25.33,22.11,...,10.84,10.80,25.51,8.13,35.89,20.81,5.28,32.34,9.01,28.12
2019-02-18,16.82,15.50,45.74,NaN,38.88,9.20,44.82,21.87,24.75,22.09,...,10.75,10.99,24.92,8.10,35.39,20.08,5.47,32.21,9.10,27.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-05,16.24,35.18,71.65,NaN,61.27,14.57,43.99,22.38,23.51,29.42,...,15.67,25.66,23.30,8.96,42.43,26.00,15.14,44.09,20.01,53.22
2020-02-06,15.88,34.50,69.70,NaN,59.07,14.38,43.25,22.07,23.24,29.57,...,15.51,25.14,23.01,8.76,42.66,25.75,14.85,44.23,20.72,51.45
2020-02-07,15.92,34.12,66.25,NaN,56.29,14.26,43.29,22.00,23.50,30.04,...,15.54,24.74,22.32,8.39,41.72,25.34,14.32,43.66,19.88,50.63
2020-02-10,15.75,32.61,64.12,NaN,56.82,14.36,42.86,22.12,23.75,30.43,...,15.23,24.44,21.95,8.11,40.19,25.27,13.79,43.72,20.09,50.00
2020-02-11,15.81,33.87,68.83,NaN,58.34,14.44,44.79,22.72,23.96,31.32,...,15.68,24.66,23.02,8.66,41.68,26.45,14.62,44.50,20.82,50.82

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-13,17.00,15.64,44.68,NaN,38.40,8.93,43.01,21.94,24.56,22.14,...,10.52,10.31,24.69,8.32,35.58,20.83,5.45,32.20,8.90,28.27
2019-02-14,17.19,15.61,45.77,NaN,38.60,9.31,45.21,22.69,25.49,22.35,...,10.63,10.56,25.05,8.36,35.71,21.06,5.45,32.29,8.98,29.66
2019-02-15,17.09,15.26,45.62,NaN,38.50,9.30,45.26,22.39,25.33,22.11,...,10.84,10.80,25.51,8.13,35.89,20.81,5.28,32.34,9.01,28.12
2019-02-18,16.82,15.50,45.74,NaN,38.88,9.20,44.82,21.87,24.75,22.09,...,10.75,10.99,24.92,8.10,35.39,20.08,5.47,32.21,9.10,27.51
2019-02-19,16.94,15.81,45.82,NaN,38.66,9.44,45.01,22.23,24.96,22.37,...,10.84,10.87,25.00,7.97,35.58,19.94,5.28,32.99,9.24,27.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-06,15.88,34.50,69.70,NaN,59.07,14.38,43.25,22.07,23.24,29.57,...,15.51,25.14,23.01,8.76,42.66,25.75,14.85,44.23,20.72,51.45
2020-02-07,15.92,34.12,66.25,NaN,56.29,14.26,43.29,22.00,23.50,30.04,...,15.54,24.74,22.32,8.39,41.72,25.34,14.32,43.66,19.88,50.63
2020-02-10,15.75,32.61,64.12,NaN,56.82,14.36,42.86,22.12,23.75,30.43,...,15.23,24.44,21.95,8.11,40.19,25.27,13.79,43.72,20.09,50.00
2020-02-11,15.81,33.87,68.83,NaN,58.34,14.44,44.79,22.72,23.96,31.32,...,15.68,24.66,23.02,8.66,41.68,26.45,14.62,44.50,20.82,50.82
2020-02-12,15.67,34.74,69.15,NaN,59.66,14.73,45.05,22.40,23.64,31.56,...,16.31,25.71,23.00,8.60,42.49,27.02,14.99,44.58,21.56,51.90

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-14,17.19,15.61,45.77,NaN,38.60,9.31,45.21,22.69,25.49,22.35,...,10.63,10.56,25.05,8.36,35.71,21.06,5.45,32.29,8.98,29.66
2019-02-15,17.09,15.26,45.62,NaN,38.50,9.30,45.26,22.39,25.33,22.11,...,10.84,10.80,25.51,8.13,35.89,20.81,5.28,32.34,9.01,28.12
2019-02-18,16.82,15.50,45.74,NaN,38.88,9.20,44.82,21.87,24.75,22.09,...,10.75,10.99,24.92,8.10,35.39,20.08,5.47,32.21,9.10,27.51
2019-02-19,16.94,15.81,45.82,NaN,38.66,9.44,45.01,22.23,24.96,22.37,...,10.84,10.87,25.00,7.97,35.58,19.94,5.28,32.99,9.24,27.66
2019-02-20,16.78,15.42,43.36,NaN,38.15,9.36,43.74,21.80,24.55,21.88,...,11.11,11.14,24.46,8.03,35.82,19.80,5.21,33.04,8.96,26.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-07,15.92,34.12,66.25,NaN,56.29,14.26,43.29,22.00,23.50,30.04,...,15.54,24.74,22.32,8.39,41.72,25.34,14.32,43.66,19.88,50.63
2020-02-10,15.75,32.61,64.12,NaN,56.82,14.36,42.86,22.12,23.75,30.43,...,15.23,24.44,21.95,8.11,40.19,25.27,13.79,43.72,20.09,50.00
2020-02-11,15.81,33.87,68.83,NaN,58.34,14.44,44.79,22.72,23.96,31.32,...,15.68,24.66,23.02,8.66,41.68,26.45,14.62,44.50,20.82,50.82
2020-02-12,15.67,34.74,69.15,NaN,59.66,14.73,45.05,22.40,23.64,31.56,...,16.31,25.71,23.00,8.60,42.49,27.02,14.99,44.58,21.56,51.90
2020-02-13,15.31,35.76,71.49,NaN,59.00,14.64,44.36,21.87,23.19,31.64,...,16.22,25.61,22.49,9.03,41.75,27.32,15.01,45.56,22.04,51.17

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-15,17.09,15.26,45.62,NaN,38.50,9.30,45.26,22.39,25.33,22.11,...,10.84,10.80,25.51,8.13,35.89,20.81,5.28,32.34,9.01,28.12
2019-02-18,16.82,15.50,45.74,NaN,38.88,9.20,44.82,21.87,24.75,22.09,...,10.75,10.99,24.92,8.10,35.39,20.08,5.47,32.21,9.10,27.51
2019-02-19,16.94,15.81,45.82,NaN,38.66,9.44,45.01,22.23,24.96,22.37,...,10.84,10.87,25.00,7.97,35.58,19.94,5.28,32.99,9.24,27.66
2019-02-20,16.78,15.42,43.36,NaN,38.15,9.36,43.74,21.80,24.55,21.88,...,11.11,11.14,24.46,8.03,35.82,19.80,5.21,33.04,8.96,26.13
2019-02-21,16.94,15.51,42.65,NaN,37.49,9.31,43.93,22.06,24.76,21.68,...,11.11,10.86,23.25,8.22,35.49,19.49,4.67,32.77,9.00,26.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-10,15.75,32.61,64.12,NaN,56.82,14.36,42.86,22.12,23.75,30.43,...,15.23,24.44,21.95,8.11,40.19,25.27,13.79,43.72,20.09,50.00
2020-02-11,15.81,33.87,68.83,NaN,58.34,14.44,44.79,22.72,23.96,31.32,...,15.68,24.66,23.02,8.66,41.68,26.45,14.62,44.50,20.82,50.82
2020-02-12,15.67,34.74,69.15,NaN,59.66,14.73,45.05,22.40,23.64,31.56,...,16.31,25.71,23.00,8.60,42.49,27.02,14.99,44.58,21.56,51.90
2020-02-13,15.31,35.76,71.49,NaN,59.00,14.64,44.36,21.87,23.19,31.64,...,16.22,25.61,22.49,9.03,41.75,27.32,15.01,45.56,22.04,51.17
2020-02-14,15.44,35.39,68.83,NaN,59.24,14.82,43.51,21.28,22.66,30.87,...,15.75,25.48,22.15,8.64,40.84,26.78,14.73,44.46,22.04,51.30

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-18,16.82,15.50,45.74,NaN,38.88,9.20,44.82,21.87,24.75,22.09,...,10.75,10.99,24.92,8.10,35.39,20.08,5.47,32.21,9.10,27.51
2019-02-19,16.94,15.81,45.82,NaN,38.66,9.44,45.01,22.23,24.96,22.37,...,10.84,10.87,25.00,7.97,35.58,19.94,5.28,32.99,9.24,27.66
2019-02-20,16.78,15.42,43.36,NaN,38.15,9.36,43.74,21.80,24.55,21.88,...,11.11,11.14,24.46,8.03,35.82,19.80,5.21,33.04,8.96,26.13
2019-02-21,16.94,15.51,42.65,NaN,37.49,9.31,43.93,22.06,24.76,21.68,...,11.11,10.86,23.25,8.22,35.49,19.49,4.67,32.77,9.00,26.76
2019-02-22,16.94,15.08,44.78,NaN,37.90,9.55,44.26,22.02,24.56,21.89,...,11.25,10.99,23.93,8.58,36.75,19.74,4.72,33.16,9.08,27.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-11,15.81,33.87,68.83,NaN,58.34,14.44,44.79,22.72,23.96,31.32,...,15.68,24.66,23.02,8.66,41.68,26.45,14.62,44.50,20.82,50.82
2020-02-12,15.67,34.74,69.15,NaN,59.66,14.73,45.05,22.40,23.64,31.56,...,16.31,25.71,23.00,8.60,42.49,27.02,14.99,44.58,21.56,51.90
2020-02-13,15.31,35.76,71.49,NaN,59.00,14.64,44.36,21.87,23.19,31.64,...,16.22,25.61,22.49,9.03,41.75,27.32,15.01,45.56,22.04,51.17
2020-02-14,15.44,35.39,68.83,NaN,59.24,14.82,43.51,21.28,22.66,30.87,...,15.75,25.48,22.15,8.64,40.84,26.78,14.73,44.46,22.04,51.30
2020-02-17,15.62,35.38,69.85,NaN,58.70,15.26,42.85,21.16,22.48,30.20,...,16.03,27.45,22.59,8.49,42.77,26.80,15.10,44.60,22.15,51.63

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-19,16.94,15.81,45.82,NaN,38.66,9.44,45.01,22.23,24.96,22.37,...,10.84,10.87,25.00,7.97,35.58,19.94,5.28,32.99,9.24,27.66
2019-02-20,16.78,15.42,43.36,NaN,38.15,9.36,43.74,21.80,24.55,21.88,...,11.11,11.14,24.46,8.03,35.82,19.80,5.21,33.04,8.96,26.13
2019-02-21,16.94,15.51,42.65,NaN,37.49,9.31,43.93,22.06,24.76,21.68,...,11.11,10.86,23.25,8.22,35.49,19.49,4.67,32.77,9.00,26.76
2019-02-22,16.94,15.08,44.78,NaN,37.90,9.55,44.26,22.02,24.56,21.89,...,11.25,10.99,23.93,8.58,36.75,19.74,4.72,33.16,9.08,27.11
2019-02-25,17.00,15.27,45.51,NaN,38.20,9.62,43.53,21.87,24.31,22.06,...,11.13,11.15,24.36,8.83,36.86,19.45,4.97,33.03,8.84,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-12,15.67,34.74,69.15,NaN,59.66,14.73,45.05,22.40,23.64,31.56,...,16.31,25.71,23.00,8.60,42.49,27.02,14.99,44.58,21.56,51.90
2020-02-13,15.31,35.76,71.49,NaN,59.00,14.64,44.36,21.87,23.19,31.64,...,16.22,25.61,22.49,9.03,41.75,27.32,15.01,45.56,22.04,51.17
2020-02-14,15.44,35.39,68.83,NaN,59.24,14.82,43.51,21.28,22.66,30.87,...,15.75,25.48,22.15,8.64,40.84,26.78,14.73,44.46,22.04,51.30
2020-02-17,15.62,35.38,69.85,NaN,58.70,15.26,42.85,21.16,22.48,30.20,...,16.03,27.45,22.59,8.49,42.77,26.80,15.10,44.60,22.15,51.63
2020-02-18,15.23,35.71,70.19,NaN,58.02,15.10,43.26,21.04,22.39,29.85,...,15.96,27.08,22.10,8.53,42.28,26.60,14.97,43.39,21.62,51.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-20,16.78,15.42,43.36,NaN,38.15,9.36,43.74,21.80,24.55,21.88,...,11.11,11.14,24.46,8.03,35.82,19.80,5.21,33.04,8.96,26.13
2019-02-21,16.94,15.51,42.65,NaN,37.49,9.31,43.93,22.06,24.76,21.68,...,11.11,10.86,23.25,8.22,35.49,19.49,4.67,32.77,9.00,26.76
2019-02-22,16.94,15.08,44.78,NaN,37.90,9.55,44.26,22.02,24.56,21.89,...,11.25,10.99,23.93,8.58,36.75,19.74,4.72,33.16,9.08,27.11
2019-02-25,17.00,15.27,45.51,NaN,38.20,9.62,43.53,21.87,24.31,22.06,...,11.13,11.15,24.36,8.83,36.86,19.45,4.97,33.03,8.84,26.60
2019-02-26,17.09,15.14,45.41,NaN,38.50,9.74,43.77,21.96,24.74,21.94,...,11.17,11.37,24.16,8.70,36.92,19.56,4.77,33.19,8.78,26.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-13,15.31,35.76,71.49,NaN,59.00,14.64,44.36,21.87,23.19,31.64,...,16.22,25.61,22.49,9.03,41.75,27.32,15.01,45.56,22.04,51.17
2020-02-14,15.44,35.39,68.83,NaN,59.24,14.82,43.51,21.28,22.66,30.87,...,15.75,25.48,22.15,8.64,40.84,26.78,14.73,44.46,22.04,51.30
2020-02-17,15.62,35.38,69.85,NaN,58.70,15.26,42.85,21.16,22.48,30.20,...,16.03,27.45,22.59,8.49,42.77,26.80,15.10,44.60,22.15,51.63
2020-02-18,15.23,35.71,70.19,NaN,58.02,15.10,43.26,21.04,22.39,29.85,...,15.96,27.08,22.10,8.53,42.28,26.60,14.97,43.39,21.62,51.98
2020-02-19,15.18,35.18,71.36,NaN,58.08,15.69,43.37,21.17,22.71,30.43,...,15.82,26.97,21.88,8.48,42.29,26.29,15.90,43.63,23.62,53.13

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-21,16.94,15.51,42.65,NaN,37.49,9.31,43.93,22.06,24.76,21.68,...,11.11,10.86,23.25,8.22,35.49,19.49,4.67,32.77,9.00,26.76
2019-02-22,16.94,15.08,44.78,NaN,37.90,9.55,44.26,22.02,24.56,21.89,...,11.25,10.99,23.93,8.58,36.75,19.74,4.72,33.16,9.08,27.11
2019-02-25,17.00,15.27,45.51,NaN,38.20,9.62,43.53,21.87,24.31,22.06,...,11.13,11.15,24.36,8.83,36.86,19.45,4.97,33.03,8.84,26.60
2019-02-26,17.09,15.14,45.41,NaN,38.50,9.74,43.77,21.96,24.74,21.94,...,11.17,11.37,24.16,8.70,36.92,19.56,4.77,33.19,8.78,26.40
2019-02-27,16.97,15.23,46.54,NaN,37.90,9.59,43.27,21.82,24.47,22.19,...,10.93,11.59,24.65,8.55,36.63,19.53,4.64,33.25,8.90,26.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-14,15.44,35.39,68.83,NaN,59.24,14.82,43.51,21.28,22.66,30.87,...,15.75,25.48,22.15,8.64,40.84,26.78,14.73,44.46,22.04,51.30
2020-02-17,15.62,35.38,69.85,NaN,58.70,15.26,42.85,21.16,22.48,30.20,...,16.03,27.45,22.59,8.49,42.77,26.80,15.10,44.60,22.15,51.63
2020-02-18,15.23,35.71,70.19,NaN,58.02,15.10,43.26,21.04,22.39,29.85,...,15.96,27.08,22.10,8.53,42.28,26.60,14.97,43.39,21.62,51.98
2020-02-19,15.18,35.18,71.36,NaN,58.08,15.69,43.37,21.17,22.71,30.43,...,15.82,26.97,21.88,8.48,42.29,26.29,15.90,43.63,23.62,53.13
2020-02-20,15.22,35.04,69.21,NaN,56.40,15.45,42.92,20.69,22.38,29.94,...,15.77,26.97,20.28,8.25,41.80,25.96,15.95,43.03,22.97,52.74

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-22,16.94,15.08,44.78,NaN,37.90,9.55,44.26,22.02,24.56,21.89,...,11.25,10.99,23.93,8.58,36.75,19.74,4.72,33.16,9.08,27.11
2019-02-25,17.00,15.27,45.51,NaN,38.20,9.62,43.53,21.87,24.31,22.06,...,11.13,11.15,24.36,8.83,36.86,19.45,4.97,33.03,8.84,26.60
2019-02-26,17.09,15.14,45.41,NaN,38.50,9.74,43.77,21.96,24.74,21.94,...,11.17,11.37,24.16,8.70,36.92,19.56,4.77,33.19,8.78,26.40
2019-02-27,16.97,15.23,46.54,NaN,37.90,9.59,43.27,21.82,24.47,22.19,...,10.93,11.59,24.65,8.55,36.63,19.53,4.64,33.25,8.90,26.48
2019-02-28,15.93,15.16,46.59,NaN,37.65,9.43,42.18,21.15,23.82,21.81,...,10.72,11.81,23.89,8.36,36.84,19.40,4.58,32.92,8.82,25.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-17,15.62,35.38,69.85,NaN,58.70,15.26,42.85,21.16,22.48,30.20,...,16.03,27.45,22.59,8.49,42.77,26.80,15.10,44.60,22.15,51.63
2020-02-18,15.23,35.71,70.19,NaN,58.02,15.10,43.26,21.04,22.39,29.85,...,15.96,27.08,22.10,8.53,42.28,26.60,14.97,43.39,21.62,51.98
2020-02-19,15.18,35.18,71.36,NaN,58.08,15.69,43.37,21.17,22.71,30.43,...,15.82,26.97,21.88,8.48,42.29,26.29,15.90,43.63,23.62,53.13
2020-02-20,15.22,35.04,69.21,NaN,56.40,15.45,42.92,20.69,22.38,29.94,...,15.77,26.97,20.28,8.25,41.80,25.96,15.95,43.03,22.97,52.74
2020-02-21,15.29,34.44,70.93,NaN,55.65,15.37,42.96,20.42,22.21,29.55,...,15.91,27.23,19.76,8.00,40.14,25.48,16.64,44.24,24.09,53.70

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-25,17.00,15.27,45.51,NaN,38.20,9.62,43.53,21.87,24.31,22.06,...,11.13,11.15,24.36,8.83,36.86,19.45,4.97,33.03,8.84,26.60
2019-02-26,17.09,15.14,45.41,NaN,38.50,9.74,43.77,21.96,24.74,21.94,...,11.17,11.37,24.16,8.70,36.92,19.56,4.77,33.19,8.78,26.40
2019-02-27,16.97,15.23,46.54,NaN,37.90,9.59,43.27,21.82,24.47,22.19,...,10.93,11.59,24.65,8.55,36.63,19.53,4.64,33.25,8.90,26.48
2019-02-28,15.93,15.16,46.59,NaN,37.65,9.43,42.18,21.15,23.82,21.81,...,10.72,11.81,23.89,8.36,36.84,19.40,4.58,32.92,8.82,25.93
2019-03-01,15.50,15.76,47.51,NaN,36.75,9.17,42.78,20.53,23.43,21.46,...,10.53,11.95,23.29,8.39,36.56,19.12,4.54,32.68,8.78,25.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-18,15.23,35.71,70.19,NaN,58.02,15.10,43.26,21.04,22.39,29.85,...,15.96,27.08,22.10,8.53,42.28,26.60,14.97,43.39,21.62,51.98
2020-02-19,15.18,35.18,71.36,NaN,58.08,15.69,43.37,21.17,22.71,30.43,...,15.82,26.97,21.88,8.48,42.29,26.29,15.90,43.63,23.62,53.13
2020-02-20,15.22,35.04,69.21,NaN,56.40,15.45,42.92,20.69,22.38,29.94,...,15.77,26.97,20.28,8.25,41.80,25.96,15.95,43.03,22.97,52.74
2020-02-21,15.29,34.44,70.93,NaN,55.65,15.37,42.96,20.42,22.21,29.55,...,15.91,27.23,19.76,8.00,40.14,25.48,16.64,44.24,24.09,53.70
2020-02-26,14.89,31.67,64.03,NaN,48.25,14.16,39.78,18.92,21.01,28.41,...,15.52,25.71,18.15,7.17,36.31,23.95,15.00,42.48,22.73,51.25

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-26,17.09,15.14,45.41,NaN,38.50,9.74,43.77,21.96,24.74,21.94,...,11.17,11.37,24.16,8.70,36.92,19.56,4.77,33.19,8.78,26.40
2019-02-27,16.97,15.23,46.54,NaN,37.90,9.59,43.27,21.82,24.47,22.19,...,10.93,11.59,24.65,8.55,36.63,19.53,4.64,33.25,8.90,26.48
2019-02-28,15.93,15.16,46.59,NaN,37.65,9.43,42.18,21.15,23.82,21.81,...,10.72,11.81,23.89,8.36,36.84,19.40,4.58,32.92,8.82,25.93
2019-03-01,15.50,15.76,47.51,NaN,36.75,9.17,42.78,20.53,23.43,21.46,...,10.53,11.95,23.29,8.39,36.56,19.12,4.54,32.68,8.78,25.81
2019-03-06,15.07,15.46,46.70,NaN,36.70,9.09,42.18,20.42,23.25,21.26,...,10.40,12.28,23.20,8.32,37.58,19.47,4.39,32.35,8.90,24.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-19,15.18,35.18,71.36,NaN,58.08,15.69,43.37,21.17,22.71,30.43,...,15.82,26.97,21.88,8.48,42.29,26.29,15.90,43.63,23.62,53.13
2020-02-20,15.22,35.04,69.21,NaN,56.40,15.45,42.92,20.69,22.38,29.94,...,15.77,26.97,20.28,8.25,41.80,25.96,15.95,43.03,22.97,52.74
2020-02-21,15.29,34.44,70.93,NaN,55.65,15.37,42.96,20.42,22.21,29.55,...,15.91,27.23,19.76,8.00,40.14,25.48,16.64,44.24,24.09,53.70
2020-02-26,14.89,31.67,64.03,NaN,48.25,14.16,39.78,18.92,21.01,28.41,...,15.52,25.71,18.15,7.17,36.31,23.95,15.00,42.48,22.73,51.25
2020-02-27,13.65,30.44,61.13,NaN,45.13,13.59,40.27,18.53,20.92,28.18,...,15.08,24.15,17.56,7.15,35.61,23.03,14.08,40.43,21.34,49.19

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-27,16.97,15.23,46.54,NaN,37.90,9.59,43.27,21.82,24.47,22.19,...,10.93,11.59,24.65,8.55,36.63,19.53,4.64,33.25,8.90,26.48
2019-02-28,15.93,15.16,46.59,NaN,37.65,9.43,42.18,21.15,23.82,21.81,...,10.72,11.81,23.89,8.36,36.84,19.40,4.58,32.92,8.82,25.93
2019-03-01,15.50,15.76,47.51,NaN,36.75,9.17,42.78,20.53,23.43,21.46,...,10.53,11.95,23.29,8.39,36.56,19.12,4.54,32.68,8.78,25.81
2019-03-06,15.07,15.46,46.70,NaN,36.70,9.09,42.18,20.42,23.25,21.26,...,10.40,12.28,23.20,8.32,37.58,19.47,4.39,32.35,8.90,24.84
2019-03-07,15.37,15.35,46.27,NaN,36.40,8.94,42.04,20.56,23.41,21.16,...,10.35,11.95,23.52,8.33,38.22,19.64,4.41,32.75,8.87,24.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-20,15.22,35.04,69.21,NaN,56.40,15.45,42.92,20.69,22.38,29.94,...,15.77,26.97,20.28,8.25,41.80,25.96,15.95,43.03,22.97,52.74
2020-02-21,15.29,34.44,70.93,NaN,55.65,15.37,42.96,20.42,22.21,29.55,...,15.91,27.23,19.76,8.00,40.14,25.48,16.64,44.24,24.09,53.70
2020-02-26,14.89,31.67,64.03,NaN,48.25,14.16,39.78,18.92,21.01,28.41,...,15.52,25.71,18.15,7.17,36.31,23.95,15.00,42.48,22.73,51.25
2020-02-27,13.65,30.44,61.13,NaN,45.13,13.59,40.27,18.53,20.92,28.18,...,15.08,24.15,17.56,7.15,35.61,23.03,14.08,40.43,21.34,49.19
2020-02-28,13.68,31.22,60.59,NaN,44.44,14.17,41.21,18.97,21.31,28.52,...,15.04,23.28,17.72,7.13,35.48,22.94,13.81,40.88,20.94,49.75

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-02-28,15.93,15.16,46.59,NaN,37.65,9.43,42.18,21.15,23.82,21.81,...,10.72,11.81,23.89,8.36,36.84,19.40,4.58,32.92,8.82,25.93
2019-03-01,15.50,15.76,47.51,NaN,36.75,9.17,42.78,20.53,23.43,21.46,...,10.53,11.95,23.29,8.39,36.56,19.12,4.54,32.68,8.78,25.81
2019-03-06,15.07,15.46,46.70,NaN,36.70,9.09,42.18,20.42,23.25,21.26,...,10.40,12.28,23.20,8.32,37.58,19.47,4.39,32.35,8.90,24.84
2019-03-07,15.37,15.35,46.27,NaN,36.40,8.94,42.04,20.56,23.41,21.16,...,10.35,11.95,23.52,8.33,38.22,19.64,4.41,32.75,8.87,24.47
2019-03-08,15.27,16.11,48.08,NaN,37.06,9.09,43.52,20.76,23.74,21.25,...,10.66,11.85,23.79,8.36,38.21,19.75,4.68,32.87,9.00,26.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-21,15.29,34.44,70.93,NaN,55.65,15.37,42.96,20.42,22.21,29.55,...,15.91,27.23,19.76,8.00,40.14,25.48,16.64,44.24,24.09,53.70
2020-02-26,14.89,31.67,64.03,NaN,48.25,14.16,39.78,18.92,21.01,28.41,...,15.52,25.71,18.15,7.17,36.31,23.95,15.00,42.48,22.73,51.25
2020-02-27,13.65,30.44,61.13,NaN,45.13,13.59,40.27,18.53,20.92,28.18,...,15.08,24.15,17.56,7.15,35.61,23.03,14.08,40.43,21.34,49.19
2020-02-28,13.68,31.22,60.59,NaN,44.44,14.17,41.21,18.97,21.31,28.52,...,15.04,23.28,17.72,7.13,35.48,22.94,13.81,40.88,20.94,49.75
2020-03-02,13.85,32.17,61.76,NaN,45.19,14.76,41.47,19.19,21.60,28.30,...,15.48,24.32,18.31,7.39,37.12,23.30,14.34,43.35,22.81,48.06

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-01,15.50,15.76,47.51,NaN,36.75,9.17,42.78,20.53,23.43,21.46,...,10.53,11.95,23.29,8.39,36.56,19.12,4.54,32.68,8.78,25.81
2019-03-06,15.07,15.46,46.70,NaN,36.70,9.09,42.18,20.42,23.25,21.26,...,10.40,12.28,23.20,8.32,37.58,19.47,4.39,32.35,8.90,24.84
2019-03-07,15.37,15.35,46.27,NaN,36.40,8.94,42.04,20.56,23.41,21.16,...,10.35,11.95,23.52,8.33,38.22,19.64,4.41,32.75,8.87,24.47
2019-03-08,15.27,16.11,48.08,NaN,37.06,9.09,43.52,20.76,23.74,21.25,...,10.66,11.85,23.79,8.36,38.21,19.75,4.68,32.87,9.00,26.45
2019-03-11,15.75,16.27,48.64,NaN,39.45,9.47,44.85,21.60,24.70,22.14,...,10.87,11.79,24.18,8.65,39.01,19.20,4.76,33.31,9.09,26.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-26,14.89,31.67,64.03,NaN,48.25,14.16,39.78,18.92,21.01,28.41,...,15.52,25.71,18.15,7.17,36.31,23.95,15.00,42.48,22.73,51.25
2020-02-27,13.65,30.44,61.13,NaN,45.13,13.59,40.27,18.53,20.92,28.18,...,15.08,24.15,17.56,7.15,35.61,23.03,14.08,40.43,21.34,49.19
2020-02-28,13.68,31.22,60.59,NaN,44.44,14.17,41.21,18.97,21.31,28.52,...,15.04,23.28,17.72,7.13,35.48,22.94,13.81,40.88,20.94,49.75
2020-03-02,13.85,32.17,61.76,NaN,45.19,14.76,41.47,19.19,21.60,28.30,...,15.48,24.32,18.31,7.39,37.12,23.30,14.34,43.35,22.81,48.06
2020-03-03,13.87,32.77,64.84,NaN,44.00,14.65,40.25,18.88,21.04,27.43,...,15.36,24.03,18.55,7.23,37.11,23.08,14.37,43.77,23.26,48.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-06,15.07,15.46,46.70,NaN,36.70,9.09,42.18,20.42,23.25,21.26,...,10.40,12.28,23.20,8.32,37.58,19.47,4.39,32.35,8.90,24.84
2019-03-07,15.37,15.35,46.27,NaN,36.40,8.94,42.04,20.56,23.41,21.16,...,10.35,11.95,23.52,8.33,38.22,19.64,4.41,32.75,8.87,24.47
2019-03-08,15.27,16.11,48.08,NaN,37.06,9.09,43.52,20.76,23.74,21.25,...,10.66,11.85,23.79,8.36,38.21,19.75,4.68,32.87,9.00,26.45
2019-03-11,15.75,16.27,48.64,NaN,39.45,9.47,44.85,21.60,24.70,22.14,...,10.87,11.79,24.18,8.65,39.01,19.20,4.76,33.31,9.09,26.54
2019-03-12,15.65,16.06,46.15,NaN,40.21,9.51,44.58,21.84,24.78,22.21,...,10.82,11.73,24.33,8.67,39.08,19.47,4.84,32.66,9.10,26.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-27,13.65,30.44,61.13,NaN,45.13,13.59,40.27,18.53,20.92,28.18,...,15.08,24.15,17.56,7.15,35.61,23.03,14.08,40.43,21.34,49.19
2020-02-28,13.68,31.22,60.59,NaN,44.44,14.17,41.21,18.97,21.31,28.52,...,15.04,23.28,17.72,7.13,35.48,22.94,13.81,40.88,20.94,49.75
2020-03-02,13.85,32.17,61.76,NaN,45.19,14.76,41.47,19.19,21.60,28.30,...,15.48,24.32,18.31,7.39,37.12,23.30,14.34,43.35,22.81,48.06
2020-03-03,13.87,32.77,64.84,NaN,44.00,14.65,40.25,18.88,21.04,27.43,...,15.36,24.03,18.55,7.23,37.11,23.08,14.37,43.77,23.26,48.98
2020-03-04,14.41,33.13,66.86,NaN,44.75,14.70,40.30,19.03,21.27,27.79,...,16.04,24.26,18.53,7.74,38.89,23.29,14.98,45.26,23.52,47.96

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-07,15.37,15.35,46.27,NaN,36.40,8.94,42.04,20.56,23.41,21.16,...,10.35,11.95,23.52,8.33,38.22,19.64,4.41,32.75,8.87,24.47
2019-03-08,15.27,16.11,48.08,NaN,37.06,9.09,43.52,20.76,23.74,21.25,...,10.66,11.85,23.79,8.36,38.21,19.75,4.68,32.87,9.00,26.45
2019-03-11,15.75,16.27,48.64,NaN,39.45,9.47,44.85,21.60,24.70,22.14,...,10.87,11.79,24.18,8.65,39.01,19.20,4.76,33.31,9.09,26.54
2019-03-12,15.65,16.06,46.15,NaN,40.21,9.51,44.58,21.84,24.78,22.21,...,10.82,11.73,24.33,8.67,39.08,19.47,4.84,32.66,9.10,26.64
2019-03-13,15.56,15.81,44.59,NaN,40.50,9.57,45.26,21.83,25.01,22.45,...,11.23,11.99,24.66,8.74,39.66,19.48,4.62,33.25,9.18,26.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-28,13.68,31.22,60.59,NaN,44.44,14.17,41.21,18.97,21.31,28.52,...,15.04,23.28,17.72,7.13,35.48,22.94,13.81,40.88,20.94,49.75
2020-03-02,13.85,32.17,61.76,NaN,45.19,14.76,41.47,19.19,21.60,28.30,...,15.48,24.32,18.31,7.39,37.12,23.30,14.34,43.35,22.81,48.06
2020-03-03,13.87,32.77,64.84,NaN,44.00,14.65,40.25,18.88,21.04,27.43,...,15.36,24.03,18.55,7.23,37.11,23.08,14.37,43.77,23.26,48.98
2020-03-04,14.41,33.13,66.86,NaN,44.75,14.70,40.30,19.03,21.27,27.79,...,16.04,24.26,18.53,7.74,38.89,23.29,14.98,45.26,23.52,47.96
2020-03-05,14.33,30.79,60.78,NaN,38.25,13.91,37.91,18.47,20.57,27.26,...,15.59,22.79,16.81,7.33,37.51,22.07,13.96,44.01,22.67,44.68

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-08,15.27,16.11,48.08,NaN,37.06,9.09,43.52,20.76,23.74,21.25,...,10.66,11.85,23.79,8.36,38.21,19.75,4.68,32.87,9.00,26.45
2019-03-11,15.75,16.27,48.64,NaN,39.45,9.47,44.85,21.60,24.70,22.14,...,10.87,11.79,24.18,8.65,39.01,19.20,4.76,33.31,9.09,26.54
2019-03-12,15.65,16.06,46.15,NaN,40.21,9.51,44.58,21.84,24.78,22.21,...,10.82,11.73,24.33,8.67,39.08,19.47,4.84,32.66,9.10,26.64
2019-03-13,15.56,15.81,44.59,NaN,40.50,9.57,45.26,21.83,25.01,22.45,...,11.23,11.99,24.66,8.74,39.66,19.48,4.62,33.25,9.18,26.45
2019-03-14,15.34,15.73,45.91,NaN,41.28,9.55,44.92,21.75,25.07,21.98,...,11.27,12.27,24.65,9.03,39.66,19.59,4.64,33.18,9.14,26.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-02,13.85,32.17,61.76,NaN,45.19,14.76,41.47,19.19,21.60,28.30,...,15.48,24.32,18.31,7.39,37.12,23.30,14.34,43.35,22.81,48.06
2020-03-03,13.87,32.77,64.84,NaN,44.00,14.65,40.25,18.88,21.04,27.43,...,15.36,24.03,18.55,7.23,37.11,23.08,14.37,43.77,23.26,48.98
2020-03-04,14.41,33.13,66.86,NaN,44.75,14.70,40.30,19.03,21.27,27.79,...,16.04,24.26,18.53,7.74,38.89,23.29,14.98,45.26,23.52,47.96
2020-03-05,14.33,30.79,60.78,NaN,38.25,13.91,37.91,18.47,20.57,27.26,...,15.59,22.79,16.81,7.33,37.51,22.07,13.96,44.01,22.67,44.68
2020-03-06,14.42,30.60,54.85,NaN,38.68,13.72,37.20,17.88,19.98,27.29,...,15.21,21.29,15.97,6.87,35.72,21.64,11.56,43.13,21.37,42.76

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-11,15.75,16.27,48.64,NaN,39.45,9.47,44.85,21.60,24.70,22.14,...,10.87,11.79,24.18,8.65,39.01,19.20,4.76,33.31,9.09,26.54
2019-03-12,15.65,16.06,46.15,NaN,40.21,9.51,44.58,21.84,24.78,22.21,...,10.82,11.73,24.33,8.67,39.08,19.47,4.84,32.66,9.10,26.64
2019-03-13,15.56,15.81,44.59,NaN,40.50,9.57,45.26,21.83,25.01,22.45,...,11.23,11.99,24.66,8.74,39.66,19.48,4.62,33.25,9.18,26.45
2019-03-14,15.34,15.73,45.91,NaN,41.28,9.55,44.92,21.75,25.07,21.98,...,11.27,12.27,24.65,9.03,39.66,19.59,4.64,33.18,9.14,26.17
2019-03-15,15.43,15.99,45.24,NaN,41.50,9.74,45.31,21.85,25.17,22.45,...,11.61,12.03,24.93,8.78,39.54,20.00,4.54,34.60,9.22,25.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-03,13.87,32.77,64.84,NaN,44.00,14.65,40.25,18.88,21.04,27.43,...,15.36,24.03,18.55,7.23,37.11,23.08,14.37,43.77,23.26,48.98
2020-03-04,14.41,33.13,66.86,NaN,44.75,14.70,40.30,19.03,21.27,27.79,...,16.04,24.26,18.53,7.74,38.89,23.29,14.98,45.26,23.52,47.96
2020-03-05,14.33,30.79,60.78,NaN,38.25,13.91,37.91,18.47,20.57,27.26,...,15.59,22.79,16.81,7.33,37.51,22.07,13.96,44.01,22.67,44.68
2020-03-06,14.42,30.60,54.85,NaN,38.68,13.72,37.20,17.88,19.98,27.29,...,15.21,21.29,15.97,6.87,35.72,21.64,11.56,43.13,21.37,42.76
2020-03-09,13.81,25.30,48.01,NaN,32.10,12.08,33.09,16.13,18.54,25.42,...,14.09,19.12,14.31,5.76,30.29,19.51,9.58,40.18,19.29,38.43

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-12,15.65,16.06,46.15,NaN,40.21,9.51,44.58,21.84,24.78,22.21,...,10.82,11.73,24.33,8.67,39.08,19.47,4.84,32.66,9.10,26.64
2019-03-13,15.56,15.81,44.59,NaN,40.50,9.57,45.26,21.83,25.01,22.45,...,11.23,11.99,24.66,8.74,39.66,19.48,4.62,33.25,9.18,26.45
2019-03-14,15.34,15.73,45.91,NaN,41.28,9.55,44.92,21.75,25.07,21.98,...,11.27,12.27,24.65,9.03,39.66,19.59,4.64,33.18,9.14,26.17
2019-03-15,15.43,15.99,45.24,NaN,41.50,9.74,45.31,21.85,25.17,22.45,...,11.61,12.03,24.93,8.78,39.54,20.00,4.54,34.60,9.22,25.42
2019-03-18,15.94,15.65,46.79,NaN,42.22,9.89,44.96,22.01,25.30,22.26,...,11.60,12.21,24.70,8.97,39.47,20.07,4.59,34.22,9.14,25.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-04,14.41,33.13,66.86,NaN,44.75,14.70,40.30,19.03,21.27,27.79,...,16.04,24.26,18.53,7.74,38.89,23.29,14.98,45.26,23.52,47.96
2020-03-05,14.33,30.79,60.78,NaN,38.25,13.91,37.91,18.47,20.57,27.26,...,15.59,22.79,16.81,7.33,37.51,22.07,13.96,44.01,22.67,44.68
2020-03-06,14.42,30.60,54.85,NaN,38.68,13.72,37.20,17.88,19.98,27.29,...,15.21,21.29,15.97,6.87,35.72,21.64,11.56,43.13,21.37,42.76
2020-03-09,13.81,25.30,48.01,NaN,32.10,12.08,33.09,16.13,18.54,25.42,...,14.09,19.12,14.31,5.76,30.29,19.51,9.58,40.18,19.29,38.43
2020-03-10,13.57,28.62,53.54,NaN,36.18,13.58,34.84,16.60,18.99,25.97,...,14.46,20.42,16.60,6.21,35.88,21.43,11.62,45.13,20.34,43.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-13,15.56,15.81,44.59,NaN,40.50,9.57,45.26,21.83,25.01,22.45,...,11.23,11.99,24.66,8.74,39.66,19.48,4.62,33.25,9.18,26.45
2019-03-14,15.34,15.73,45.91,NaN,41.28,9.55,44.92,21.75,25.07,21.98,...,11.27,12.27,24.65,9.03,39.66,19.59,4.64,33.18,9.14,26.17
2019-03-15,15.43,15.99,45.24,NaN,41.50,9.74,45.31,21.85,25.17,22.45,...,11.61,12.03,24.93,8.78,39.54,20.00,4.54,34.60,9.22,25.42
2019-03-18,15.94,15.65,46.79,NaN,42.22,9.89,44.96,22.01,25.30,22.26,...,11.60,12.21,24.70,8.97,39.47,20.07,4.59,34.22,9.14,25.60
2019-03-19,15.83,15.50,48.08,NaN,42.07,9.98,44.00,21.58,24.76,22.20,...,11.57,11.93,24.13,9.44,40.59,20.52,4.64,33.99,9.14,25.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-05,14.33,30.79,60.78,NaN,38.25,13.91,37.91,18.47,20.57,27.26,...,15.59,22.79,16.81,7.33,37.51,22.07,13.96,44.01,22.67,44.68
2020-03-06,14.42,30.60,54.85,NaN,38.68,13.72,37.20,17.88,19.98,27.29,...,15.21,21.29,15.97,6.87,35.72,21.64,11.56,43.13,21.37,42.76
2020-03-09,13.81,25.30,48.01,NaN,32.10,12.08,33.09,16.13,18.54,25.42,...,14.09,19.12,14.31,5.76,30.29,19.51,9.58,40.18,19.29,38.43
2020-03-10,13.57,28.62,53.54,NaN,36.18,13.58,34.84,16.60,18.99,25.97,...,14.46,20.42,16.60,6.21,35.88,21.43,11.62,45.13,20.34,43.16
2020-03-11,12.94,27.60,50.49,NaN,30.25,12.56,31.83,15.28,17.45,24.88,...,14.64,19.25,15.48,5.67,32.62,19.94,11.00,44.28,19.03,40.61

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-14,15.34,15.73,45.91,NaN,41.28,9.55,44.92,21.75,25.07,21.98,...,11.27,12.27,24.65,9.03,39.66,19.59,4.64,33.18,9.14,26.17
2019-03-15,15.43,15.99,45.24,NaN,41.50,9.74,45.31,21.85,25.17,22.45,...,11.61,12.03,24.93,8.78,39.54,20.00,4.54,34.60,9.22,25.42
2019-03-18,15.94,15.65,46.79,NaN,42.22,9.89,44.96,22.01,25.30,22.26,...,11.60,12.21,24.70,8.97,39.47,20.07,4.59,34.22,9.14,25.60
2019-03-19,15.83,15.50,48.08,NaN,42.07,9.98,44.00,21.58,24.76,22.20,...,11.57,11.93,24.13,9.44,40.59,20.52,4.64,33.99,9.14,25.56
2019-03-20,15.65,15.26,48.08,NaN,41.17,9.80,43.02,21.17,24.09,21.85,...,11.36,11.96,23.85,9.27,39.55,19.75,4.58,33.84,8.98,25.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-06,14.42,30.60,54.85,NaN,38.68,13.72,37.20,17.88,19.98,27.29,...,15.21,21.29,15.97,6.87,35.72,21.64,11.56,43.13,21.37,42.76
2020-03-09,13.81,25.30,48.01,NaN,32.10,12.08,33.09,16.13,18.54,25.42,...,14.09,19.12,14.31,5.76,30.29,19.51,9.58,40.18,19.29,38.43
2020-03-10,13.57,28.62,53.54,NaN,36.18,13.58,34.84,16.60,18.99,25.97,...,14.46,20.42,16.60,6.21,35.88,21.43,11.62,45.13,20.34,43.16
2020-03-11,12.94,27.60,50.49,NaN,30.25,12.56,31.83,15.28,17.45,24.88,...,14.64,19.25,15.48,5.67,32.62,19.94,11.00,44.28,19.03,40.61
2020-03-12,10.90,23.65,41.92,NaN,20.30,10.89,27.60,13.33,15.12,22.57,...,12.48,16.81,12.19,4.89,28.31,16.89,8.50,41.24,16.02,35.09

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-15,15.43,15.99,45.24,NaN,41.50,9.74,45.31,21.85,25.17,22.45,...,11.61,12.03,24.93,8.78,39.54,20.00,4.54,34.60,9.22,25.42
2019-03-18,15.94,15.65,46.79,NaN,42.22,9.89,44.96,22.01,25.30,22.26,...,11.60,12.21,24.70,8.97,39.47,20.07,4.59,34.22,9.14,25.60
2019-03-19,15.83,15.50,48.08,NaN,42.07,9.98,44.00,21.58,24.76,22.20,...,11.57,11.93,24.13,9.44,40.59,20.52,4.64,33.99,9.14,25.56
2019-03-20,15.65,15.26,48.08,NaN,41.17,9.80,43.02,21.17,24.09,21.85,...,11.36,11.96,23.85,9.27,39.55,19.75,4.58,33.84,8.98,25.46
2019-03-21,15.63,15.24,45.05,NaN,40.95,9.63,42.11,20.51,23.56,21.49,...,11.41,11.93,23.18,9.04,39.80,19.44,4.55,34.14,8.89,25.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-09,13.81,25.30,48.01,NaN,32.10,12.08,33.09,16.13,18.54,25.42,...,14.09,19.12,14.31,5.76,30.29,19.51,9.58,40.18,19.29,38.43
2020-03-10,13.57,28.62,53.54,NaN,36.18,13.58,34.84,16.60,18.99,25.97,...,14.46,20.42,16.60,6.21,35.88,21.43,11.62,45.13,20.34,43.16
2020-03-11,12.94,27.60,50.49,NaN,30.25,12.56,31.83,15.28,17.45,24.88,...,14.64,19.25,15.48,5.67,32.62,19.94,11.00,44.28,19.03,40.61
2020-03-12,10.90,23.65,41.92,NaN,20.30,10.89,27.60,13.33,15.12,22.57,...,12.48,16.81,12.19,4.89,28.31,16.89,8.50,41.24,16.02,35.09
2020-03-13,11.95,26.70,53.40,NaN,24.71,12.07,32.23,15.51,17.66,23.83,...,13.35,18.90,15.04,5.69,34.35,18.15,9.71,43.86,16.76,32.98

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-18,15.94,15.65,46.79,NaN,42.22,9.89,44.96,22.01,25.30,22.26,...,11.60,12.21,24.70,8.97,39.47,20.07,4.59,34.22,9.14,25.60
2019-03-19,15.83,15.50,48.08,NaN,42.07,9.98,44.00,21.58,24.76,22.20,...,11.57,11.93,24.13,9.44,40.59,20.52,4.64,33.99,9.14,25.56
2019-03-20,15.65,15.26,48.08,NaN,41.17,9.80,43.02,21.17,24.09,21.85,...,11.36,11.96,23.85,9.27,39.55,19.75,4.58,33.84,8.98,25.46
2019-03-21,15.63,15.24,45.05,NaN,40.95,9.63,42.11,20.51,23.56,21.49,...,11.41,11.93,23.18,9.04,39.80,19.44,4.55,34.14,8.89,25.09
2019-03-22,15.39,14.99,40.95,NaN,39.45,9.36,39.82,19.97,22.73,20.94,...,11.16,12.33,22.34,8.68,39.15,18.80,4.33,33.65,8.73,24.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-10,13.57,28.62,53.54,NaN,36.18,13.58,34.84,16.60,18.99,25.97,...,14.46,20.42,16.60,6.21,35.88,21.43,11.62,45.13,20.34,43.16
2020-03-11,12.94,27.60,50.49,NaN,30.25,12.56,31.83,15.28,17.45,24.88,...,14.64,19.25,15.48,5.67,32.62,19.94,11.00,44.28,19.03,40.61
2020-03-12,10.90,23.65,41.92,NaN,20.30,10.89,27.60,13.33,15.12,22.57,...,12.48,16.81,12.19,4.89,28.31,16.89,8.50,41.24,16.02,35.09
2020-03-13,11.95,26.70,53.40,NaN,24.71,12.07,32.23,15.51,17.66,23.83,...,13.35,18.90,15.04,5.69,34.35,18.15,9.71,43.86,16.76,32.98
2020-03-16,10.38,22.89,48.26,NaN,15.60,10.13,26.85,13.28,15.14,21.56,...,12.09,16.24,11.83,5.13,31.26,15.63,7.56,41.10,13.30,24.68

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-19,15.83,15.50,48.08,NaN,42.07,9.98,44.00,21.58,24.76,22.20,...,11.57,11.93,24.13,9.44,40.59,20.52,4.64,33.99,9.14,25.56
2019-03-20,15.65,15.26,48.08,NaN,41.17,9.80,43.02,21.17,24.09,21.85,...,11.36,11.96,23.85,9.27,39.55,19.75,4.58,33.84,8.98,25.46
2019-03-21,15.63,15.24,45.05,NaN,40.95,9.63,42.11,20.51,23.56,21.49,...,11.41,11.93,23.18,9.04,39.80,19.44,4.55,34.14,8.89,25.09
2019-03-22,15.39,14.99,40.95,NaN,39.45,9.36,39.82,19.97,22.73,20.94,...,11.16,12.33,22.34,8.68,39.15,18.80,4.33,33.65,8.73,24.31
2019-03-25,15.21,14.82,39.69,NaN,39.02,9.34,40.11,20.04,22.78,21.14,...,11.05,12.32,22.07,8.85,38.76,18.88,4.33,NaN,8.67,24.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-11,12.94,27.60,50.49,NaN,30.25,12.56,31.83,15.28,17.45,24.88,...,14.64,19.25,15.48,5.67,32.62,19.94,11.00,44.28,19.03,40.61
2020-03-12,10.90,23.65,41.92,NaN,20.30,10.89,27.60,13.33,15.12,22.57,...,12.48,16.81,12.19,4.89,28.31,16.89,8.50,41.24,16.02,35.09
2020-03-13,11.95,26.70,53.40,NaN,24.71,12.07,32.23,15.51,17.66,23.83,...,13.35,18.90,15.04,5.69,34.35,18.15,9.71,43.86,16.76,32.98
2020-03-16,10.38,22.89,48.26,NaN,15.60,10.13,26.85,13.28,15.14,21.56,...,12.09,16.24,11.83,5.13,31.26,15.63,7.56,41.10,13.30,24.68
2020-03-17,11.00,22.01,52.35,NaN,15.23,10.49,28.15,14.13,16.36,23.88,...,13.19,16.61,13.00,5.10,33.24,16.04,7.04,45.27,13.92,25.52

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-20,15.65,15.26,48.08,NaN,41.17,9.80,43.02,21.17,24.09,21.85,...,11.36,11.96,23.85,9.27,39.55,19.75,4.58,33.84,8.98,25.46
2019-03-21,15.63,15.24,45.05,NaN,40.95,9.63,42.11,20.51,23.56,21.49,...,11.41,11.93,23.18,9.04,39.80,19.44,4.55,34.14,8.89,25.09
2019-03-22,15.39,14.99,40.95,NaN,39.45,9.36,39.82,19.97,22.73,20.94,...,11.16,12.33,22.34,8.68,39.15,18.80,4.33,33.65,8.73,24.31
2019-03-25,15.21,14.82,39.69,NaN,39.02,9.34,40.11,20.04,22.78,21.14,...,11.05,12.32,22.07,8.85,38.76,18.88,4.33,NaN,8.67,24.83
2019-03-26,15.64,15.17,40.67,NaN,39.77,9.58,41.05,20.11,22.92,20.96,...,11.15,12.64,21.89,8.87,39.33,19.56,4.36,34.38,8.65,25.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-12,10.90,23.65,41.92,NaN,20.30,10.89,27.60,13.33,15.12,22.57,...,12.48,16.81,12.19,4.89,28.31,16.89,8.50,41.24,16.02,35.09
2020-03-13,11.95,26.70,53.40,NaN,24.71,12.07,32.23,15.51,17.66,23.83,...,13.35,18.90,15.04,5.69,34.35,18.15,9.71,43.86,16.76,32.98
2020-03-16,10.38,22.89,48.26,NaN,15.60,10.13,26.85,13.28,15.14,21.56,...,12.09,16.24,11.83,5.13,31.26,15.63,7.56,41.10,13.30,24.68
2020-03-17,11.00,22.01,52.35,NaN,15.23,10.49,28.15,14.13,16.36,23.88,...,13.19,16.61,13.00,5.10,33.24,16.04,7.04,45.27,13.92,25.52
2020-03-18,10.53,17.42,49.72,NaN,10.35,9.69,23.50,12.99,14.45,24.04,...,12.64,14.06,11.21,4.01,30.95,13.71,4.82,44.69,12.85,22.56

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-21,15.63,15.24,45.05,NaN,40.95,9.63,42.11,20.51,23.56,21.49,...,11.41,11.93,23.18,9.04,39.80,19.44,4.55,34.14,8.89,25.09
2019-03-22,15.39,14.99,40.95,NaN,39.45,9.36,39.82,19.97,22.73,20.94,...,11.16,12.33,22.34,8.68,39.15,18.80,4.33,33.65,8.73,24.31
2019-03-25,15.21,14.82,39.69,NaN,39.02,9.34,40.11,20.04,22.78,21.14,...,11.05,12.32,22.07,8.85,38.76,18.88,4.33,NaN,8.67,24.83
2019-03-26,15.64,15.17,40.67,NaN,39.77,9.58,41.05,20.11,22.92,20.96,...,11.15,12.64,21.89,8.87,39.33,19.56,4.36,34.38,8.65,25.09
2019-03-27,15.23,14.78,37.73,NaN,37.69,9.04,38.78,19.47,22.13,20.74,...,10.61,12.45,21.07,8.21,38.80,18.56,4.11,33.74,8.37,23.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-13,11.95,26.70,53.40,NaN,24.71,12.07,32.23,15.51,17.66,23.83,...,13.35,18.90,15.04,5.69,34.35,18.15,9.71,43.86,16.76,32.98
2020-03-16,10.38,22.89,48.26,NaN,15.60,10.13,26.85,13.28,15.14,21.56,...,12.09,16.24,11.83,5.13,31.26,15.63,7.56,41.10,13.30,24.68
2020-03-17,11.00,22.01,52.35,NaN,15.23,10.49,28.15,14.13,16.36,23.88,...,13.19,16.61,13.00,5.10,33.24,16.04,7.04,45.27,13.92,25.52
2020-03-18,10.53,17.42,49.72,NaN,10.35,9.69,23.50,12.99,14.45,24.04,...,12.64,14.06,11.21,4.01,30.95,13.71,4.82,44.69,12.85,22.56
2020-03-19,11.01,22.46,47.45,NaN,11.97,9.60,22.59,12.54,14.49,21.91,...,13.90,13.80,11.33,3.93,29.15,13.15,5.11,47.85,13.95,23.28

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-22,15.39,14.99,40.95,NaN,39.45,9.36,39.82,19.97,22.73,20.94,...,11.16,12.33,22.34,8.68,39.15,18.80,4.33,33.65,8.73,24.31
2019-03-25,15.21,14.82,39.69,NaN,39.02,9.34,40.11,20.04,22.78,21.14,...,11.05,12.32,22.07,8.85,38.76,18.88,4.33,NaN,8.67,24.83
2019-03-26,15.64,15.17,40.67,NaN,39.77,9.58,41.05,20.11,22.92,20.96,...,11.15,12.64,21.89,8.87,39.33,19.56,4.36,34.38,8.65,25.09
2019-03-27,15.23,14.78,37.73,NaN,37.69,9.04,38.78,19.47,22.13,20.74,...,10.61,12.45,21.07,8.21,38.80,18.56,4.11,33.74,8.37,23.68
2019-03-28,15.42,14.88,39.95,NaN,37.25,9.27,40.13,20.32,23.26,21.01,...,10.68,12.77,21.48,8.37,38.56,19.15,4.18,34.50,8.66,25.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-16,10.38,22.89,48.26,NaN,15.60,10.13,26.85,13.28,15.14,21.56,...,12.09,16.24,11.83,5.13,31.26,15.63,7.56,41.10,13.30,24.68
2020-03-17,11.00,22.01,52.35,NaN,15.23,10.49,28.15,14.13,16.36,23.88,...,13.19,16.61,13.00,5.10,33.24,16.04,7.04,45.27,13.92,25.52
2020-03-18,10.53,17.42,49.72,NaN,10.35,9.69,23.50,12.99,14.45,24.04,...,12.64,14.06,11.21,4.01,30.95,13.71,4.82,44.69,12.85,22.56
2020-03-19,11.01,22.46,47.45,NaN,11.97,9.60,22.59,12.54,14.49,21.91,...,13.90,13.80,11.33,3.93,29.15,13.15,5.11,47.85,13.95,23.28
2020-03-20,11.34,22.48,47.97,NaN,13.80,9.58,21.73,11.82,13.44,21.93,...,12.94,14.34,11.45,3.77,28.18,12.90,4.97,42.61,15.71,21.48

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-25,15.21,14.82,39.69,NaN,39.02,9.34,40.11,20.04,22.78,21.14,...,11.05,12.32,22.07,8.85,38.76,18.88,4.33,NaN,8.67,24.83
2019-03-26,15.64,15.17,40.67,NaN,39.77,9.58,41.05,20.11,22.92,20.96,...,11.15,12.64,21.89,8.87,39.33,19.56,4.36,34.38,8.65,25.09
2019-03-27,15.23,14.78,37.73,NaN,37.69,9.04,38.78,19.47,22.13,20.74,...,10.61,12.45,21.07,8.21,38.80,18.56,4.11,33.74,8.37,23.68
2019-03-28,15.42,14.88,39.95,NaN,37.25,9.27,40.13,20.32,23.26,21.01,...,10.68,12.77,21.48,8.37,38.56,19.15,4.18,34.50,8.66,25.61
2019-03-29,15.49,15.20,40.68,NaN,38.27,9.29,40.72,20.78,23.65,21.18,...,10.70,12.77,21.30,8.68,39.84,18.37,4.22,34.69,8.64,25.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-17,11.00,22.01,52.35,NaN,15.23,10.49,28.15,14.13,16.36,23.88,...,13.19,16.61,13.00,5.10,33.24,16.04,7.04,45.27,13.92,25.52
2020-03-18,10.53,17.42,49.72,NaN,10.35,9.69,23.50,12.99,14.45,24.04,...,12.64,14.06,11.21,4.01,30.95,13.71,4.82,44.69,12.85,22.56
2020-03-19,11.01,22.46,47.45,NaN,11.97,9.60,22.59,12.54,14.49,21.91,...,13.90,13.80,11.33,3.93,29.15,13.15,5.11,47.85,13.95,23.28
2020-03-20,11.34,22.48,47.97,NaN,13.80,9.58,21.73,11.82,13.44,21.93,...,12.94,14.34,11.45,3.77,28.18,12.90,4.97,42.61,15.71,21.48
2020-03-23,10.83,23.04,44.20,NaN,14.28,8.99,19.55,10.91,12.34,20.06,...,11.47,14.34,9.93,3.32,27.30,12.07,4.41,39.28,17.10,20.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-26,15.64,15.17,40.67,NaN,39.77,9.58,41.05,20.11,22.92,20.96,...,11.15,12.64,21.89,8.87,39.33,19.56,4.36,34.38,8.65,25.09
2019-03-27,15.23,14.78,37.73,NaN,37.69,9.04,38.78,19.47,22.13,20.74,...,10.61,12.45,21.07,8.21,38.80,18.56,4.11,33.74,8.37,23.68
2019-03-28,15.42,14.88,39.95,NaN,37.25,9.27,40.13,20.32,23.26,21.01,...,10.68,12.77,21.48,8.37,38.56,19.15,4.18,34.50,8.66,25.61
2019-03-29,15.49,15.20,40.68,NaN,38.27,9.29,40.72,20.78,23.65,21.18,...,10.70,12.77,21.30,8.68,39.84,18.37,4.22,34.69,8.64,25.04
2019-04-01,15.49,15.21,40.47,NaN,38.94,9.42,41.12,20.82,23.84,21.07,...,10.71,12.72,21.34,8.84,41.14,18.60,4.27,34.66,8.67,25.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-18,10.53,17.42,49.72,NaN,10.35,9.69,23.50,12.99,14.45,24.04,...,12.64,14.06,11.21,4.01,30.95,13.71,4.82,44.69,12.85,22.56
2020-03-19,11.01,22.46,47.45,NaN,11.97,9.60,22.59,12.54,14.49,21.91,...,13.90,13.80,11.33,3.93,29.15,13.15,5.11,47.85,13.95,23.28
2020-03-20,11.34,22.48,47.97,NaN,13.80,9.58,21.73,11.82,13.44,21.93,...,12.94,14.34,11.45,3.77,28.18,12.90,4.97,42.61,15.71,21.48
2020-03-23,10.83,23.04,44.20,NaN,14.28,8.99,19.55,10.91,12.34,20.06,...,11.47,14.34,9.93,3.32,27.30,12.07,4.41,39.28,17.10,20.14
2020-03-24,10.63,23.53,53.42,NaN,16.17,10.72,22.89,12.44,14.20,22.13,...,11.38,15.05,11.12,3.51,30.14,13.09,5.01,39.31,17.52,20.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-27,15.23,14.78,37.73,NaN,37.69,9.04,38.78,19.47,22.13,20.74,...,10.61,12.45,21.07,8.21,38.80,18.56,4.11,33.74,8.37,23.68
2019-03-28,15.42,14.88,39.95,NaN,37.25,9.27,40.13,20.32,23.26,21.01,...,10.68,12.77,21.48,8.37,38.56,19.15,4.18,34.50,8.66,25.61
2019-03-29,15.49,15.20,40.68,NaN,38.27,9.29,40.72,20.78,23.65,21.18,...,10.70,12.77,21.30,8.68,39.84,18.37,4.22,34.69,8.64,25.04
2019-04-01,15.49,15.21,40.47,NaN,38.94,9.42,41.12,20.82,23.84,21.07,...,10.71,12.72,21.34,8.84,41.14,18.60,4.27,34.66,8.67,25.13
2019-04-02,15.44,15.06,39.79,NaN,38.80,9.44,40.76,20.64,23.53,21.77,...,10.59,12.64,21.07,8.39,40.38,18.63,4.55,34.85,8.76,25.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-19,11.01,22.46,47.45,NaN,11.97,9.60,22.59,12.54,14.49,21.91,...,13.90,13.80,11.33,3.93,29.15,13.15,5.11,47.85,13.95,23.28
2020-03-20,11.34,22.48,47.97,NaN,13.80,9.58,21.73,11.82,13.44,21.93,...,12.94,14.34,11.45,3.77,28.18,12.90,4.97,42.61,15.71,21.48
2020-03-23,10.83,23.04,44.20,NaN,14.28,8.99,19.55,10.91,12.34,20.06,...,11.47,14.34,9.93,3.32,27.30,12.07,4.41,39.28,17.10,20.14
2020-03-24,10.63,23.53,53.42,NaN,16.17,10.72,22.89,12.44,14.20,22.13,...,11.38,15.05,11.12,3.51,30.14,13.09,5.01,39.31,17.52,20.87
2020-03-25,10.96,25.16,58.49,NaN,19.17,11.45,25.64,13.43,15.26,23.77,...,11.90,18.03,11.43,4.26,32.71,14.55,5.71,39.71,18.15,25.69

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-28,15.42,14.88,39.95,NaN,37.25,9.27,40.13,20.32,23.26,21.01,...,10.68,12.77,21.48,8.37,38.56,19.15,4.18,34.50,8.66,25.61
2019-03-29,15.49,15.20,40.68,NaN,38.27,9.29,40.72,20.78,23.65,21.18,...,10.70,12.77,21.30,8.68,39.84,18.37,4.22,34.69,8.64,25.04
2019-04-01,15.49,15.21,40.47,NaN,38.94,9.42,41.12,20.82,23.84,21.07,...,10.71,12.72,21.34,8.84,41.14,18.60,4.27,34.66,8.67,25.13
2019-04-02,15.44,15.06,39.79,NaN,38.80,9.44,40.76,20.64,23.53,21.77,...,10.59,12.64,21.07,8.39,40.38,18.63,4.55,34.85,8.76,25.59
2019-04-03,15.50,14.89,39.36,NaN,38.96,9.12,40.33,20.37,23.27,22.20,...,10.68,13.03,20.75,8.38,40.50,18.96,4.38,34.13,8.86,25.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-20,11.34,22.48,47.97,NaN,13.80,9.58,21.73,11.82,13.44,21.93,...,12.94,14.34,11.45,3.77,28.18,12.90,4.97,42.61,15.71,21.48
2020-03-23,10.83,23.04,44.20,NaN,14.28,8.99,19.55,10.91,12.34,20.06,...,11.47,14.34,9.93,3.32,27.30,12.07,4.41,39.28,17.10,20.14
2020-03-24,10.63,23.53,53.42,NaN,16.17,10.72,22.89,12.44,14.20,22.13,...,11.38,15.05,11.12,3.51,30.14,13.09,5.01,39.31,17.52,20.87
2020-03-25,10.96,25.16,58.49,NaN,19.17,11.45,25.64,13.43,15.26,23.77,...,11.90,18.03,11.43,4.26,32.71,14.55,5.71,39.71,18.15,25.69
2020-03-26,12.05,26.03,54.70,NaN,20.52,11.59,26.93,13.90,15.58,23.77,...,12.67,17.43,13.29,4.49,33.63,15.64,5.70,41.30,18.44,31.01

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-03-29,15.49,15.20,40.68,NaN,38.27,9.29,40.72,20.78,23.65,21.18,...,10.70,12.77,21.30,8.68,39.84,18.37,4.22,34.69,8.64,25.04
2019-04-01,15.49,15.21,40.47,NaN,38.94,9.42,41.12,20.82,23.84,21.07,...,10.71,12.72,21.34,8.84,41.14,18.60,4.27,34.66,8.67,25.13
2019-04-02,15.44,15.06,39.79,NaN,38.80,9.44,40.76,20.64,23.53,21.77,...,10.59,12.64,21.07,8.39,40.38,18.63,4.55,34.85,8.76,25.59
2019-04-03,15.50,14.89,39.36,NaN,38.96,9.12,40.33,20.37,23.27,22.20,...,10.68,13.03,20.75,8.38,40.50,18.96,4.38,34.13,8.86,25.54
2019-04-04,15.95,15.11,39.58,NaN,38.79,9.47,40.81,20.70,23.87,22.37,...,11.16,13.69,21.39,8.37,40.80,19.68,4.38,34.62,9.03,26.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-23,10.83,23.04,44.20,NaN,14.28,8.99,19.55,10.91,12.34,20.06,...,11.47,14.34,9.93,3.32,27.30,12.07,4.41,39.28,17.10,20.14
2020-03-24,10.63,23.53,53.42,NaN,16.17,10.72,22.89,12.44,14.20,22.13,...,11.38,15.05,11.12,3.51,30.14,13.09,5.01,39.31,17.52,20.87
2020-03-25,10.96,25.16,58.49,NaN,19.17,11.45,25.64,13.43,15.26,23.77,...,11.90,18.03,11.43,4.26,32.71,14.55,5.71,39.71,18.15,25.69
2020-03-26,12.05,26.03,54.70,NaN,20.52,11.59,26.93,13.90,15.58,23.77,...,12.67,17.43,13.29,4.49,33.63,15.64,5.70,41.30,18.44,31.01
2020-03-27,11.76,24.24,49.99,NaN,19.50,11.07,24.94,13.10,14.57,21.94,...,11.91,14.93,12.17,4.27,32.11,14.20,5.70,40.55,17.18,26.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-01,15.49,15.21,40.47,NaN,38.94,9.42,41.12,20.82,23.84,21.07,...,10.71,12.72,21.34,8.84,41.14,18.60,4.27,34.66,8.67,25.13
2019-04-02,15.44,15.06,39.79,NaN,38.80,9.44,40.76,20.64,23.53,21.77,...,10.59,12.64,21.07,8.39,40.38,18.63,4.55,34.85,8.76,25.59
2019-04-03,15.50,14.89,39.36,NaN,38.96,9.12,40.33,20.37,23.27,22.20,...,10.68,13.03,20.75,8.38,40.50,18.96,4.38,34.13,8.86,25.54
2019-04-04,15.95,15.11,39.58,NaN,38.79,9.47,40.81,20.70,23.87,22.37,...,11.16,13.69,21.39,8.37,40.80,19.68,4.38,34.62,9.03,26.56
2019-04-05,16.06,15.79,39.70,NaN,37.45,9.51,41.04,20.81,24.07,22.61,...,11.30,13.48,21.30,8.34,40.66,19.45,4.53,35.09,9.15,26.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,10.63,23.53,53.42,NaN,16.17,10.72,22.89,12.44,14.20,22.13,...,11.38,15.05,11.12,3.51,30.14,13.09,5.01,39.31,17.52,20.87
2020-03-25,10.96,25.16,58.49,NaN,19.17,11.45,25.64,13.43,15.26,23.77,...,11.90,18.03,11.43,4.26,32.71,14.55,5.71,39.71,18.15,25.69
2020-03-26,12.05,26.03,54.70,NaN,20.52,11.59,26.93,13.90,15.58,23.77,...,12.67,17.43,13.29,4.49,33.63,15.64,5.70,41.30,18.44,31.01
2020-03-27,11.76,24.24,49.99,NaN,19.50,11.07,24.94,13.10,14.57,21.94,...,11.91,14.93,12.17,4.27,32.11,14.20,5.70,40.55,17.18,26.85
2020-03-30,11.81,24.11,49.71,NaN,19.09,11.10,25.61,13.39,15.02,22.20,...,12.38,15.39,11.70,4.17,33.45,13.84,5.45,41.32,16.53,25.67

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-02,15.44,15.06,39.79,NaN,38.80,9.44,40.76,20.64,23.53,21.77,...,10.59,12.64,21.07,8.39,40.38,18.63,4.55,34.85,8.76,25.59
2019-04-03,15.50,14.89,39.36,NaN,38.96,9.12,40.33,20.37,23.27,22.20,...,10.68,13.03,20.75,8.38,40.50,18.96,4.38,34.13,8.86,25.54
2019-04-04,15.95,15.11,39.58,NaN,38.79,9.47,40.81,20.70,23.87,22.37,...,11.16,13.69,21.39,8.37,40.80,19.68,4.38,34.62,9.03,26.56
2019-04-05,16.06,15.79,39.70,NaN,37.45,9.51,41.04,20.81,24.07,22.61,...,11.30,13.48,21.30,8.34,40.66,19.45,4.53,35.09,9.15,26.89
2019-04-08,15.97,15.18,37.72,NaN,36.05,9.54,41.11,20.89,24.10,22.57,...,11.32,13.57,20.66,8.21,41.76,18.96,4.37,35.59,9.00,26.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-25,10.96,25.16,58.49,NaN,19.17,11.45,25.64,13.43,15.26,23.77,...,11.90,18.03,11.43,4.26,32.71,14.55,5.71,39.71,18.15,25.69
2020-03-26,12.05,26.03,54.70,NaN,20.52,11.59,26.93,13.90,15.58,23.77,...,12.67,17.43,13.29,4.49,33.63,15.64,5.70,41.30,18.44,31.01
2020-03-27,11.76,24.24,49.99,NaN,19.50,11.07,24.94,13.10,14.57,21.94,...,11.91,14.93,12.17,4.27,32.11,14.20,5.70,40.55,17.18,26.85
2020-03-30,11.81,24.11,49.71,NaN,19.09,11.10,25.61,13.39,15.02,22.20,...,12.38,15.39,11.70,4.17,33.45,13.84,5.45,41.32,16.53,25.67
2020-03-31,11.22,22.92,46.79,NaN,17.55,10.77,24.63,13.08,14.51,22.25,...,11.60,15.31,11.64,4.29,34.61,13.63,5.28,42.67,16.31,21.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-03,15.50,14.89,39.36,NaN,38.96,9.12,40.33,20.37,23.27,22.20,...,10.68,13.03,20.75,8.38,40.50,18.96,4.38,34.13,8.86,25.54
2019-04-04,15.95,15.11,39.58,NaN,38.79,9.47,40.81,20.70,23.87,22.37,...,11.16,13.69,21.39,8.37,40.80,19.68,4.38,34.62,9.03,26.56
2019-04-05,16.06,15.79,39.70,NaN,37.45,9.51,41.04,20.81,24.07,22.61,...,11.30,13.48,21.30,8.34,40.66,19.45,4.53,35.09,9.15,26.89
2019-04-08,15.97,15.18,37.72,NaN,36.05,9.54,41.11,20.89,24.10,22.57,...,11.32,13.57,20.66,8.21,41.76,18.96,4.37,35.59,9.00,26.92
2019-04-09,16.29,14.85,36.62,NaN,35.75,9.26,40.49,20.76,24.01,22.13,...,11.21,13.52,20.50,8.13,40.95,18.75,4.34,33.99,8.88,26.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-26,12.05,26.03,54.70,NaN,20.52,11.59,26.93,13.90,15.58,23.77,...,12.67,17.43,13.29,4.49,33.63,15.64,5.70,41.30,18.44,31.01
2020-03-27,11.76,24.24,49.99,NaN,19.50,11.07,24.94,13.10,14.57,21.94,...,11.91,14.93,12.17,4.27,32.11,14.20,5.70,40.55,17.18,26.85
2020-03-30,11.81,24.11,49.71,NaN,19.09,11.10,25.61,13.39,15.02,22.20,...,12.38,15.39,11.70,4.17,33.45,13.84,5.45,41.32,16.53,25.67
2020-03-31,11.22,22.92,46.79,NaN,17.55,10.77,24.63,13.08,14.51,22.25,...,11.60,15.31,11.64,4.29,34.61,13.63,5.28,42.67,16.31,21.26
2020-04-01,11.00,22.26,46.87,NaN,14.85,10.39,23.59,12.51,13.87,21.54,...,11.91,14.68,10.64,4.09,34.73,12.32,4.65,42.31,15.75,20.81

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-04,15.95,15.11,39.58,NaN,38.79,9.47,40.81,20.70,23.87,22.37,...,11.16,13.69,21.39,8.37,40.80,19.68,4.38,34.62,9.03,26.56
2019-04-05,16.06,15.79,39.70,NaN,37.45,9.51,41.04,20.81,24.07,22.61,...,11.30,13.48,21.30,8.34,40.66,19.45,4.53,35.09,9.15,26.89
2019-04-08,15.97,15.18,37.72,NaN,36.05,9.54,41.11,20.89,24.10,22.57,...,11.32,13.57,20.66,8.21,41.76,18.96,4.37,35.59,9.00,26.92
2019-04-09,16.29,14.85,36.62,NaN,35.75,9.26,40.49,20.76,24.01,22.13,...,11.21,13.52,20.50,8.13,40.95,18.75,4.34,33.99,8.88,26.24
2019-04-10,16.16,14.93,35.31,NaN,36.05,9.29,40.79,20.57,23.67,22.03,...,11.26,13.57,20.63,8.15,40.48,18.56,4.31,33.90,8.80,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,11.76,24.24,49.99,NaN,19.50,11.07,24.94,13.10,14.57,21.94,...,11.91,14.93,12.17,4.27,32.11,14.20,5.70,40.55,17.18,26.85
2020-03-30,11.81,24.11,49.71,NaN,19.09,11.10,25.61,13.39,15.02,22.20,...,12.38,15.39,11.70,4.17,33.45,13.84,5.45,41.32,16.53,25.67
2020-03-31,11.22,22.92,46.79,NaN,17.55,10.77,24.63,13.08,14.51,22.25,...,11.60,15.31,11.64,4.29,34.61,13.63,5.28,42.67,16.31,21.26
2020-04-01,11.00,22.26,46.87,NaN,14.85,10.39,23.59,12.51,13.87,21.54,...,11.91,14.68,10.64,4.09,34.73,12.32,4.65,42.31,15.75,20.81
2020-04-02,11.28,23.72,48.49,NaN,14.61,11.04,23.87,12.80,13.95,21.03,...,11.74,14.95,10.71,4.04,34.25,12.61,4.38,42.73,16.57,19.77

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-05,16.06,15.79,39.70,NaN,37.45,9.51,41.04,20.81,24.07,22.61,...,11.30,13.48,21.30,8.34,40.66,19.45,4.53,35.09,9.15,26.89
2019-04-08,15.97,15.18,37.72,NaN,36.05,9.54,41.11,20.89,24.10,22.57,...,11.32,13.57,20.66,8.21,41.76,18.96,4.37,35.59,9.00,26.92
2019-04-09,16.29,14.85,36.62,NaN,35.75,9.26,40.49,20.76,24.01,22.13,...,11.21,13.52,20.50,8.13,40.95,18.75,4.34,33.99,8.88,26.24
2019-04-10,16.16,14.93,35.31,NaN,36.05,9.29,40.79,20.57,23.67,22.03,...,11.26,13.57,20.63,8.15,40.48,18.56,4.31,33.90,8.80,25.40
2019-04-11,15.88,15.07,37.19,NaN,34.78,9.08,40.33,20.35,23.29,21.81,...,11.22,13.66,20.18,8.01,40.51,18.20,4.29,33.89,8.75,25.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-30,11.81,24.11,49.71,NaN,19.09,11.10,25.61,13.39,15.02,22.20,...,12.38,15.39,11.70,4.17,33.45,13.84,5.45,41.32,16.53,25.67
2020-03-31,11.22,22.92,46.79,NaN,17.55,10.77,24.63,13.08,14.51,22.25,...,11.60,15.31,11.64,4.29,34.61,13.63,5.28,42.67,16.31,21.26
2020-04-01,11.00,22.26,46.87,NaN,14.85,10.39,23.59,12.51,13.87,21.54,...,11.91,14.68,10.64,4.09,34.73,12.32,4.65,42.31,15.75,20.81
2020-04-02,11.28,23.72,48.49,NaN,14.61,11.04,23.87,12.80,13.95,21.03,...,11.74,14.95,10.71,4.04,34.25,12.61,4.38,42.73,16.57,19.77
2020-04-03,10.72,23.46,43.97,NaN,14.10,10.75,22.52,12.30,13.43,20.85,...,11.52,14.41,10.33,3.56,32.43,12.17,4.10,42.15,15.98,20.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-08,15.97,15.18,37.72,NaN,36.05,9.54,41.11,20.89,24.10,22.57,...,11.32,13.57,20.66,8.21,41.76,18.96,4.37,35.59,9.00,26.92
2019-04-09,16.29,14.85,36.62,NaN,35.75,9.26,40.49,20.76,24.01,22.13,...,11.21,13.52,20.50,8.13,40.95,18.75,4.34,33.99,8.88,26.24
2019-04-10,16.16,14.93,35.31,NaN,36.05,9.29,40.79,20.57,23.67,22.03,...,11.26,13.57,20.63,8.15,40.48,18.56,4.31,33.90,8.80,25.40
2019-04-11,15.88,15.07,37.19,NaN,34.78,9.08,40.33,20.35,23.29,21.81,...,11.22,13.66,20.18,8.01,40.51,18.20,4.29,33.89,8.75,25.37
2019-04-12,15.71,15.02,36.23,NaN,33.75,8.87,39.06,20.11,23.08,21.89,...,10.96,13.71,19.94,7.94,40.27,17.45,4.16,33.87,8.75,25.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-31,11.22,22.92,46.79,NaN,17.55,10.77,24.63,13.08,14.51,22.25,...,11.60,15.31,11.64,4.29,34.61,13.63,5.28,42.67,16.31,21.26
2020-04-01,11.00,22.26,46.87,NaN,14.85,10.39,23.59,12.51,13.87,21.54,...,11.91,14.68,10.64,4.09,34.73,12.32,4.65,42.31,15.75,20.81
2020-04-02,11.28,23.72,48.49,NaN,14.61,11.04,23.87,12.80,13.95,21.03,...,11.74,14.95,10.71,4.04,34.25,12.61,4.38,42.73,16.57,19.77
2020-04-03,10.72,23.46,43.97,NaN,14.10,10.75,22.52,12.30,13.43,20.85,...,11.52,14.41,10.33,3.56,32.43,12.17,4.10,42.15,15.98,20.16
2020-04-06,11.16,23.70,52.49,NaN,15.60,11.16,24.61,13.55,14.70,21.16,...,12.48,15.32,11.54,3.55,34.53,13.97,4.36,44.03,16.17,21.30

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-09,16.29,14.85,36.62,NaN,35.75,9.26,40.49,20.76,24.01,22.13,...,11.21,13.52,20.50,8.13,40.95,18.75,4.34,33.99,8.88,26.24
2019-04-10,16.16,14.93,35.31,NaN,36.05,9.29,40.79,20.57,23.67,22.03,...,11.26,13.57,20.63,8.15,40.48,18.56,4.31,33.90,8.80,25.40
2019-04-11,15.88,15.07,37.19,NaN,34.78,9.08,40.33,20.35,23.29,21.81,...,11.22,13.66,20.18,8.01,40.51,18.20,4.29,33.89,8.75,25.37
2019-04-12,15.71,15.02,36.23,NaN,33.75,8.87,39.06,20.11,23.08,21.89,...,10.96,13.71,19.94,7.94,40.27,17.45,4.16,33.87,8.75,25.05
2019-04-15,16.04,15.17,35.58,NaN,32.70,9.01,39.16,19.95,23.03,21.79,...,10.85,13.70,20.22,7.84,40.15,18.17,4.15,33.40,8.83,25.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-01,11.00,22.26,46.87,NaN,14.85,10.39,23.59,12.51,13.87,21.54,...,11.91,14.68,10.64,4.09,34.73,12.32,4.65,42.31,15.75,20.81
2020-04-02,11.28,23.72,48.49,NaN,14.61,11.04,23.87,12.80,13.95,21.03,...,11.74,14.95,10.71,4.04,34.25,12.61,4.38,42.73,16.57,19.77
2020-04-03,10.72,23.46,43.97,NaN,14.10,10.75,22.52,12.30,13.43,20.85,...,11.52,14.41,10.33,3.56,32.43,12.17,4.10,42.15,15.98,20.16
2020-04-06,11.16,23.70,52.49,NaN,15.60,11.16,24.61,13.55,14.70,21.16,...,12.48,15.32,11.54,3.55,34.53,13.97,4.36,44.03,16.17,21.30
2020-04-07,11.68,25.85,56.06,NaN,15.60,11.55,25.77,14.30,15.25,22.37,...,12.48,16.69,11.95,3.59,35.06,16.06,4.42,43.75,18.12,25.41

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-10,16.16,14.93,35.31,NaN,36.05,9.29,40.79,20.57,23.67,22.03,...,11.26,13.57,20.63,8.15,40.48,18.56,4.31,33.90,8.80,25.40
2019-04-11,15.88,15.07,37.19,NaN,34.78,9.08,40.33,20.35,23.29,21.81,...,11.22,13.66,20.18,8.01,40.51,18.20,4.29,33.89,8.75,25.37
2019-04-12,15.71,15.02,36.23,NaN,33.75,8.87,39.06,20.11,23.08,21.89,...,10.96,13.71,19.94,7.94,40.27,17.45,4.16,33.87,8.75,25.05
2019-04-15,16.04,15.17,35.58,NaN,32.70,9.01,39.16,19.95,23.03,21.79,...,10.85,13.70,20.22,7.84,40.15,18.17,4.15,33.40,8.83,25.57
2019-04-16,16.14,15.07,34.28,NaN,33.18,9.09,39.97,19.94,22.99,22.06,...,11.20,13.65,20.55,7.74,41.53,18.04,4.01,33.51,9.00,25.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-02,11.28,23.72,48.49,NaN,14.61,11.04,23.87,12.80,13.95,21.03,...,11.74,14.95,10.71,4.04,34.25,12.61,4.38,42.73,16.57,19.77
2020-04-03,10.72,23.46,43.97,NaN,14.10,10.75,22.52,12.30,13.43,20.85,...,11.52,14.41,10.33,3.56,32.43,12.17,4.10,42.15,15.98,20.16
2020-04-06,11.16,23.70,52.49,NaN,15.60,11.16,24.61,13.55,14.70,21.16,...,12.48,15.32,11.54,3.55,34.53,13.97,4.36,44.03,16.17,21.30
2020-04-07,11.68,25.85,56.06,NaN,15.60,11.55,25.77,14.30,15.25,22.37,...,12.48,16.69,11.95,3.59,35.06,16.06,4.42,43.75,18.12,25.41
2020-04-08,11.59,25.63,59.85,NaN,16.79,11.79,26.26,14.55,15.66,22.84,...,12.63,17.87,12.74,3.83,34.84,16.79,5.03,43.83,19.43,26.32

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-11,15.88,15.07,37.19,NaN,34.78,9.08,40.33,20.35,23.29,21.81,...,11.22,13.66,20.18,8.01,40.51,18.20,4.29,33.89,8.75,25.37
2019-04-12,15.71,15.02,36.23,NaN,33.75,8.87,39.06,20.11,23.08,21.89,...,10.96,13.71,19.94,7.94,40.27,17.45,4.16,33.87,8.75,25.05
2019-04-15,16.04,15.17,35.58,NaN,32.70,9.01,39.16,19.95,23.03,21.79,...,10.85,13.70,20.22,7.84,40.15,18.17,4.15,33.40,8.83,25.57
2019-04-16,16.14,15.07,34.28,NaN,33.18,9.09,39.97,19.94,22.99,22.06,...,11.20,13.65,20.55,7.74,41.53,18.04,4.01,33.51,9.00,25.42
2019-04-17,15.70,14.97,34.96,NaN,31.70,8.99,39.45,19.83,22.67,22.24,...,10.78,13.73,20.15,7.62,40.87,17.65,3.92,33.13,8.88,25.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-03,10.72,23.46,43.97,NaN,14.10,10.75,22.52,12.30,13.43,20.85,...,11.52,14.41,10.33,3.56,32.43,12.17,4.10,42.15,15.98,20.16
2020-04-06,11.16,23.70,52.49,NaN,15.60,11.16,24.61,13.55,14.70,21.16,...,12.48,15.32,11.54,3.55,34.53,13.97,4.36,44.03,16.17,21.30
2020-04-07,11.68,25.85,56.06,NaN,15.60,11.55,25.77,14.30,15.25,22.37,...,12.48,16.69,11.95,3.59,35.06,16.06,4.42,43.75,18.12,25.41
2020-04-08,11.59,25.63,59.85,NaN,16.79,11.79,26.26,14.55,15.66,22.84,...,12.63,17.87,12.74,3.83,34.84,16.79,5.03,43.83,19.43,26.32
2020-04-09,11.39,25.72,56.28,NaN,16.30,11.70,26.19,14.39,15.65,23.08,...,12.41,17.62,13.22,3.78,34.65,17.07,5.15,42.95,18.61,25.94

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-12,15.71,15.02,36.23,NaN,33.75,8.87,39.06,20.11,23.08,21.89,...,10.96,13.71,19.94,7.94,40.27,17.45,4.16,33.87,8.75,25.05
2019-04-15,16.04,15.17,35.58,NaN,32.70,9.01,39.16,19.95,23.03,21.79,...,10.85,13.70,20.22,7.84,40.15,18.17,4.15,33.40,8.83,25.57
2019-04-16,16.14,15.07,34.28,NaN,33.18,9.09,39.97,19.94,22.99,22.06,...,11.20,13.65,20.55,7.74,41.53,18.04,4.01,33.51,9.00,25.42
2019-04-17,15.70,14.97,34.96,NaN,31.70,8.99,39.45,19.83,22.67,22.24,...,10.78,13.73,20.15,7.62,40.87,17.65,3.92,33.13,8.88,25.50
2019-04-18,15.73,15.17,36.52,NaN,33.63,9.24,40.83,20.07,22.98,21.81,...,10.99,13.19,20.51,7.80,41.13,17.88,3.95,33.64,8.94,26.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-06,11.16,23.70,52.49,NaN,15.60,11.16,24.61,13.55,14.70,21.16,...,12.48,15.32,11.54,3.55,34.53,13.97,4.36,44.03,16.17,21.30
2020-04-07,11.68,25.85,56.06,NaN,15.60,11.55,25.77,14.30,15.25,22.37,...,12.48,16.69,11.95,3.59,35.06,16.06,4.42,43.75,18.12,25.41
2020-04-08,11.59,25.63,59.85,NaN,16.79,11.79,26.26,14.55,15.66,22.84,...,12.63,17.87,12.74,3.83,34.84,16.79,5.03,43.83,19.43,26.32
2020-04-09,11.39,25.72,56.28,NaN,16.30,11.70,26.19,14.39,15.65,23.08,...,12.41,17.62,13.22,3.78,34.65,17.07,5.15,42.95,18.61,25.94
2020-04-13,11.39,24.75,56.84,NaN,16.15,11.80,26.71,14.78,16.06,23.36,...,12.55,18.25,13.49,3.94,35.69,16.61,5.43,43.91,19.07,25.22

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-15,16.04,15.17,35.58,NaN,32.70,9.01,39.16,19.95,23.03,21.79,...,10.85,13.70,20.22,7.84,40.15,18.17,4.15,33.40,8.83,25.57
2019-04-16,16.14,15.07,34.28,NaN,33.18,9.09,39.97,19.94,22.99,22.06,...,11.20,13.65,20.55,7.74,41.53,18.04,4.01,33.51,9.00,25.42
2019-04-17,15.70,14.97,34.96,NaN,31.70,8.99,39.45,19.83,22.67,22.24,...,10.78,13.73,20.15,7.62,40.87,17.65,3.92,33.13,8.88,25.50
2019-04-18,15.73,15.17,36.52,NaN,33.63,9.24,40.83,20.07,22.98,21.81,...,10.99,13.19,20.51,7.80,41.13,17.88,3.95,33.64,8.94,26.31
2019-04-22,16.11,15.02,35.75,NaN,33.98,9.24,40.40,20.07,23.17,22.04,...,11.03,13.48,20.11,7.76,40.12,18.41,3.84,33.70,9.00,25.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-07,11.68,25.85,56.06,NaN,15.60,11.55,25.77,14.30,15.25,22.37,...,12.48,16.69,11.95,3.59,35.06,16.06,4.42,43.75,18.12,25.41
2020-04-08,11.59,25.63,59.85,NaN,16.79,11.79,26.26,14.55,15.66,22.84,...,12.63,17.87,12.74,3.83,34.84,16.79,5.03,43.83,19.43,26.32
2020-04-09,11.39,25.72,56.28,NaN,16.30,11.70,26.19,14.39,15.65,23.08,...,12.41,17.62,13.22,3.78,34.65,17.07,5.15,42.95,18.61,25.94
2020-04-13,11.39,24.75,56.84,NaN,16.15,11.80,26.71,14.78,16.06,23.36,...,12.55,18.25,13.49,3.94,35.69,16.61,5.43,43.91,19.07,25.22
2020-04-14,11.38,26.22,58.01,NaN,16.35,11.87,26.68,15.15,16.23,23.41,...,12.45,18.04,13.09,4.16,35.66,16.79,6.09,43.21,18.90,26.05

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-16,16.14,15.07,34.28,NaN,33.18,9.09,39.97,19.94,22.99,22.06,...,11.20,13.65,20.55,7.74,41.53,18.04,4.01,33.51,9.00,25.42
2019-04-17,15.70,14.97,34.96,NaN,31.70,8.99,39.45,19.83,22.67,22.24,...,10.78,13.73,20.15,7.62,40.87,17.65,3.92,33.13,8.88,25.50
2019-04-18,15.73,15.17,36.52,NaN,33.63,9.24,40.83,20.07,22.98,21.81,...,10.99,13.19,20.51,7.80,41.13,17.88,3.95,33.64,8.94,26.31
2019-04-22,16.11,15.02,35.75,NaN,33.98,9.24,40.40,20.07,23.17,22.04,...,11.03,13.48,20.11,7.76,40.12,18.41,3.84,33.70,9.00,25.74
2019-04-23,16.27,15.02,37.71,NaN,34.17,9.49,41.21,20.44,23.73,22.06,...,10.94,13.87,20.44,7.71,40.61,19.31,3.93,33.71,9.24,25.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-08,11.59,25.63,59.85,NaN,16.79,11.79,26.26,14.55,15.66,22.84,...,12.63,17.87,12.74,3.83,34.84,16.79,5.03,43.83,19.43,26.32
2020-04-09,11.39,25.72,56.28,NaN,16.30,11.70,26.19,14.39,15.65,23.08,...,12.41,17.62,13.22,3.78,34.65,17.07,5.15,42.95,18.61,25.94
2020-04-13,11.39,24.75,56.84,NaN,16.15,11.80,26.71,14.78,16.06,23.36,...,12.55,18.25,13.49,3.94,35.69,16.61,5.43,43.91,19.07,25.22
2020-04-14,11.38,26.22,58.01,NaN,16.35,11.87,26.68,15.15,16.23,23.41,...,12.45,18.04,13.09,4.16,35.66,16.79,6.09,43.21,18.90,26.05
2020-04-15,11.21,26.12,61.22,NaN,16.50,11.98,26.19,14.55,15.76,23.47,...,12.07,18.49,13.18,4.10,34.58,17.13,6.32,43.24,18.46,26.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-17,15.70,14.97,34.96,NaN,31.70,8.99,39.45,19.83,22.67,22.24,...,10.78,13.73,20.15,7.62,40.87,17.65,3.92,33.13,8.88,25.50
2019-04-18,15.73,15.17,36.52,NaN,33.63,9.24,40.83,20.07,22.98,21.81,...,10.99,13.19,20.51,7.80,41.13,17.88,3.95,33.64,8.94,26.31
2019-04-22,16.11,15.02,35.75,NaN,33.98,9.24,40.40,20.07,23.17,22.04,...,11.03,13.48,20.11,7.76,40.12,18.41,3.84,33.70,9.00,25.74
2019-04-23,16.27,15.02,37.71,NaN,34.17,9.49,41.21,20.44,23.73,22.06,...,10.94,13.87,20.44,7.71,40.61,19.31,3.93,33.71,9.24,25.32
2019-04-24,16.31,15.06,36.28,NaN,33.48,9.69,40.38,20.44,23.57,22.21,...,10.77,14.00,19.38,7.49,39.39,18.84,3.93,34.13,9.02,26.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-09,11.39,25.72,56.28,NaN,16.30,11.70,26.19,14.39,15.65,23.08,...,12.41,17.62,13.22,3.78,34.65,17.07,5.15,42.95,18.61,25.94
2020-04-13,11.39,24.75,56.84,NaN,16.15,11.80,26.71,14.78,16.06,23.36,...,12.55,18.25,13.49,3.94,35.69,16.61,5.43,43.91,19.07,25.22
2020-04-14,11.38,26.22,58.01,NaN,16.35,11.87,26.68,15.15,16.23,23.41,...,12.45,18.04,13.09,4.16,35.66,16.79,6.09,43.21,18.90,26.05
2020-04-15,11.21,26.12,61.22,NaN,16.50,11.98,26.19,14.55,15.76,23.47,...,12.07,18.49,13.18,4.10,34.58,17.13,6.32,43.24,18.46,26.87
2020-04-16,10.78,25.99,63.06,NaN,16.00,11.79,25.44,14.26,15.36,23.10,...,12.35,19.04,13.20,3.97,34.24,16.28,6.41,41.72,18.46,27.33

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-18,15.73,15.17,36.52,NaN,33.63,9.24,40.83,20.07,22.98,21.81,...,10.99,13.19,20.51,7.80,41.13,17.88,3.95,33.64,8.94,26.31
2019-04-22,16.11,15.02,35.75,NaN,33.98,9.24,40.40,20.07,23.17,22.04,...,11.03,13.48,20.11,7.76,40.12,18.41,3.84,33.70,9.00,25.74
2019-04-23,16.27,15.02,37.71,NaN,34.17,9.49,41.21,20.44,23.73,22.06,...,10.94,13.87,20.44,7.71,40.61,19.31,3.93,33.71,9.24,25.32
2019-04-24,16.31,15.06,36.28,NaN,33.48,9.69,40.38,20.44,23.57,22.21,...,10.77,14.00,19.38,7.49,39.39,18.84,3.93,34.13,9.02,26.22
2019-04-25,16.86,15.66,35.79,NaN,33.25,10.05,41.04,20.44,23.85,22.79,...,10.68,14.02,19.26,7.58,39.37,19.43,4.02,33.98,9.14,26.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-13,11.39,24.75,56.84,NaN,16.15,11.80,26.71,14.78,16.06,23.36,...,12.55,18.25,13.49,3.94,35.69,16.61,5.43,43.91,19.07,25.22
2020-04-14,11.38,26.22,58.01,NaN,16.35,11.87,26.68,15.15,16.23,23.41,...,12.45,18.04,13.09,4.16,35.66,16.79,6.09,43.21,18.90,26.05
2020-04-15,11.21,26.12,61.22,NaN,16.50,11.98,26.19,14.55,15.76,23.47,...,12.07,18.49,13.18,4.10,34.58,17.13,6.32,43.24,18.46,26.87
2020-04-16,10.78,25.99,63.06,NaN,16.00,11.79,25.44,14.26,15.36,23.10,...,12.35,19.04,13.20,3.97,34.24,16.28,6.41,41.72,18.46,27.33
2020-04-17,10.92,26.06,60.25,NaN,16.19,11.86,26.13,14.45,15.66,23.21,...,12.14,19.36,13.05,4.04,35.23,16.18,6.48,40.78,18.68,27.81

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-22,16.11,15.02,35.75,NaN,33.98,9.24,40.40,20.07,23.17,22.04,...,11.03,13.48,20.11,7.76,40.12,18.41,3.84,33.70,9.00,25.74
2019-04-23,16.27,15.02,37.71,NaN,34.17,9.49,41.21,20.44,23.73,22.06,...,10.94,13.87,20.44,7.71,40.61,19.31,3.93,33.71,9.24,25.32
2019-04-24,16.31,15.06,36.28,NaN,33.48,9.69,40.38,20.44,23.57,22.21,...,10.77,14.00,19.38,7.49,39.39,18.84,3.93,34.13,9.02,26.22
2019-04-25,16.86,15.66,35.79,NaN,33.25,10.05,41.04,20.44,23.85,22.79,...,10.68,14.02,19.26,7.58,39.37,19.43,4.02,33.98,9.14,26.46
2019-04-26,16.84,15.45,35.90,NaN,33.61,9.86,41.24,20.44,23.78,22.60,...,10.66,14.13,18.65,7.50,39.44,19.06,4.03,33.92,9.16,26.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-14,11.38,26.22,58.01,NaN,16.35,11.87,26.68,15.15,16.23,23.41,...,12.45,18.04,13.09,4.16,35.66,16.79,6.09,43.21,18.90,26.05
2020-04-15,11.21,26.12,61.22,NaN,16.50,11.98,26.19,14.55,15.76,23.47,...,12.07,18.49,13.18,4.10,34.58,17.13,6.32,43.24,18.46,26.87
2020-04-16,10.78,25.99,63.06,NaN,16.00,11.79,25.44,14.26,15.36,23.10,...,12.35,19.04,13.20,3.97,34.24,16.28,6.41,41.72,18.46,27.33
2020-04-17,10.92,26.06,60.25,NaN,16.19,11.86,26.13,14.45,15.66,23.21,...,12.14,19.36,13.05,4.04,35.23,16.18,6.48,40.78,18.68,27.81
2020-04-20,10.93,26.31,63.04,NaN,16.68,12.18,25.61,14.10,15.15,23.51,...,11.96,19.35,13.19,4.07,34.00,16.41,6.59,40.71,18.99,27.81

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-23,16.27,15.02,37.71,NaN,34.17,9.49,41.21,20.44,23.73,22.06,...,10.94,13.87,20.44,7.71,40.61,19.31,3.93,33.71,9.24,25.32
2019-04-24,16.31,15.06,36.28,NaN,33.48,9.69,40.38,20.44,23.57,22.21,...,10.77,14.00,19.38,7.49,39.39,18.84,3.93,34.13,9.02,26.22
2019-04-25,16.86,15.66,35.79,NaN,33.25,10.05,41.04,20.44,23.85,22.79,...,10.68,14.02,19.26,7.58,39.37,19.43,4.02,33.98,9.14,26.46
2019-04-26,16.84,15.45,35.90,NaN,33.61,9.86,41.24,20.44,23.78,22.60,...,10.66,14.13,18.65,7.50,39.44,19.06,4.03,33.92,9.16,26.31
2019-04-29,16.89,15.32,36.24,NaN,33.66,9.95,41.26,20.38,23.47,22.85,...,10.69,14.29,19.07,7.50,39.30,19.81,4.12,33.81,9.00,26.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-15,11.21,26.12,61.22,NaN,16.50,11.98,26.19,14.55,15.76,23.47,...,12.07,18.49,13.18,4.10,34.58,17.13,6.32,43.24,18.46,26.87
2020-04-16,10.78,25.99,63.06,NaN,16.00,11.79,25.44,14.26,15.36,23.10,...,12.35,19.04,13.20,3.97,34.24,16.28,6.41,41.72,18.46,27.33
2020-04-17,10.92,26.06,60.25,NaN,16.19,11.86,26.13,14.45,15.66,23.21,...,12.14,19.36,13.05,4.04,35.23,16.18,6.48,40.78,18.68,27.81
2020-04-20,10.93,26.31,63.04,NaN,16.68,12.18,25.61,14.10,15.15,23.51,...,11.96,19.35,13.19,4.07,34.00,16.41,6.59,40.71,18.99,27.81
2020-04-22,10.94,27.24,73.85,NaN,16.31,12.60,25.49,14.10,15.09,24.13,...,12.57,19.77,13.37,4.21,34.35,16.76,7.40,41.55,19.88,29.53

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-24,16.31,15.06,36.28,NaN,33.48,9.69,40.38,20.44,23.57,22.21,...,10.77,14.00,19.38,7.49,39.39,18.84,3.93,34.13,9.02,26.22
2019-04-25,16.86,15.66,35.79,NaN,33.25,10.05,41.04,20.44,23.85,22.79,...,10.68,14.02,19.26,7.58,39.37,19.43,4.02,33.98,9.14,26.46
2019-04-26,16.84,15.45,35.90,NaN,33.61,9.86,41.24,20.44,23.78,22.60,...,10.66,14.13,18.65,7.50,39.44,19.06,4.03,33.92,9.16,26.31
2019-04-29,16.89,15.32,36.24,NaN,33.66,9.95,41.26,20.38,23.47,22.85,...,10.69,14.29,19.07,7.50,39.30,19.81,4.12,33.81,9.00,26.03
2019-04-30,17.00,15.47,36.86,NaN,34.00,9.96,41.52,20.44,23.53,22.57,...,10.61,14.44,19.03,7.52,39.19,20.68,4.10,33.96,8.92,26.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-16,10.78,25.99,63.06,NaN,16.00,11.79,25.44,14.26,15.36,23.10,...,12.35,19.04,13.20,3.97,34.24,16.28,6.41,41.72,18.46,27.33
2020-04-17,10.92,26.06,60.25,NaN,16.19,11.86,26.13,14.45,15.66,23.21,...,12.14,19.36,13.05,4.04,35.23,16.18,6.48,40.78,18.68,27.81
2020-04-20,10.93,26.31,63.04,NaN,16.68,12.18,25.61,14.10,15.15,23.51,...,11.96,19.35,13.19,4.07,34.00,16.41,6.59,40.71,18.99,27.81
2020-04-22,10.94,27.24,73.85,NaN,16.31,12.60,25.49,14.10,15.09,24.13,...,12.57,19.77,13.37,4.21,34.35,16.76,7.40,41.55,19.88,29.53
2020-04-23,10.87,26.88,70.97,NaN,16.37,12.37,24.78,13.70,14.88,23.44,...,12.45,19.22,13.50,4.15,34.84,16.08,7.36,41.62,19.23,27.71

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-25,16.86,15.66,35.79,NaN,33.25,10.05,41.04,20.44,23.85,22.79,...,10.68,14.02,19.26,7.58,39.37,19.43,4.02,33.98,9.14,26.46
2019-04-26,16.84,15.45,35.90,NaN,33.61,9.86,41.24,20.44,23.78,22.60,...,10.66,14.13,18.65,7.50,39.44,19.06,4.03,33.92,9.16,26.31
2019-04-29,16.89,15.32,36.24,NaN,33.66,9.95,41.26,20.38,23.47,22.85,...,10.69,14.29,19.07,7.50,39.30,19.81,4.12,33.81,9.00,26.03
2019-04-30,17.00,15.47,36.86,NaN,34.00,9.96,41.52,20.44,23.53,22.57,...,10.61,14.44,19.03,7.52,39.19,20.68,4.10,33.96,8.92,26.06
2019-05-02,16.53,15.47,35.46,NaN,34.60,9.80,41.61,20.52,23.54,22.70,...,10.48,14.27,19.46,7.37,38.28,20.78,4.14,33.87,9.01,25.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-17,10.92,26.06,60.25,NaN,16.19,11.86,26.13,14.45,15.66,23.21,...,12.14,19.36,13.05,4.04,35.23,16.18,6.48,40.78,18.68,27.81
2020-04-20,10.93,26.31,63.04,NaN,16.68,12.18,25.61,14.10,15.15,23.51,...,11.96,19.35,13.19,4.07,34.00,16.41,6.59,40.71,18.99,27.81
2020-04-22,10.94,27.24,73.85,NaN,16.31,12.60,25.49,14.10,15.09,24.13,...,12.57,19.77,13.37,4.21,34.35,16.76,7.40,41.55,19.88,29.53
2020-04-23,10.87,26.88,70.97,NaN,16.37,12.37,24.78,13.70,14.88,23.44,...,12.45,19.22,13.50,4.15,34.84,16.08,7.36,41.62,19.23,27.71
2020-04-24,10.46,26.19,66.95,NaN,13.99,11.10,21.46,12.20,13.72,21.85,...,11.38,17.41,12.53,3.79,35.04,14.89,6.38,39.18,18.80,26.42

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-26,16.84,15.45,35.90,NaN,33.61,9.86,41.24,20.44,23.78,22.60,...,10.66,14.13,18.65,7.50,39.44,19.06,4.03,33.92,9.16,26.31
2019-04-29,16.89,15.32,36.24,NaN,33.66,9.95,41.26,20.38,23.47,22.85,...,10.69,14.29,19.07,7.50,39.30,19.81,4.12,33.81,9.00,26.03
2019-04-30,17.00,15.47,36.86,NaN,34.00,9.96,41.52,20.44,23.53,22.57,...,10.61,14.44,19.03,7.52,39.19,20.68,4.10,33.96,8.92,26.06
2019-05-02,16.53,15.47,35.46,NaN,34.60,9.80,41.61,20.52,23.54,22.70,...,10.48,14.27,19.46,7.37,38.28,20.78,4.14,33.87,9.01,25.94
2019-05-03,16.50,15.56,36.73,NaN,36.08,9.85,41.85,20.93,23.79,22.39,...,10.42,13.77,19.22,7.73,39.42,19.90,4.52,33.69,8.95,25.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-20,10.93,26.31,63.04,NaN,16.68,12.18,25.61,14.10,15.15,23.51,...,11.96,19.35,13.19,4.07,34.00,16.41,6.59,40.71,18.99,27.81
2020-04-22,10.94,27.24,73.85,NaN,16.31,12.60,25.49,14.10,15.09,24.13,...,12.57,19.77,13.37,4.21,34.35,16.76,7.40,41.55,19.88,29.53
2020-04-23,10.87,26.88,70.97,NaN,16.37,12.37,24.78,13.70,14.88,23.44,...,12.45,19.22,13.50,4.15,34.84,16.08,7.36,41.62,19.23,27.71
2020-04-24,10.46,26.19,66.95,NaN,13.99,11.10,21.46,12.20,13.72,21.85,...,11.38,17.41,12.53,3.79,35.04,14.89,6.38,39.18,18.80,26.42
2020-04-27,10.93,26.75,73.30,NaN,14.11,11.77,22.69,12.60,14.12,22.65,...,11.70,19.16,13.29,3.79,35.67,16.04,7.57,40.11,19.72,27.14

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-29,16.89,15.32,36.24,NaN,33.66,9.95,41.26,20.38,23.47,22.85,...,10.69,14.29,19.07,7.50,39.30,19.81,4.12,33.81,9.00,26.03
2019-04-30,17.00,15.47,36.86,NaN,34.00,9.96,41.52,20.44,23.53,22.57,...,10.61,14.44,19.03,7.52,39.19,20.68,4.10,33.96,8.92,26.06
2019-05-02,16.53,15.47,35.46,NaN,34.60,9.80,41.61,20.52,23.54,22.70,...,10.48,14.27,19.46,7.37,38.28,20.78,4.14,33.87,9.01,25.94
2019-05-03,16.50,15.56,36.73,NaN,36.08,9.85,41.85,20.93,23.79,22.39,...,10.42,13.77,19.22,7.73,39.42,19.90,4.52,33.69,8.95,25.35
2019-05-06,16.63,15.49,37.39,NaN,35.00,9.74,41.26,20.25,23.15,22.78,...,10.37,13.64,19.27,7.65,38.84,19.92,4.56,33.66,8.81,25.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-22,10.94,27.24,73.85,NaN,16.31,12.60,25.49,14.10,15.09,24.13,...,12.57,19.77,13.37,4.21,34.35,16.76,7.40,41.55,19.88,29.53
2020-04-23,10.87,26.88,70.97,NaN,16.37,12.37,24.78,13.70,14.88,23.44,...,12.45,19.22,13.50,4.15,34.84,16.08,7.36,41.62,19.23,27.71
2020-04-24,10.46,26.19,66.95,NaN,13.99,11.10,21.46,12.20,13.72,21.85,...,11.38,17.41,12.53,3.79,35.04,14.89,6.38,39.18,18.80,26.42
2020-04-27,10.93,26.75,73.30,NaN,14.11,11.77,22.69,12.60,14.12,22.65,...,11.70,19.16,13.29,3.79,35.67,16.04,7.57,40.11,19.72,27.14
2020-04-28,11.01,28.28,75.27,NaN,16.05,11.94,25.74,13.84,15.36,22.62,...,11.69,19.05,13.54,4.11,35.72,17.05,9.04,39.69,20.20,27.84

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-04-30,17.00,15.47,36.86,NaN,34.00,9.96,41.52,20.44,23.53,22.57,...,10.61,14.44,19.03,7.52,39.19,20.68,4.10,33.96,8.92,26.06
2019-05-02,16.53,15.47,35.46,NaN,34.60,9.80,41.61,20.52,23.54,22.70,...,10.48,14.27,19.46,7.37,38.28,20.78,4.14,33.87,9.01,25.94
2019-05-03,16.50,15.56,36.73,NaN,36.08,9.85,41.85,20.93,23.79,22.39,...,10.42,13.77,19.22,7.73,39.42,19.90,4.52,33.69,8.95,25.35
2019-05-06,16.63,15.49,37.39,NaN,35.00,9.74,41.26,20.25,23.15,22.78,...,10.37,13.64,19.27,7.65,38.84,19.92,4.56,33.66,8.81,25.03
2019-05-07,16.25,15.61,35.73,NaN,35.28,9.73,41.36,19.97,23.00,22.03,...,10.41,13.25,19.39,7.37,38.87,20.61,4.72,33.57,8.71,25.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-23,10.87,26.88,70.97,NaN,16.37,12.37,24.78,13.70,14.88,23.44,...,12.45,19.22,13.50,4.15,34.84,16.08,7.36,41.62,19.23,27.71
2020-04-24,10.46,26.19,66.95,NaN,13.99,11.10,21.46,12.20,13.72,21.85,...,11.38,17.41,12.53,3.79,35.04,14.89,6.38,39.18,18.80,26.42
2020-04-27,10.93,26.75,73.30,NaN,14.11,11.77,22.69,12.60,14.12,22.65,...,11.70,19.16,13.29,3.79,35.67,16.04,7.57,40.11,19.72,27.14
2020-04-28,11.01,28.28,75.27,NaN,16.05,11.94,25.74,13.84,15.36,22.62,...,11.69,19.05,13.54,4.11,35.72,17.05,9.04,39.69,20.20,27.84
2020-04-29,10.98,27.42,75.84,NaN,17.12,11.97,26.11,14.37,15.87,23.28,...,12.21,19.32,14.27,4.46,37.42,18.12,9.18,39.46,20.11,29.45

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-02,16.53,15.47,35.46,NaN,34.60,9.80,41.61,20.52,23.54,22.70,...,10.48,14.27,19.46,7.37,38.28,20.78,4.14,33.87,9.01,25.94
2019-05-03,16.50,15.56,36.73,NaN,36.08,9.85,41.85,20.93,23.79,22.39,...,10.42,13.77,19.22,7.73,39.42,19.90,4.52,33.69,8.95,25.35
2019-05-06,16.63,15.49,37.39,NaN,35.00,9.74,41.26,20.25,23.15,22.78,...,10.37,13.64,19.27,7.65,38.84,19.92,4.56,33.66,8.81,25.03
2019-05-07,16.25,15.61,35.73,NaN,35.28,9.73,41.36,19.97,23.00,22.03,...,10.41,13.25,19.39,7.37,38.87,20.61,4.72,33.57,8.71,25.55
2019-05-08,16.50,15.93,36.04,NaN,37.00,9.93,42.28,20.43,23.48,21.91,...,9.93,12.80,19.69,7.48,38.33,20.85,4.53,33.69,8.93,26.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-24,10.46,26.19,66.95,NaN,13.99,11.10,21.46,12.20,13.72,21.85,...,11.38,17.41,12.53,3.79,35.04,14.89,6.38,39.18,18.80,26.42
2020-04-27,10.93,26.75,73.30,NaN,14.11,11.77,22.69,12.60,14.12,22.65,...,11.70,19.16,13.29,3.79,35.67,16.04,7.57,40.11,19.72,27.14
2020-04-28,11.01,28.28,75.27,NaN,16.05,11.94,25.74,13.84,15.36,22.62,...,11.69,19.05,13.54,4.11,35.72,17.05,9.04,39.69,20.20,27.84
2020-04-29,10.98,27.42,75.84,NaN,17.12,11.97,26.11,14.37,15.87,23.28,...,12.21,19.32,14.27,4.46,37.42,18.12,9.18,39.46,20.11,29.45
2020-04-30,10.67,27.11,71.41,NaN,17.40,11.53,25.17,13.45,14.73,23.77,...,11.90,19.44,13.47,4.23,35.92,17.16,9.18,39.19,19.40,29.65

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-03,16.50,15.56,36.73,NaN,36.08,9.85,41.85,20.93,23.79,22.39,...,10.42,13.77,19.22,7.73,39.42,19.90,4.52,33.69,8.95,25.35
2019-05-06,16.63,15.49,37.39,NaN,35.00,9.74,41.26,20.25,23.15,22.78,...,10.37,13.64,19.27,7.65,38.84,19.92,4.56,33.66,8.81,25.03
2019-05-07,16.25,15.61,35.73,NaN,35.28,9.73,41.36,19.97,23.00,22.03,...,10.41,13.25,19.39,7.37,38.87,20.61,4.72,33.57,8.71,25.55
2019-05-08,16.50,15.93,36.04,NaN,37.00,9.93,42.28,20.43,23.48,21.91,...,9.93,12.80,19.69,7.48,38.33,20.85,4.53,33.69,8.93,26.19
2019-05-09,16.10,15.91,34.83,NaN,38.00,9.80,42.65,20.03,23.07,22.06,...,9.92,13.03,19.76,7.42,37.97,21.36,4.74,33.45,8.90,26.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27,10.93,26.75,73.30,NaN,14.11,11.77,22.69,12.60,14.12,22.65,...,11.70,19.16,13.29,3.79,35.67,16.04,7.57,40.11,19.72,27.14
2020-04-28,11.01,28.28,75.27,NaN,16.05,11.94,25.74,13.84,15.36,22.62,...,11.69,19.05,13.54,4.11,35.72,17.05,9.04,39.69,20.20,27.84
2020-04-29,10.98,27.42,75.84,NaN,17.12,11.97,26.11,14.37,15.87,23.28,...,12.21,19.32,14.27,4.46,37.42,18.12,9.18,39.46,20.11,29.45
2020-04-30,10.67,27.11,71.41,NaN,17.40,11.53,25.17,13.45,14.73,23.77,...,11.90,19.44,13.47,4.23,35.92,17.16,9.18,39.19,19.40,29.65
2020-05-04,11.07,26.13,72.21,NaN,15.16,11.51,24.52,12.93,14.07,22.65,...,12.54,19.72,13.56,4.12,35.18,17.20,9.50,41.26,19.35,27.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-06,16.63,15.49,37.39,NaN,35.00,9.74,41.26,20.25,23.15,22.78,...,10.37,13.64,19.27,7.65,38.84,19.92,4.56,33.66,8.81,25.03
2019-05-07,16.25,15.61,35.73,NaN,35.28,9.73,41.36,19.97,23.00,22.03,...,10.41,13.25,19.39,7.37,38.87,20.61,4.72,33.57,8.71,25.55
2019-05-08,16.50,15.93,36.04,NaN,37.00,9.93,42.28,20.43,23.48,21.91,...,9.93,12.80,19.69,7.48,38.33,20.85,4.53,33.69,8.93,26.19
2019-05-09,16.10,15.91,34.83,NaN,38.00,9.80,42.65,20.03,23.07,22.06,...,9.92,13.03,19.76,7.42,37.97,21.36,4.74,33.45,8.90,26.76
2019-05-10,15.93,16.39,32.57,NaN,38.09,9.63,41.92,19.83,22.86,22.45,...,9.88,13.37,19.67,7.35,38.69,20.89,4.61,33.93,8.85,27.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-28,11.01,28.28,75.27,NaN,16.05,11.94,25.74,13.84,15.36,22.62,...,11.69,19.05,13.54,4.11,35.72,17.05,9.04,39.69,20.20,27.84
2020-04-29,10.98,27.42,75.84,NaN,17.12,11.97,26.11,14.37,15.87,23.28,...,12.21,19.32,14.27,4.46,37.42,18.12,9.18,39.46,20.11,29.45
2020-04-30,10.67,27.11,71.41,NaN,17.40,11.53,25.17,13.45,14.73,23.77,...,11.90,19.44,13.47,4.23,35.92,17.16,9.18,39.19,19.40,29.65
2020-05-04,11.07,26.13,72.21,NaN,15.16,11.51,24.52,12.93,14.07,22.65,...,12.54,19.72,13.56,4.12,35.18,17.20,9.50,41.26,19.35,27.87
2020-05-05,11.24,26.11,72.98,NaN,15.16,11.62,24.56,12.91,14.08,22.30,...,12.96,19.99,13.40,4.06,34.99,17.40,9.70,42.06,18.95,28.17

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-07,16.25,15.61,35.73,NaN,35.28,9.73,41.36,19.97,23.00,22.03,...,10.41,13.25,19.39,7.37,38.87,20.61,4.72,33.57,8.71,25.55
2019-05-08,16.50,15.93,36.04,NaN,37.00,9.93,42.28,20.43,23.48,21.91,...,9.93,12.80,19.69,7.48,38.33,20.85,4.53,33.69,8.93,26.19
2019-05-09,16.10,15.91,34.83,NaN,38.00,9.80,42.65,20.03,23.07,22.06,...,9.92,13.03,19.76,7.42,37.97,21.36,4.74,33.45,8.90,26.76
2019-05-10,15.93,16.39,32.57,NaN,38.09,9.63,41.92,19.83,22.86,22.45,...,9.88,13.37,19.67,7.35,38.69,20.89,4.61,33.93,8.85,27.33
2019-05-13,15.66,16.29,31.12,NaN,36.60,9.35,40.43,19.26,22.30,22.37,...,9.62,13.41,19.03,7.13,37.10,20.57,4.73,33.20,8.64,27.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-29,10.98,27.42,75.84,NaN,17.12,11.97,26.11,14.37,15.87,23.28,...,12.21,19.32,14.27,4.46,37.42,18.12,9.18,39.46,20.11,29.45
2020-04-30,10.67,27.11,71.41,NaN,17.40,11.53,25.17,13.45,14.73,23.77,...,11.90,19.44,13.47,4.23,35.92,17.16,9.18,39.19,19.40,29.65
2020-05-04,11.07,26.13,72.21,NaN,15.16,11.51,24.52,12.93,14.07,22.65,...,12.54,19.72,13.56,4.12,35.18,17.20,9.50,41.26,19.35,27.87
2020-05-05,11.24,26.11,72.98,NaN,15.16,11.62,24.56,12.91,14.08,22.30,...,12.96,19.99,13.40,4.06,34.99,17.40,9.70,42.06,18.95,28.17
2020-05-06,11.13,25.21,86.94,NaN,14.77,11.53,23.84,12.61,13.79,21.96,...,12.67,19.41,13.05,4.04,35.50,17.01,10.01,41.89,18.86,27.39

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-08,16.50,15.93,36.04,NaN,37.00,9.93,42.28,20.43,23.48,21.91,...,9.93,12.80,19.69,7.48,38.33,20.85,4.53,33.69,8.93,26.19
2019-05-09,16.10,15.91,34.83,NaN,38.00,9.80,42.65,20.03,23.07,22.06,...,9.92,13.03,19.76,7.42,37.97,21.36,4.74,33.45,8.90,26.76
2019-05-10,15.93,16.39,32.57,NaN,38.09,9.63,41.92,19.83,22.86,22.45,...,9.88,13.37,19.67,7.35,38.69,20.89,4.61,33.93,8.85,27.33
2019-05-13,15.66,16.29,31.12,NaN,36.60,9.35,40.43,19.26,22.30,22.37,...,9.62,13.41,19.03,7.13,37.10,20.57,4.73,33.20,8.64,27.14
2019-05-14,15.60,16.65,30.83,NaN,35.15,9.43,40.03,19.10,22.23,22.85,...,9.65,12.97,19.26,7.10,37.22,20.02,4.55,33.38,8.64,26.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-30,10.67,27.11,71.41,NaN,17.40,11.53,25.17,13.45,14.73,23.77,...,11.90,19.44,13.47,4.23,35.92,17.16,9.18,39.19,19.40,29.65
2020-05-04,11.07,26.13,72.21,NaN,15.16,11.51,24.52,12.93,14.07,22.65,...,12.54,19.72,13.56,4.12,35.18,17.20,9.50,41.26,19.35,27.87
2020-05-05,11.24,26.11,72.98,NaN,15.16,11.62,24.56,12.91,14.08,22.30,...,12.96,19.99,13.40,4.06,34.99,17.40,9.70,42.06,18.95,28.17
2020-05-06,11.13,25.21,86.94,NaN,14.77,11.53,23.84,12.61,13.79,21.96,...,12.67,19.41,13.05,4.04,35.50,17.01,10.01,41.89,18.86,27.39
2020-05-07,10.86,24.61,87.93,NaN,13.66,11.05,23.19,12.20,13.20,21.03,...,12.12,17.95,12.35,4.17,36.87,15.99,9.74,36.71,18.99,26.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-09,16.10,15.91,34.83,NaN,38.00,9.80,42.65,20.03,23.07,22.06,...,9.92,13.03,19.76,7.42,37.97,21.36,4.74,33.45,8.90,26.76
2019-05-10,15.93,16.39,32.57,NaN,38.09,9.63,41.92,19.83,22.86,22.45,...,9.88,13.37,19.67,7.35,38.69,20.89,4.61,33.93,8.85,27.33
2019-05-13,15.66,16.29,31.12,NaN,36.60,9.35,40.43,19.26,22.30,22.37,...,9.62,13.41,19.03,7.13,37.10,20.57,4.73,33.20,8.64,27.14
2019-05-14,15.60,16.65,30.83,NaN,35.15,9.43,40.03,19.10,22.23,22.85,...,9.65,12.97,19.26,7.10,37.22,20.02,4.55,33.38,8.64,26.99
2019-05-15,15.29,16.80,31.15,NaN,34.63,9.40,39.37,18.92,21.99,22.57,...,9.67,12.92,19.20,6.93,37.50,19.85,4.30,33.69,8.64,26.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-04,11.07,26.13,72.21,NaN,15.16,11.51,24.52,12.93,14.07,22.65,...,12.54,19.72,13.56,4.12,35.18,17.20,9.50,41.26,19.35,27.87
2020-05-05,11.24,26.11,72.98,NaN,15.16,11.62,24.56,12.91,14.08,22.30,...,12.96,19.99,13.40,4.06,34.99,17.40,9.70,42.06,18.95,28.17
2020-05-06,11.13,25.21,86.94,NaN,14.77,11.53,23.84,12.61,13.79,21.96,...,12.67,19.41,13.05,4.04,35.50,17.01,10.01,41.89,18.86,27.39
2020-05-07,10.86,24.61,87.93,NaN,13.66,11.05,23.19,12.20,13.20,21.03,...,12.12,17.95,12.35,4.17,36.87,15.99,9.74,36.71,18.99,26.16
2020-05-08,11.33,24.57,85.30,NaN,13.60,11.33,23.94,12.74,13.79,20.84,...,12.27,18.24,12.89,4.24,39.11,16.74,8.85,40.91,18.58,26.42

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-10,15.93,16.39,32.57,NaN,38.09,9.63,41.92,19.83,22.86,22.45,...,9.88,13.37,19.67,7.35,38.69,20.89,4.61,33.93,8.85,27.33
2019-05-13,15.66,16.29,31.12,NaN,36.60,9.35,40.43,19.26,22.30,22.37,...,9.62,13.41,19.03,7.13,37.10,20.57,4.73,33.20,8.64,27.14
2019-05-14,15.60,16.65,30.83,NaN,35.15,9.43,40.03,19.10,22.23,22.85,...,9.65,12.97,19.26,7.10,37.22,20.02,4.55,33.38,8.64,26.99
2019-05-15,15.29,16.80,31.15,NaN,34.63,9.40,39.37,18.92,21.99,22.57,...,9.67,12.92,19.20,6.93,37.50,19.85,4.30,33.69,8.64,26.25
2019-05-16,15.32,17.06,30.85,NaN,33.30,9.22,38.14,18.58,21.73,22.67,...,9.56,12.64,18.34,6.71,36.29,19.11,4.09,33.53,8.64,25.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-05,11.24,26.11,72.98,NaN,15.16,11.62,24.56,12.91,14.08,22.30,...,12.96,19.99,13.40,4.06,34.99,17.40,9.70,42.06,18.95,28.17
2020-05-06,11.13,25.21,86.94,NaN,14.77,11.53,23.84,12.61,13.79,21.96,...,12.67,19.41,13.05,4.04,35.50,17.01,10.01,41.89,18.86,27.39
2020-05-07,10.86,24.61,87.93,NaN,13.66,11.05,23.19,12.20,13.20,21.03,...,12.12,17.95,12.35,4.17,36.87,15.99,9.74,36.71,18.99,26.16
2020-05-08,11.33,24.57,85.30,NaN,13.60,11.33,23.94,12.74,13.79,20.84,...,12.27,18.24,12.89,4.24,39.11,16.74,8.85,40.91,18.58,26.42
2020-05-11,11.24,24.51,84.76,NaN,13.15,11.04,24.09,12.52,13.58,21.09,...,12.09,17.72,12.45,4.19,38.22,15.74,8.88,39.93,18.86,25.21

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-13,15.66,16.29,31.12,NaN,36.60,9.35,40.43,19.26,22.30,22.37,...,9.62,13.41,19.03,7.13,37.10,20.57,4.73,33.20,8.64,27.14
2019-05-14,15.60,16.65,30.83,NaN,35.15,9.43,40.03,19.10,22.23,22.85,...,9.65,12.97,19.26,7.10,37.22,20.02,4.55,33.38,8.64,26.99
2019-05-15,15.29,16.80,31.15,NaN,34.63,9.40,39.37,18.92,21.99,22.57,...,9.67,12.92,19.20,6.93,37.50,19.85,4.30,33.69,8.64,26.25
2019-05-16,15.32,17.06,30.85,NaN,33.30,9.22,38.14,18.58,21.73,22.67,...,9.56,12.64,18.34,6.71,36.29,19.11,4.09,33.53,8.64,25.60
2019-05-17,15.18,17.10,31.21,NaN,32.66,9.17,37.48,18.73,21.90,22.22,...,9.65,12.48,17.55,6.88,37.32,18.68,4.03,33.65,8.70,25.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-06,11.13,25.21,86.94,NaN,14.77,11.53,23.84,12.61,13.79,21.96,...,12.67,19.41,13.05,4.04,35.50,17.01,10.01,41.89,18.86,27.39
2020-05-07,10.86,24.61,87.93,NaN,13.66,11.05,23.19,12.20,13.20,21.03,...,12.12,17.95,12.35,4.17,36.87,15.99,9.74,36.71,18.99,26.16
2020-05-08,11.33,24.57,85.30,NaN,13.60,11.33,23.94,12.74,13.79,20.84,...,12.27,18.24,12.89,4.24,39.11,16.74,8.85,40.91,18.58,26.42
2020-05-11,11.24,24.51,84.76,NaN,13.15,11.04,24.09,12.52,13.58,21.09,...,12.09,17.72,12.45,4.19,38.22,15.74,8.88,39.93,18.86,25.21
2020-05-12,11.03,25.74,87.26,NaN,12.53,10.72,23.24,12.12,13.16,20.46,...,11.79,17.02,12.75,4.04,38.00,15.47,8.55,39.38,18.22,24.08

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-14,15.60,16.65,30.83,NaN,35.15,9.43,40.03,19.10,22.23,22.85,...,9.65,12.97,19.26,7.10,37.22,20.02,4.55,33.38,8.64,26.99
2019-05-15,15.29,16.80,31.15,NaN,34.63,9.40,39.37,18.92,21.99,22.57,...,9.67,12.92,19.20,6.93,37.50,19.85,4.30,33.69,8.64,26.25
2019-05-16,15.32,17.06,30.85,NaN,33.30,9.22,38.14,18.58,21.73,22.67,...,9.56,12.64,18.34,6.71,36.29,19.11,4.09,33.53,8.64,25.60
2019-05-17,15.18,17.10,31.21,NaN,32.66,9.17,37.48,18.73,21.90,22.22,...,9.65,12.48,17.55,6.88,37.32,18.68,4.03,33.65,8.70,25.31
2019-05-20,15.18,17.40,32.67,NaN,33.41,9.46,38.92,19.38,22.49,22.65,...,9.73,12.53,17.90,6.98,36.57,19.61,4.11,33.49,8.87,26.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-07,10.86,24.61,87.93,NaN,13.66,11.05,23.19,12.20,13.20,21.03,...,12.12,17.95,12.35,4.17,36.87,15.99,9.74,36.71,18.99,26.16
2020-05-08,11.33,24.57,85.30,NaN,13.60,11.33,23.94,12.74,13.79,20.84,...,12.27,18.24,12.89,4.24,39.11,16.74,8.85,40.91,18.58,26.42
2020-05-11,11.24,24.51,84.76,NaN,13.15,11.04,24.09,12.52,13.58,21.09,...,12.09,17.72,12.45,4.19,38.22,15.74,8.88,39.93,18.86,25.21
2020-05-12,11.03,25.74,87.26,NaN,12.53,10.72,23.24,12.12,13.16,20.46,...,11.79,17.02,12.75,4.04,38.00,15.47,8.55,39.38,18.22,24.08
2020-05-13,10.60,23.82,89.11,NaN,12.29,10.85,22.57,12.03,13.05,20.69,...,11.84,17.35,12.52,3.83,38.87,15.20,9.14,39.86,18.46,23.23

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-15,15.29,16.80,31.15,NaN,34.63,9.40,39.37,18.92,21.99,22.57,...,9.67,12.92,19.20,6.93,37.50,19.85,4.30,33.69,8.64,26.25
2019-05-16,15.32,17.06,30.85,NaN,33.30,9.22,38.14,18.58,21.73,22.67,...,9.56,12.64,18.34,6.71,36.29,19.11,4.09,33.53,8.64,25.60
2019-05-17,15.18,17.10,31.21,NaN,32.66,9.17,37.48,18.73,21.90,22.22,...,9.65,12.48,17.55,6.88,37.32,18.68,4.03,33.65,8.70,25.31
2019-05-20,15.18,17.40,32.67,NaN,33.41,9.46,38.92,19.38,22.49,22.65,...,9.73,12.53,17.90,6.98,36.57,19.61,4.11,33.49,8.87,26.40
2019-05-21,15.73,17.79,33.34,NaN,35.24,9.92,41.14,20.22,23.42,22.64,...,9.75,13.29,18.77,7.35,37.08,20.44,4.31,33.86,9.02,26.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-08,11.33,24.57,85.30,NaN,13.60,11.33,23.94,12.74,13.79,20.84,...,12.27,18.24,12.89,4.24,39.11,16.74,8.85,40.91,18.58,26.42
2020-05-11,11.24,24.51,84.76,NaN,13.15,11.04,24.09,12.52,13.58,21.09,...,12.09,17.72,12.45,4.19,38.22,15.74,8.88,39.93,18.86,25.21
2020-05-12,11.03,25.74,87.26,NaN,12.53,10.72,23.24,12.12,13.16,20.46,...,11.79,17.02,12.75,4.04,38.00,15.47,8.55,39.38,18.22,24.08
2020-05-13,10.60,23.82,89.11,NaN,12.29,10.85,22.57,12.03,13.05,20.69,...,11.84,17.35,12.52,3.83,38.87,15.20,9.14,39.86,18.46,23.23
2020-05-14,11.05,23.35,86.62,NaN,11.60,11.35,23.54,12.55,13.76,21.23,...,11.96,17.49,13.93,4.01,38.51,16.30,9.02,40.10,18.14,23.56

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-16,15.32,17.06,30.85,NaN,33.30,9.22,38.14,18.58,21.73,22.67,...,9.56,12.64,18.34,6.71,36.29,19.11,4.09,33.53,8.64,25.60
2019-05-17,15.18,17.10,31.21,NaN,32.66,9.17,37.48,18.73,21.90,22.22,...,9.65,12.48,17.55,6.88,37.32,18.68,4.03,33.65,8.70,25.31
2019-05-20,15.18,17.40,32.67,NaN,33.41,9.46,38.92,19.38,22.49,22.65,...,9.73,12.53,17.90,6.98,36.57,19.61,4.11,33.49,8.87,26.40
2019-05-21,15.73,17.79,33.34,NaN,35.24,9.92,41.14,20.22,23.42,22.64,...,9.75,13.29,18.77,7.35,37.08,20.44,4.31,33.86,9.02,26.94
2019-05-22,15.84,17.54,32.09,NaN,35.68,9.82,41.10,19.93,23.00,22.61,...,9.70,13.38,18.72,7.37,37.12,20.06,4.32,34.10,9.01,27.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-11,11.24,24.51,84.76,NaN,13.15,11.04,24.09,12.52,13.58,21.09,...,12.09,17.72,12.45,4.19,38.22,15.74,8.88,39.93,18.86,25.21
2020-05-12,11.03,25.74,87.26,NaN,12.53,10.72,23.24,12.12,13.16,20.46,...,11.79,17.02,12.75,4.04,38.00,15.47,8.55,39.38,18.22,24.08
2020-05-13,10.60,23.82,89.11,NaN,12.29,10.85,22.57,12.03,13.05,20.69,...,11.84,17.35,12.52,3.83,38.87,15.20,9.14,39.86,18.46,23.23
2020-05-14,11.05,23.35,86.62,NaN,11.60,11.35,23.54,12.55,13.76,21.23,...,11.96,17.49,13.93,4.01,38.51,16.30,9.02,40.10,18.14,23.56
2020-05-15,10.96,21.92,83.91,NaN,11.08,11.86,23.10,12.12,13.17,20.23,...,11.38,18.44,13.15,3.97,38.47,16.00,8.68,38.93,17.69,23.26

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-17,15.18,17.10,31.21,NaN,32.66,9.17,37.48,18.73,21.90,22.22,...,9.65,12.48,17.55,6.88,37.32,18.68,4.03,33.65,8.70,25.31
2019-05-20,15.18,17.40,32.67,NaN,33.41,9.46,38.92,19.38,22.49,22.65,...,9.73,12.53,17.90,6.98,36.57,19.61,4.11,33.49,8.87,26.40
2019-05-21,15.73,17.79,33.34,NaN,35.24,9.92,41.14,20.22,23.42,22.64,...,9.75,13.29,18.77,7.35,37.08,20.44,4.31,33.86,9.02,26.94
2019-05-22,15.84,17.54,32.09,NaN,35.68,9.82,41.10,19.93,23.00,22.61,...,9.70,13.38,18.72,7.37,37.12,20.06,4.32,34.10,9.01,27.52
2019-05-23,15.84,17.91,30.35,NaN,35.31,9.93,41.17,19.93,22.89,22.93,...,9.57,12.91,18.08,7.10,37.40,20.14,4.20,33.58,8.88,26.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-12,11.03,25.74,87.26,NaN,12.53,10.72,23.24,12.12,13.16,20.46,...,11.79,17.02,12.75,4.04,38.00,15.47,8.55,39.38,18.22,24.08
2020-05-13,10.60,23.82,89.11,NaN,12.29,10.85,22.57,12.03,13.05,20.69,...,11.84,17.35,12.52,3.83,38.87,15.20,9.14,39.86,18.46,23.23
2020-05-14,11.05,23.35,86.62,NaN,11.60,11.35,23.54,12.55,13.76,21.23,...,11.96,17.49,13.93,4.01,38.51,16.30,9.02,40.10,18.14,23.56
2020-05-15,10.96,21.92,83.91,NaN,11.08,11.86,23.10,12.12,13.17,20.23,...,11.38,18.44,13.15,3.97,38.47,16.00,8.68,38.93,17.69,23.26
2020-05-18,11.39,23.60,82.01,NaN,14.39,12.60,24.20,12.69,13.86,21.04,...,12.04,18.87,14.01,4.32,41.04,16.71,8.87,40.26,17.79,25.83

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-20,15.18,17.40,32.67,NaN,33.41,9.46,38.92,19.38,22.49,22.65,...,9.73,12.53,17.90,6.98,36.57,19.61,4.11,33.49,8.87,26.40
2019-05-21,15.73,17.79,33.34,NaN,35.24,9.92,41.14,20.22,23.42,22.64,...,9.75,13.29,18.77,7.35,37.08,20.44,4.31,33.86,9.02,26.94
2019-05-22,15.84,17.54,32.09,NaN,35.68,9.82,41.10,19.93,23.00,22.61,...,9.70,13.38,18.72,7.37,37.12,20.06,4.32,34.10,9.01,27.52
2019-05-23,15.84,17.91,30.35,NaN,35.31,9.93,41.17,19.93,22.89,22.93,...,9.57,12.91,18.08,7.10,37.40,20.14,4.20,33.58,8.88,26.94
2019-05-24,15.71,17.65,29.32,NaN,35.45,9.89,41.77,19.80,22.67,22.85,...,9.67,12.96,17.63,7.15,37.79,20.09,4.20,34.01,8.73,27.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-13,10.60,23.82,89.11,NaN,12.29,10.85,22.57,12.03,13.05,20.69,...,11.84,17.35,12.52,3.83,38.87,15.20,9.14,39.86,18.46,23.23
2020-05-14,11.05,23.35,86.62,NaN,11.60,11.35,23.54,12.55,13.76,21.23,...,11.96,17.49,13.93,4.01,38.51,16.30,9.02,40.10,18.14,23.56
2020-05-15,10.96,21.92,83.91,NaN,11.08,11.86,23.10,12.12,13.17,20.23,...,11.38,18.44,13.15,3.97,38.47,16.00,8.68,38.93,17.69,23.26
2020-05-18,11.39,23.60,82.01,NaN,14.39,12.60,24.20,12.69,13.86,21.04,...,12.04,18.87,14.01,4.32,41.04,16.71,8.87,40.26,17.79,25.83
2020-05-19,11.24,24.11,89.84,NaN,13.65,12.22,23.55,12.26,13.45,21.03,...,11.63,18.86,14.06,4.25,41.99,17.00,9.29,39.27,17.93,25.45

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-21,15.73,17.79,33.34,NaN,35.24,9.92,41.14,20.22,23.42,22.64,...,9.75,13.29,18.77,7.35,37.08,20.44,4.31,33.86,9.02,26.94
2019-05-22,15.84,17.54,32.09,NaN,35.68,9.82,41.10,19.93,23.00,22.61,...,9.70,13.38,18.72,7.37,37.12,20.06,4.32,34.10,9.01,27.52
2019-05-23,15.84,17.91,30.35,NaN,35.31,9.93,41.17,19.93,22.89,22.93,...,9.57,12.91,18.08,7.10,37.40,20.14,4.20,33.58,8.88,26.94
2019-05-24,15.71,17.65,29.32,NaN,35.45,9.89,41.77,19.80,22.67,22.85,...,9.67,12.96,17.63,7.15,37.79,20.09,4.20,34.01,8.73,27.04
2019-05-27,15.85,17.75,29.34,NaN,36.45,10.04,42.59,20.08,22.99,23.40,...,9.72,12.96,17.81,7.17,39.26,20.15,4.26,33.55,8.78,28.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-14,11.05,23.35,86.62,NaN,11.60,11.35,23.54,12.55,13.76,21.23,...,11.96,17.49,13.93,4.01,38.51,16.30,9.02,40.10,18.14,23.56
2020-05-15,10.96,21.92,83.91,NaN,11.08,11.86,23.10,12.12,13.17,20.23,...,11.38,18.44,13.15,3.97,38.47,16.00,8.68,38.93,17.69,23.26
2020-05-18,11.39,23.60,82.01,NaN,14.39,12.60,24.20,12.69,13.86,21.04,...,12.04,18.87,14.01,4.32,41.04,16.71,8.87,40.26,17.79,25.83
2020-05-19,11.24,24.11,89.84,NaN,13.65,12.22,23.55,12.26,13.45,21.03,...,11.63,18.86,14.06,4.25,41.99,17.00,9.29,39.27,17.93,25.45
2020-05-20,11.43,23.80,86.31,NaN,15.33,12.19,24.14,12.49,13.59,21.07,...,12.01,19.15,14.36,4.45,42.04,17.18,9.16,39.77,18.28,25.35

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-22,15.84,17.54,32.09,NaN,35.68,9.82,41.10,19.93,23.00,22.61,...,9.70,13.38,18.72,7.37,37.12,20.06,4.32,34.10,9.01,27.52
2019-05-23,15.84,17.91,30.35,NaN,35.31,9.93,41.17,19.93,22.89,22.93,...,9.57,12.91,18.08,7.10,37.40,20.14,4.20,33.58,8.88,26.94
2019-05-24,15.71,17.65,29.32,NaN,35.45,9.89,41.77,19.80,22.67,22.85,...,9.67,12.96,17.63,7.15,37.79,20.09,4.20,34.01,8.73,27.04
2019-05-27,15.85,17.75,29.34,NaN,36.45,10.04,42.59,20.08,22.99,23.40,...,9.72,12.96,17.81,7.17,39.26,20.15,4.26,33.55,8.78,28.14
2019-05-28,15.94,17.96,31.27,NaN,38.25,10.33,43.14,20.76,23.63,23.75,...,9.88,12.99,17.60,7.20,39.30,20.62,4.41,34.33,9.05,27.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-15,10.96,21.92,83.91,NaN,11.08,11.86,23.10,12.12,13.17,20.23,...,11.38,18.44,13.15,3.97,38.47,16.00,8.68,38.93,17.69,23.26
2020-05-18,11.39,23.60,82.01,NaN,14.39,12.60,24.20,12.69,13.86,21.04,...,12.04,18.87,14.01,4.32,41.04,16.71,8.87,40.26,17.79,25.83
2020-05-19,11.24,24.11,89.84,NaN,13.65,12.22,23.55,12.26,13.45,21.03,...,11.63,18.86,14.06,4.25,41.99,17.00,9.29,39.27,17.93,25.45
2020-05-20,11.43,23.80,86.31,NaN,15.33,12.19,24.14,12.49,13.59,21.07,...,12.01,19.15,14.36,4.45,42.04,17.18,9.16,39.77,18.28,25.35
2020-05-21,11.18,26.15,84.42,NaN,15.43,13.09,25.84,13.26,14.35,21.62,...,12.28,19.85,15.28,4.38,40.94,18.47,9.49,39.88,18.19,26.36

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-23,15.84,17.91,30.35,NaN,35.31,9.93,41.17,19.93,22.89,22.93,...,9.57,12.91,18.08,7.10,37.40,20.14,4.20,33.58,8.88,26.94
2019-05-24,15.71,17.65,29.32,NaN,35.45,9.89,41.77,19.80,22.67,22.85,...,9.67,12.96,17.63,7.15,37.79,20.09,4.20,34.01,8.73,27.04
2019-05-27,15.85,17.75,29.34,NaN,36.45,10.04,42.59,20.08,22.99,23.40,...,9.72,12.96,17.81,7.17,39.26,20.15,4.26,33.55,8.78,28.14
2019-05-28,15.94,17.96,31.27,NaN,38.25,10.33,43.14,20.76,23.63,23.75,...,9.88,12.99,17.60,7.20,39.30,20.62,4.41,34.33,9.05,27.65
2019-05-29,15.89,18.04,31.06,NaN,38.15,10.44,43.10,21.14,24.10,23.48,...,9.83,13.06,18.17,7.20,38.87,21.46,4.58,34.43,9.16,27.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-18,11.39,23.60,82.01,NaN,14.39,12.60,24.20,12.69,13.86,21.04,...,12.04,18.87,14.01,4.32,41.04,16.71,8.87,40.26,17.79,25.83
2020-05-19,11.24,24.11,89.84,NaN,13.65,12.22,23.55,12.26,13.45,21.03,...,11.63,18.86,14.06,4.25,41.99,17.00,9.29,39.27,17.93,25.45
2020-05-20,11.43,23.80,86.31,NaN,15.33,12.19,24.14,12.49,13.59,21.07,...,12.01,19.15,14.36,4.45,42.04,17.18,9.16,39.77,18.28,25.35
2020-05-21,11.18,26.15,84.42,NaN,15.43,13.09,25.84,13.26,14.35,21.62,...,12.28,19.85,15.28,4.38,40.94,18.47,9.49,39.88,18.19,26.36
2020-05-22,11.05,25.63,83.01,NaN,14.80,13.16,25.18,13.04,14.43,21.05,...,11.94,19.45,14.95,4.16,40.25,17.69,9.70,40.03,18.09,24.99

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-24,15.71,17.65,29.32,NaN,35.45,9.89,41.77,19.80,22.67,22.85,...,9.67,12.96,17.63,7.15,37.79,20.09,4.20,34.01,8.73,27.04
2019-05-27,15.85,17.75,29.34,NaN,36.45,10.04,42.59,20.08,22.99,23.40,...,9.72,12.96,17.81,7.17,39.26,20.15,4.26,33.55,8.78,28.14
2019-05-28,15.94,17.96,31.27,NaN,38.25,10.33,43.14,20.76,23.63,23.75,...,9.88,12.99,17.60,7.20,39.30,20.62,4.41,34.33,9.05,27.65
2019-05-29,15.89,18.04,31.06,NaN,38.15,10.44,43.10,21.14,24.10,23.48,...,9.83,13.06,18.17,7.20,38.87,21.46,4.58,34.43,9.16,27.63
2019-05-30,16.05,18.26,31.24,NaN,39.30,10.61,43.73,21.47,24.54,23.64,...,9.88,12.80,18.04,7.26,39.12,21.72,4.80,35.01,9.15,27.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-19,11.24,24.11,89.84,NaN,13.65,12.22,23.55,12.26,13.45,21.03,...,11.63,18.86,14.06,4.25,41.99,17.00,9.29,39.27,17.93,25.45
2020-05-20,11.43,23.80,86.31,NaN,15.33,12.19,24.14,12.49,13.59,21.07,...,12.01,19.15,14.36,4.45,42.04,17.18,9.16,39.77,18.28,25.35
2020-05-21,11.18,26.15,84.42,NaN,15.43,13.09,25.84,13.26,14.35,21.62,...,12.28,19.85,15.28,4.38,40.94,18.47,9.49,39.88,18.19,26.36
2020-05-22,11.05,25.63,83.01,NaN,14.80,13.16,25.18,13.04,14.43,21.05,...,11.94,19.45,14.95,4.16,40.25,17.69,9.70,40.03,18.09,24.99
2020-05-25,11.55,25.83,85.18,NaN,15.34,13.95,27.82,14.09,15.45,22.07,...,12.64,20.02,15.79,4.30,40.12,19.53,11.21,40.76,18.48,26.89

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-27,15.85,17.75,29.34,NaN,36.45,10.04,42.59,20.08,22.99,23.40,...,9.72,12.96,17.81,7.17,39.26,20.15,4.26,33.55,8.78,28.14
2019-05-28,15.94,17.96,31.27,NaN,38.25,10.33,43.14,20.76,23.63,23.75,...,9.88,12.99,17.60,7.20,39.30,20.62,4.41,34.33,9.05,27.65
2019-05-29,15.89,18.04,31.06,NaN,38.15,10.44,43.10,21.14,24.10,23.48,...,9.83,13.06,18.17,7.20,38.87,21.46,4.58,34.43,9.16,27.63
2019-05-30,16.05,18.26,31.24,NaN,39.30,10.61,43.73,21.47,24.54,23.64,...,9.88,12.80,18.04,7.26,39.12,21.72,4.80,35.01,9.15,27.74
2019-05-31,16.16,18.14,30.26,NaN,39.20,10.57,43.65,21.54,24.48,23.84,...,9.98,12.80,18.74,7.15,38.33,22.29,4.70,35.06,9.14,28.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-20,11.43,23.80,86.31,NaN,15.33,12.19,24.14,12.49,13.59,21.07,...,12.01,19.15,14.36,4.45,42.04,17.18,9.16,39.77,18.28,25.35
2020-05-21,11.18,26.15,84.42,NaN,15.43,13.09,25.84,13.26,14.35,21.62,...,12.28,19.85,15.28,4.38,40.94,18.47,9.49,39.88,18.19,26.36
2020-05-22,11.05,25.63,83.01,NaN,14.80,13.16,25.18,13.04,14.43,21.05,...,11.94,19.45,14.95,4.16,40.25,17.69,9.70,40.03,18.09,24.99
2020-05-25,11.55,25.83,85.18,NaN,15.34,13.95,27.82,14.09,15.45,22.07,...,12.64,20.02,15.79,4.30,40.12,19.53,11.21,40.76,18.48,26.89
2020-05-26,11.79,25.71,93.00,NaN,14.75,13.95,27.20,13.45,14.78,22.55,...,12.52,20.38,15.88,4.32,39.40,18.87,11.57,41.11,19.64,27.29

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-28,15.94,17.96,31.27,NaN,38.25,10.33,43.14,20.76,23.63,23.75,...,9.88,12.99,17.60,7.20,39.30,20.62,4.41,34.33,9.05,27.65
2019-05-29,15.89,18.04,31.06,NaN,38.15,10.44,43.10,21.14,24.10,23.48,...,9.83,13.06,18.17,7.20,38.87,21.46,4.58,34.43,9.16,27.63
2019-05-30,16.05,18.26,31.24,NaN,39.30,10.61,43.73,21.47,24.54,23.64,...,9.88,12.80,18.04,7.26,39.12,21.72,4.80,35.01,9.15,27.74
2019-05-31,16.16,18.14,30.26,NaN,39.20,10.57,43.65,21.54,24.48,23.84,...,9.98,12.80,18.74,7.15,38.33,22.29,4.70,35.06,9.14,28.24
2019-06-03,16.04,17.74,29.58,NaN,39.69,10.55,43.85,21.62,24.40,24.20,...,10.08,12.68,18.56,6.97,38.19,21.93,4.96,34.48,9.19,27.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-21,11.18,26.15,84.42,NaN,15.43,13.09,25.84,13.26,14.35,21.62,...,12.28,19.85,15.28,4.38,40.94,18.47,9.49,39.88,18.19,26.36
2020-05-22,11.05,25.63,83.01,NaN,14.80,13.16,25.18,13.04,14.43,21.05,...,11.94,19.45,14.95,4.16,40.25,17.69,9.70,40.03,18.09,24.99
2020-05-25,11.55,25.83,85.18,NaN,15.34,13.95,27.82,14.09,15.45,22.07,...,12.64,20.02,15.79,4.30,40.12,19.53,11.21,40.76,18.48,26.89
2020-05-26,11.79,25.71,93.00,NaN,14.75,13.95,27.20,13.45,14.78,22.55,...,12.52,20.38,15.88,4.32,39.40,18.87,11.57,41.11,19.64,27.29
2020-05-27,12.59,26.46,91.64,NaN,14.87,13.98,27.29,13.66,15.04,22.65,...,12.68,20.04,16.07,5.02,40.55,19.51,12.18,41.02,19.71,29.41

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-29,15.89,18.04,31.06,NaN,38.15,10.44,43.10,21.14,24.10,23.48,...,9.83,13.06,18.17,7.20,38.87,21.46,4.58,34.43,9.16,27.63
2019-05-30,16.05,18.26,31.24,NaN,39.30,10.61,43.73,21.47,24.54,23.64,...,9.88,12.80,18.04,7.26,39.12,21.72,4.80,35.01,9.15,27.74
2019-05-31,16.16,18.14,30.26,NaN,39.20,10.57,43.65,21.54,24.48,23.84,...,9.98,12.80,18.74,7.15,38.33,22.29,4.70,35.06,9.14,28.24
2019-06-03,16.04,17.74,29.58,NaN,39.69,10.55,43.85,21.62,24.40,24.20,...,10.08,12.68,18.56,6.97,38.19,21.93,4.96,34.48,9.19,27.73
2019-06-04,15.97,17.44,29.39,NaN,40.00,10.51,44.57,21.58,24.52,24.41,...,10.02,12.94,18.42,7.22,38.41,21.81,4.86,35.42,9.13,27.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-22,11.05,25.63,83.01,NaN,14.80,13.16,25.18,13.04,14.43,21.05,...,11.94,19.45,14.95,4.16,40.25,17.69,9.70,40.03,18.09,24.99
2020-05-25,11.55,25.83,85.18,NaN,15.34,13.95,27.82,14.09,15.45,22.07,...,12.64,20.02,15.79,4.30,40.12,19.53,11.21,40.76,18.48,26.89
2020-05-26,11.79,25.71,93.00,NaN,14.75,13.95,27.20,13.45,14.78,22.55,...,12.52,20.38,15.88,4.32,39.40,18.87,11.57,41.11,19.64,27.29
2020-05-27,12.59,26.46,91.64,NaN,14.87,13.98,27.29,13.66,15.04,22.65,...,12.68,20.04,16.07,5.02,40.55,19.51,12.18,41.02,19.71,29.41
2020-05-28,12.07,25.32,90.17,NaN,14.75,13.78,27.20,13.54,14.70,22.93,...,12.51,20.21,16.15,5.28,40.11,19.49,12.58,40.57,19.76,27.85

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-30,16.05,18.26,31.24,NaN,39.30,10.61,43.73,21.47,24.54,23.64,...,9.88,12.80,18.04,7.26,39.12,21.72,4.80,35.01,9.15,27.74
2019-05-31,16.16,18.14,30.26,NaN,39.20,10.57,43.65,21.54,24.48,23.84,...,9.98,12.80,18.74,7.15,38.33,22.29,4.70,35.06,9.14,28.24
2019-06-03,16.04,17.74,29.58,NaN,39.69,10.55,43.85,21.62,24.40,24.20,...,10.08,12.68,18.56,6.97,38.19,21.93,4.96,34.48,9.19,27.73
2019-06-04,15.97,17.44,29.39,NaN,40.00,10.51,44.57,21.58,24.52,24.41,...,10.02,12.94,18.42,7.22,38.41,21.81,4.86,35.42,9.13,27.43
2019-06-05,16.03,17.10,28.89,NaN,40.62,10.39,43.34,21.33,24.14,24.59,...,9.65,13.21,17.89,7.20,37.85,21.38,4.65,34.97,9.07,27.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-25,11.55,25.83,85.18,NaN,15.34,13.95,27.82,14.09,15.45,22.07,...,12.64,20.02,15.79,4.30,40.12,19.53,11.21,40.76,18.48,26.89
2020-05-26,11.79,25.71,93.00,NaN,14.75,13.95,27.20,13.45,14.78,22.55,...,12.52,20.38,15.88,4.32,39.40,18.87,11.57,41.11,19.64,27.29
2020-05-27,12.59,26.46,91.64,NaN,14.87,13.98,27.29,13.66,15.04,22.65,...,12.68,20.04,16.07,5.02,40.55,19.51,12.18,41.02,19.71,29.41
2020-05-28,12.07,25.32,90.17,NaN,14.75,13.78,27.20,13.54,14.70,22.93,...,12.51,20.21,16.15,5.28,40.11,19.49,12.58,40.57,19.76,27.85
2020-05-29,11.75,24.57,89.32,NaN,14.28,13.66,27.24,13.64,14.58,22.64,...,12.70,19.83,15.90,5.42,42.44,19.02,12.40,40.57,20.32,27.82

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-05-31,16.16,18.14,30.26,NaN,39.20,10.57,43.65,21.54,24.48,23.84,...,9.98,12.80,18.74,7.15,38.33,22.29,4.70,35.06,9.14,28.24
2019-06-03,16.04,17.74,29.58,NaN,39.69,10.55,43.85,21.62,24.40,24.20,...,10.08,12.68,18.56,6.97,38.19,21.93,4.96,34.48,9.19,27.73
2019-06-04,15.97,17.44,29.39,NaN,40.00,10.51,44.57,21.58,24.52,24.41,...,10.02,12.94,18.42,7.22,38.41,21.81,4.86,35.42,9.13,27.43
2019-06-05,16.03,17.10,28.89,NaN,40.62,10.39,43.34,21.33,24.14,24.59,...,9.65,13.21,17.89,7.20,37.85,21.38,4.65,34.97,9.07,27.13
2019-06-06,16.24,17.52,29.71,NaN,42.69,10.78,44.44,21.61,24.67,24.96,...,9.83,13.02,18.13,7.18,38.17,22.08,4.95,34.51,9.07,26.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-26,11.79,25.71,93.00,NaN,14.75,13.95,27.20,13.45,14.78,22.55,...,12.52,20.38,15.88,4.32,39.40,18.87,11.57,41.11,19.64,27.29
2020-05-27,12.59,26.46,91.64,NaN,14.87,13.98,27.29,13.66,15.04,22.65,...,12.68,20.04,16.07,5.02,40.55,19.51,12.18,41.02,19.71,29.41
2020-05-28,12.07,25.32,90.17,NaN,14.75,13.78,27.20,13.54,14.70,22.93,...,12.51,20.21,16.15,5.28,40.11,19.49,12.58,40.57,19.76,27.85
2020-05-29,11.75,24.57,89.32,NaN,14.28,13.66,27.24,13.64,14.58,22.64,...,12.70,19.83,15.90,5.42,42.44,19.02,12.40,40.57,20.32,27.82
2020-06-01,11.86,25.34,89.10,NaN,15.35,13.66,28.09,14.08,15.24,22.97,...,12.60,20.15,15.96,5.45,42.77,18.98,13.43,41.30,20.48,29.13

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-03,16.04,17.74,29.58,NaN,39.69,10.55,43.85,21.62,24.40,24.20,...,10.08,12.68,18.56,6.97,38.19,21.93,4.96,34.48,9.19,27.73
2019-06-04,15.97,17.44,29.39,NaN,40.00,10.51,44.57,21.58,24.52,24.41,...,10.02,12.94,18.42,7.22,38.41,21.81,4.86,35.42,9.13,27.43
2019-06-05,16.03,17.10,28.89,NaN,40.62,10.39,43.34,21.33,24.14,24.59,...,9.65,13.21,17.89,7.20,37.85,21.38,4.65,34.97,9.07,27.13
2019-06-06,16.24,17.52,29.71,NaN,42.69,10.78,44.44,21.61,24.67,24.96,...,9.83,13.02,18.13,7.18,38.17,22.08,4.95,34.51,9.07,26.28
2019-06-07,16.21,17.94,29.94,NaN,43.66,10.72,44.08,21.74,24.68,24.75,...,10.06,13.30,18.32,7.50,38.06,21.64,5.00,34.40,9.21,28.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-27,12.59,26.46,91.64,NaN,14.87,13.98,27.29,13.66,15.04,22.65,...,12.68,20.04,16.07,5.02,40.55,19.51,12.18,41.02,19.71,29.41
2020-05-28,12.07,25.32,90.17,NaN,14.75,13.78,27.20,13.54,14.70,22.93,...,12.51,20.21,16.15,5.28,40.11,19.49,12.58,40.57,19.76,27.85
2020-05-29,11.75,24.57,89.32,NaN,14.28,13.66,27.24,13.64,14.58,22.64,...,12.70,19.83,15.90,5.42,42.44,19.02,12.40,40.57,20.32,27.82
2020-06-01,11.86,25.34,89.10,NaN,15.35,13.66,28.09,14.08,15.24,22.97,...,12.60,20.15,15.96,5.45,42.77,18.98,13.43,41.30,20.48,29.13
2020-06-02,12.21,25.95,86.95,NaN,16.75,13.94,28.99,14.61,15.92,23.74,...,12.84,20.46,17.59,6.09,42.77,20.05,13.28,41.75,20.61,32.78

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-04,15.97,17.44,29.39,NaN,40.00,10.51,44.57,21.58,24.52,24.41,...,10.02,12.94,18.42,7.22,38.41,21.81,4.86,35.42,9.13,27.43
2019-06-05,16.03,17.10,28.89,NaN,40.62,10.39,43.34,21.33,24.14,24.59,...,9.65,13.21,17.89,7.20,37.85,21.38,4.65,34.97,9.07,27.13
2019-06-06,16.24,17.52,29.71,NaN,42.69,10.78,44.44,21.61,24.67,24.96,...,9.83,13.02,18.13,7.18,38.17,22.08,4.95,34.51,9.07,26.28
2019-06-07,16.21,17.94,29.94,NaN,43.66,10.72,44.08,21.74,24.68,24.75,...,10.06,13.30,18.32,7.50,38.06,21.64,5.00,34.40,9.21,28.24
2019-06-10,16.25,18.08,30.75,NaN,44.10,10.77,43.67,21.54,24.39,24.59,...,10.04,13.75,18.29,7.58,37.81,21.24,5.06,35.50,9.23,28.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-28,12.07,25.32,90.17,NaN,14.75,13.78,27.20,13.54,14.70,22.93,...,12.51,20.21,16.15,5.28,40.11,19.49,12.58,40.57,19.76,27.85
2020-05-29,11.75,24.57,89.32,NaN,14.28,13.66,27.24,13.64,14.58,22.64,...,12.70,19.83,15.90,5.42,42.44,19.02,12.40,40.57,20.32,27.82
2020-06-01,11.86,25.34,89.10,NaN,15.35,13.66,28.09,14.08,15.24,22.97,...,12.60,20.15,15.96,5.45,42.77,18.98,13.43,41.30,20.48,29.13
2020-06-02,12.21,25.95,86.95,NaN,16.75,13.94,28.99,14.61,15.92,23.74,...,12.84,20.46,17.59,6.09,42.77,20.05,13.28,41.75,20.61,32.78
2020-06-03,12.47,26.71,85.16,NaN,18.45,14.65,30.69,15.27,16.63,24.97,...,12.75,21.18,17.42,6.08,42.97,20.61,13.48,40.73,20.69,34.33

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-05,16.03,17.10,28.89,NaN,40.62,10.39,43.34,21.33,24.14,24.59,...,9.65,13.21,17.89,7.20,37.85,21.38,4.65,34.97,9.07,27.13
2019-06-06,16.24,17.52,29.71,NaN,42.69,10.78,44.44,21.61,24.67,24.96,...,9.83,13.02,18.13,7.18,38.17,22.08,4.95,34.51,9.07,26.28
2019-06-07,16.21,17.94,29.94,NaN,43.66,10.72,44.08,21.74,24.68,24.75,...,10.06,13.30,18.32,7.50,38.06,21.64,5.00,34.40,9.21,28.24
2019-06-10,16.25,18.08,30.75,NaN,44.10,10.77,43.67,21.54,24.39,24.59,...,10.04,13.75,18.29,7.58,37.81,21.24,5.06,35.50,9.23,28.62
2019-06-11,16.31,18.21,32.09,NaN,43.74,10.99,44.53,21.60,24.50,24.88,...,10.03,13.92,19.12,7.85,40.23,21.72,5.00,35.50,9.30,28.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-29,11.75,24.57,89.32,NaN,14.28,13.66,27.24,13.64,14.58,22.64,...,12.70,19.83,15.90,5.42,42.44,19.02,12.40,40.57,20.32,27.82
2020-06-01,11.86,25.34,89.10,NaN,15.35,13.66,28.09,14.08,15.24,22.97,...,12.60,20.15,15.96,5.45,42.77,18.98,13.43,41.30,20.48,29.13
2020-06-02,12.21,25.95,86.95,NaN,16.75,13.94,28.99,14.61,15.92,23.74,...,12.84,20.46,17.59,6.09,42.77,20.05,13.28,41.75,20.61,32.78
2020-06-03,12.47,26.71,85.16,NaN,18.45,14.65,30.69,15.27,16.63,24.97,...,12.75,21.18,17.42,6.08,42.97,20.61,13.48,40.73,20.69,34.33
2020-06-04,12.59,27.13,83.87,NaN,19.08,14.87,30.86,15.33,16.87,25.12,...,13.18,21.39,17.30,6.06,44.57,20.56,13.95,41.06,21.28,34.30

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-06,16.24,17.52,29.71,NaN,42.69,10.78,44.44,21.61,24.67,24.96,...,9.83,13.02,18.13,7.18,38.17,22.08,4.95,34.51,9.07,26.28
2019-06-07,16.21,17.94,29.94,NaN,43.66,10.72,44.08,21.74,24.68,24.75,...,10.06,13.30,18.32,7.50,38.06,21.64,5.00,34.40,9.21,28.24
2019-06-10,16.25,18.08,30.75,NaN,44.10,10.77,43.67,21.54,24.39,24.59,...,10.04,13.75,18.29,7.58,37.81,21.24,5.06,35.50,9.23,28.62
2019-06-11,16.31,18.21,32.09,NaN,43.74,10.99,44.53,21.60,24.50,24.88,...,10.03,13.92,19.12,7.85,40.23,21.72,5.00,35.50,9.30,28.29
2019-06-12,16.28,18.18,30.65,NaN,43.62,10.88,44.11,21.64,24.22,24.83,...,10.04,13.95,18.73,7.67,40.27,21.50,4.84,35.76,9.45,27.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-01,11.86,25.34,89.10,NaN,15.35,13.66,28.09,14.08,15.24,22.97,...,12.60,20.15,15.96,5.45,42.77,18.98,13.43,41.30,20.48,29.13
2020-06-02,12.21,25.95,86.95,NaN,16.75,13.94,28.99,14.61,15.92,23.74,...,12.84,20.46,17.59,6.09,42.77,20.05,13.28,41.75,20.61,32.78
2020-06-03,12.47,26.71,85.16,NaN,18.45,14.65,30.69,15.27,16.63,24.97,...,12.75,21.18,17.42,6.08,42.97,20.61,13.48,40.73,20.69,34.33
2020-06-04,12.59,27.13,83.87,NaN,19.08,14.87,30.86,15.33,16.87,25.12,...,13.18,21.39,17.30,6.06,44.57,20.56,13.95,41.06,21.28,34.30
2020-06-05,13.22,27.26,84.16,NaN,21.16,14.72,31.09,15.68,17.18,25.51,...,13.62,20.47,17.35,6.08,43.73,20.14,14.85,41.53,21.53,37.67

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-07,16.21,17.94,29.94,NaN,43.66,10.72,44.08,21.74,24.68,24.75,...,10.06,13.30,18.32,7.50,38.06,21.64,5.00,34.40,9.21,28.24
2019-06-10,16.25,18.08,30.75,NaN,44.10,10.77,43.67,21.54,24.39,24.59,...,10.04,13.75,18.29,7.58,37.81,21.24,5.06,35.50,9.23,28.62
2019-06-11,16.31,18.21,32.09,NaN,43.74,10.99,44.53,21.60,24.50,24.88,...,10.03,13.92,19.12,7.85,40.23,21.72,5.00,35.50,9.30,28.29
2019-06-12,16.28,18.18,30.65,NaN,43.62,10.88,44.11,21.64,24.22,24.83,...,10.04,13.95,18.73,7.67,40.27,21.50,4.84,35.76,9.45,27.90
2019-06-13,16.43,18.26,31.11,NaN,44.25,10.92,43.41,21.41,23.95,24.75,...,10.20,14.30,19.62,7.78,40.56,21.72,5.04,35.87,9.60,28.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-02,12.21,25.95,86.95,NaN,16.75,13.94,28.99,14.61,15.92,23.74,...,12.84,20.46,17.59,6.09,42.77,20.05,13.28,41.75,20.61,32.78
2020-06-03,12.47,26.71,85.16,NaN,18.45,14.65,30.69,15.27,16.63,24.97,...,12.75,21.18,17.42,6.08,42.97,20.61,13.48,40.73,20.69,34.33
2020-06-04,12.59,27.13,83.87,NaN,19.08,14.87,30.86,15.33,16.87,25.12,...,13.18,21.39,17.30,6.06,44.57,20.56,13.95,41.06,21.28,34.30
2020-06-05,13.22,27.26,84.16,NaN,21.16,14.72,31.09,15.68,17.18,25.51,...,13.62,20.47,17.35,6.08,43.73,20.14,14.85,41.53,21.53,37.67
2020-06-08,13.74,28.84,90.66,NaN,27.35,15.52,32.14,16.44,18.08,25.43,...,13.47,20.74,17.76,6.56,43.86,21.09,15.50,42.31,22.25,36.29

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-10,16.25,18.08,30.75,NaN,44.10,10.77,43.67,21.54,24.39,24.59,...,10.04,13.75,18.29,7.58,37.81,21.24,5.06,35.50,9.23,28.62
2019-06-11,16.31,18.21,32.09,NaN,43.74,10.99,44.53,21.60,24.50,24.88,...,10.03,13.92,19.12,7.85,40.23,21.72,5.00,35.50,9.30,28.29
2019-06-12,16.28,18.18,30.65,NaN,43.62,10.88,44.11,21.64,24.22,24.83,...,10.04,13.95,18.73,7.67,40.27,21.50,4.84,35.76,9.45,27.90
2019-06-13,16.43,18.26,31.11,NaN,44.25,10.92,43.41,21.41,23.95,24.75,...,10.20,14.30,19.62,7.78,40.56,21.72,5.04,35.87,9.60,28.77
2019-06-14,16.24,18.65,30.02,NaN,43.79,10.34,42.64,21.12,23.91,24.67,...,10.02,14.67,19.49,7.55,40.20,21.50,4.97,35.97,9.56,28.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-03,12.47,26.71,85.16,NaN,18.45,14.65,30.69,15.27,16.63,24.97,...,12.75,21.18,17.42,6.08,42.97,20.61,13.48,40.73,20.69,34.33
2020-06-04,12.59,27.13,83.87,NaN,19.08,14.87,30.86,15.33,16.87,25.12,...,13.18,21.39,17.30,6.06,44.57,20.56,13.95,41.06,21.28,34.30
2020-06-05,13.22,27.26,84.16,NaN,21.16,14.72,31.09,15.68,17.18,25.51,...,13.62,20.47,17.35,6.08,43.73,20.14,14.85,41.53,21.53,37.67
2020-06-08,13.74,28.84,90.66,NaN,27.35,15.52,32.14,16.44,18.08,25.43,...,13.47,20.74,17.76,6.56,43.86,21.09,15.50,42.31,22.25,36.29
2020-06-09,13.48,27.95,92.13,NaN,25.78,15.32,31.61,16.27,17.68,24.73,...,13.50,20.81,17.89,6.43,44.03,20.57,14.97,42.29,22.25,35.79

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-11,16.31,18.21,32.09,NaN,43.74,10.99,44.53,21.60,24.50,24.88,...,10.03,13.92,19.12,7.85,40.23,21.72,5.00,35.50,9.30,28.29
2019-06-12,16.28,18.18,30.65,NaN,43.62,10.88,44.11,21.64,24.22,24.83,...,10.04,13.95,18.73,7.67,40.27,21.50,4.84,35.76,9.45,27.90
2019-06-13,16.43,18.26,31.11,NaN,44.25,10.92,43.41,21.41,23.95,24.75,...,10.20,14.30,19.62,7.78,40.56,21.72,5.04,35.87,9.60,28.77
2019-06-14,16.24,18.65,30.02,NaN,43.79,10.34,42.64,21.12,23.91,24.67,...,10.02,14.67,19.49,7.55,40.20,21.50,4.97,35.97,9.56,28.17
2019-06-17,16.39,19.47,30.28,NaN,44.78,10.26,42.60,21.00,23.85,24.68,...,9.79,14.58,19.58,7.50,39.26,21.02,5.07,34.93,9.74,27.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-04,12.59,27.13,83.87,NaN,19.08,14.87,30.86,15.33,16.87,25.12,...,13.18,21.39,17.30,6.06,44.57,20.56,13.95,41.06,21.28,34.30
2020-06-05,13.22,27.26,84.16,NaN,21.16,14.72,31.09,15.68,17.18,25.51,...,13.62,20.47,17.35,6.08,43.73,20.14,14.85,41.53,21.53,37.67
2020-06-08,13.74,28.84,90.66,NaN,27.35,15.52,32.14,16.44,18.08,25.43,...,13.47,20.74,17.76,6.56,43.86,21.09,15.50,42.31,22.25,36.29
2020-06-09,13.48,27.95,92.13,NaN,25.78,15.32,31.61,16.27,17.68,24.73,...,13.50,20.81,17.89,6.43,44.03,20.57,14.97,42.29,22.25,35.79
2020-06-10,13.14,27.54,97.19,NaN,23.50,15.22,30.22,15.62,16.85,24.04,...,13.34,21.19,17.29,6.07,43.40,19.69,14.95,43.08,21.86,34.09

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-12,16.28,18.18,30.65,NaN,43.62,10.88,44.11,21.64,24.22,24.83,...,10.04,13.95,18.73,7.67,40.27,21.50,4.84,35.76,9.45,27.90
2019-06-13,16.43,18.26,31.11,NaN,44.25,10.92,43.41,21.41,23.95,24.75,...,10.20,14.30,19.62,7.78,40.56,21.72,5.04,35.87,9.60,28.77
2019-06-14,16.24,18.65,30.02,NaN,43.79,10.34,42.64,21.12,23.91,24.67,...,10.02,14.67,19.49,7.55,40.20,21.50,4.97,35.97,9.56,28.17
2019-06-17,16.39,19.47,30.28,NaN,44.78,10.26,42.60,21.00,23.85,24.68,...,9.79,14.58,19.58,7.50,39.26,21.02,5.07,34.93,9.74,27.62
2019-06-18,16.62,20.11,32.02,NaN,45.25,11.02,43.60,21.24,24.06,25.60,...,10.17,14.50,19.34,7.65,40.67,21.57,5.07,34.36,9.91,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-05,13.22,27.26,84.16,NaN,21.16,14.72,31.09,15.68,17.18,25.51,...,13.62,20.47,17.35,6.08,43.73,20.14,14.85,41.53,21.53,37.67
2020-06-08,13.74,28.84,90.66,NaN,27.35,15.52,32.14,16.44,18.08,25.43,...,13.47,20.74,17.76,6.56,43.86,21.09,15.50,42.31,22.25,36.29
2020-06-09,13.48,27.95,92.13,NaN,25.78,15.32,31.61,16.27,17.68,24.73,...,13.50,20.81,17.89,6.43,44.03,20.57,14.97,42.29,22.25,35.79
2020-06-10,13.14,27.54,97.19,NaN,23.50,15.22,30.22,15.62,16.85,24.04,...,13.34,21.19,17.29,6.07,43.40,19.69,14.95,43.08,21.86,34.09
2020-06-12,12.77,27.21,96.97,NaN,22.12,14.95,29.46,15.26,16.66,23.66,...,13.37,21.25,16.71,5.65,42.76,19.70,14.64,43.28,21.50,32.66

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-13,16.43,18.26,31.11,NaN,44.25,10.92,43.41,21.41,23.95,24.75,...,10.20,14.30,19.62,7.78,40.56,21.72,5.04,35.87,9.60,28.77
2019-06-14,16.24,18.65,30.02,NaN,43.79,10.34,42.64,21.12,23.91,24.67,...,10.02,14.67,19.49,7.55,40.20,21.50,4.97,35.97,9.56,28.17
2019-06-17,16.39,19.47,30.28,NaN,44.78,10.26,42.60,21.00,23.85,24.68,...,9.79,14.58,19.58,7.50,39.26,21.02,5.07,34.93,9.74,27.62
2019-06-18,16.62,20.11,32.02,NaN,45.25,11.02,43.60,21.24,24.06,25.60,...,10.17,14.50,19.34,7.65,40.67,21.57,5.07,34.36,9.91,27.44
2019-06-19,16.76,20.08,32.91,NaN,45.40,10.81,44.32,21.74,24.36,25.35,...,10.44,14.58,18.99,7.55,40.91,21.48,5.06,34.43,10.16,27.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-08,13.74,28.84,90.66,NaN,27.35,15.52,32.14,16.44,18.08,25.43,...,13.47,20.74,17.76,6.56,43.86,21.09,15.50,42.31,22.25,36.29
2020-06-09,13.48,27.95,92.13,NaN,25.78,15.32,31.61,16.27,17.68,24.73,...,13.50,20.81,17.89,6.43,44.03,20.57,14.97,42.29,22.25,35.79
2020-06-10,13.14,27.54,97.19,NaN,23.50,15.22,30.22,15.62,16.85,24.04,...,13.34,21.19,17.29,6.07,43.40,19.69,14.95,43.08,21.86,34.09
2020-06-12,12.77,27.21,96.97,NaN,22.12,14.95,29.46,15.26,16.66,23.66,...,13.37,21.25,16.71,5.65,42.76,19.70,14.64,43.28,21.50,32.66
2020-06-15,12.64,27.77,99.34,NaN,22.15,14.85,29.21,14.99,16.29,23.59,...,13.37,20.87,16.59,5.60,43.14,19.90,15.62,41.94,21.51,32.10

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-14,16.24,18.65,30.02,NaN,43.79,10.34,42.64,21.12,23.91,24.67,...,10.02,14.67,19.49,7.55,40.20,21.50,4.97,35.97,9.56,28.17
2019-06-17,16.39,19.47,30.28,NaN,44.78,10.26,42.60,21.00,23.85,24.68,...,9.79,14.58,19.58,7.50,39.26,21.02,5.07,34.93,9.74,27.62
2019-06-18,16.62,20.11,32.02,NaN,45.25,11.02,43.60,21.24,24.06,25.60,...,10.17,14.50,19.34,7.65,40.67,21.57,5.07,34.36,9.91,27.44
2019-06-19,16.76,20.08,32.91,NaN,45.40,10.81,44.32,21.74,24.36,25.35,...,10.44,14.58,18.99,7.55,40.91,21.48,5.06,34.43,10.16,27.98
2019-06-21,16.99,20.54,33.29,NaN,44.26,11.49,44.66,22.24,24.91,25.72,...,10.76,14.09,19.39,7.57,41.02,21.81,5.10,34.43,10.28,28.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-09,13.48,27.95,92.13,NaN,25.78,15.32,31.61,16.27,17.68,24.73,...,13.50,20.81,17.89,6.43,44.03,20.57,14.97,42.29,22.25,35.79
2020-06-10,13.14,27.54,97.19,NaN,23.50,15.22,30.22,15.62,16.85,24.04,...,13.34,21.19,17.29,6.07,43.40,19.69,14.95,43.08,21.86,34.09
2020-06-12,12.77,27.21,96.97,NaN,22.12,14.95,29.46,15.26,16.66,23.66,...,13.37,21.25,16.71,5.65,42.76,19.70,14.64,43.28,21.50,32.66
2020-06-15,12.64,27.77,99.34,NaN,22.15,14.85,29.21,14.99,16.29,23.59,...,13.37,20.87,16.59,5.60,43.14,19.90,15.62,41.94,21.51,32.10
2020-06-16,12.48,28.42,97.57,NaN,22.59,14.85,29.59,15.49,16.97,23.42,...,13.76,20.74,16.25,5.77,44.35,19.56,15.15,42.69,21.74,31.27

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-17,16.39,19.47,30.28,NaN,44.78,10.26,42.60,21.00,23.85,24.68,...,9.79,14.58,19.58,7.50,39.26,21.02,5.07,34.93,9.74,27.62
2019-06-18,16.62,20.11,32.02,NaN,45.25,11.02,43.60,21.24,24.06,25.60,...,10.17,14.50,19.34,7.65,40.67,21.57,5.07,34.36,9.91,27.44
2019-06-19,16.76,20.08,32.91,NaN,45.40,10.81,44.32,21.74,24.36,25.35,...,10.44,14.58,18.99,7.55,40.91,21.48,5.06,34.43,10.16,27.98
2019-06-21,16.99,20.54,33.29,NaN,44.26,11.49,44.66,22.24,24.91,25.72,...,10.76,14.09,19.39,7.57,41.02,21.81,5.10,34.43,10.28,28.62
2019-06-24,16.85,20.13,32.66,NaN,43.57,11.48,44.77,22.34,25.10,25.65,...,10.81,14.13,19.46,7.62,40.99,21.81,5.11,35.43,10.36,28.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-10,13.14,27.54,97.19,NaN,23.50,15.22,30.22,15.62,16.85,24.04,...,13.34,21.19,17.29,6.07,43.40,19.69,14.95,43.08,21.86,34.09
2020-06-12,12.77,27.21,96.97,NaN,22.12,14.95,29.46,15.26,16.66,23.66,...,13.37,21.25,16.71,5.65,42.76,19.70,14.64,43.28,21.50,32.66
2020-06-15,12.64,27.77,99.34,NaN,22.15,14.85,29.21,14.99,16.29,23.59,...,13.37,20.87,16.59,5.60,43.14,19.90,15.62,41.94,21.51,32.10
2020-06-16,12.48,28.42,97.57,NaN,22.59,14.85,29.59,15.49,16.97,23.42,...,13.76,20.74,16.25,5.77,44.35,19.56,15.15,42.69,21.74,31.27
2020-06-17,12.96,28.80,103.53,NaN,22.62,15.36,30.47,15.69,17.24,24.26,...,13.64,21.84,16.81,5.96,45.00,20.20,15.14,42.92,22.42,33.50

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-18,16.62,20.11,32.02,NaN,45.25,11.02,43.60,21.24,24.06,25.60,...,10.17,14.50,19.34,7.65,40.67,21.57,5.07,34.36,9.91,27.44
2019-06-19,16.76,20.08,32.91,NaN,45.40,10.81,44.32,21.74,24.36,25.35,...,10.44,14.58,18.99,7.55,40.91,21.48,5.06,34.43,10.16,27.98
2019-06-21,16.99,20.54,33.29,NaN,44.26,11.49,44.66,22.24,24.91,25.72,...,10.76,14.09,19.39,7.57,41.02,21.81,5.10,34.43,10.28,28.62
2019-06-24,16.85,20.13,32.66,NaN,43.57,11.48,44.77,22.34,25.10,25.65,...,10.81,14.13,19.46,7.62,40.99,21.81,5.11,35.43,10.36,28.43
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-12,12.77,27.21,96.97,NaN,22.12,14.95,29.46,15.26,16.66,23.66,...,13.37,21.25,16.71,5.65,42.76,19.70,14.64,43.28,21.50,32.66
2020-06-15,12.64,27.77,99.34,NaN,22.15,14.85,29.21,14.99,16.29,23.59,...,13.37,20.87,16.59,5.60,43.14,19.90,15.62,41.94,21.51,32.10
2020-06-16,12.48,28.42,97.57,NaN,22.59,14.85,29.59,15.49,16.97,23.42,...,13.76,20.74,16.25,5.77,44.35,19.56,15.15,42.69,21.74,31.27
2020-06-17,12.96,28.80,103.53,NaN,22.62,15.36,30.47,15.69,17.24,24.26,...,13.64,21.84,16.81,5.96,45.00,20.20,15.14,42.92,22.42,33.50
2020-06-18,12.88,28.80,102.24,NaN,21.93,15.11,30.38,15.68,17.18,24.91,...,13.62,22.42,17.50,5.99,44.98,20.11,15.13,43.75,22.41,33.31

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-19,16.76,20.08,32.91,NaN,45.40,10.81,44.32,21.74,24.36,25.35,...,10.44,14.58,18.99,7.55,40.91,21.48,5.06,34.43,10.16,27.98
2019-06-21,16.99,20.54,33.29,NaN,44.26,11.49,44.66,22.24,24.91,25.72,...,10.76,14.09,19.39,7.57,41.02,21.81,5.10,34.43,10.28,28.62
2019-06-24,16.85,20.13,32.66,NaN,43.57,11.48,44.77,22.34,25.10,25.65,...,10.81,14.13,19.46,7.62,40.99,21.81,5.11,35.43,10.36,28.43
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-15,12.64,27.77,99.34,NaN,22.15,14.85,29.21,14.99,16.29,23.59,...,13.37,20.87,16.59,5.60,43.14,19.90,15.62,41.94,21.51,32.10
2020-06-16,12.48,28.42,97.57,NaN,22.59,14.85,29.59,15.49,16.97,23.42,...,13.76,20.74,16.25,5.77,44.35,19.56,15.15,42.69,21.74,31.27
2020-06-17,12.96,28.80,103.53,NaN,22.62,15.36,30.47,15.69,17.24,24.26,...,13.64,21.84,16.81,5.96,45.00,20.20,15.14,42.92,22.42,33.50
2020-06-18,12.88,28.80,102.24,NaN,21.93,15.11,30.38,15.68,17.18,24.91,...,13.62,22.42,17.50,5.99,44.98,20.11,15.13,43.75,22.41,33.31
2020-06-19,13.03,29.48,101.39,NaN,21.80,15.30,29.98,15.33,17.22,25.78,...,13.50,22.27,17.33,6.15,44.18,19.53,15.18,44.15,22.45,34.43

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-21,16.99,20.54,33.29,NaN,44.26,11.49,44.66,22.24,24.91,25.72,...,10.76,14.09,19.39,7.57,41.02,21.81,5.10,34.43,10.28,28.62
2019-06-24,16.85,20.13,32.66,NaN,43.57,11.48,44.77,22.34,25.10,25.65,...,10.81,14.13,19.46,7.62,40.99,21.81,5.11,35.43,10.36,28.43
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-16,12.48,28.42,97.57,NaN,22.59,14.85,29.59,15.49,16.97,23.42,...,13.76,20.74,16.25,5.77,44.35,19.56,15.15,42.69,21.74,31.27
2020-06-17,12.96,28.80,103.53,NaN,22.62,15.36,30.47,15.69,17.24,24.26,...,13.64,21.84,16.81,5.96,45.00,20.20,15.14,42.92,22.42,33.50
2020-06-18,12.88,28.80,102.24,NaN,21.93,15.11,30.38,15.68,17.18,24.91,...,13.62,22.42,17.50,5.99,44.98,20.11,15.13,43.75,22.41,33.31
2020-06-19,13.03,29.48,101.39,NaN,21.80,15.30,29.98,15.33,17.22,25.78,...,13.50,22.27,17.33,6.15,44.18,19.53,15.18,44.15,22.45,34.43
2020-06-22,13.28,29.03,99.83,NaN,20.63,15.10,29.36,15.06,16.62,25.82,...,13.43,22.32,17.03,6.13,44.04,19.15,14.90,43.14,22.15,34.39

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-24,16.85,20.13,32.66,NaN,43.57,11.48,44.77,22.34,25.10,25.65,...,10.81,14.13,19.46,7.62,40.99,21.81,5.11,35.43,10.36,28.43
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-17,12.96,28.80,103.53,NaN,22.62,15.36,30.47,15.69,17.24,24.26,...,13.64,21.84,16.81,5.96,45.00,20.20,15.14,42.92,22.42,33.50
2020-06-18,12.88,28.80,102.24,NaN,21.93,15.11,30.38,15.68,17.18,24.91,...,13.62,22.42,17.50,5.99,44.98,20.11,15.13,43.75,22.41,33.31
2020-06-19,13.03,29.48,101.39,NaN,21.80,15.30,29.98,15.33,17.22,25.78,...,13.50,22.27,17.33,6.15,44.18,19.53,15.18,44.15,22.45,34.43
2020-06-22,13.28,29.03,99.83,NaN,20.63,15.10,29.36,15.06,16.62,25.82,...,13.43,22.32,17.03,6.13,44.04,19.15,14.90,43.14,22.15,34.39
2020-06-23,13.11,29.98,100.70,NaN,22.50,15.68,29.62,15.07,16.60,25.74,...,13.24,22.52,17.14,6.76,44.51,18.98,15.03,42.67,22.40,36.19

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-18,12.88,28.80,102.24,NaN,21.93,15.11,30.38,15.68,17.18,24.91,...,13.62,22.42,17.50,5.99,44.98,20.11,15.13,43.75,22.41,33.31
2020-06-19,13.03,29.48,101.39,NaN,21.80,15.30,29.98,15.33,17.22,25.78,...,13.50,22.27,17.33,6.15,44.18,19.53,15.18,44.15,22.45,34.43
2020-06-22,13.28,29.03,99.83,NaN,20.63,15.10,29.36,15.06,16.62,25.82,...,13.43,22.32,17.03,6.13,44.04,19.15,14.90,43.14,22.15,34.39
2020-06-23,13.11,29.98,100.70,NaN,22.50,15.68,29.62,15.07,16.60,25.74,...,13.24,22.52,17.14,6.76,44.51,18.98,15.03,42.67,22.40,36.19
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-19,13.03,29.48,101.39,NaN,21.80,15.30,29.98,15.33,17.22,25.78,...,13.50,22.27,17.33,6.15,44.18,19.53,15.18,44.15,22.45,34.43
2020-06-22,13.28,29.03,99.83,NaN,20.63,15.10,29.36,15.06,16.62,25.82,...,13.43,22.32,17.03,6.13,44.04,19.15,14.90,43.14,22.15,34.39
2020-06-23,13.11,29.98,100.70,NaN,22.50,15.68,29.62,15.07,16.60,25.74,...,13.24,22.52,17.14,6.76,44.51,18.98,15.03,42.67,22.40,36.19
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-22,13.28,29.03,99.83,NaN,20.63,15.10,29.36,15.06,16.62,25.82,...,13.43,22.32,17.03,6.13,44.04,19.15,14.90,43.14,22.15,34.39
2020-06-23,13.11,29.98,100.70,NaN,22.50,15.68,29.62,15.07,16.60,25.74,...,13.24,22.52,17.14,6.76,44.51,18.98,15.03,42.67,22.40,36.19
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-23,13.11,29.98,100.70,NaN,22.50,15.68,29.62,15.07,16.60,25.74,...,13.24,22.52,17.14,6.76,44.51,18.98,15.03,42.67,22.40,36.19
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33
2020-06-29,13.42,29.08,103.48,NaN,20.73,16.49,29.54,15.00,16.49,25.30,...,12.84,22.11,16.72,6.30,44.54,18.87,15.38,41.75,24.26,33.44

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33
2020-06-29,13.42,29.08,103.48,NaN,20.73,16.49,29.54,15.00,16.49,25.30,...,12.84,22.11,16.72,6.30,44.54,18.87,15.38,41.75,24.26,33.44
2020-06-30,13.31,28.98,104.36,NaN,20.11,16.53,28.40,14.54,15.94,24.42,...,13.24,22.83,17.07,6.40,44.78,18.94,15.31,41.94,24.60,32.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33
2020-06-29,13.42,29.08,103.48,NaN,20.73,16.49,29.54,15.00,16.49,25.30,...,12.84,22.11,16.72,6.30,44.54,18.87,15.38,41.75,24.26,33.44
2020-06-30,13.31,28.98,104.36,NaN,20.11,16.53,28.40,14.54,15.94,24.42,...,13.24,22.83,17.07,6.40,44.78,18.94,15.31,41.94,24.60,32.87
2020-07-01,13.52,28.94,109.21,NaN,20.67,16.85,29.21,14.79,16.30,24.80,...,13.49,23.42,17.46,6.46,43.67,19.16,15.99,41.88,25.56,33.62

In [607]:
index_ini.item()

248

In [483]:
#index number of starting date
df_prices.reset_index().loc[df_prices.reset_index().time >= df.data_ini.unique()[3]].index[0]

619

In [583]:
for key, value in permut.items():
    print(key, len(value[-1]))

2019-07-01T00:00:00.000000000 298
2020-01-01T00:00:00.000000000 412
2020-07-01T00:00:00.000000000 478
2021-01-01T00:00:00.000000000 494
2021-07-01T00:00:00.000000000 538
2022-01-01T00:00:00.000000000 658

In [584]:
dates[0]

numpy.datetime64('2019-07-01T00:00:00.000000000')

In [500]:
dates = list(permut.keys())
d = 5
ini = dates[d] - np.timedelta64(365*2, 'D')
fin = dates[d]

In [514]:
df_prices

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-02,16.40,9.52,25.86,NaN,20.70,5.86,23.77,12.93,14.32,17.54,...,11.59,8.68,20.34,6.21,37.19,14.16,5.84,29.95,7.40,22.21
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-27,13.72,19.80,14.03,14.70,13.31,11.47,33.13,15.06,18.15,24.92,...,12.60,24.26,12.54,9.25,78.05,16.70,2.20,46.46,25.80,13.96
2022-06-28,13.52,19.69,13.42,14.62,13.00,11.15,33.25,14.93,17.89,25.45,...,12.56,23.78,12.71,9.12,79.45,16.96,2.08,46.24,26.02,13.58
2022-06-29,13.61,19.54,13.44,14.38,12.69,10.95,33.08,14.71,17.58,25.48,...,12.50,23.27,12.56,9.01,78.79,16.90,2.09,45.42,25.90,13.40
2022-06-30,13.40,19.14,13.43,14.27,12.38,10.96,33.38,14.37,17.18,25.96,...,12.76,23.26,12.31,8.65,76.56,16.71,1.92,46.82,26.32,13.07
2022-07-01,13.76,19.44,12.73,14.60,12.47,11.19,33.15,14.40,17.31,26.05,...,13.18,23.55,12.14,8.55,75.10,16.89,1.89,47.55,26.36,12.98

In [515]:
dates

[numpy.datetime64('2019-07-01T00:00:00.000000000'),
 numpy.datetime64('2020-01-01T00:00:00.000000000'),
 numpy.datetime64('2020-07-01T00:00:00.000000000'),
 numpy.datetime64('2021-01-01T00:00:00.000000000'),
 numpy.datetime64('2021-07-01T00:00:00.000000000'),
 numpy.datetime64('2022-01-01T00:00:00.000000000')]

In [556]:
dates[0]-np.timedelta64(365, 'D')

numpy.datetime64('2018-07-01T00:00:00.000000000')

In [558]:
d = 0
df_prices.loc[dates[d]-np.timedelta64(500, 'D'):dates[d]]

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-02,16.40,9.52,25.86,NaN,20.70,5.86,23.77,12.93,14.32,17.54,...,11.59,8.68,20.34,6.21,37.19,14.16,5.84,29.95,7.40,22.21
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-25,16.73,20.05,31.61,NaN,42.60,10.89,44.36,21.95,24.89,25.36,...,10.66,13.83,18.86,7.38,40.19,21.19,5.04,35.15,10.16,27.32
2019-06-26,16.66,20.05,31.60,NaN,42.39,10.71,45.32,22.04,25.20,25.94,...,10.61,14.06,18.90,7.49,40.34,21.81,4.98,35.33,10.15,27.11
2019-06-27,16.62,20.30,31.45,NaN,42.47,10.92,45.41,22.11,25.08,25.90,...,10.52,14.13,18.58,7.56,40.44,21.81,4.97,35.24,10.25,27.82
2019-06-28,16.47,20.17,31.53,NaN,43.29,10.88,45.53,22.07,24.98,25.86,...,10.55,14.25,18.22,7.79,40.53,21.81,5.07,34.64,10.25,27.81
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18

In [559]:
indexes = df_prices.index.get_indexer(target=dates, method='bfill').tolist()
# indexes.insert(0,0)
indexes

[244, 370, 493, 619, 741, 866]

In [574]:
for i in range(0, len(dates)-1):
    display(df_prices.loc[dates[i]-np.timedelta64(365, 'D'): dates[i+1]])

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-02,16.40,9.52,25.86,NaN,20.70,5.86,23.77,12.93,14.32,17.54,...,11.59,8.68,20.34,6.21,37.19,14.16,5.84,29.95,7.40,22.21
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02,14.93,13.84,41.43,NaN,36.33,8.00,40.14,19.62,22.22,22.08,...,10.90,9.28,24.30,8.39,39.96,20.63,4.38,31.99,8.57,23.39
2019-01-03,15.10,13.86,41.86,NaN,36.37,8.34,40.30,20.03,22.44,22.32,...,10.81,9.50,23.85,8.21,38.33,21.10,4.31,31.60,8.77,23.37
2019-01-04,15.30,13.76,40.47,NaN,36.25,8.04,40.30,19.59,22.27,22.11,...,10.87,9.76,23.69,8.69,40.82,21.18,4.27,31.36,8.87,23.73
2019-01-07,15.24,13.72,38.68,NaN,35.30,8.00,40.04,19.75,22.53,21.78,...,11.22,9.55,22.96,8.70,40.60,21.30,4.24,31.45,8.73,23.26
2019-01-08,14.93,13.99,40.47,NaN,34.72,8.02,39.58,19.97,22.67,21.46,...,11.65,9.16,22.58,8.45,40.99,20.59,4.04,30.76,8.66,23.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33
2020-06-29,13.42,29.08,103.48,NaN,20.73,16.49,29.54,15.00,16.49,25.30,...,12.84,22.11,16.72,6.30,44.54,18.87,15.38,41.75,24.26,33.44
2020-06-30,13.31,28.98,104.36,NaN,20.11,16.53,28.40,14.54,15.94,24.42,...,13.24,22.83,17.07,6.40,44.78,18.94,15.31,41.94,24.60,32.87
2020-07-01,13.52,28.94,109.21,NaN,20.67,16.85,29.21,14.79,16.30,24.80,...,13.49,23.42,17.46,6.46,43.67,19.16,15.99,41.88,25.56,33.62

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-22,14.92,40.08,74.31,NaN,35.27,18.27,34.23,18.74,20.97,26.92,...,13.75,27.41,21.68,12.30,71.27,20.13,15.94,40.14,35.49,31.46
2020-12-23,14.92,40.71,73.95,NaN,37.70,18.19,34.79,19.14,21.45,26.90,...,13.92,27.56,22.01,12.88,71.62,20.19,16.13,40.23,35.40,32.15
2020-12-28,15.17,41.44,75.36,NaN,37.77,18.64,35.18,19.31,21.66,27.45,...,14.04,27.88,22.19,12.73,71.58,20.24,16.59,40.59,36.80,32.32
2020-12-29,15.35,41.94,74.05,NaN,37.67,18.74,34.97,19.26,21.57,27.76,...,14.27,27.81,22.39,13.28,71.38,20.20,16.58,40.72,36.63,32.49
2020-12-30,15.06,41.57,73.96,NaN,39.30,18.79,34.69,18.88,21.27,27.36,...,14.05,28.47,22.05,12.87,71.69,20.21,16.16,41.89,36.92,32.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,16.39,48.98,66.62,16.81,45.97,15.62,30.37,19.38,22.85,22.46,...,11.40,36.64,18.04,16.69,98.06,26.99,15.72,39.82,32.88,33.75
2021-06-28,16.92,50.53,67.94,17.00,45.33,15.90,30.14,19.23,22.74,22.63,...,11.55,37.38,18.23,16.77,96.49,26.68,16.03,39.98,33.33,33.77
2021-06-29,16.72,50.08,67.38,17.05,44.53,15.95,29.94,19.07,22.60,22.29,...,11.33,37.18,17.61,16.97,98.15,25.74,16.02,39.35,34.01,33.14
2021-06-30,16.50,49.67,64.82,17.13,43.89,15.94,29.66,18.85,22.28,21.69,...,11.17,37.42,17.47,16.92,98.80,26.11,15.79,38.96,33.02,32.59
2021-07-01,16.63,49.45,64.11,16.99,43.96,15.47,29.35,18.66,22.00,21.81,...,11.01,36.24,17.27,17.09,97.08,27.99,15.46,38.91,33.57,32.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2020-07-01,13.52,28.94,109.21,NaN,20.67,16.85,29.21,14.79,16.30,24.80,...,13.49,23.42,17.46,6.46,43.67,19.16,15.99,41.88,25.56,33.62
2020-07-02,13.34,29.69,105.22,NaN,20.76,16.90,29.29,14.91,16.35,24.65,...,13.57,23.79,17.31,6.47,44.43,19.32,15.39,42.08,26.04,33.41
2020-07-03,13.31,29.00,106.12,NaN,21.15,16.99,29.59,14.91,16.46,24.86,...,14.22,23.86,17.11,6.57,44.25,19.51,15.55,42.77,26.25,33.68
2020-07-06,13.52,29.28,115.28,NaN,22.05,16.99,30.62,15.91,17.46,25.10,...,14.27,24.02,17.22,6.70,45.30,19.76,15.96,42.64,25.86,34.15
2020-07-07,13.60,29.35,114.16,NaN,21.50,17.19,29.40,15.26,16.74,24.89,...,13.92,24.18,16.75,6.56,45.14,19.69,15.86,42.39,26.20,33.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-23,15.55,36.40,30.06,13.98,26.46,11.08,27.84,14.54,17.24,19.84,...,12.71,28.63,13.74,14.10,76.22,20.93,4.50,46.95,32.99,20.18
2021-12-27,15.53,36.51,31.20,13.53,25.67,11.01,27.89,14.69,17.44,19.96,...,12.73,28.70,14.02,14.27,76.03,21.19,4.86,46.67,32.69,19.92
2021-12-28,15.52,36.61,30.35,12.99,25.75,10.87,27.73,14.68,17.37,20.00,...,12.60,28.21,14.07,13.99,73.96,21.35,4.95,46.39,32.81,20.70
2021-12-29,15.45,36.22,30.34,12.74,23.86,10.79,27.59,14.57,17.29,19.88,...,12.73,27.89,13.86,14.04,74.39,20.99,5.02,46.67,32.27,20.17
2021-12-30,15.42,36.88,30.89,12.86,24.36,10.85,27.48,14.48,17.21,19.96,...,12.99,28.64,14.00,14.38,75.08,21.28,5.25,46.59,32.51,20.41

In [527]:
for i in range(1,len(indexes)-1):
#     display(df_prices.iloc[:i]
    display(df_prices.iloc[indexes[i-2]: indexes[i]])

Empty DataFrame
Columns: [ABEV3, ALPA4, AMER3, ASAI3, AZUL4, B3SA3, BBAS3, BBDC3, BBDC4, BBSE3, BEEF3, BPAC11, BPAN4, BRAP4, BRFS3, BRML3, CASH3, CCRO3, CIEL3, CMIG4, CMIN3, COGN3, CPFE3, CPLE6, CRFB3, CSAN3, CSNA3, CVCB3, CYRE3, DXCO3, ECOR3, EGIE3, ELET3, ELET6, EMBR3, ENBR3, ENEV3, ENGI11, EQTL3, EZTC3, FLRY3, GGBR4, GOAU4, GOLL4, HAPV3, HYPE3, IGTI11, IGTI3, IRBR3, ITSA4, ITUB4, JBSS3, JHSF3, KLBN11, LREN3, LWSA3, MGLU3, MRFG3, MRVE3, MULT3, NTCO3, PCAR3, PETR3, PETR4, PETZ3, POSI3, PRIO3, QUAL3, RADL3, RAIL3, RDOR3, RENT3, RRRP3, SANB11, SBSP3, SOMA3, SULA11, SUZB3, TAEE11, TIMS3, TOTS3, UGPA3, USIM5, VALE3, VBBR3, VIIA3, VIVT3, WEGE3, YDUQ3]
Index: []

[0 rows x 89 columns]

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2018-07-02,16.40,9.52,25.86,NaN,20.70,5.86,23.77,12.93,14.32,17.54,...,11.59,8.68,20.34,6.21,37.19,14.16,5.84,29.95,7.40,22.21
2018-07-03,16.35,9.50,26.69,NaN,20.72,5.93,23.98,13.25,14.98,17.70,...,11.54,8.79,20.33,6.66,36.58,14.27,5.74,29.99,7.56,22.79
2018-07-04,16.36,9.63,27.94,NaN,20.99,6.00,24.66,13.53,15.19,17.69,...,11.68,8.84,20.25,7.06,36.63,14.23,5.72,30.19,7.52,23.10
2018-07-05,16.63,9.72,27.31,NaN,20.42,5.97,24.09,13.44,15.16,17.63,...,11.63,8.93,20.23,6.95,37.90,14.03,5.58,29.95,7.55,22.88
2018-07-06,16.35,9.80,27.30,NaN,20.79,6.18,23.82,13.54,15.20,17.69,...,11.74,8.89,20.63,6.91,38.39,14.52,5.48,29.04,7.72,23.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,17.80,31.97,61.12,NaN,57.00,14.39,44.57,23.10,24.84,30.93,...,14.18,22.38,22.57,8.14,42.91,25.75,11.37,40.49,16.38,46.14
2019-12-23,17.84,32.32,61.03,NaN,57.60,13.73,45.91,23.56,25.00,31.10,...,14.28,22.12,23.23,8.32,42.75,26.54,11.67,40.61,16.35,46.98
2019-12-26,18.09,32.47,61.15,NaN,57.07,13.67,46.43,23.81,25.31,30.95,...,14.46,21.97,23.48,8.32,42.91,26.49,11.80,41.35,16.86,46.60
2019-12-27,18.03,32.28,60.83,NaN,57.80,12.96,46.23,23.66,25.21,31.01,...,14.46,21.25,23.59,8.23,42.92,26.74,11.50,40.88,17.10,46.79
2019-12-30,17.57,32.81,61.28,NaN,58.28,12.59,46.10,23.62,25.18,30.90,...,14.54,21.17,23.37,8.30,42.68,26.43,11.17,40.64,16.77,45.55

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-07-01,16.40,20.38,30.84,NaN,42.09,11.08,45.48,22.20,25.01,26.20,...,10.39,14.16,17.90,7.74,41.96,21.37,5.12,34.48,10.37,27.18
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-24,12.88,29.38,103.60,NaN,21.10,15.79,28.46,14.74,16.06,25.40,...,13.05,22.10,17.17,6.46,44.35,18.89,14.58,42.15,22.37,34.32
2020-06-25,13.35,29.81,102.61,NaN,21.20,16.50,29.16,15.06,16.44,25.97,...,13.24,22.75,17.00,6.42,44.84,19.42,14.55,42.95,23.91,33.95
2020-06-26,13.13,28.64,100.51,NaN,20.00,16.03,28.11,14.63,15.94,24.94,...,13.08,21.95,16.38,6.25,44.54,18.65,14.29,42.17,24.29,32.33
2020-06-29,13.42,29.08,103.48,NaN,20.73,16.49,29.54,15.00,16.49,25.30,...,12.84,22.11,16.72,6.30,44.54,18.87,15.38,41.75,24.26,33.44
2020-06-30,13.31,28.98,104.36,NaN,20.11,16.53,28.40,14.54,15.94,24.42,...,13.24,22.83,17.07,6.40,44.78,18.94,15.31,41.94,24.60,32.87

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2020-01-02,18.07,32.20,63.54,NaN,58.80,13.32,46.96,24.57,26.11,31.22,...,14.63,22.67,23.48,8.46,43.50,27.01,11.73,40.58,17.05,44.83
2020-01-03,17.82,32.20,62.68,NaN,56.76,12.94,46.88,24.18,26.12,30.88,...,14.66,23.16,23.20,8.38,43.18,26.86,11.48,41.05,16.83,43.89
2020-01-06,17.90,31.69,62.29,NaN,55.00,12.81,46.26,24.04,25.65,31.39,...,14.64,22.63,22.70,8.22,42.93,25.51,11.48,40.65,16.87,44.73
2020-01-07,17.94,32.41,62.14,NaN,56.82,13.23,45.91,23.63,25.21,31.40,...,14.80,22.72,23.20,8.30,43.24,25.48,11.65,41.55,17.00,43.90
2020-01-08,17.85,32.77,62.97,NaN,56.92,13.19,45.49,23.27,24.82,31.39,...,14.95,22.42,23.02,8.19,43.25,25.35,11.60,41.97,16.36,43.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-22,14.92,40.08,74.31,NaN,35.27,18.27,34.23,18.74,20.97,26.92,...,13.75,27.41,21.68,12.30,71.27,20.13,15.94,40.14,35.49,31.46
2020-12-23,14.92,40.71,73.95,NaN,37.70,18.19,34.79,19.14,21.45,26.90,...,13.92,27.56,22.01,12.88,71.62,20.19,16.13,40.23,35.40,32.15
2020-12-28,15.17,41.44,75.36,NaN,37.77,18.64,35.18,19.31,21.66,27.45,...,14.04,27.88,22.19,12.73,71.58,20.24,16.59,40.59,36.80,32.32
2020-12-29,15.35,41.94,74.05,NaN,37.67,18.74,34.97,19.26,21.57,27.76,...,14.27,27.81,22.39,13.28,71.38,20.20,16.58,40.72,36.63,32.49
2020-12-30,15.06,41.57,73.96,NaN,39.30,18.79,34.69,18.88,21.27,27.36,...,14.05,28.47,22.05,12.87,71.69,20.21,16.16,41.89,36.92,32.16

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2020-07-01,13.52,28.94,109.21,NaN,20.67,16.85,29.21,14.79,16.30,24.80,...,13.49,23.42,17.46,6.46,43.67,19.16,15.99,41.88,25.56,33.62
2020-07-02,13.34,29.69,105.22,NaN,20.76,16.90,29.29,14.91,16.35,24.65,...,13.57,23.79,17.31,6.47,44.43,19.32,15.39,42.08,26.04,33.41
2020-07-03,13.31,29.00,106.12,NaN,21.15,16.99,29.59,14.91,16.46,24.86,...,14.22,23.86,17.11,6.57,44.25,19.51,15.55,42.77,26.25,33.68
2020-07-06,13.52,29.28,115.28,NaN,22.05,16.99,30.62,15.91,17.46,25.10,...,14.27,24.02,17.22,6.70,45.30,19.76,15.96,42.64,25.86,34.15
2020-07-07,13.60,29.35,114.16,NaN,21.50,17.19,29.40,15.26,16.74,24.89,...,13.92,24.18,16.75,6.56,45.14,19.69,15.86,42.39,26.20,33.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,17.35,49.41,68.84,17.28,47.00,15.90,31.31,19.89,23.59,22.91,...,11.57,37.32,18.38,16.92,96.86,27.04,15.77,40.54,33.63,35.23
2021-06-25,16.39,48.98,66.62,16.81,45.97,15.62,30.37,19.38,22.85,22.46,...,11.40,36.64,18.04,16.69,98.06,26.99,15.72,39.82,32.88,33.75
2021-06-28,16.92,50.53,67.94,17.00,45.33,15.90,30.14,19.23,22.74,22.63,...,11.55,37.38,18.23,16.77,96.49,26.68,16.03,39.98,33.33,33.77
2021-06-29,16.72,50.08,67.38,17.05,44.53,15.95,29.94,19.07,22.60,22.29,...,11.33,37.18,17.61,16.97,98.15,25.74,16.02,39.35,34.01,33.14
2021-06-30,16.50,49.67,64.82,17.13,43.89,15.94,29.66,18.85,22.28,21.69,...,11.17,37.42,17.47,16.92,98.80,26.11,15.79,38.96,33.02,32.59

In [449]:
df_prices[dates[d]:].index[0]

Timestamp('2021-07-01 00:00:00')

In [446]:
df_prices.loc[ini: fin]

ticker,ABEV3,ALPA4,AMER3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,BBSE3,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
time,,,,,,,,,,,,,,,,,,,,,
2019-07-02,16.69,20.85,30.68,NaN,42.41,10.90,44.90,22.18,25.09,26.04,...,10.37,14.65,17.63,7.65,40.20,20.59,5.45,35.41,10.36,27.67
2019-07-03,17.37,20.85,31.13,NaN,44.16,11.15,45.83,22.60,25.43,26.18,...,10.68,14.83,17.67,7.91,40.12,20.94,5.93,35.64,10.43,27.82
2019-07-04,17.49,21.04,33.03,NaN,46.75,11.54,46.58,23.10,25.98,26.43,...,11.05,15.13,17.81,8.25,40.41,21.38,6.24,36.49,10.67,28.70
2019-07-05,17.49,21.20,34.48,NaN,48.45,11.76,46.43,23.28,26.21,27.04,...,11.02,15.89,17.77,8.45,39.39,21.59,6.35,36.18,10.77,29.00
2019-07-08,17.44,20.75,35.14,NaN,48.73,11.73,46.38,23.43,26.09,26.77,...,10.88,15.78,17.85,8.42,39.85,22.20,6.75,36.74,10.83,30.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,16.39,48.98,66.62,16.81,45.97,15.62,30.37,19.38,22.85,22.46,...,11.40,36.64,18.04,16.69,98.06,26.99,15.72,39.82,32.88,33.75
2021-06-28,16.92,50.53,67.94,17.00,45.33,15.90,30.14,19.23,22.74,22.63,...,11.55,37.38,18.23,16.77,96.49,26.68,16.03,39.98,33.33,33.77
2021-06-29,16.72,50.08,67.38,17.05,44.53,15.95,29.94,19.07,22.60,22.29,...,11.33,37.18,17.61,16.97,98.15,25.74,16.02,39.35,34.01,33.14
2021-06-30,16.50,49.67,64.82,17.13,43.89,15.94,29.66,18.85,22.28,21.69,...,11.17,37.42,17.47,16.92,98.80,26.11,15.79,38.96,33.02,32.59
2021-07-01,16.63,49.45,64.11,16.99,43.96,15.47,29.35,18.66,22.00,21.81,...,11.01,36.24,17.27,17.09,97.08,27.99,15.46,38.91,33.57,32.16

In [685]:
rates = mt5.copy_rates_range('IBOV', mt5.TIMEFRAME_D1,utc_from, utc_to)

# criamos a partir dos dados obtidos DataFrame
rates_frame = pd.DataFrame(rates)
# convertemos o tempo em segundos no formato datetime
rates_frame['time']=pd.to_datetime(rates_frame['time'], unit='s')
rates_frame['ticker'] = 'IBOV'

In [687]:
rates_frame.to_csv('ibov.csv', index=False)